folder/AFM - Massive Ingestion Pipeline (ETL Vectorial).json
{
  "active": false,
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Configurar Rango IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar Rango IDs": {
      "main": [
        [
          {
            "node": "Generar Array IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Array IDs": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Calcular Ruta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Ruta": {
      "main": [
        [
          {
            "node": "Buscar Archivo ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Archivo ZIP": {
      "main": [
        [
          {
            "node": "¿Archivo Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Archivo Existe?": {
      "main": [
        [
          {
            "node": "Leer Archivo ZIP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Registrar Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Archivo ZIP": {
      "main": [
        [
          {
            "node": "Descomprimir ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descomprimir ZIP": {
      "main": [
        [
          {
            "node": "Preparar Metadatos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Skip": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-19T14:14:44.453Z",
  "id": "1YmvlJpwwiJcNf7E",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AFM - Massive Ingestion Pipeline (ETL Vectorial)",
  "nodes": [
    {
      "parameters": {},
      "id": "27ba8370-6e3d-40f5-9cc0-76f55b33d363",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1760,
        288
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "range-start",
              "name": "startId",
              "value": 39890,
              "type": "number"
            },
            {
              "id": "range-end",
              "name": "endId",
              "value": 39900,
              "type": "number"
            },
            {
              "id": "base-path",
              "name": "basePath",
              "value": "/data/afm_docs/files/000000000",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "189519ca-27e4-4ded-af6e-08756a85c6c0",
      "name": "Configurar Rango IDs",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1536,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generar array de IDs desde startId hasta endId\nconst startId = $('Configurar Rango IDs').item.json.startId;\nconst endId = $('Configurar Rango IDs').item.json.endId;\n\nconst ids = [];\nfor (let i = startId; i <= endId; i++) {\n  ids.push({ documentId: i });\n}\n\nreturn ids;"
      },
      "id": "130ad660-01a4-42ef-a451-de8f1c36c28b",
      "name": "Generar Array IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        288
      ]
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "d6b36368-9756-4ce1-a672-ad372c2d22fb",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1104,
        288
      ]
    },
    {
      "parameters": {
        "jsCode": "// Calcular ruta basada en lógica matemática del ID\nconst id = $json.documentId;\nconst basePath = $('Configurar Rango IDs').item.json.basePath;\n\n// Nivel 1: Math.floor(ID/10000)*10000\nconst level1 = Math.floor(id / 10000) * 10000;\nconst level1Formatted = String(level1).padStart(6, '0');\n\n// Nivel 2: ID % 10000 (últimos 4 dígitos)\nconst level2 = id % 10000;\nconst level2Formatted = String(level2);\n\n// Construir ruta del directorio\nconst dirPath = `${basePath}/${level1Formatted}/${level2Formatted}`;\n\n// Patrón de búsqueda: ${ID}-*-0.*.zip\nconst searchPattern = `${id}-*-0.*.zip`;\n\nreturn {\n  documentId: id,\n  dirPath: dirPath,\n  searchPattern: searchPattern,\n  fullSearchPath: `${dirPath}/${searchPattern}`\n};"
      },
      "id": "4cfafef8-def0-4b0e-b6f6-46c3ea5e0470",
      "name": "Calcular Ruta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        384
      ]
    },
    {
      "parameters": {
        "jsCode": "// Buscar archivo ZIP que coincida con el patrón\nconst fs = require('fs');\nconst path = require('path');\n\nconst dirPath = $json.dirPath;\nconst documentId = $json.documentId;\n\n// Verificar si el directorio existe\nif (!fs.existsSync(dirPath)) {\n  return {\n    documentId: documentId,\n    fileExists: false,\n    filePath: null,\n    fileName: null,\n    extractedFileName: null\n  };\n}\n\n// Listar archivos y buscar coincidencia con patrón\nconst files = fs.readdirSync(dirPath);\nconst pattern = new RegExp(`^${documentId}-.*-0\\\\..*\\\\.zip$`);\nconst matchedFile = files.find(f => pattern.test(f));\n\nif (matchedFile) {\n  return {\n    documentId: documentId,\n    fileExists: true,\n    filePath: path.join(dirPath, matchedFile),\n    fileName: matchedFile,\n    extractedFileName: null\n  };\n} else {\n  return {\n    documentId: documentId,\n    fileExists: false,\n    filePath: null,\n    fileName: null,\n    extractedFileName: null\n  };\n}"
      },
      "id": "448281d9-edb6-4e35-aba7-ab651a6baf5b",
      "name": "Buscar Archivo ZIP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "file-exists-condition",
              "leftValue": "={{ $json.fileExists }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a8ff7226-1a08-4ab6-87e4-7a1df903481e",
      "name": "¿Archivo Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -448,
        384
      ]
    },
    {
      "parameters": {},
      "id": "405ffaf2-c60f-412b-bddf-8e57cb3dff5c",
      "name": "Leer Archivo ZIP",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        -224,
        128
      ]
    },
    {
      "parameters": {},
      "id": "3cd215aa-3223-4986-8f1f-04e6e3bdbc3f",
      "name": "Descomprimir ZIP",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1,
      "position": [
        0,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Preparar metadatos para los documentos\nconst documentId = $('Buscar Archivo ZIP').item.json.documentId;\nconst zipFileName = $('Buscar Archivo ZIP').item.json.fileName;\nconst extractedFile = $json.fileName || 'unknown';\n\n// Retornar datos binarios con metadatos inyectados\nreturn {\n  binary: $binary.data,\n  metadata: {\n    documentId: String(documentId),\n    zipFileName: zipFileName,\n    extractedFileName: extractedFile,\n    processedAt: new Date().toISOString(),\n    source: 'AFM_PRUEBAS'\n  }\n};"
      },
      "id": "32e4215b-5e0f-4253-9a10-94867ff93807",
      "name": "Preparar Metadatos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        128
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "d67f9857-47c4-473b-ab5a-f69066d4bff9",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        448,
        128
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 50,
        "options": {
          "splitCode": "markdown"
        }
      },
      "id": "b8c33d97-568c-4a8d-b984-0acfeda81178",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        672,
        288
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        448,
        464
      ],
      "id": "5fd84177-d315-4424-8995-365e3aa81503",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "J0DZ8TqoniSuKDJ2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "n8n_vectors_AFM_PRUEBAS_STORE",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        880,
        128
      ],
      "id": "fa6c0aa2-9671-4d45-becc-89ef55ce7d53",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "DN6ZsQBwtjGKcWee",
          "name": "Conexion local"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "log-skipped",
              "name": "skippedId",
              "value": "={{ $json.documentId }}",
              "type": "number"
            },
            {
              "id": "log-reason",
              "name": "reason",
              "value": "Archivo no encontrado",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "93d11251-838d-4a27-93a3-a6a8d736ee9b",
      "name": "Registrar Skip",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        448
      ]
    },
    {
      "parameters": {
        "content": "### 🔧 Configuración\nDefine el rango de IDs a procesar (startId, endId) y la ruta base de los documentos.",
        "height": 200,
        "width": 400,
        "color": 4
      },
      "id": "5c974f35-7654-40d7-91d3-c5ae5b486de9",
      "name": "Sticky Note Config",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1760,
        128
      ]
    },
    {
      "parameters": {
        "content": "### 🔄 Motor de Búsqueda Cíclica\nEl Split In Batches procesa un ID a la vez. El ciclo continúa hasta procesar todos los IDs del rango.",
        "height": 340,
        "width": 540,
        "color": 6
      },
      "id": "39c14a41-0997-4ad3-b489-9316db16a4aa",
      "name": "Sticky Note Loop",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1104,
        128
      ]
    },
    {
      "parameters": {
        "content": "### 📦 Extracción y Vectorización\nDescomprime el ZIP, inyecta metadatos (ID, nombre archivo), divide el texto y lo vectoriza con Gemini Embeddings.",
        "height": 380,
        "width": 700,
        "color": 5
      },
      "id": "e2c5b557-0d16-4907-a4ad-7b88ad3d7202",
      "name": "Sticky Note Vector",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "### 🗄️ Almacenamiento Vectorial\nInserta los chunks con embeddings en PostgreSQL (PGVector). Tabla: n8n_vectors_AFM_PRUEBAS_STORE",
        "height": 200,
        "width": 400,
        "color": 7
      },
      "id": "db85656b-3cae-489e-afc3-0f429d045054",
      "name": "Sticky Note Storage",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        784,
        -32
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-02-19T14:14:44.453Z",
      "updatedAt": "2026-02-19T14:14:44.453Z",
      "role": "workflow:owner",
      "workflowId": "1YmvlJpwwiJcNf7E",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-19T17:07:06.236Z",
  "versionId": "cb6ab982-6adc-4586-a7d2-5482b172d389"
}