folder/Error-Handler.json
{
  "active": false,
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Specific Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generic Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Specific Notification": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-06T16:21:04.697Z",
  "id": "h1TswfYCSmmTHJwB",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Error-Handler",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -1056,
        -112
      ],
      "id": "a969e218-2ad8-47a8-a766-3ba76e47ff37",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst runData = response.data.resultData.runData;\nconst lastNode = response.data.resultData.lastNodeExecuted;\nconst queryId = $input.first().json.data.executionData.nodeExecutionStack[0].data.main[0][0].json.queryId\n// 1. Buscamos el error técnico\nconst technicalError = response.data.resultData.error || {};\n\n// 2. Buscamos el CONTEXTO REAL (País y Entorno del Credentials Loop)\nlet realContext = { pais: \"N/A\", entorno: \"N/A\" };\n\ntry {\n  // Accedemos al historial del nodo que itera las credenciales\n  const credsLoopExecs = runData[\"Credentials Loop\"];\n  // Tomamos la última vez que pasó por ese nodo\n  const lastCredsExecution = credsLoopExecs[credsLoopExecs.length - 1];\n  \n  // En un 'Split in Batches', el puerto 1 (índice 1) es el que saca el ítem actual\n  const currentCredsItem = lastCredsExecution.data.main[1][0].json;\n  \n  realContext.pais = currentCredsItem.country || \"N/A\";\n  realContext.entorno = currentCredsItem.entorno || \"N/A\";\n} catch (e) {\n  realContext = { pais: \"Error rastreo\", entorno: \"Error rastreo\" };\n}\n\n// 3. Buscamos los datos de la QUERY que falló\nlet lastInputData = {};\ntry {\n  const nodeExecutions = runData[lastNode];\n  const lastExecution = nodeExecutions[nodeExecutions.length - 1];\n  \n  if (lastExecution.source && lastExecution.source.length > 0) {\n    const sourceNodeName = lastExecution.source[0].previousNode;\n    const sourceNodeExecs = runData[sourceNodeName];\n    const lastSourceExec = sourceNodeExecs[sourceNodeExecs.length - 1];\n    \n    // El 'Query Loop' entrega los datos por el puerto 1\n    lastInputData = lastSourceExec.data.main[1][0].json;\n  }\n} catch (e) {\n  lastInputData = { info: \"No se pudo rastrear la query\" };\n}\n\nreturn {\n  json: {\n    alerta: {\n      error: technicalError.message,\n      stack: technicalError.stack,\n      nodo_fallido: lastNode,\n    },\n    contexto_negocio: {\n      queryId: queryId || \"N/A\",\n      // AHORA SI: Usamos los datos del contexto real de conexión\n      queryType: lastInputData.type,\n      pais: realContext.pais,\n      entorno: realContext.entorno,\n    },\n    meta: {\n      executionId: response.id,\n      timestamp: response.stoppedAt\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -128
      ],
      "id": "e3c81e12-2498-41d3-b3be-31a31b597f36",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "url": "=http://192.168.108.42:5678/api/v1/executions/{{ $json.execution.id }}?includeData=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMGJhNmMwZS1hYTM3LTQ2ZTItYjhkYS01MzVjNDliMzE4ODciLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzY5NzA5NTg4fQ.HLACgtU43_dovJAEJHDzzzMFHU_uFkyUkQkbV1ti_WU"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -96,
        -128
      ],
      "id": "c0dde7c7-a10d-43cd-bbc7-a2237b04497f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "116f54f8-a623-4184-87f4-8bc362b99f01",
              "leftValue": "={{ $json.workflow.name }}",
              "rightValue": "Revisión de Entornos",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -368,
        -112
      ],
      "id": "49be1152-e84a-4912-a37d-9aab65563722",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Flujo de errores: \n## - Si detecta que un flujo en particular falló, va a recuperar los datos de su ejecución para mostrarlos en la notificación. \n## - Otros flujos envian notificacion normal",
        "height": 256,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        -480
      ],
      "typeVersion": 1,
      "id": "c734e8a4-5817-4c01-9b0e-a1d7f9f5da62",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "53f577e2-4094-42b5-8a8b-695b91d0d74f",
          "mode": "list",
          "cachedResultName": "n8n notifications"
        },
        "channelId": {
          "__rl": true,
          "value": "19:66a0a41922ef4004a143795eb59a3a9e@thread.tacv2",
          "mode": "list",
          "cachedResultName": "test-interno",
          "cachedResultUrl": "https://teams.cloud.microsoft/l/channel/19%3A66a0a41922ef4004a143795eb59a3a9e%40thread.tacv2/test-interno?groupId=53f577e2-4094-42b5-8a8b-695b91d0d74f&tenantId=f89f7128-f0c6-4302-9881-8e0697d39336&allowXTenantAccess=True&ngc=True"
        },
        "contentType": "html",
        "message": "=<b>Workflow Error:</b> {{ $json.workflow.name }}<br>\n<br>\n<b>{{ $json.execution.lastNodeExecuted }}</b> at {{ $now.format('yyyy-MM-dd hh:mm') }}<br>\n<br>\n<b>The error message was:</b> {{ $json.execution.error.message }}<br>\n<br>\n<small><b>Technical Stack:</b> {{ $json.execution.error.stack }}</small>",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        -112,
        48
      ],
      "id": "27e698d0-d3ff-4a62-8eb3-6e263ce18b00",
      "name": "Generic Notification",
      "webhookId": "f2501279-44ce-46e3-9031-9d48e047cbb4",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      }
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "2f7e4d78-5cc0-4b00-bb44-372596f96fcf",
          "mode": "list",
          "cachedResultName": "Notificaciones Soporte"
        },
        "channelId": {
          "__rl": true,
          "value": "19:c81deee8b1fb41348b36a3684fd53a81@thread.tacv2",
          "mode": "list",
          "cachedResultName": "Errores",
          "cachedResultUrl": "https://teams.cloud.microsoft/l/channel/19%3Ac81deee8b1fb41348b36a3684fd53a81%40thread.tacv2/Errores?groupId=2f7e4d78-5cc0-4b00-bb44-372596f96fcf&tenantId=f89f7128-f0c6-4302-9881-8e0697d39336&allowXTenantAccess=False"
        },
        "contentType": "html",
        "message": "=<b>Workflow Error:</b> {{ $node[\"Error Trigger\"].json.workflow.name }}<br>\n<br>\n<b>{{ $json.alerta.nodo_fallido }}</b> at {{ $json.meta.timestamp.toDateTime().format('yyyy-MM-dd HH:mm') }}<br>\n<br>\n<b>Failed at:</b> {{ $json.contexto_negocio.pais }} - {{ $json.contexto_negocio.entorno }} (Query ID: {{ $json.contexto_negocio.queryId }})<br>\n<br>\n<b>The error message was:</b> {{ $json.alerta.error }}<br>\n<br>\n<br><br><small><b>Technical Stack:</b> {{ $json.alerta.stack }}...</small>",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        512,
        -128
      ],
      "id": "8d7f91a5-e57a-45ad-8933-8724923acffe",
      "name": "Specific Notification",
      "webhookId": "1b3f1c79-8ee3-4c8a-aa2a-db8ed12341a4",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -768,
        -112
      ],
      "id": "f66ffec7-fc3e-40a6-a957-f161e14b83c9",
      "name": "Wait",
      "webhookId": "3b3b4c10-4385-412b-8cee-73f771330251"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "createdAt": "2026-01-26T21:54:00.001Z",
      "updatedAt": "2026-01-26T21:54:00.001Z",
      "role": "workflow:owner",
      "workflowId": "h1TswfYCSmmTHJwB",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-14T15:01:25.878Z",
  "versionId": "0588cfb8-318f-44a4-a956-abed5a9d440b"
}