folder/Flujo de correo 2.0.json
{
  "active": false,
  "connections": {
    "Lista de SELECTs1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar en SQL Server2": {
      "main": [
        [
          {
            "node": "Normalizar salida SELECT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar resultados SELECT": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista de UPDATEs1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar en SQL Server3": {
      "main": [
        [
          {
            "node": "Guardar en log persistente2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en log persistente1": {
      "main": [
        [
          {
            "node": "Evaluar resultados SELECT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en log persistente2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF ejecutarUpdates": {
      "main": [
        [
          {
            "node": "Lista de UPDATEs1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Informe de ejecución1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar salida SELECT": {
      "main": [
        [
          {
            "node": "Guardar en log persistente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informe de ejecución1": {
      "main": [
        [
          {
            "node": "Generar cuerpo HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar cuerpo HTML": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer último informe": {
      "main": [
        [
          {
            "node": "Enviar correo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron cada 12 horas": {
      "main": [
        [
          {
            "node": "Lista de SELECTs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "IF ejecutarUpdates",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ejecutar en SQL Server2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Informe de ejecución1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ejecutar en SQL Server3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluar resultados SELECT1": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista de SELECTs": {
      "main": [
        [
          {
            "node": "Loop Over Items2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar en SQL Server": {
      "main": [
        [
          {
            "node": "Normalizar salida SELECT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en log persistente": {
      "main": [
        [
          {
            "node": "Evaluar resultados SELECT1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista de UPDATEs": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar en SQL Server4": {
      "main": [
        [
          {
            "node": "Guardar en log persistente3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Informe de ejecución": {
      "main": [
        [
          {
            "node": "Generar cuerpo HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en log persistente3": {
      "main": [
        [
          {
            "node": "Loop Over Items3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF ejecutarUpdates1": {
      "main": [
        [
          {
            "node": "Lista de UPDATEs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Informe de ejecución",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar salida SELECT1": {
      "main": [
        [
          {
            "node": "Guardar en log persistente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar cuerpo HTML1": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer último informe1": {
      "main": [
        [
          {
            "node": "Enviar correo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron cada 12 horas1": {
      "main": [
        [
          {
            "node": "Lista de SELECTs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items2": {
      "main": [
        [],
        [
          {
            "node": "Ejecutar en SQL Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items3": {
      "main": [
        [
          {
            "node": "Informe de ejecución",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ejecutar en SQL Server4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-23T15:05:17.199Z",
  "id": "8XqSUbhgWaMR7vun",
  "isArchived": true,
  "meta": null,
  "name": "Flujo de correo 2.0",
  "nodes": [
    {
      "parameters": {
        "functionCode": "const sd = this.getWorkflowStaticData('global');\nconst logs = sd.logs || [];\nconst selects = logs.filter(l => l.tipo === 'SELECT');\nconst filasSelectsValidas = selects.reduce((a, e) => a + (e.filas || 0), 0);\n\nreturn [{ json: { ejecutarUpdates: filasSelectsValidas > 0 } }];\n"
      },
      "id": "15c9196b-fd28-465a-b7b8-d628244921a4",
      "name": "Evaluar resultados SELECT",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        256,
        672
      ]
    },
    {
      "parameters": {
        "functionCode": "const selects = [\n  // GMAIL mal escrito\n  `SELECT COUNT(*) AS filasValidas\n   FROM usuario\n   WHERE mail LIKE '%@gmial.com';`,\n\n  // HOTMAIL mal escrito (variantes)\n  `SELECT COUNT(*) AS filasValidas\n   FROM usuario\n   WHERE mail LIKE '%@hotamil.com';`,\n\n  `SELECT COUNT(*) AS filasValidas\n   FROM usuario\n   WHERE mail LIKE '%@hotmaill.com';`,\n\n  `SELECT COUNT(*) AS filasValidas\n   FROM usuario\n   WHERE mail LIKE '%@hotmal.com';`,\n\n  `SELECT COUNT(*) AS filasValidas\n   FROM usuario\n   WHERE mail LIKE '%@homail.com';`,\n\n  // Usuarios sin correo y con restricciones\n  `SELECT COUNT(*) AS filasValidas\n   FROM usuario\n   WHERE mail LIKE '%sincorreo%'\n     AND Eliminado != 1\n     AND PublicacionComprobantes != 0;`,\n\n  // Correos con espacios o tabs\n  `SELECT COUNT(*) AS filasValidas\n   FROM usuario\n   WHERE mail LIKE '% %';\n`\n];\n\nreturn selects.map(s => ({\n  json: { tipo: 'SELECT', sentencia: s }\n}));"
      },
      "id": "f05188ac-6821-44f9-b68b-7605c326cf47",
      "name": "Lista de SELECTs1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1008,
        576
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json[\"sentencia\"]}}"
      },
      "id": "9ceedb14-4348-490f-904c-ec763bc5ff59",
      "name": "Ejecutar en SQL Server2",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        -368,
        672
      ],
      "credentials": {
        "microsoftSql": {
          "id": "OJnhwvNxTV90RYTs",
          "name": "SQL-test.comfiar.co"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const sd = this.getWorkflowStaticData('global');\nif (!sd.logs) sd.logs = [];\n\nitems.forEach(item => {\n  const json = item?.json || {};\n  const tipo = json.tipo || 'Desconocido';\n  const sentencia = json.sentencia || 'N/A';\n  const filas = json.filasValidas ?? json.filas ?? 0;\n  const ts = new Date().toISOString();\n\n  sd.logs.push({ ts, tipo, sentencia, filas });\n});\n\nreturn items;\n"
      },
      "id": "7005156f-1f7c-486c-8a2e-ae19429fef39",
      "name": "Guardar en log persistente1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        48,
        672
      ]
    },
    {
      "parameters": {
        "functionCode": "const updates = [\n  `UPDATE usuario SET mail = SUBSTRING(mail,1,CHARINDEX('@gmial.com', mail)-1)+'@gmail.com' WHERE mail LIKE '%@gmial.com'; SELECT @@ROWCOUNT AS filas;`,\n  `UPDATE usuario SET mail = SUBSTRING(mail,1,CHARINDEX('@hotamil.com', mail)-1)+'@hotmail.com' WHERE mail LIKE '%@hotamil.com'; SELECT @@ROWCOUNT AS filas;`,\n  `UPDATE usuario SET mail = SUBSTRING(mail,1,CHARINDEX('@hotmaill.com', mail)-1)+'@hotmail.com' WHERE mail LIKE '%@hotmaill.com'; SELECT @@ROWCOUNT AS filas;`,\n  `UPDATE usuario SET mail = SUBSTRING(mail,1,CHARINDEX('@hotmal.com', mail)-1)+'@hotmail.com' WHERE mail LIKE '%@hotmal.com'; SELECT @@ROWCOUNT AS filas;`,\n  `UPDATE usuario SET mail = SUBSTRING(mail,1,CHARINDEX('@homail.com', mail)-1)+'@hotmail.com' WHERE mail LIKE '%@homail.com'; SELECT @@ROWCOUNT AS filas;`,\n  `UPDATE usuario SET publicacioncomprobantes = 0 WHERE mail LIKE '%sincorreo%' AND Eliminado != 1 AND PublicacionComprobantes != 0; SELECT @@ROWCOUNT AS filas;`,\n  `UPDATE usuario\n   SET mail = REPLACE(REPLACE(mail, CHAR(9), ''), ' ', '')\n   WHERE mail LIKE '% %' OR mail LIKE '%' + CHAR(9) + '%';\n   SELECT @@ROWCOUNT AS filas;`\n];\n\nreturn updates.map(u => ({ json: { tipo: 'UPDATE', sentencia: u } }));;\n"
      },
      "id": "571913d9-5383-41bf-88ea-95cc6581650d",
      "name": "Lista de UPDATEs1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        16
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json[\"sentencia\"]}}"
      },
      "id": "74970702-2a35-4474-a8c1-c7da4096006e",
      "name": "Ejecutar en SQL Server3",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        528,
        32
      ]
    },
    {
      "parameters": {
        "functionCode": "const sd = this.getWorkflowStaticData('global');\nconst logs = sd.logs || [];\nconst selects = logs.filter(l => l.tipo === 'SELECT');\nconst updates = logs.filter(l => l.tipo === 'UPDATE');\nconst resumen = {\n  totalOperaciones: logs.length,\n  totalSelects: selects.length,\n  totalUpdates: updates.length,\n  filasSelects: selects.reduce((a, e) => a + (e.filas || 0), 0),\n  filasUpdates: updates.reduce((a, e) => a + (e.filas || 0), 0),\n  detalle: logs\n};\nreturn [{ json: resumen }];"
      },
      "id": "3602e925-0ebb-47da-b2cd-001ab35df5b8",
      "name": "Informe de ejecución1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        304,
        464
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "functionCode": "const sd = this.getWorkflowStaticData('global');\nif (!sd.logs) sd.logs = [];\n\nlet salida = [];\n\nif (!items || items.length === 0) {\n  // Iteración sin datos: crear ítem seguro\n  salida.push({\n    json: {\n      tipo: 'UPDATE',\n      sentencia: 'N/A',\n      filas: 0\n    }\n  });\n} else {\n  items.forEach((item, idx) => {\n    const json = item?.json || {};\n    const tipo = json.tipo || 'UPDATE';\n    const sentencia = json.sentencia || ($item(idx)?.$json?.sentencia) || 'N/A';\n    const filas = json.filasValidas ?? json.filas ?? 0;\n    const ts = new Date().toISOString();\n\n    sd.logs.push({ ts, tipo, sentencia, filas });\n\n    salida.push({ json: { tipo, sentencia, filas } });\n  });\n}\n\nreturn salida;\n"
      },
      "id": "6ad8e2bc-97b5-4866-b748-ded2523309ab",
      "name": "Guardar en log persistente2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        800,
        32
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"ejecutarUpdates\"]}}",
              "operation": "notEqual"
            }
          ]
        }
      },
      "id": "c3c1f01c-dfa8-407f-a53e-c20f734e7c42",
      "name": "IF ejecutarUpdates",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -240,
        448
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// Recupera la sentencia y tipo del ítem original\nconst sentencia = $item(0).$json.sentencia || 'N/A';\nconst tipo = $item(0).$json.tipo || 'SELECT';\n\n// items[0].json debe tener { filasValidas: N }\nconst filas = (() => {\n  const j = items?.[0]?.json;\n  if (j == null) return 0;\n  const v = j.filasValidas ?? j.rowCount ?? (Array.isArray(j) ? j.length : 0);\n  return Number(v) || 0;\n})();\n\nreturn [{\n  json: {\n    tipo,\n    sentencia,\n    filasValidas: filas,\n    filas: filas\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        672
      ],
      "id": "531fcc84-7cd5-4a1b-97f3-ff999c8c4b6e",
      "name": "Normalizar salida SELECT"
    },
    {
      "parameters": {
        "functionCode": "const resumen = items[0].json;\nreturn [{\n  json: {\n    mailSubject: `Informe de ejecución - Correos de usuarios mal cargados `,\n    mailBody: `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<title> 1.3 Correos de usuarios mal cargados</title>\n<style>\n  body {\n    font-family: Arial, sans-serif;\n    background-color: #f4f4f4;\n    margin: 0;\n    padding: 0;\n  }\n  .container {\n    max-width: 600px;\n    margin: auto;\n    background: #fff;\n    padding: 20px;\n    border-radius: 8px;\n    box-shadow: 0 4px 12px rgba(0,0,0,0.1);\n  }\n  .header {\n    text-align: center;\n    margin-bottom: 20px;\n  }\n  .company-name {\n    font-size: 24px;\n    font-weight: bold;\n    color: #921E30;\n  }\n  h1 {\n    color: #333;\n    margin-bottom: 10px;\n  }\n  .summary {\n    background: #fafafa;\n    border: 1px solid #ddd;\n    border-radius: 6px;\n    padding: 15px;\n    margin-bottom: 20px;\n  }\n  .summary p {\n    margin: 5px 0;\n    font-size: 14px;\n  }\n  .footer {\n    font-size: 12px;\n    color: #777;\n    text-align: center;\n    margin-top: 20px;\n  }\n</style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <div class=\"company-name\">APG Consulting Colombia</div>\n      <h1>Correos de usuarios mal cargados</h1>\n    </div>\n    <div class=\"summary\">\n      <p><strong>Resumen</strong></p>\n      <p>Mails corregidos: ${$json.filasUpdates}</p>\n      <p>Generado: ${new Date().toLocaleString(\"es-CO\")}</p>\n    </div>\n    <div class=\"footer\">\n      © ${new Date().getFullYear()} APG Consulting Colombia · Este informe fue generado automáticamente.\n    </div>\n  </div>\n</body>\n</html>\n`\n  }\n}];\n"
      },
      "id": "6d833f7d-d584-46b7-aa4f-16a1e6eb840d",
      "name": "Generar cuerpo HTML",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        528,
        464
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT asunto, cuerpo_html FROM informes ORDER BY fecha DESC LIMIT 1;",
        "additionalFields": {}
      },
      "id": "160af0d4-1889-4b10-9a86-fee962d97c10",
      "name": "Leer último informe",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -1056,
        928
      ]
    },
    {
      "parameters": {
        "fromEmail": "n8n@apg-consulting.com",
        "toEmail": "rnunez@apg-consulting.com",
        "subject": "={{$json[\"asunto\"]}}",
        "html": "={{$json[\"cuerpo_html\"]}}",
        "options": {}
      },
      "id": "7522470e-93b1-44fb-b0a0-e50499898f7f",
      "name": "Enviar correo",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        -704,
        928
      ],
      "credentials": {
        "smtp": {
          "id": "Uw4CpnQjIbsNpVhT",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "informes",
          "mode": "list",
          "cachedResultName": "informes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "asunto": "={{ $json.mailSubject }}",
            "cuerpo_html": "={{ $json.mailBody }}",
            "fecha": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}\n",
            "id": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "asunto",
              "displayName": "asunto",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cuerpo_html",
              "displayName": "cuerpo_html",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        736,
        464
      ],
      "id": "c07c19ae-0258-481c-bbbb-12bb5c964c50",
      "name": "Insert rows in a table",
      "executeOnce": true
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 12
            }
          ]
        }
      },
      "id": "99afaa98-9a68-4ff3-b0dd-067d39c42720",
      "name": "Cron cada 12 horas",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1392,
        576
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -768,
        576
      ],
      "id": "e100d339-be15-4678-99e6-9b65d7e14a8e",
      "name": "Loop Over Items",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        256,
        16
      ],
      "id": "6e7d0241-8a25-44f6-8cd5-57c83d9fb97e",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "functionCode": "const sd = this.getWorkflowStaticData('global');\nconst logs = sd.logs || [];\nconst selects = logs.filter(l => l.tipo === 'SELECT');\nconst filasSelectsValidas = selects.reduce((a, e) => a + (e.filas || 0), 0);\n\nreturn [{ json: { ejecutarUpdates: filasSelectsValidas > 0 } }];\n"
      },
      "id": "654e2417-7e5d-4a09-82af-fa53b75b11f4",
      "name": "Evaluar resultados SELECT1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        0,
        1808
      ]
    },
    {
      "parameters": {
        "functionCode": "const selects = [\n  // GMAIL mal escrito\n  `SELECT COUNT(*) AS filasValidas\n   FROM usuario\n   WHERE mail LIKE '%@gmial.com';`,\n\n  // HOTMAIL mal escrito (variantes)\n  `SELECT COUNT(*) AS filasValidas\n   FROM usuario\n   WHERE mail LIKE '%@hotamil.com';`,\n\n  `SELECT COUNT(*) AS filasValidas\n   FROM usuario\n   WHERE mail LIKE '%@hotmaill.com';`,\n\n  `SELECT COUNT(*) AS filasValidas\n   FROM usuario\n   WHERE mail LIKE '%@hotmal.com';`,\n\n  `SELECT COUNT(*) AS filasValidas\n   FROM usuario\n   WHERE mail LIKE '%@homail.com';`,\n\n  // Usuarios sin correo y con restricciones\n  `SELECT COUNT(*) AS filasValidas\n   FROM usuario\n   WHERE mail LIKE '%sincorreo%'\n     AND Eliminado != 1\n     AND PublicacionComprobantes != 0;`,\n\n  // Correos con espacios o tabs\n  `SELECT COUNT(*) AS filasValidas\n   FROM usuario\n   WHERE mail LIKE '% %';`\n];\n\nreturn selects.map(s => ({\n  json: { tipo: 'SELECT', sentencia: s }\n}));"
      },
      "id": "cf87f917-a56f-4865-a751-0f9c800f9109",
      "name": "Lista de SELECTs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1136,
        1728
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json[\"sentencia\"]}}"
      },
      "id": "ae43fc90-8dc5-4d33-a08e-114a379060d0",
      "name": "Ejecutar en SQL Server",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        -624,
        1808
      ],
      "credentials": {
        "microsoftSql": {
          "id": "OJnhwvNxTV90RYTs",
          "name": "SQL-test.comfiar.co"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const sd = this.getWorkflowStaticData('global');\nif (!sd.logs) sd.logs = [];\n\nitems.forEach(item => {\n  const json = item?.json || {};\n  const tipo = json.tipo || 'Desconocido';\n  const sentencia = json.sentencia || 'N/A';\n  const filas = json.filasValidas ?? json.filas ?? 0;\n  const ts = new Date().toISOString();\n\n  sd.logs.push({ ts, tipo, sentencia, filas });\n});\n\nreturn items;\n"
      },
      "id": "0b0b4642-01cc-4b83-8499-812380acfdb3",
      "name": "Guardar en log persistente",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -224,
        1808
      ]
    },
    {
      "parameters": {
        "functionCode": "const updates = [\n  `UPDATE usuario SET mail = SUBSTRING(mail,1,CHARINDEX('@gmial.com', mail)-1)+'@gmail.com' WHERE mail LIKE '%@gmial.com'; SELECT @@ROWCOUNT AS filas;`,\n  `UPDATE usuario SET mail = SUBSTRING(mail,1,CHARINDEX('@hotamil.com', mail)-1)+'@hotmail.com' WHERE mail LIKE '%@hotamil.com'; SELECT @@ROWCOUNT AS filas;`,\n  `UPDATE usuario SET mail = SUBSTRING(mail,1,CHARINDEX('@hotmaill.com', mail)-1)+'@hotmail.com' WHERE mail LIKE '%@hotmaill.com'; SELECT @@ROWCOUNT AS filas;`,\n  `UPDATE usuario SET mail = SUBSTRING(mail,1,CHARINDEX('@hotmal.com', mail)-1)+'@hotmail.com' WHERE mail LIKE '%@hotmal.com'; SELECT @@ROWCOUNT AS filas;`,\n  `UPDATE usuario SET mail = SUBSTRING(mail,1,CHARINDEX('@homail.com', mail)-1)+'@hotmail.com' WHERE mail LIKE '%@homail.com'; SELECT @@ROWCOUNT AS filas;`,\n  `UPDATE usuario SET publicacioncomprobantes = 0 WHERE mail LIKE '%sincorreo%' AND Eliminado != 1 AND PublicacionComprobantes != 0; SELECT @@ROWCOUNT AS filas;`,\n  `UPDATE usuario\n   SET mail = REPLACE(REPLACE(mail, CHAR(9), ''), ' ', '')\n   WHERE mail LIKE '% %' OR mail LIKE '%' + CHAR(9) + '%';\n   SELECT @@ROWCOUNT AS filas;`\n];\n\nreturn updates.map(u => ({ json: { tipo: 'UPDATE', sentencia: u } }));;\n"
      },
      "id": "07c743b9-e5bf-42fa-a115-da0d3e57141b",
      "name": "Lista de UPDATEs",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -336,
        1168
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{$json[\"sentencia\"]}}"
      },
      "id": "0161d779-c8ed-4ba0-a450-cf8f86feab91",
      "name": "Ejecutar en SQL Server4",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        192,
        1168
      ]
    },
    {
      "parameters": {
        "functionCode": "const sd = this.getWorkflowStaticData('global');\nconst logs = sd.logs || [];\nconst selects = logs.filter(l => l.tipo === 'SELECT');\nconst updates = logs.filter(l => l.tipo === 'UPDATE');\nconst resumen = {\n  totalOperaciones: logs.length,\n  totalSelects: selects.length,\n  totalUpdates: updates.length,\n  filasSelects: selects.reduce((a, e) => a + (e.filas || 0), 0),\n  filasUpdates: updates.reduce((a, e) => a + (e.filas || 0), 0),\n  detalle: logs\n};\nreturn [{ json: resumen }];"
      },
      "id": "0f69efeb-d5f2-4ffb-b7bc-8ce3bd209419",
      "name": "Informe de ejecución",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -32,
        1616
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "functionCode": "const sd = this.getWorkflowStaticData('global');\nif (!sd.logs) sd.logs = [];\n\nlet salida = [];\n\nif (!items || items.length === 0) {\n  // Iteración sin datos: crear ítem seguro\n  salida.push({\n    json: {\n      tipo: 'UPDATE',\n      sentencia: 'N/A',\n      filas: 0\n    }\n  });\n} else {\n  items.forEach((item, idx) => {\n    const json = item?.json || {};\n    const tipo = json.tipo || 'UPDATE';\n    const sentencia = json.sentencia || ($item(idx)?.$json?.sentencia) || 'N/A';\n    const filas = json.filasValidas ?? json.filas ?? 0;\n    const ts = new Date().toISOString();\n\n    sd.logs.push({ ts, tipo, sentencia, filas });\n\n    salida.push({ json: { tipo, sentencia, filas } });\n  });\n}\n\nreturn salida;\n"
      },
      "id": "1cd6afc3-a01d-4003-9a7e-400169889fe0",
      "name": "Guardar en log persistente3",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        464,
        1168
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"ejecutarUpdates\"]}}",
              "operation": "notEqual"
            }
          ]
        }
      },
      "id": "f7cf1246-0da7-4069-a851-3401c3626fdf",
      "name": "IF ejecutarUpdates1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -576,
        1600
      ],
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// Recupera la sentencia y tipo del ítem original\nconst sentencia = $item(0).$json.sentencia || 'N/A';\nconst tipo = $item(0).$json.tipo || 'SELECT';\n\n// items[0].json debe tener { filasValidas: N }\nconst filas = (() => {\n  const j = items?.[0]?.json;\n  if (j == null) return 0;\n  const v = j.filasValidas ?? j.rowCount ?? (Array.isArray(j) ? j.length : 0);\n  return Number(v) || 0;\n})();\n\nreturn [{\n  json: {\n    tipo,\n    sentencia,\n    filasValidas: filas,\n    filas: filas\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        1808
      ],
      "id": "02daf06f-55b1-4c74-adee-38169914de99",
      "name": "Normalizar salida SELECT1"
    },
    {
      "parameters": {
        "functionCode": "const resumen = items[0].json;\nreturn [{\n  json: {\n    mailSubject: `Informe de ejecución - Correos de usuarios mal cargados `,\n    mailBody: `\n<!DOCTYPE html>\n<html lang=\"es\">\n<head>\n<meta charset=\"UTF-8\">\n<title> 1.3 Correos de usuarios mal cargados</title>\n<style>\n  body {\n    font-family: Arial, sans-serif;\n    background-color: #f4f4f4;\n    margin: 0;\n    padding: 0;\n  }\n  .container {\n    max-width: 600px;\n    margin: auto;\n    background: #fff;\n    padding: 20px;\n    border-radius: 8px;\n    box-shadow: 0 4px 12px rgba(0,0,0,0.1);\n  }\n  .header {\n    text-align: center;\n    margin-bottom: 20px;\n  }\n  .company-name {\n    font-size: 24px;\n    font-weight: bold;\n    color: #921E30;\n  }\n  h1 {\n    color: #333;\n    margin-bottom: 10px;\n  }\n  .summary {\n    background: #fafafa;\n    border: 1px solid #ddd;\n    border-radius: 6px;\n    padding: 15px;\n    margin-bottom: 20px;\n  }\n  .summary p {\n    margin: 5px 0;\n    font-size: 14px;\n  }\n  .footer {\n    font-size: 12px;\n    color: #777;\n    text-align: center;\n    margin-top: 20px;\n  }\n</style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <div class=\"company-name\">APG Consulting Colombia</div>\n      <h1>Correos de usuarios mal cargados</h1>\n    </div>\n    <div class=\"summary\">\n      <p><strong>Resumen</strong></p>\n      <p>Mails corregidos: ${$json.filasUpdates}</p>\n      <p>Generado: ${new Date().toLocaleString(\"es-CO\")}</p>\n    </div>\n    <div class=\"footer\">\n      © ${new Date().getFullYear()} APG Consulting Colombia · Este informe fue generado automáticamente.\n    </div>\n  </div>\n</body>\n</html>\n`\n  }\n}];\n"
      },
      "id": "d2007941-3e07-42db-8e85-24880cf18e42",
      "name": "Generar cuerpo HTML1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        176,
        1616
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT asunto, cuerpo_html FROM informes ORDER BY fecha DESC LIMIT 1;",
        "additionalFields": {}
      },
      "id": "c62a2aea-834c-4d64-b32c-89f9eb6d1d09",
      "name": "Leer último informe1",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        -1136,
        2048
      ]
    },
    {
      "parameters": {
        "fromEmail": "jjimenez@apg-consulting.com",
        "toEmail": "jjimenez@apg-consulting.com",
        "subject": "={{$json[\"asunto\"]}}",
        "html": "={{$json[\"cuerpo_html\"]}}",
        "options": {}
      },
      "id": "ed870732-2c41-4265-81bd-5bdf2167a864",
      "name": "Enviar correo1",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        -960,
        2048
      ]
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "informes",
          "mode": "list",
          "cachedResultName": "informes"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "asunto": "={{ $json.mailSubject }}",
            "cuerpo_html": "={{ $json.mailBody }}",
            "fecha": "={{ $now.toFormat(\"yyyy-MM-dd HH:mm:ss\") }}\n",
            "id": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "asunto",
              "displayName": "asunto",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cuerpo_html",
              "displayName": "cuerpo_html",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        1616
      ],
      "id": "e04c4dfc-6464-4a55-8e70-0683174bfb61",
      "name": "Insert rows in a table1",
      "executeOnce": true
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 12
            }
          ]
        }
      },
      "id": "a7a74d88-b50e-4f69-99ca-0d1d4a816d20",
      "name": "Cron cada 12 horas1",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1520,
        1728
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -896,
        1728
      ],
      "id": "cb821735-2b85-4c3b-8403-9adf1ecf8a1f",
      "name": "Loop Over Items2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -80,
        1152
      ],
      "id": "57d5c4d1-4872-4883-9972-98f690188648",
      "name": "Loop Over Items3"
    },
    {
      "parameters": {
        "content": "Schedule"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1504,
        544
      ],
      "typeVersion": 1,
      "id": "006cceb3-fe24-44de-8804-0bd05a9143ff",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Revision Queries",
        "height": 192,
        "width": 198,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1056,
        528
      ],
      "typeVersion": 1,
      "id": "322eae67-a2d9-4860-99c7-c1ce381466d6",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Correction Query",
        "height": 176,
        "width": 198,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -48,
        -32
      ],
      "typeVersion": 1,
      "id": "932e8912-e52d-4658-9e1c-d7a3f9c80f1d",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-01-26T21:54:00.001Z",
      "updatedAt": "2026-01-26T21:54:00.001Z",
      "role": "workflow:owner",
      "workflowId": "8XqSUbhgWaMR7vun",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-03T12:35:38.000Z",
  "versionId": "0dba1f73-838a-48e2-a6be-2fc21cc7f42e"
}