folder/KN-WatchDog-v2.json
{
  "active": true,
  "connections": {
    "WebMail": {
      "main": [
        [
          {
            "node": "Detect Stuck Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Stuck Emails": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP - FileZilla": {
      "main": [
        [
          {
            "node": "Detect Stuck Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification": {
      "main": [
        [
          {
            "node": "Audit Log Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Stuck Files": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Handle Previous Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Previous Events": {
      "main": [
        [
          {
            "node": "Errors Detected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Errors Detected": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audit Log Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Credentials": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FTP - FileZilla",
            "type": "main",
            "index": 0
          },
          {
            "node": "WebMail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Call 'Reiniciar Bandeja Archivos - KN'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Log Builder": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-03T20:51:04.656Z",
  "id": "TSJmW2y0eB8DDIUg",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "KN-WatchDog-v2",
  "nodes": [
    {
      "parameters": {
        "content": "## Auditoría de ejecución\n\nGuarda el estado de cada país:\n- emails_stuck_qty, ftp_stuck_qty\n- notification_sent, notification_type\n- errores detectados\n- último email en bandeja",
        "height": 200,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -784,
        3216
      ],
      "id": "73dd5ce1-22a9-4398-8330-ffb2a9008192",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Auditoría de ejecución\n\nGuarda el estado de cada país:\n- emails_stuck_qty, ftp_stuck_qty\n- notification_sent, notification_type\n- errores detectados\n- último email en bandeja",
        "height": 200,
        "width": 300
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1216,
        1328
      ],
      "id": "193c5140-4ea1-43d6-85e0-1d8079e8780e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "resource": "email",
        "mailboxPath": {
          "__rl": true,
          "mode": "list",
          "value": "INBOX"
        },
        "emailDateRange": {},
        "emailFlags": {
          "recent": false
        },
        "emailSearchFilters": {}
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        -512,
        1520
      ],
      "id": "e9aa7b7c-415c-44bb-9ba1-74095966f6f1",
      "name": "WebMail",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "imapApi": {
          "id": "HXYRvlu8I9nQlbVM",
          "name": "IMAP-KN"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const threshold = 240; // minutos\nconst stuck_emails = [];\n\n// Obtener el país actual del Loop\nconst loopItem = $node[\"Loop\"].json || {};\nconst country = loopItem.country || \"ARG\";\nconst tz = loopItem.timezone || \"America/Argentina/Buenos_Aires\";\n\n// Obtener \"ahora\" en UTC y convertir a timezone local\nconst nowUTC = new Date();\nconst nowInTz = new Date(nowUTC.toLocaleString('en-US', { timeZone: tz }));\nconst limitDate = new Date(nowInTz.getTime() - threshold * 60000);\n\n// --- DETECTAR SI WEBMAIL SE EJECUTÓ CORRECTAMENTE ---\n// El nodo IMAP (comunidad) cuando falla, retorna el mismo input sin cambios\n// Chequeamos si los datos tienen estructura de EMAIL (seq, uid, envelope)\n// o estructura de CREDENCIALES (country, user, timezone)\n\nif (items && items.length > 0) {\n    const firstItem = items[0];\n    const json = firstItem.json || {};\n    \n    // Campos que identifica un email válido del IMAP\n    const isValidEmail = json.seq !== undefined || json.uid !== undefined || json.envelope !== undefined;\n    \n    // Campos que identifica credenciales (input del nodo anterior)\n    const isCredentials = (json.country || json.user || json.timezone) && !isValidEmail;\n    \n    if (isCredentials) {\n        // El IMAP falló: pasó el input sin modificar\n        return [{\n            json: {\n                alerta: true,\n                error_type: \"webmail\",\n                error_message: \"WebMail falló en la conexión (credenciales o mailbox inválido)\",\n                country: country,\n                cantidad_atascados: 0,\n                detalle_atascados: []\n            }\n        }];\n    }\n    \n    if (!isValidEmail) {\n        // No es email ni credenciales: probablemente output vacío (bandeja vacía)\n        // Retornamos un resultado limpio sin error\n        return [{\n            json: {\n                alerta: false,\n                cantidad_atascados: 0,\n                detalle_atascados: [],\n                country: country\n            }\n        }];\n    }\n}\n\n// --- PROCESAR EMAILS NORMALMENTE ---\nfor (const item of items) {\n    try {\n        const emailData = item.json;\n        const envelope = emailData.envelope || {};\n        const dateStr = envelope.date;\n\n        if (dateStr) {\n            const emailDate = new Date(dateStr);\n\n            if (!isNaN(emailDate.getTime())) {\n                const emailInTz = new Date(emailDate.toLocaleString('en-US', { timeZone: tz }));\n                \n                if (emailInTz < limitDate) {\n                    const diffMs = nowInTz - emailInTz;\n                    const minutesStuck = Math.floor(diffMs / (1000 * 60));\n\n                    stuck_emails.push({\n                        \"received_at\": dateStr,\n                        \"minutes_stuck\": minutesStuck,\n                        \"id\": emailData.id,\n                        \"country\": country\n                    });\n                }\n            }\n        }\n    } catch (e) {\n        continue;\n    }\n}\n\nconst outputJson = {\n    \"alerta\": stuck_emails.length > 0,\n    \"cantidad_atascados\": stuck_emails.length,\n    \"detalle_atascados\": stuck_emails,\n    \"country\": country\n};\n\nreturn [{ json: outputJson }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        1520
      ],
      "id": "60baa317-e77d-49f8-898f-63448bb0e546",
      "name": "Detect Stuck Emails"
    },
    {
      "parameters": {
        "operation": "list",
        "path": "={{ $json.path }}"
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        -512,
        1712
      ],
      "id": "9601a575-5068-4b67-b500-d97274b5208d",
      "name": "FTP - FileZilla",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "credentials": {
        "ftp": {
          "id": "CHMhLzzzxO60UlEX",
          "name": "FTP - FileZilla"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "2f7e4d78-5cc0-4b00-bb44-372596f96fcf",
          "mode": "list",
          "cachedResultName": "Notificaciones Soporte"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $node[\"Loop\"].json[\"channelId\"] }}",
          "mode": "id"
        },
        "contentType": "html",
        "message": "={{ $json.mensaje }}",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        832,
        1552
      ],
      "id": "4e70fba8-3033-4a59-bbeb-47209ccd204e",
      "name": "Send Notification",
      "webhookId": "3a5d3601-6cbe-45db-ab32-f8f9999eee75",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      },
      "notes": "{{ $node[\"Loop1\"].json[\"channelId\"] }}\n\n{{ $json.mensaje }}"
    },
    {
      "parameters": {
        "jsCode": "const THRESHOLD_MINUTES = 240;\nconst stuckFiles = [];\n\n// Obtener datos del loop de forma segura\nconst loopItem = $node[\"Loop\"]?.json || {};\nconst country = loopItem.country || \"ARG\";\nconst tz = loopItem.timezone || \"America/Argentina/Buenos_Aires\";\n\nconst nowUTC = new Date();\nconst nowInTz = new Date(nowUTC.toLocaleString('en-US', { timeZone: tz }));\nconst limitDate = new Date(nowInTz.getTime() - THRESHOLD_MINUTES * 60000);\n\n// --- 1. DETECTAR ERROR DEL NODO FTP ---\nif (items && items.length > 0) {\n  const firstItem = items[0];\n  \n  if (firstItem.json?.error) {\n    return [{\n      json: {\n        alerta_ftp: false,\n        nodo_error: true,\n        error_type: \"ftp\",\n        error_message: firstItem.json.error.message || \"FTP error\",\n        country: country,\n        cantidad_archivos: 0,\n        detalle_archivos: []\n      }\n    }];\n  }\n}\n\n// --- 2. PROCESAR ARCHIVOS NORMALMENTE ---\nfor (const item of items) {\n  try {\n    const { modifyTime, name } = item.json;\n\n    if (modifyTime && name) {\n      const fileDate = new Date(modifyTime);\n      \n      if (!isNaN(fileDate.getTime())) {\n        const fileInTz = new Date(fileDate.toLocaleString('en-US', { timeZone: tz }));\n        \n        if (fileInTz < limitDate) {\n          const diffMs = nowInTz - fileInTz;\n          const minsStuck = Math.floor(diffMs / (1000 * 60));\n          \n          stuckFiles.push({\n            filename: name,\n            minutes_stuck: minsStuck,\n            country: country\n          });\n        }\n      }\n    }\n  } catch (error) {\n    // Evitamos silenciar el error por completo para poder debuggear en n8n\n    console.log(`Error calculando fecha del archivo ${item.json?.name}: ${error.message}`);\n  }\n}\n\nreturn [{\n  json: {\n    alerta_ftp: stuckFiles.length > 0,\n    cantidad_archivos: stuckFiles.length,\n    detalle_archivos: stuckFiles,\n    country: country\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        1712
      ],
      "id": "0e0020e5-d570-46aa-9459-8dbf538d987f",
      "name": "Detect Stuck Files"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        160,
        1616
      ],
      "id": "fcb20c3c-1eab-4af6-a6fe-2780de1c15a1",
      "name": "Merge"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "20 9-19/2 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1328,
        1776
      ],
      "id": "b0eb8098-8d80-4283-b786-1362c5b93e2a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// --- CONFIGURACIÓN ---\nconst MAX_SKIPS = 3; \n\n// --- 1. OBTENER DATOS DE CONTEXTO (Loop) ---\nconst loopItem = $node[\"Loop\"].json; \nconst currentContextKey = loopItem.country || 'UNKNOWN';\n\n// --- 2. OBTENER DATOS DE LOS NODOS ANTERIORES ---\nconst mailData = $('Detect Stuck Emails').first().json || {};\nconst ftpData = $('Detect Stuck Files').first().json || {};\n\n// Accedemos a la memoria global\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.history) {\n    staticData.history = {};\n}\n\n// --- 3. RECUPERAR MEMORIA ESPECÍFICA DE ESTE PAÍS ---\nconst countryMemory = staticData.history[currentContextKey] || { \n    lastSignature: \"\", \n    skipCount: 0 \n};\n\nconst memoria_previa = { ...countryMemory };\n\n// --- 4. EXTRAER ESTADO ACTUAL ---\n// Revisar si hay error de nodo O atasco\nconst mailNodeError = mailData.nodo_error === true;\nconst ftpNodeError = ftpData.nodo_error === true;\nconst isMailStuck = mailData.alerta === true;\nconst isFtpStuck = ftpData.alerta_ftp === true;\n\n// Generamos las firmas\nconst mailSig = mailNodeError ? `MAIL_ERROR:${mailData.error_type}` : (isMailStuck ? `MAIL_STUCK:${mailData.cantidad_atascados}` : \"\");\nconst ftpSig = ftpNodeError ? `FTP_ERROR:${ftpData.error_type}` : (isFtpStuck ? `FTP_STUCK:${ftpData.cantidad_archivos}` : \"\");\n\nconst currentErrorSignature = `${mailSig}__${ftpSig}`;\n\n// --- 5. LÓGICA DE MEMORIA (Smart Filter Por País) ---\nlet lastErrorSignature = countryMemory.lastSignature;\nlet skipCount = countryMemory.skipCount;\nlet disparar_alerta = false;\nlet motivo = \"\";\n\nif (!mailNodeError && !ftpNodeError && !isMailStuck && !isFtpStuck) {\n    // CASO A: Todo limpio\n    lastErrorSignature = \"\";\n    skipCount = 0;\n    disparar_alerta = false;\n    motivo = \"Sistema OK (Sin errores)\";\n\n} else {\n    // HAY PROBLEMAS (error de nodo O atasco)\n    if (currentErrorSignature !== lastErrorSignature) {\n        // CASO B: Problema Nuevo\n        disparar_alerta = true;\n        skipCount = 0;\n        motivo = \"Nuevo Problema Detectado\";\n    } else {\n        // CASO C: Mismo Problema\n        skipCount++;\n        \n        if (skipCount >= MAX_SKIPS) {\n            // CASO D: Recordatorio\n            disparar_alerta = true;\n            skipCount = 0; \n            motivo = `🔔 Recordatorio (Intento ${MAX_SKIPS} alcanzado)`;\n        } else {\n            // CASO E: Silencio\n            disparar_alerta = false;\n            motivo = `Silenciado por contador (${skipCount}/${MAX_SKIPS})`;\n        }\n    }\n    \n    lastErrorSignature = currentErrorSignature;\n}\n\n// --- 6. GUARDAR EN MEMORIA GLOBAL ---\nstaticData.history[currentContextKey] = {\n    lastSignature: lastErrorSignature,\n    skipCount: skipCount\n};\n\n// --- 7. CONSTRUCCIÓN DEL MENSAJE (HTML para Teams) ---\nlet mensaje_teams = \"\";\nconst tituloPrincipal = `<h3>Revisión KN (${currentContextKey}): MAIL + FTP</h3>`;\n\nif (disparar_alerta) {\n    let titulo = \"\";\n    let cuerpo = [];\n\n    // --- CASO 1: Error en nodo de MAIL ---\n    if (mailNodeError) {\n        titulo = `⚠️ ERROR WEBMAIL (${currentContextKey})`;\n        cuerpo.push(`<strong>Error:</strong> ${mailData.error_message}`);\n        \n        // Si además hay archivos atascados en FTP\n        if (isFtpStuck) {\n            const ftpCount = ftpData.cantidad_archivos || 0;\n            cuerpo.push(`<br><em>+ ${ftpCount} archivo(s) atascado(s) en FTP (4+ horas)</em>`);\n        }\n    }\n    // --- CASO 2: Error en nodo de FTP ---\n    else if (ftpNodeError) {\n        titulo = `⚠️ ERROR FTP (${currentContextKey})`;\n        cuerpo.push(`<strong>Error:</strong> ${ftpData.error_message}`);\n        \n        // Si además hay emails atascados\n        if (isMailStuck) {\n            const mailCount = mailData.cantidad_atascados || 0;\n            cuerpo.push(`<br><em>+ ${mailCount} correo(s) atascado(s) en INBOX (4+ horas)</em>`);\n        }\n    }\n    // --- CASO 3: Solo atascamientos (sin errores de nodo) ---\n    else {\n        if (isMailStuck && isFtpStuck) {\n            titulo = \"⚠️ ALERTA: Problemas en MAIL y FTP\";\n            const mailCount = mailData.cantidad_atascados || 0;\n            const ftpCount = ftpData.cantidad_archivos || 0;\n            cuerpo.push(`<strong>MAIL:</strong> ${mailCount} correo(s) atascado(s) (+4h)`);\n            cuerpo.push(`<strong>FTP:</strong> ${ftpCount} archivo(s) atascado(s) (+4h)`);\n        } else if (isMailStuck) {\n            titulo = \"📧 ALERTA: Correos en INBOX\";\n            const mailCount = mailData.cantidad_atascados || 0;\n            cuerpo.push(`${mailCount} correo(s) trabado(s) hace +4 horas.`);\n        } else if (isFtpStuck) {\n            titulo = \"📂 ALERTA: Archivos en FTP\";\n            const ftpCount = ftpData.cantidad_archivos || 0;\n            cuerpo.push(`${ftpCount} archivo(s) sin procesar hace +4 horas.`);\n        }\n    }\n\n    mensaje_teams = `${tituloPrincipal}<br><h2>${titulo}</h2><br>${cuerpo.join('<br>')}<br><br><em>(Estado: ${motivo})</em>`;\n}\n\nreturn [{\n    json: {\n        pais: currentContextKey,\n        enviar_notificacion: disparar_alerta,\n        mensaje: mensaje_teams,\n        debug_motivo: motivo,\n        debug_contador: skipCount,\n        debug_memoria_anterior: memoria_previa\n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        1616
      ],
      "id": "0c73ed23-3b3a-41d9-9ba3-abcc3688d9ea",
      "name": "Handle Previous Events",
      "notes": "Se encarga de mapear los resultados previos y de armar el mensaje posterior en base a los mismos"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5275463b-4f29-4f87-b3b8-229a0fcd506f",
              "leftValue": "={{ $json.enviar_notificacion }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        1616
      ],
      "id": "f35b32a9-f0f4-4870-b7e5-af6a5706d080",
      "name": "Errors Detected"
    },
    {
      "parameters": {
        "jsCode": "const kn_credentials = {\n  \"ARG\": [\n    { \n      \"country\": \"ARG\",\n      \"timezone\": \"America/Argentina/Buenos_Aires\",\n      \"user\": \"kn@la.comfiar.com.ar\",\n      \"password\": \"Apg0000001!\",\n      \"url\": \"webmail.la.comfiar.com.ar\",\n      \"path\": \"\\\\30608517746\\\\PDF\",\n      \"host\": \"172.17.1.60\",\n      \"channelId\": \"19:KqPHeI2vg9nNHO2de_AHbQGLK2Xh8Ah8iODV2ttJh_k1@thread.tacv2\",\n      \"bandejaId\":\"//COMFIAR-AR-WEB/D$/COMFIAR/Directorios/FTP/localuser/30608517746/PDF\",\n      \"WSuser\":\"WSN8N\",\n      \"WSpass\":\"Vow&45\",\n      \"WSurl\":\"https://app.comfiar.com.ar/WSCOMFIAR/\"\n    }\n  ],\n  \"PER\": [\n    { \n      \"country\": \"PER\",\n      \"timezone\": \"America/Lima\",\n      \"user\": \"kn@la.comfiar.com.pe\",\n      \"password\": \"Apg0000001\",\n      \"url\": \"webmail.la.comfiar.com.ec\",\n      \"path\": \"\\\\20347845150\\\\PDF\",\n      \"host\": \"172.17.1.14\",\n      \"channelId\": \"19:d5b204e433134ff5b1f7a90e51d76982@thread.tacv2\",\n      \"bandejaId\":\"//COMFIAR-PE-WEB/D$/COMFIAR_PE/Directorios/FTP/20347845150/pdf\", \n      \"WSuser\":\"WSN8N\",\n      \"WSpass\":\"Oxs@612416\",\n      \"WSurl\":\"https://app.comfiar.com.pe/ws/\"\n    }\n  ],\n  \"ECU\": [\n    { \n      \"country\": \"ECU\",\n      \"timezone\": \"America/Guayaquil\",\n      \"user\": \"kn@la.comfiar.com.ec\",\n      \"password\": \"Apg0000001\",\n      \"url\": \"webmail.la.comfiar.com.ec\",\n      \"path\": \"\\\\0991321764001\\\\pdf\",\n      \"host\": \"172.17.1.11\",\n      \"channelId\": \"19:9b2cc90d29d3474bade3a60f407f56ca@thread.tacv2\",\n      \"bandejaId\": \"//COMFIAR-EC-WEB/D$/COMFIAR_EC/Directorios/FTP/0991321764001/pdf\",\n      \"WSuser\":\"WSN8N\",\n      \"WSpass\":\"Voy>87\",\n      \"WSurl\":\"https://app.comfiar.com.ec/wscomfiar/\"\n    }\n  ]\n};\n\n// 1. Obtenemos los valores del objeto (los arrays de cada país)\nconst values = Object.values(kn_credentials);\n\n// 2. Aplanamos la lista de listas en una sola lista de objetos.\n// .flat() hace el mismo trabajo que la comprensión de lista en Python.\nconst flat_list = values.flat();\n\n// 3. En n8n, devolvemos el resultado. \nreturn flat_list;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        1776
      ],
      "id": "527ba5ff-a3dc-4f91-b899-bae958bc5d7c",
      "name": "Set Credentials"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -880,
        1776
      ],
      "id": "0ac91223-957d-4636-a440-4fed877cf987",
      "name": "Loop"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Ab6O8KkFpe810Dvo",
          "mode": "list",
          "cachedResultUrl": "/workflow/Ab6O8KkFpe810Dvo",
          "cachedResultName": "Reiniciar Bandeja Archivos - KN"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        0,
        1312
      ],
      "id": "63d4e8d1-0861-494a-a8a4-2be0879dbe82",
      "name": "Call 'Reiniciar Bandeja Archivos - KN'"
    },
    {
      "parameters": {
        "jsCode": "// 1. Obtener credenciales y armar el diccionario\nconst itemsCredentials = $items(\"Set Credentials\");\nconst credentialsMap = itemsCredentials.reduce((acc, item) => {\n  const cred = item.json;\n  const llavePais = (cred.country || cred.pais || \"\").toUpperCase();\n  if (llavePais) acc[llavePais] = cred;\n  return acc;\n}, {});\n\n// 2. Reconstruir historial FTP por vuelta del loop\nconst totalVueltas = itemsCredentials.length;\nconst historialFTP = [];\n\nfor (let vuelta = 0; vuelta < totalVueltas; vuelta++) {\n  try {\n    const resultadoVuelta = $items(\"Detect Stuck Files\", 0, vuelta);\n    if (resultadoVuelta && resultadoVuelta.length > 0) {\n      historialFTP.push(resultadoVuelta[0].json);\n    }\n  } catch (error) {\n    console.log(`No se encontraron datos FTP para la vuelta ${vuelta}`);\n  }\n}\n\n// 3. Filtrar por archivos atascados en FTP y mapear con credenciales\nconst paraReiniciar = historialFTP\n  .filter(ftp => ftp.alerta_ftp === true)\n  .map(ftp => {\n    const paisKey = (ftp.country || \"\").toUpperCase();\n    const creds = credentialsMap[paisKey];\n    if (!creds) {\n      console.log(`No credentials found for country: ${ftp.country}`);\n      return null;\n    }\n    return {\n      pais: ftp.country,\n      bandejaId: creds.bandejaId,\n      WSurl: creds.WSurl,\n      WSuser: creds.WSuser,\n      WSpass: creds.WSpass,\n      channelId: creds.channelId\n    };\n  })\n  .filter(item => item !== null);\n\nreturn [{ json: { bandejas: paraReiniciar } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -512,
        1328
      ],
      "id": "db28461d-c3a7-43b3-9a84-3e92dea9e866",
      "name": "Merge Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c0f9fce2-3087-42be-b1e2-6a805b155151",
              "leftValue": "={{ $json.bandejas }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -288,
        1328
      ],
      "id": "bb5f42b5-d3e0-45a6-88d5-f29688743dd7",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// --- AUDIT LOG BUILDER ---\n// Consolida el estado de la iteración actual del Loop\n\nconst loopItem = $node[\"Loop\"].json || {};\nconst country = loopItem.country || \"UNKNOWN\";\n\nconst mailData = $('Detect Stuck Emails').first().json || {};\nconst ftpData = $('Detect Stuck Files').first().json || {};\nconst handleData = $('Handle Previous Events').first().json || {};\n\nconst nowUTC = new Date().toISOString();\n\n// Determinar tipo de notificación\nlet notification_type = null;\nconst webmail_error = mailData.nodo_error === true && mailData.error_type === \"webmail\";\nconst ftp_error = ftpData.nodo_error === true && ftpData.error_type === \"ftp\";\nconst emails_stuck = mailData.alerta === true;\nconst ftp_stuck = ftpData.alerta_ftp === true;\n\nif (webmail_error && ftp_error) {\n    notification_type = \"both_errors\";\n} else if (webmail_error) {\n    notification_type = \"webmail_error\";\n} else if (ftp_error) {\n    notification_type = \"ftp_error\";\n} else if (emails_stuck && ftp_stuck) {\n    notification_type = \"both\";\n} else if (emails_stuck) {\n    notification_type = \"stuck_emails\";\n} else if (ftp_stuck) {\n    notification_type = \"stuck_files\";\n}\n\n// Determinar si la notificación fue enviada\nconst notification_sent = handleData.enviar_notificacion === true;\nconst notification_skipped = !notification_sent && (webmail_error || ftp_error || emails_stuck || ftp_stuck);\n\n\n\nconst auditRecord = {\n    execution_id: $execution.id,\n    timestamp: nowUTC,\n    country: country,\n    emails_stuck_qty: mailData.cantidad_atascados || 0,\n    ftp_stuck_qty: ftpData.cantidad_archivos || 0,\n    notification_sent: notification_sent,\n    notification_type: notification_type,\n    webmail_error: webmail_error,\n    ftp_error: ftp_error,\n    notification_skipped: notification_skipped,\n};\n\nreturn [{ json: auditRecord }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        1744
      ],
      "id": "307b37da-4764-4809-9709-e1c645b4052a",
      "name": "Audit Log Builder"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "ECuH9m9ozGwwARRS",
          "mode": "list",
          "cachedResultName": "kn-log",
          "cachedResultUrl": "/projects/xeIbd1uqzDdhrEnK/datatables/ECuH9m9ozGwwARRS"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "emails_stuck_qty",
              "displayName": "emails_stuck_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ftp_stuck_qty",
              "displayName": "ftp_stuck_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notification_sent",
              "displayName": "notification_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notification_type",
              "displayName": "notification_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "webmail_error",
              "displayName": "webmail_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ftp_error",
              "displayName": "ftp_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notification_skipped",
              "displayName": "notification_skipped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1264,
        1744
      ],
      "id": "565950ad-a36d-4cad-bcbb-006905ba0f05",
      "name": "Insert row"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        1328
      ],
      "id": "05ae1b68-014a-4926-bf05-f6d7c06d66f4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "content": "## OBJETIVOS A FUTURO\n - REINICIAR LECTURA MAIL\n - CREAR TICKET \n - REINICIAR BANDEJA DESDE COMFIAR\n - SSH Y HTTP METHOD?",
        "height": 192,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1328,
        1120
      ],
      "typeVersion": 1,
      "id": "c1fff9a3-8b50-4d6d-b12e-ece237616308",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "h1TswfYCSmmTHJwB",
    "saveExecutionProgress": true,
    "timeSavedPerExecution": 120
  },
  "shared": [
    {
      "createdAt": "2026-06-03T20:51:04.656Z",
      "updatedAt": "2026-06-03T20:51:04.656Z",
      "role": "workflow:owner",
      "workflowId": "TSJmW2y0eB8DDIUg",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "global": {
      "lastErrorSignature": "MAIL:[]__FTP:[Error]",
      "skipCount": 1,
      "history": {
        "ARG": {
          "lastSignature": "__FTP_STUCK:1",
          "skipCount": 0
        },
        "PER": {
          "lastSignature": "__FTP_STUCK:1",
          "skipCount": 0
        },
        "ECU": {
          "lastSignature": "__FTP_STUCK:1",
          "skipCount": 0
        }
      }
    },
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    },
    "node:Microsoft Teams Trigger": {},
    "node:Schedule Trigger2": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-07-07T12:45:56.806Z",
  "versionId": "0d0564f0-bf50-48f7-b7ed-c23f18ec043e"
}