folder/messages-dataset.json
{
  "active": true,
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Channels": {
      "main": [
        [],
        [
          {
            "node": "Get Messages By Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Messages By Channel": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL": {
      "main": [
        [
          {
            "node": "Loop Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Loop Channels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-08T12:59:58.673Z",
  "id": "Vg6xK7pD3Txw6sFj",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "messages-dataset",
  "nodes": [
    {
      "parameters": {},
      "id": "91fe10c3-2794-41f7-baba-cc1ec2f09236",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        -112
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fd8d41e9-06ea-4568-a138-4b8b89d99939",
      "name": "Loop Channels",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        -192
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 22
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -112,
        -304
      ],
      "id": "836d2098-cd57-44f3-b3bd-106a26c5f495",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "name\tteamsId\t\nEduardo Canizales\t7fda7b0e-380b-4a11-84e0-f135a5304cd5\t\nRoberto Marcano\t3ca9aa1d-4bab-40af-9e69-26b28becbdc7\t\nAndrea Ravenna\tf96b6dc9-e548-4910-9a88-12914eadc110\t\nVanessa Rodriguez\t84588ca8-8a08-4972-9558-7453f8b0bbcc\t\nZaida Ruiz\t207edf7b-ab77-46a8-bcc3-70eb47834c4e\t\nBarbosa Agustin\tc507a727-1ce4-4731-b137-56500d39edd2\t",
        "height": 320,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        736,
        -720
      ],
      "id": "7790cc5c-783f-499c-80a8-6097907ca503",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "operation": "getAll",
        "teamId": {
          "__rl": true,
          "value": "2f7e4d78-5cc0-4b00-bb44-372596f96fcf",
          "mode": "list",
          "cachedResultName": "Notificaciones Soporte"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.channelId }}",
          "mode": "id"
        },
        "limit": 15
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        400,
        -128
      ],
      "id": "d6081b85-029c-40f5-b5f1-34ab9ed09e7e",
      "name": "Get Messages By Channel",
      "webhookId": "797bf583-2f79-47c4-8037-b5f9c7222b13",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "Yyblo5OMavkgN1oD",
          "name": "Teams"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bee91e66-855e-4e40-a03d-53147619dade",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "78fedce8-5fab-4afd-a224-dc9e27dec686",
              "name": "timestamp",
              "value": "={{ $json.createdDateTime }}",
              "type": "string"
            },
            {
              "id": "b370475f-f495-4223-9fa2-affe3df39954",
              "name": "channelId",
              "value": "={{ $('Loop Channels').item.json.channelId }}",
              "type": "string"
            },
            {
              "id": "97eea53d-0989-4581-9d02-b4310889cd65",
              "name": "reactions",
              "value": "={{ $json.reactions.length > 0 }}",
              "type": "string"
            },
            {
              "id": "14e92412-b686-4d62-bb20-09363d67ae25",
              "name": "reactionType",
              "value": "={{ $json.reactions.length > 0 ? $json.reactions[0].reactionType : false }}",
              "type": "string"
            },
            {
              "id": "55e53ec1-9349-4e1c-8008-495835b73190",
              "name": "reactorUserId",
              "value": "={{ $json.reactions.length > 0 ? $json.reactions[0].user.user.id : false }}",
              "type": "string"
            },
            {
              "id": "a8f7fb1a-e59a-4d55-81b9-59c74c2ee828",
              "name": "reactionTimestamp",
              "value": "={{$json.reactions.length > 0 ? $json.reactions[0].createdDateTime : false  }}",
              "type": "string"
            },
            {
              "id": "e6b522b2-c8bd-4cb9-af62-e6369ddd52e9",
              "name": "country",
              "value": "={{ $('Loop Channels').item.json.country }}",
              "type": "string"
            },
            {
              "id": "b5725764-8993-4a4d-9095-8b39f0898ca9",
              "name": "entorno",
              "value": "={{ $('Loop Channels').item.json.entorno }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        -128
      ],
      "id": "ace8871f-9233-404d-9f04-bda65ac39eaa",
      "name": "Set Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO public.channel_reactions\n  (id, \"timestamp\", channel_id, reactions, reaction_type, reactor_user_id, reaction_timestamp, country, entorno)\nVALUES\n  ($1, $2::timestamptz, $3, $4::boolean,\n   NULLIF($5,'false'), NULLIF($6,'false'),\n   NULLIF($7,'false')::timestamptz, $8, $9)\nON CONFLICT (id) DO UPDATE SET\n  reactions          = EXCLUDED.reactions,\n  reaction_type      = EXCLUDED.reaction_type,\n  reactor_user_id    = EXCLUDED.reactor_user_id,\n  reaction_timestamp = EXCLUDED.reaction_timestamp;",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $json.id }}, {{ $json.timestamp }}, {{ $json.channelId }}, {{ $json.reactions }}, {{ $json.reactionType }}, {{ $json.reactorUserId }}, {{ $json.reactionTimestamp }}, {{ $json.country }}, {{ $json.entorno }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        752,
        -128
      ],
      "id": "ec7bc860-4f34-432a-9082-1bd19700884c",
      "name": "SQL",
      "credentials": {
        "postgres": {
          "id": "Fh2O8WF6g31IXgP5",
          "name": "Supabase - Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const channels = [\n  // { db: \"comfiar_ar\", entorno: \"APP\", country: \"AR\", channelId: \"19:KqPHeI2vg9nNHO2de_AHbQGLK2Xh8Ah8iODV2ttJh_k1@thread.tacv2\" },\n  { db: \"comfiar_ar2\", entorno: \"APP2\", country: \"AR\", channelId: \"19:c46ff530842c4dabbd9500e73d0b894d@thread.tacv2\" },\n  { db: \"comfiar_pe\", entorno: \"APP\", country: \"PE\", channelId: \"19:d5b204e433134ff5b1f7a90e51d76982@thread.tacv2\" },\n  { db: \"comfiar_cr\", entorno: \"APP\", country: \"CR\", channelId: \"19:a9547625aaea4e02ae5b373bdc352ae9@thread.tacv2\" },\n  { db: \"comfiar_bo\", entorno: \"APP\", country: \"BO\", channelId: \"19:5e3bf46869f140a39d48f869795379c5@thread.tacv2\" },\n  { db: \"comfiar_ec\", entorno: \"APP\", country: \"EC\", channelId: \"19:9b2cc90d29d3474bade3a60f407f56ca@thread.tacv2\" },\n  { db: \"test.comfiar.com.ar\", entorno: \"Test\", country: \"AR\", channelId: \"19:dc98fb5c02394731b1ad9e1524a962b9@thread.tacv2\" },\n  { db: \"test.comfiar.com.pe\", entorno: \"Test\", country: \"PE\", channelId: \"19:127b6f887e2e4e148b99c08db9d5dc79@thread.tacv2\" },\n { db: \"test.comfiar.co.cr\", entorno: \"Test\", country: \"CR\", channelId: \"19:01cc7fff83964d3db08a2e35d5213d52@thread.tacv2\" },\n { db: \"test.comfiar.com.bo\", entorno: \"Test\", country: \"BO\", channelId: \"19:86a3c7f0143a499d8f125b57ed6bce8f@thread.tacv2\" },\n { db: \"test.comfiar.com.ec\", entorno: \"Test\", country: \"EC\", channelId: \"19:0d1a10b0b2d24f68838020e9061e48f9@thread.tacv2\" },\n { db: \"comfiar_co\", entorno: \"APP\", country: \"CO\", channelId: \"19:af378cf202564cfc87591f580cd70935@thread.tacv2\" },\n { db: \"comfiar_co2\", entorno: \"APP2\", country: \"CO\", channelId: \"19:d31a59baa80e47aba00f2944e684c4b3@thread.tacv2\" },\n { db: \"comfiar_co3\", entorno: \"APP3\", country: \"CO\", channelId: \"19:14b2fb9063904bccb047900af9ded2fe@thread.tacv2\" },\n { db: \"test.comfiar.co\", entorno: \"Test\", country: \"CO\", channelId: \"19:d0982df38f334f3c9785783c3d9f1e5a@thread.tacv2\" },\n { db: \"comfiar_co4\", entorno: \"APP4\", country: \"CO\", channelId: \"19:812573286f0b41c2bd20aeba77a5e710@thread.tacv2\" }\n];\nreturn  channels"
      },
      "id": "4d403fd6-2f67-4049-909c-240c6854693f",
      "name": "Set Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -192
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "h1TswfYCSmmTHJwB"
  },
  "shared": [
    {
      "createdAt": "2026-06-08T12:59:58.673Z",
      "updatedAt": "2026-06-08T12:59:58.673Z",
      "role": "workflow:owner",
      "workflowId": "Vg6xK7pD3Txw6sFj",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-19T19:10:13.271Z",
  "versionId": "1799e6ec-1a55-46a1-8e66-86fb238e5092"
}