folder/My workflow 13.json
{
  "active": false,
  "connections": {
    "FTP - FileZilla1": {
      "main": [
        [
          {
            "node": "Leer Archivo TXT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Credentials": {
      "main": [
        [
          {
            "node": "FTP - FileZilla1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-05-13T18:17:48.774Z",
  "id": "NXBW4I7BhR1hGKGL",
  "isArchived": false,
  "meta": null,
  "name": "My workflow 13",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const kn_credentials = {\n  \"ARG\": [\n  //   { \n  //     \"country\": \"ARG\",\n  //     \"user\": \"kn@la.comfiar.com.ar\",\n  //     \"password\": \"Apg0000001!\",\n  //     \"url\": \"webmail.la.comfiar.com.ar\",\n  //     \"path\": \"\\\\30608517746\\\\PDF\",\n  //     \"host\": \"172.17.1.60\",\n  //     \"channelId\": \"19:KqPHeI2vg9nNHO2de_AHbQGLK2Xh8Ah8iODV2ttJh_k1@thread.tacv2\"\n  //   }\n  // ],\n  // \"PER\": [\n  //   { \n  //     \"country\": \"PER\",\n  //     \"user\": \"kn@la.comfiar.com.pe\",\n  //     \"password\": \"Apg0000001\",\n  //     \"url\": \"webmail.la.comfiar.com.ec\",\n  //     \"path\": \"\\\\20347845150\\\\PDF\",\n  //     \"host\": \"172.17.1.14\",\n  //     \"channelId\": \"19:d5b204e433134ff5b1f7a90e51d76982@thread.tacv2\"\n  //   }\n  // ],\n  // \"ECU\": [\n  //   { \n  //     \"country\": \"ECU\",\n  //     \"user\": \"kn@la.comfiar.com.ec\",\n  //     \"password\": \"Apg0000001\",\n  //     \"url\": \"webmail.la.comfiar.com.ec\",\n  //     \"path\": \" \\\\0991321764001\\\\pdf\",\n  //     \"host\": \"172.17.1.11\",\n  //     \"channelId\": \"19:9b2cc90d29d3474bade3a60f407f56ca@thread.tacv2\"\n  //   }\n    {}\n  ]\n};\n\n// 1. Obtenemos los valores del objeto (los arrays de cada país)\nconst values = Object.values(kn_credentials);\n\n// 2. Aplanamos la lista de listas en una sola lista de objetos.\n// .flat() hace el mismo trabajo que la comprensión de lista en Python.\nconst flat_list = values.flat();\n\n// 3. En n8n, devolvemos el resultado. \nreturn flat_list;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -112,
        -16
      ],
      "id": "ab56f631-728c-4e34-a6b4-e0aa658b118a",
      "name": "Set Credentials"
    },
    {
      "parameters": {
        "operation": "list",
        "path": "=\\ProcesadosSeparador/BOFACTURA_202605120001_0001.pfa"
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        80,
        -16
      ],
      "id": "aa5eb61e-b5fd-4796-8810-c3655176fe5b",
      "name": "FTP - FileZilla1",
      "credentials": {
        "ftp": {
          "id": "XmUPciCcnZLVZeBe",
          "name": "Bolivia?"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33aab2a8-5bdf-4434-bc86-87a53e29d893",
              "leftValue": "={{ $json.size }}",
              "rightValue": "=500",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -128,
        -176
      ],
      "id": "d7b51f49-2ed4-4623-97d8-9805cef504ba",
      "name": "If"
    },
    {
      "parameters": {
        "filePath": "="
      },
      "id": "f452b2c9-c2e6-46d5-8d57-ee0440c6fb5a",
      "name": "Leer Archivo TXT",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        256,
        -16
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-05-13T18:17:48.774Z",
      "updatedAt": "2026-05-13T18:17:48.774Z",
      "role": "workflow:owner",
      "workflowId": "NXBW4I7BhR1hGKGL",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-05-13T19:54:01.740Z",
  "versionId": "c79d05bf-0c4e-404b-a4e8-55085577a614"
}