folder/My workflow 9.json
{
  "active": false,
  "connections": {
    "Endpoint": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Microsoft SQL3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login1": {
      "main": [
        [
          {
            "node": "Endpoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Login1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Check Length",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Length": {
      "main": [
        [
          {
            "node": "Get User Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set No Debtor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Log info": {
      "main": [
        [
          {
            "node": "Write notification_logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get CHAT ID": {
      "main": [
        [
          {
            "node": "Send CHAT MESSAGE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "catch error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send CHAT MESSAGE": {
      "main": [
        [
          {
            "node": "Set Log info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "catch error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL3": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Create message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create message1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Microsoft SQL4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Info": {
      "main": [
        [
          {
            "node": "Check Null",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "catch error": {
      "main": [
        [
          {
            "node": "Set Log info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Null": {
      "main": [
        [
          {
            "node": "Get CHAT ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Missing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Microsoft SQL5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        []
      ]
    },
    "Write notification_logs": {
      "main": [
        []
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Missing": {
      "main": [
        [
          {
            "node": "Write notification_logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set No Debtor": {
      "main": [
        [
          {
            "node": "Write notification_logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-01T18:23:03.601Z",
  "id": "PTvSyuTBCjcGKBbc",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow 9",
  "nodes": [
    {
      "parameters": {
        "url": "http://desavigaapi.apg.local/api/TimereportNotification/overdue-hours",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "instanceId",
              "value": "=5F373264-4128-4429-821F-3F97C1779BEA"
            },
            {
              "name": "percentage",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.token.token}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1104,
        608
      ],
      "id": "7cb47327-0051-4daa-af1b-ab22d799c180",
      "name": "Endpoint"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1440,
        1616
      ],
      "id": "21f5e9e6-ca8a-4976-b228-0255bdd0a548",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apg.cloudviga.com:8500/api/account/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"userInfo\":{\"email\":\"rnunez@apg-consulting.com\",\"password\":\"0@Uk0mUm\"},\"browserInfo\":\"Navegador: Netscape, Versión del navegador: 5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Mobile Safari/537.36, Código: Mozilla, Plataforma: Win32, Coockies habilitadas: true, Aplicación: Viga.\"}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "e07849e5-a32b-4216-8842-e331528c021f",
      "name": "Login1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1328,
        608
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1520,
        608
      ],
      "id": "224effb4-b066-4a9a-898e-1c8b5797024f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -896,
        608
      ],
      "id": "56134889-32e1-4580-9bf8-52bb08292140",
      "name": "Split Out",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a7516c83-6819-43bd-a5a8-74b61d8ec664",
              "leftValue": "={{$json.isNotEmpty()}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -608,
        592
      ],
      "id": "289a6bc3-3df0-4ac6-86d2-af43c91bef6c",
      "name": "Check Length"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1db3be6a-996c-4cb1-a34d-a4bedaed3cac",
              "name": "executionId",
              "value": "={{$execution.id}}",
              "type": "string"
            },
            {
              "id": "e417b3e4-1994-415a-af0c-4a33f3110bdb",
              "name": "fullName",
              "value": "={{ $('Endpoint').item.json.fullName }}",
              "type": "string"
            },
            {
              "id": "208a5f1a-83d8-48ea-a198-fd5dcc98ae7d",
              "name": "email",
              "value": "={{ $('Endpoint').item.json.email }}",
              "type": "string"
            },
            {
              "id": "bae91372-d8c6-439d-99dd-85f32f20cb65",
              "name": "expectedHours",
              "value": "={{ $('Endpoint').item.json.expectedHours }}",
              "type": "number"
            },
            {
              "id": "c5306199-a3df-4187-9f6e-801cd9aafc96",
              "name": "totalHours",
              "value": "={{ $('Endpoint').item.json.totalHours }}",
              "type": "number"
            },
            {
              "id": "2336b2e1-a05c-4f3f-a8e8-f0651a304c33",
              "name": "completionPercentage",
              "value": "={{ $('Endpoint').item.json.completionPercentage }}",
              "type": "number"
            },
            {
              "id": "caeb7e3e-3043-4614-bb01-fe4702602b57",
              "name": "status",
              "value": "=",
              "type": "string"
            },
            {
              "id": "994768ab-fdf3-44fe-abed-f18afceadad1",
              "name": "errorDetail",
              "value": "=",
              "type": "string"
            },
            {
              "id": "e2d278e1-c3df-4778-86a0-389f12901665",
              "name": "notifiedAt",
              "value": "=",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        112
      ],
      "id": "61f517c9-6b73-472b-9169-5e610f8a185e",
      "name": "Set Log info"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/chats",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftTeamsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chatType\": \"oneOnOne\",\n  \"members\": [\n    {\n      \"@odata.type\": \"#microsoft.graph.aadUserConversationMember\",\n      \"roles\": [\"owner\"],\n      \"user@odata.bind\": \"https://graph.microsoft.com/v1.0/users('dc249723-4f57-4995-bdc6-836ab587c0fd')\"\n    },\n    {\n      \"@odata.type\": \"#microsoft.graph.aadUserConversationMember\",\n      \"roles\": [\"owner\"],\n      \"user@odata.bind\": \"https://graph.microsoft.com/v1.0/users('{{$json.teamsId}}')\"\n    }\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        96
      ],
      "id": "38ff9918-bc19-4a23-939e-b82c67935480",
      "name": "Get CHAT ID",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "message": "=TEST",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        496,
        -80
      ],
      "id": "70965685-1ec9-4117-ad8b-6d1799732ed4",
      "name": "Send CHAT MESSAGE",
      "webhookId": "7aaf5ae6-7acc-4cdf-9b00-e87fdab870b0",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      },
      "disabled": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -1232,
        1616
      ],
      "id": "e40e4482-11ce-41d7-9acf-2d06fe964017",
      "name": "Microsoft SQL3",
      "credentials": {
        "microsoftSql": {
          "id": "sfr7SqKElXB7VYG2",
          "name": "WEEKLY"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ebdae9ed-97d4-4e60-8cfe-b29e7b5fbd15",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1024,
        1616
      ],
      "id": "145ec96c-47f4-422f-a85a-6668427d817b",
      "name": "If2"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        -752,
        1504
      ],
      "id": "79bb65bc-7120-4843-a139-273bbd0e3ca7",
      "name": "Create message1",
      "webhookId": "104fb464-17cb-49b9-8787-127e9cdb4120",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "Yyblo5OMavkgN1oD",
          "name": "Teams"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -816,
        1712
      ],
      "id": "d093f688-156d-45d6-ba89-4707fb1f1450",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -608,
        1712
      ],
      "id": "62e1e2a9-4a7f-4df8-937e-41f9260db561",
      "name": "Microsoft SQL4",
      "credentials": {
        "microsoftSql": {
          "id": "sfr7SqKElXB7VYG2",
          "name": "WEEKLY"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Reemplaza 'usuario@ejemplo.com' por la variable que recibas (ej.  en n8n)\nSELECT \n    teamsId, \n    name, \n    email, \n    rrhh\nFROM dbo.NotiViga_userInfo\nWHERE email = '{{ $json.email }}' \n  AND notify = 1;"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -128,
        368
      ],
      "id": "3936d9c7-b83e-491d-b9f1-d9630ed54575",
      "name": "Get User Info",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fa1c8234-7014-4944-a097-6d73dc9c0e53",
              "name": "error",
              "value": "={{$json.error}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        112
      ],
      "id": "cb95b194-e67c-41af-8cbf-e5c5fdcbe51c",
      "name": "catch error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "acc25472-f509-43de-a8f1-c87198c4929e",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        112,
        368
      ],
      "id": "73d41dce-1e02-4335-bd6a-b9c13ef7cf23",
      "name": "Check Null"
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1472,
        368
      ],
      "id": "e6bdd7b8-b6cb-4294-ad01-3fbc77ce7e43",
      "name": "Write notification_logs",
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -544,
        1504
      ],
      "id": "56563baf-6baa-412b-9e91-749d198527fb",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -336,
        1504
      ],
      "id": "5ad37c30-56a6-4fe6-91f3-2c1a2f3f14b7",
      "name": "Microsoft SQL5",
      "credentials": {
        "microsoftSql": {
          "id": "sfr7SqKElXB7VYG2",
          "name": "WEEKLY"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -496,
        128
      ],
      "id": "2df497f0-fa91-4ac4-aa02-78b226bb1960",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        160
      ],
      "id": "56494529-444e-4907-bac9-b958f348d594",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM dbo.NotiViga_userInfo\nWHERE name = 'Rafa3';"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -1248,
        -272
      ],
      "id": "8b546dbb-86ac-43b9-b19e-0c496e187122",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      }
    },
    {
      "parameters": {
        "content": "## OPCION DE MEJORA\n\n## AL DETECTAR FALLO EN EL ENVIO DE TEAMS, ENVIAR POR TEAMS\n",
        "height": 240,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        -352
      ],
      "typeVersion": 1,
      "id": "f5625f02-192f-4b4e-b6b8-6c300898f143",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "93fe14bf-7f80-44c1-9c67-2f9abeb7eb07",
              "name": "error",
              "value": "ID not found",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        304
      ],
      "id": "1fd79472-be08-436a-a188-6c2a113b08cb",
      "name": "Set Missing"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1040,
        -272
      ],
      "id": "99935b45-a747-4c4f-805a-32c9c404d3cb",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17340e62-79e7-4a12-8f74-46f29479aa8c",
              "name": "executionId",
              "value": "={{$execution.id}}",
              "type": "string"
            },
            {
              "id": "27d17bfd-bd95-4679-b6da-dd17ac6bfc07",
              "name": "completionPercentage",
              "value": "",
              "type": "string"
            },
            {
              "id": "7c83b837-c1eb-4e8b-9a34-8da8e5915aaa",
              "name": "totalHours",
              "value": "",
              "type": "string"
            },
            {
              "id": "a320d819-e7be-4583-9431-fb98984be403",
              "name": "notifiedAt",
              "value": "={{$now}}",
              "type": "string"
            },
            {
              "id": "b1b50081-a292-4864-8d91-6b2d3fd4a764",
              "name": "=errorDetail",
              "value": "",
              "type": "string"
            },
            {
              "id": "c585b58e-4b96-40d1-956a-2401779cd422",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "fcab8a8f-7ccb-42b2-8f0b-074d70e76773",
              "name": "errorDetail",
              "value": "=",
              "type": "string"
            },
            {
              "id": "c4bce2f4-a9dd-4a18-b200-3b056d67c3e2",
              "name": "status",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        608
      ],
      "id": "3c01a44d-0dfd-431f-9485-c6bc9185846e",
      "name": "Set No Debtor"
    }
  ],
  "pinData": {
    "Code in JavaScript": [
      {
        "json": {
          "fullName": "diaz DAna",
          "email": "dana@diaz.com",
          "expectedHours": 56,
          "totalHours": 0,
          "completionPercentage": 0
        }
      },
      {
        "json": {
          "fullName": "Rafa1",
          "email": "rnunez@APG.com",
          "expectedHours": 56,
          "totalHours": 0,
          "completionPercentage": 0
        }
      },
      {
        "json": {
          "fullName": "Rafa2",
          "email": "rnunez@APG.com",
          "expectedHours": 56,
          "totalHours": 10,
          "completionPercentage": 0
        }
      },
      {
        "json": {
          "fullName": "Rafa3",
          "email": "rnunez@apg-consulting.com",
          "expectedHours": 56,
          "totalHours": 10,
          "completionPercentage": 0
        }
      },
      {
        "json": {
          "fullName": "Juli",
          "email": "jJimenez@apg-consulting.com",
          "expectedHours": 56,
          "totalHours": 10,
          "completionPercentage": 0
        }
      },
      {
        "json": {
          "fullName": "test",
          "email": "test@apg-consulting.com",
          "expectedHours": 56,
          "totalHours": 10,
          "completionPercentage": 0
        }
      }
    ],
    "Get User Info": [
      {
        "json": {
          "teamsId": "3bcfa8fe-c819-4cb1-82cf-5dc8da30ceb2",
          "name": "diaz DAna",
          "email": "dana@diaz.com",
          "rrhh": "RRHH_General"
        }
      },
      {
        "json": {
          "teamsId": "3bcfa8fe-c819-4cb1-82cf-5dc8da30ceb2",
          "name": "rafa",
          "email": "rafa@rafa.com",
          "rrhh": "RRHH_General"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-04-01T18:23:03.601Z",
      "updatedAt": "2026-04-01T18:23:03.601Z",
      "role": "workflow:owner",
      "workflowId": "PTvSyuTBCjcGKBbc",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-01T20:47:11.610Z",
  "versionId": "4899e078-ed61-4218-9428-ea2584e4fe86"
}