folder/Notificación Semanal de Tickets.json
{
  "active": true,
  "connections": {
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Login VIGA2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL1": {
      "main": [
        [
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new tikcet?": {
      "main": [
        [
          {
            "node": "Ticket Loop",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Colombia?": {
      "main": [
        [
          {
            "node": "Set Ticket fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ticket Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login VIGA": {
      "main": [
        [
          {
            "node": "Microsoft SQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Tickets1": {
      "main": [
        [
          {
            "node": "Colombia?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Ticket fields": {
      "main": [
        [
          {
            "node": "Get AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config 11": {
      "main": [
        [
          {
            "node": "Login VIGA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticket Loop": {
      "main": [
        [],
        [
          {
            "node": "GET Tickets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Ticket Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "new tikcet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get AI Summary": {
      "main": [
        [
          {
            "node": "Create chat message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create chat message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create chat message": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Saturday Trigger": {
      "main": [
        [
          {
            "node": "Set Config 11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sunday Trigger": {
      "main": [
        [
          {
            "node": "Set Config 11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-15T18:10:33.412Z",
  "id": "yKkKy23JcG0y9Kh8",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Notificación Semanal de Tickets",
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH LineaDeTiempoTickets AS (\n    -- Paso 1: Numerar todos los eventos históricos por ticket\n    SELECT \n        Id, \n        TicketId, \n        ComentId, \n        Tiempo,\n        -- Ordenamos ASCENDENTE. El menor tiempo (creación) recibe el 1.\n        -- Agregamos \"Id ASC\" por si hay dos eventos en el mismo milisegundo.\n        ROW_NUMBER() OVER(PARTITION BY TicketId ORDER BY Id ASC, TicketId ASC) AS FilaCronologica\n    FROM dbo.VistasTickes\n)\n-- Paso 2: Filtrar para quedarnos SOLO con las creaciones que ocurrieron \"Hoy\" (local)\nSELECT \n    Id, \n    TicketId, \n    ComentId, \n    Tiempo\nFROM LineaDeTiempoTickets\nWHERE FilaCronologica = 1 -- Exigimos que sea el primer registro absoluto del ticket (Creación)\n  \n  -- Exigimos que el tiempo UTC de esa creación esté dentro de nuestro \"Hoy\"\n  AND Tiempo >= DATEADD(hour, 3, CAST(CAST(GETDATE() AS DATE) AS DATETIME))\n  AND Tiempo < DATEADD(hour, 3, DATEADD(day, 1, CAST(CAST(GETDATE() AS DATE) AS DATETIME)))\nORDER BY TicketId ASC;"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -1280,
        4560
      ],
      "id": "d0db280b-c369-48b4-8edd-79569d5bee06",
      "name": "Microsoft SQL1",
      "credentials": {
        "microsoftSql": {
          "id": "Dy10nKTWCqBd32O5",
          "name": "Soporte - SQL01"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6f3b063e-3eaa-47d8-a4b7-7be824fabb74",
              "leftValue": "={{$json}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -880,
        4624
      ],
      "id": "40f44af0-ee15-4c92-b53e-7a51ae64404f",
      "name": "new tikcet?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc85bc82-548b-47da-a157-694aa0ab6d5b",
              "leftValue": "={{ $json.ticketSurveys[0].ticket.client.country.name }}",
              "rightValue": "={{ $(\"Set Config 11\").item.json.country }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -176,
        4384
      ],
      "id": "9c96609a-a2f7-47eb-84df-a38e5358b312",
      "name": "Colombia?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apg.cloudviga.com:8500/api/account/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"userInfo\":{\"email\":\"rnunez@apg-consulting.com\",\"password\":\"0@Uk0mUm\"},\"browserInfo\":\"n8n automation\"}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "30365a0a-6352-4644-ad95-67909d2fe0e3",
      "name": "Login VIGA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1504,
        4560
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://apg.cloudviga.com:8500/api/ticket/{{ $json.TicketId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"Login VIGA\"].json[\"token\"][\"token\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "d30b0922-fe60-4405-a887-70cb3862bd78",
      "name": "GET Tickets1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -400,
        4400
      ],
      "onError": "continueErrorOutput",
      "notes": "onError continueErrorOutput para que el IF pueda manejar 404s"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a09d47ab-7765-457c-9ac1-c1f9c4be2867",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "ca404a5c-0767-4356-a87a-0a6e993f5093",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "de61f6c8-6522-45a8-a168-8a68f8abbf66",
              "name": "createdAt",
              "value": "={{ $json.createdAt }}",
              "type": "string"
            },
            {
              "id": "84e51004-9e8e-4c30-b48c-219cba84f0fa",
              "name": "client_name",
              "value": "={{ $json.ticketSurveys[0].ticket.client.name }}",
              "type": "string"
            },
            {
              "id": "0b612a48-c52d-4ebe-abd4-3eb21c92d6ee",
              "name": "client_country_name",
              "value": "={{ $json.ticketSurveys[0].ticket.client.country.name }}",
              "type": "string"
            },
            {
              "id": "bcdeadc2-0f9c-4bf6-9ff6-990cda955500",
              "name": "message",
              "value": "={{ $json.additionalDescription }}",
              "type": "string"
            },
            {
              "id": "a5e21ea4-cfce-44b2-a21d-c41c6a5b2967",
              "name": "ticket_state",
              "value": "={{ $json.client.tickets[0].ticketState.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        4368
      ],
      "id": "66d39aa1-8801-47a9-9401-b2a388e9c78f",
      "name": "Set Ticket fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "phone_1 vane",
              "value": "573046321844",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "phone_2 agustin ",
              "value": "573228458489",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "phone_3 zayda",
              "value": "573106210793",
              "type": "string"
            },
            {
              "id": "14d93eae-8931-4ead-b11f-00a9ea0d103a",
              "name": "country",
              "value": "Colombia",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "96718bb1-27b4-4358-b92c-e59d5d24ab8a",
      "name": "Set Config 11",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1728,
        4560
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -608,
        4416
      ],
      "id": "aacb1807-a79d-4999-9cde-947be8aa033b",
      "name": "Ticket Loop"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "PFDVh56AhLe86jKz",
          "mode": "list",
          "cachedResultName": "ticketNotifications",
          "cachedResultUrl": "/projects/xeIbd1uqzDdhrEnK/datatables/PFDVh56AhLe86jKz"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $now }}",
            "ticketId": "={{ $('Set Ticket fields').item.json.id }}",
            "client": "={{ $('Set Ticket fields').item.json.client_name }}",
            "message": "={{ $('Set Ticket fields').item.json.message }}",
            "description": "={{ $('Set Ticket fields').item.json.description }}",
            "summary": "={{ $('Get AI Summary').item.json.choices[0].message.content || $('Set Ticket fields').item.json.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ticketId",
              "displayName": "ticketId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        768,
        4352
      ],
      "id": "f1ddd4ef-af90-46fe-82f2-54cb9819fb1c",
      "name": "Insert row"
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "PFDVh56AhLe86jKz",
          "mode": "list",
          "cachedResultName": "ticketNotifications",
          "cachedResultUrl": "/projects/xeIbd1uqzDdhrEnK/datatables/PFDVh56AhLe86jKz"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "ticketId",
              "keyValue": "={{ $json.TicketId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1056,
        4560
      ],
      "id": "53c5a16e-a0a7-47ff-b4c7-d5320aa8ea0a",
      "name": "If row does not exist"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://integrate.api.nvidia.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"meta/llama-4-maverick-17b-128e-instruct\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu rol es el de un asistente de soporte.\\nTu objetivo es resumir la descripción del ticket entrante via input para notificar al equipo con una síntesis de alto nivel sobre el ticket.\\n\\nTu output debe contener ÚNICAMENTE el resumen del problema del cliente y este debe dar a entender el 80% del ticket.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.message) }}\n    }\n  ],\n  \"temperature\": 0.2,\n  \"max_tokens\": 1024,\n  \"stream\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        400,
        4368
      ],
      "id": "fe1a9d79-b33c-4971-aacf-6a2964924295",
      "name": "Get AI Summary",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:583713afe4054ae0b4449c891d9f1fc0@thread.v2",
          "mode": "list",
          "cachedResultName": "APG Consulting Notificaciones, Agustín Barbosa, Zaida Ruiz, Juan Jose Parada, Rafael Nuñez, Vanessa Rodriguez, Andrea Prieto (group)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3A583713afe4054ae0b4449c891d9f1fc0%40thread.v2/0?tenantId=f89f7128-f0c6-4302-9881-8e0697d39336"
        },
        "contentType": "html",
        "message": "=<p>Ha ingresado un nuevo ticket a las <b>{{ DateTime.fromISO($('Set Ticket fields').item.json.createdAt, { zone: 'utc' }).setZone('America/Bogota').toFormat('hh:mm a') }}</b></p>\n\n<b>Cliente:</b> {{ $('Set Ticket fields').item.json.client_name }}<br>\n<b>TicketID:</b> {{ $('Set Ticket fields').item.json.id }}<br>\n<b>Descripción:</b> {{ $('Set Ticket fields').item.json.description }}<br>\n<b>Resumen:</b> {{ $('Get AI Summary').item.json.choices[0].message.content || $('Set Ticket fields').item.json.message }}\n",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        608,
        4352
      ],
      "id": "33be9cdc-4c47-4e39-bd15-016d10bfe4e4",
      "name": "Create chat message",
      "webhookId": "4b485c0b-8dcd-4348-8ade-5e3528832b34",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      }
    },
    {
      "parameters": {
        "content": "## MEJORA: ESTAMOS VALIDANDO CADA VEZ QUE TRAEMOS DATOS DEL SQL, FILTRAMOS LO QUE YA ESTÁN EN LA TABLA, PERO NO FILTRAMOS LOS QUE POR UNA EJECUCION ANTERIOR YA SABEMOS QUE NO SON DE COLOMBIA, POR EJEMPLO ESTOS 18 CASOS PODRÍAMOS GUARDARLOS YY NO VOLVER A CONSULTARLE A VIGA SOBRE SU CLIENTE PARA OPTIMIZAR\n",
        "height": 480,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1232,
        4000
      ],
      "id": "ec67d5c0-6f2d-4eb6-8aed-e3590ec524fe",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 11-20 * * 6"
            }
          ]
        }
      },
      "id": "d2a5f1a9-4fd7-4a8e-a62b-b359ddef4e81",
      "name": "Saturday Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1936,
        4464
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 11-20 * * 7"
            }
          ]
        }
      },
      "id": "4e5a8ef2-fbc0-41a4-896d-453c86143835",
      "name": "Sunday Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1936,
        4640
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "createdAt": "2026-04-15T18:10:33.412Z",
      "updatedAt": "2026-04-15T18:10:33.412Z",
      "role": "workflow:owner",
      "workflowId": "yKkKy23JcG0y9Kh8",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": {
    "node:Schedule Saturday": {
      "recurrenceRules": []
    },
    "node:Schedule Every 10min": {
      "recurrenceRules": []
    },
    "global": {
      "lastId": 0
    },
    "node:Trigger Semanal": {
      "recurrenceRules": []
    },
    "node:Saturday Trigger": {
      "recurrenceRules": []
    },
    "node:Sunday Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-07-02T16:54:21.219Z",
  "versionId": "83227c54-62ed-4af8-a0cf-16106083bd05"
}