folder/Notificación Semanal de Tickets.json
{
  "active": false,
  "connections": {
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Login VIGA2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Semanal": {
      "main": [
        [
          {
            "node": "Set Config 11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL1": {
      "main": [
        [
          {
            "node": "new tikcet?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "new tikcet?": {
      "main": [
        [
          {
            "node": "Ticket Loop",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "end": {
      "main": [
        []
      ]
    },
    "Colombia?": {
      "main": [
        [
          {
            "node": "Set Ticket fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ticket Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login VIGA": {
      "main": [
        [
          {
            "node": "Microsoft SQL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET Tickets1": {
      "main": [
        [
          {
            "node": "Colombia?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Ticket fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        []
      ]
    },
    "Send message1": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config2": {
      "main": [
        []
      ]
    },
    "Set Config 11": {
      "main": [
        [
          {
            "node": "Login VIGA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ticket Loop": {
      "main": [
        [
          {
            "node": "Set Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GET Tickets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Send message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "Ticket Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-15T18:10:33.412Z",
  "id": "yKkKy23JcG0y9Kh8",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Notificación Semanal de Tickets",
  "nodes": [
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "833780986474867",
        "recipientPhoneNumber": "={{ $json.number }}",
        "textBody": "=¡Hola {{$json.nombre}}!\nHa ingresado un nuevo ticket a las {{ DateTime.fromISO($('Set Ticket fields').item.json.createdAt).setZone('America/Bogota').toFormat('hh:mm a') }}\nCliente: {{ $('Set Ticket fields').item.json.client_name }}\nTicketID: {{ $('Set Ticket fields').item.json.id }}\nDescripción: {{ $('Set Ticket fields').item.json.description }}\nResumen: {{ $('AI Agent').item.json.output || $('Set Ticket fields').item.json.message }}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        432,
        2736
      ],
      "id": "69ee8c63-c611-48c6-8bc0-5404a8f45a98",
      "name": "Send message1",
      "webhookId": "a53c28ea-be71-4b50-b46c-e3605ed0e236",
      "credentials": {
        "whatsAppApi": {
          "id": "gFf5xMPVgDp987TZ",
          "name": "WSP Colombia - Comercial Test"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH LineaDeTiempoTickets AS (\n    -- Paso 1: Numerar todos los eventos históricos por ticket\n    SELECT \n        Id, \n        TicketId, \n        ComentId, \n        Tiempo,\n        -- Ordenamos ASCENDENTE. El menor tiempo (creación) recibe el 1.\n        -- Agregamos \"Id ASC\" por si hay dos eventos en el mismo milisegundo.\n        ROW_NUMBER() OVER(PARTITION BY TicketId ORDER BY Id ASC, TicketId ASC) AS FilaCronologica\n    FROM dbo.VistasTickes\n)\n-- Paso 2: Filtrar para quedarnos SOLO con las creaciones que ocurrieron \"Hoy\" (local)\nSELECT \n    Id, \n    TicketId, \n    ComentId, \n    Tiempo\nFROM LineaDeTiempoTickets\nWHERE FilaCronologica = 1 -- Exigimos que sea el primer registro absoluto del ticket (Creación)\n  \n  -- Exigimos que el tiempo UTC de esa creación esté dentro de nuestro \"Hoy\"\n  AND Tiempo >= DATEADD(hour, 3, CAST(CAST(GETDATE() AS DATE) AS DATETIME))\n  AND Tiempo < DATEADD(hour, 3, DATEADD(day, 1, CAST(CAST(GETDATE() AS DATE) AS DATETIME)))\nORDER BY TicketId ASC;"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -1376,
        2656
      ],
      "id": "d0db280b-c369-48b4-8edd-79569d5bee06",
      "name": "Microsoft SQL1",
      "credentials": {
        "microsoftSql": {
          "id": "Dy10nKTWCqBd32O5",
          "name": "Soporte - SQL01"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9-18 * * 6"
            }
          ]
        }
      },
      "id": "d2a5f1a9-4fd7-4a8e-a62b-b359ddef4e81",
      "name": "Trigger Semanal",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1952,
        2656
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "PFDVh56AhLe86jKz",
          "mode": "list",
          "cachedResultName": "ticketNotifications",
          "cachedResultUrl": "/projects/xeIbd1uqzDdhrEnK/datatables/PFDVh56AhLe86jKz"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "date",
              "keyValue": "={{$now.format('yyyy-MM-dd')}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1392,
        2256
      ],
      "id": "7a1ed0d3-80fc-42f5-bb04-e95c2a43b97d",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6f3b063e-3eaa-47d8-a4b7-7be824fabb74",
              "leftValue": "={{$json}}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1024,
        2656
      ],
      "id": "40f44af0-ee15-4c92-b53e-7a51ae64404f",
      "name": "new tikcet?"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "end",
      "typeVersion": 1,
      "position": [
        -656,
        3488
      ],
      "id": "248f5b70-624f-48e5-bd78-ddef7c96cde6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc85bc82-548b-47da-a157-694aa0ab6d5b",
              "leftValue": "={{ $json.ticketSurveys[0].ticket.client.country.name }}",
              "rightValue": "={{ $(\"Set Config 11\").item.json.country }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -416,
        2768
      ],
      "id": "9c96609a-a2f7-47eb-84df-a38e5358b312",
      "name": "Colombia?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apg.cloudviga.com:8500/api/account/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"userInfo\":{\"email\":\"rnunez@apg-consulting.com\",\"password\":\"0@Uk0mUm\"},\"browserInfo\":\"n8n automation\"}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "30365a0a-6352-4644-ad95-67909d2fe0e3",
      "name": "Login VIGA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1584,
        2672
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://apg.cloudviga.com:8500/api/ticket/{{ $json.TicketId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $item(\"0\").$node[\"Login VIGA\"].json[\"token\"][\"token\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "d30b0922-fe60-4405-a887-70cb3862bd78",
      "name": "GET Tickets1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -544,
        2656
      ],
      "onError": "continueErrorOutput",
      "notes": "onError continueErrorOutput para que el IF pueda manejar 404s"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a09d47ab-7765-457c-9ac1-c1f9c4be2867",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "ca404a5c-0767-4356-a87a-0a6e993f5093",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "de61f6c8-6522-45a8-a168-8a68f8abbf66",
              "name": "createdAt",
              "value": "={{ $json.createdAt }}",
              "type": "string"
            },
            {
              "id": "84e51004-9e8e-4c30-b48c-219cba84f0fa",
              "name": "client_name",
              "value": "={{ $json.ticketSurveys[0].ticket.client.name }}",
              "type": "string"
            },
            {
              "id": "0b612a48-c52d-4ebe-abd4-3eb21c92d6ee",
              "name": "client_country_name",
              "value": "={{ $json.ticketSurveys[0].ticket.client.country.name }}",
              "type": "string"
            },
            {
              "id": "bcdeadc2-0f9c-4bf6-9ff6-990cda955500",
              "name": "message",
              "value": "={{ $json.additionalDescription }}",
              "type": "string"
            },
            {
              "id": "a5e21ea4-cfce-44b2-a21d-c41c6a5b2967",
              "name": "ticket_state",
              "value": "={{ $json.client.tickets[0].ticketState.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        2752
      ],
      "id": "66d39aa1-8801-47a9-9401-b2a388e9c78f",
      "name": "Set Ticket fields"
    },
    {
      "parameters": {
        "content": "# RESTAR 3 HORAS AL TIEMPO\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1264,
        2432
      ],
      "id": "48102202-05e0-4c69-8b70-e4ca87deb83b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "833780986474867",
        "recipientPhoneNumber": "+5491164282905",
        "textBody": "¡Hola Mundo!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        96,
        2256
      ],
      "id": "6d66ef47-5d81-40bf-aff5-f26f2489f7f8",
      "name": "Send message2",
      "webhookId": "d4b77649-448f-4715-a4a6-fa31d55c33b5",
      "credentials": {
        "whatsAppApi": {
          "id": "gFf5xMPVgDp987TZ",
          "name": "WSP Colombia - Comercial Test"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -720,
        3744
      ],
      "id": "2f6059d1-7e21-4a48-80b2-849571c4a9cd",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "Tu rol es el de un asistente de soporte.\nTu objetivo es resumir la descripción del ticket entrante via input para notificar al equipo con una síntesis de alto nivel sobre el ticket.\n\nTu ouput debe contener ÚNICAMENTE el resumen del problema del cliente y este debe dar a entender el 80% del ticket."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -112,
        2752
      ],
      "id": "62e52f2e-658f-43ba-bf08-edc01313f9a7",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -112,
        2912
      ],
      "id": "0ae913e0-772f-4867-9abd-ecb663bfc136",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "ZJmgBZh9xCXuMgg4",
          "name": "Rafa-Gemin"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        2256
      ],
      "id": "006b7167-d5f5-4ae5-9481-70634e0218e5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "phone",
              "value": "541164282905",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "phone",
              "value": "541164282905",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "phone",
              "value": "541164282905",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "841c3c06-ed71-4660-b297-20668e4fa4d8",
      "name": "Set Config2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        3680
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "phone_1 vane",
              "value": "573046321844",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "phone_2 agustin ",
              "value": "573228458489",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "phone_3 zayda",
              "value": "573106210793",
              "type": "string"
            },
            {
              "id": "14d93eae-8931-4ead-b11f-00a9ea0d103a",
              "name": "country",
              "value": "Colombia",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "96718bb1-27b4-4358-b92c-e59d5d24ab8a",
      "name": "Set Config 11",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1760,
        2656
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "phone",
              "value": "573046321844",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "phone",
              "value": "573228458489",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "phone",
              "value": "573106210793",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a92dce3a-cd36-44c3-8737-f9fcdb822de4",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        3568
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -752,
        2640
      ],
      "id": "aacb1807-a79d-4999-9cde-947be8aa033b",
      "name": "Ticket Loop"
    },
    {
      "parameters": {
        "jsCode": "return [\n  \"list\":\n\n  \n]\n  ;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        2256
      ],
      "id": "12dc5e4d-bf3c-4554-bc04-a66fde751371",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Retornamos un arreglo que contiene exactamente 3 objetos.\n// Cada objeto debe tener la propiedad 'json' según el estándar de n8n.\n\nreturn [\n  {\n    json: {\n      id: 1,\n      nombre: \"Vane\",\n      number: \"573046321844\"\n    }\n  },\n  {\n    json: {\n      id: 2,\n      nombre: \"Agus\",\n      number: \"573228458489\"\n    }\n  },\n  {\n    json: {\n      id: 3,\n      nombre: \"Zaida\",\n      number: \"573106210793\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        3584
      ],
      "id": "7034e316-b051-43bb-b73d-f2157c149388",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// Retornamos un arreglo que contiene exactamente 3 objetos.\n// Cada objeto debe tener la propiedad 'json' según el estándar de n8n.\n\nreturn [\n  {\n    json: {\n      id: 1,\n      nombre: \"Vane\",\n      number: \"541164282905\"\n    }\n  },\n  {\n    json: {\n      id: 2,\n      nombre: \"Agus\",\n      number: \"541164282905\"\n    }\n  },\n  {\n    json: {\n      id: 3,\n      nombre: \"Zaida\",\n      number: \"541164282905\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        2736
      ],
      "id": "99ecb4f8-3b2f-4260-83b7-5b2ed87d4d54",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT Id, TicketId, Tiempo, ComentId,\n       DATEADD(hour, -3, Tiempo) AS HoraLocal,\n       ROW_NUMBER() OVER(PARTITION BY TicketId ORDER BY Tiempo ASC) AS Fila\nFROM dbo.VistasTickes\nWHERE TicketId = 47801 -- Filtramos solo este ticket para auditarlo\nORDER BY Id ASC;"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -944,
        3520
      ],
      "id": "315ebcc5-a719-4137-855c-e6a9153f88d3",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "Dy10nKTWCqBd32O5",
          "name": "Soporte - SQL01"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1h0ttpG6sc3P7tRTIYOlJW2Gwx9dzDxP2vS75nnUYta0",
          "mode": "list",
          "cachedResultName": "query_metrics",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h0ttpG6sc3P7tRTIYOlJW2Gwx9dzDxP2vS75nnUYta0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Métricas",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h0ttpG6sc3P7tRTIYOlJW2Gwx9dzDxP2vS75nnUYta0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1504,
        3744
      ],
      "id": "b297d5dc-e8de-4d0a-9079-f24356df0132",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Rafa-Sheets"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "max",
              "field": "tiempo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        -1328,
        3744
      ],
      "id": "74963574-493b-43ca-ace3-a36944cedae9",
      "name": "Summarize"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "PFDVh56AhLe86jKz",
          "mode": "list",
          "cachedResultName": "ticketNotifications",
          "cachedResultUrl": "/projects/xeIbd1uqzDdhrEnK/datatables/PFDVh56AhLe86jKz"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $('Set Ticket fields').item.json.createdAt }}",
            "ticketId": "={{ $('Set Ticket fields').item.json.id }}",
            "client": "={{ $('Set Ticket fields').item.json.client_name }}",
            "message": "={{ $('Set Ticket fields').item.json.message }}",
            "description": "={{ $('Set Ticket fields').item.json.description }}",
            "summary": "={{ $('AI Agent').item.json.output }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ticketId",
              "displayName": "ticketId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "client",
              "displayName": "client",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "summary",
              "displayName": "summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        640,
        2736
      ],
      "id": "f1ddd4ef-af90-46fe-82f2-54cb9819fb1c",
      "name": "Insert row"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -528,
        2400
      ],
      "id": "b92d2beb-793a-42b0-817a-1d37d60d9dd4",
      "name": "Set Log"
    },
    {
      "parameters": {
        "content": "## Falta la validación inicial donde consultamos si de los ids que vienen del SQL haya alguno que ya notificamos",
        "height": 176
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1328,
        2832
      ],
      "id": "130aa6ae-43f0-4633-8092-6959430101e5",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Set Config": [
      {
        "json": {
          "phone_1": "+5491100000001",
          "phone_2": "+5491100000002",
          "phone_3": "+5491100000003",
          "phone_4": "+5491100000004",
          "country": "Colombia",
          "campo_cliente": "cliente",
          "campo_descripcion": "descripcion"
        }
      }
    ],
    "GET Tickets1": [
      {
        "json": {
          "id": 47798,
          "description": "Envío NC del ticket 45702",
          "additionalDescription": "<p>Hola, estoy presentando inconvenientes en el proceso de facturación.\n\nA continuación detallo incidente:</p><p>Alexander, se realizaron los respectivos cambios en el código de la transmisión en SAP para que al hacer la consulta viajara con no referencia (22), pero la respuesta que da son los siguientes errores:&nbsp;</p><p><span>Regla: CBF03a, Rechazo: Con este tipo de Notas Crédito no puede anular Facturas</span></p><p>Regla: CAD02a, Rechazo: CustomizationID debe sr igual a “20”</p><p>adjuntamos pantallazo y trama</p>",
          "emails": "sgutiery@emeal.nttdata.com;eferrman@emeal.nttdata.com;anavarro@apg-consulting.com",
          "isChild": false,
          "parentTicketId": null,
          "createdAt": "2026-04-23T00:01:48.213",
          "dateActiveFrom": "2026-04-23T13:00:00",
          "idCreator": "09e62288-2ded-4bed-ba0a-469976779669",
          "dueDate": "2026-04-23T04:01:48.213",
          "endedAt": null,
          "startedAt": "2026-04-23T16:53:33.5424494",
          "doneAt": "2026-04-23T16:55:11.248",
          "lastUpdated": "2026-04-23T16:55:14.3126963",
          "assignedUser": "f59da225-b009-4b8b-a75a-370c75d54a8e",
          "isReopen": null,
          "reopenAt": null,
          "slaHours": 4,
          "slaUsed": 2573,
          "closedByBatch": false,
          "ticketEventsAll": null
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": "First item"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "createdAt": "2026-04-15T18:10:33.412Z",
      "updatedAt": "2026-04-15T18:10:33.412Z",
      "role": "workflow:owner",
      "workflowId": "yKkKy23JcG0y9Kh8",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": {
    "node:Schedule Saturday": {
      "recurrenceRules": []
    },
    "node:Schedule Every 10min": {
      "recurrenceRules": []
    },
    "global": {
      "lastId": 0
    }
  },
  "tags": [],
  "triggerCount": 4,
  "updatedAt": "2026-04-24T02:11:19.532Z",
  "versionId": "b3e8b50e-f4ac-4c7a-a6af-c999350917d8"
}