folder/Peso reportes - xml_error.json
{
  "active": false,
  "connections": {
    "Trigger Diario 08:00": {
      "main": [
        [
          {
            "node": "Config Entornos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Entornos": {
      "main": [
        [
          {
            "node": "Expandir Entornos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expandir Entornos": {
      "main": [
        [
          {
            "node": "Loop Entornos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Entornos": {
      "main": [
        [
          {
            "node": "FTP - Listar Reportes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Armar Resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP - Listar Reportes": {
      "main": [
        [
          {
            "node": "Filtrar .rpt > 100kb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar .rpt > 100kb": {
      "main": [
        [
          {
            "node": "Loop Entornos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar Resumen": {
      "main": [
        [
          {
            "node": "Teams - Alerta Reportes Pesados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-07-06T14:51:50.275Z",
  "id": "5swewMBzd6wPzodU",
  "isArchived": false,
  "meta": null,
  "name": "Peso reportes - xml_error",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -944,
        224
      ],
      "id": "3bd26538-e8f3-4a3a-85cc-6409ccbd28f5",
      "name": "Trigger Diario 08:00"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "env-list",
              "name": "environments",
              "type": "array",
              "value": "=[\n  { \"env\": \"CO-APP\",       \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"CO-APP2\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"CO-APP3\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"CO-APP4\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"CO-TEST\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"PE-TEST\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"PE-PROD\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"AR-APP\",       \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"AR-APP-CINES\", \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"AR-APP2\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"AR-TEST\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"BO-APP\",       \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"BO-TEST\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"EC-APP\",       \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"EC-TEST\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"CR-APP\",       \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"CR-TEST\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" }\n]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -688,
        224
      ],
      "id": "ebc9a43a-d29f-4fe3-b7b3-16426295633e",
      "name": "Config Entornos"
    },
    {
      "parameters": {
        "jsCode": "// Expande el array de entornos en items individuales para el loop\nconst envs = $input.first().json.environments;\nreturn envs.map(e => ({ json: e }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        224
      ],
      "id": "b0641044-6716-40a2-8c6b-9b2f2356555b",
      "name": "Expandir Entornos"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -208,
        224
      ],
      "id": "94ae83d2-8963-47cf-ba53-efa81ea76a04",
      "name": "Loop Entornos"
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "list"
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "81b8e1e4-4090-4127-8234-466dc868f87c",
      "name": "FTP - Listar Reportes",
      "credentials": {
        "sftp": {
          "id": "0t2mEvGvmdFT4Kgd",
          "name": "CR FieldGlass"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filtra .rpt con peso > 100kb y agrega el entorno de origen\nconst ONE_HUNDRED_KB = 100 * 1024;\nconst envName = $('Loop Entornos').first().json.env;\n\nconst heavy = $input.all()\n  .filter(item => {\n    const f = item.json;\n    return f.type === '-' && f.name.toLowerCase().endsWith('.rpt') && f.size > ONE_HUNDRED_KB;\n  })\n  .sort((a, b) => a.json.modifyTime - b.json.modifyTime)\n  .map(item => ({\n    json: {\n      env: envName,\n      name: item.json.name,\n      sizeKb: Math.round(item.json.size / 1024),\n      date: new Date(item.json.modifyTime).toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' })\n    }\n  }));\n\nreturn heavy;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        0
      ],
      "id": "d7167185-80c2-465f-af7f-9b5be00b6ee3",
      "name": "Filtrar .rpt > 100kb"
    },
    {
      "parameters": {
        "jsCode": "// Agrupa todos los archivos pesados de todos los entornos\nconst all = $input.all();\nif (all.length === 0) return [];\n\nconst fileRows = all.map(item => {\n  const f = item.json;\n  return `<li>[${f.env}] <b>${f.name}</b> — ${f.sizeKb} KB — ${f.date}</li>`;\n}).join('');\n\nreturn [{ json: { count: all.length, fileRows } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        384
      ],
      "id": "6327599b-99c2-475c-8f44-da2cb7c12ad1",
      "name": "Armar Resumen"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "2f7e4d78-5cc0-4b00-bb44-372596f96fcf",
          "mode": "list",
          "cachedResultName": "Notificaciones Soporte"
        },
        "channelId": {
          "__rl": true,
          "value": "19:KqPHeI2vg9nNHO2de_AHbQGLK2Xh8Ah8iODV2ttJh_k1@thread.tacv2",
          "mode": "list",
          "cachedResultName": "Argentina"
        },
        "contentType": "html",
        "message": "=<h3>⚠️ Reportes FTP — Archivos .rpt con peso excesivo</h3><p>Se detectaron <b>{{ $json.count }} reporte(s)</b> con extensión <code>.rpt</code> que pesan más de 100 KB. Probable causa: imágenes pesadas incluidas por soporte.</p><p><b>Archivos (orden cronológico):</b></p><ul>{{ $json.fileRows }}</ul><p>Solicitar a soporte que revise y elimine imágenes pesadas del reporte correspondiente.</p>",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        272,
        384
      ],
      "id": "6680c817-d3b7-40ba-8184-2ee7ece890ac",
      "name": "Teams - Alerta Reportes Pesados",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "webhookId": "5f7d95a5-3480-4cbd-abaf-91cc0a940153",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-07-06T14:51:50.275Z",
      "updatedAt": "2026-07-06T14:51:50.275Z",
      "role": "workflow:owner",
      "workflowId": "5swewMBzd6wPzodU",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-06T15:13:48.116Z",
  "versionId": "42a4704b-265a-4691-81db-001c66c6e5bc"
}