folder/Procesamiento de Documentos Avanzado.json
{
  "active": false,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "1. Configurar Rango",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Configurar Rango": {
      "main": [
        [
          {
            "node": "2. Generar Lista IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Generar Lista IDs": {
      "main": [
        [
          {
            "node": "3. Loop (1 a 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3. Loop (1 a 1)": {
      "main": [
        [
          {
            "node": "4. Calcular Ruta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Calcular Ruta": {
      "main": [
        [
          {
            "node": "5. Buscar ZIP (Linux)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5. Buscar ZIP (Linux)": {
      "main": [
        [
          {
            "node": "6. Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6. Existe?": {
      "main": [
        [
          {
            "node": "7. Leer ZIP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "3. Loop (1 a 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Leer ZIP": {
      "main": [
        [
          {
            "node": "8. Descomprimir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8. Descomprimir": {
      "main": [
        [
          {
            "node": "9. Validar Extensión",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Validar Extensión": {
      "main": [
        [
          {
            "node": "10. Es Procesable?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10. Es Procesable?": {
      "main": [
        [
          {
            "node": "11. Extraer Texto",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "3. Loop (1 a 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "11. Extraer Texto": {
      "main": [
        [
          {
            "node": "12. Summary Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "12. Summary Chain": {
      "main": [
        [
          {
            "node": "13. Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "13. Parse JSON": {
      "main": [
        [
          {
            "node": "14. Save Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "14. Save Sheets": {
      "main": [
        [
          {
            "node": "15. Prep Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "15. Prep Embedding": {
      "main": [
        [
          {
            "node": "19. PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat": {
      "ai_languageModel": [
        [
          {
            "node": "12. Summary Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "17. Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "16. Load Enriched Text",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "16. Load Enriched Text": {
      "ai_document": [
        [
          {
            "node": "19. PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "18. Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "19. PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "19. PGVector Store": {
      "main": [
        [
          {
            "node": "3. Loop (1 a 1)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-19T15:17:27.634Z",
  "id": "xRaHUfVtnIuVDD3Y",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Procesamiento de Documentos Avanzado",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "start_val",
              "name": "start_id",
              "value": 39890,
              "type": "number"
            },
            {
              "id": "end_val",
              "name": "end_id",
              "value": 39900,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "db34bd23-2177-4e20-b97f-69d550da7f56",
      "name": "1. Configurar Rango",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3072,
        56
      ]
    },
    {
      "parameters": {
        "jsCode": "const start = $input.item.json.start_id;\nconst end = $input.item.json.end_id;\nconst ids = [];\nfor (let i = start; i <= end; i++) {\n  ids.push({ json: { docId: i } });\n}\nreturn ids;"
      },
      "id": "cbc33342-5c1c-4b70-8770-4a411d07f432",
      "name": "2. Generar Lista IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2848,
        56
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "29fb6da6-47cf-4518-a18d-7f32ec1b49ba",
      "name": "3. Loop (1 a 1)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2624,
        56
      ]
    },
    {
      "parameters": {
        "jsCode": "const id = $input.item.json.docId;\nlet group1 = Math.floor(id / 10000) * 10000;\nlet folder1 = group1.toString().padStart(6, '0');\nlet remainder = id % 10000;\nlet group2 = Math.floor(remainder / 100) * 100;\nlet folder2 = group2.toString();\n\nlet searchPath = `/data/afm_docs/files/000000000/${folder1}/${folder2}/`;\n\nreturn {\n  json: {\n    docId: id,\n    searchPath: searchPath,\n    filePattern: `${id}-*-0.*.zip`\n  }\n};"
      },
      "id": "8960920a-1075-47e1-a00f-125d8e139262",
      "name": "4. Calcular Ruta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2400,
        -240
      ]
    },
    {
      "parameters": {
        "command": "=find {{ $json.searchPath }} -type f -name \"{{ $json.filePattern }}\" | head -n 1"
      },
      "id": "a062d71e-148a-4ed5-bca6-60e931e6b9be",
      "name": "5. Buscar ZIP (Linux)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -2176,
        -240
      ],
      "notes": "Usa el comando 'find' de Linux para localizar la ruta exacta del ZIP"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "63f1eb05-67a1-4221-bfcc-094063f40df6",
      "name": "6. Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1952,
        -240
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $json.stdout.trim() }}"
      },
      "id": "0aa06f77-3809-4615-a8d0-975433ac35dc",
      "name": "7. Leer ZIP",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        -1728,
        -240
      ]
    },
    {
      "parameters": {},
      "id": "f3380987-0d71-4ba5-85d9-d6ad892eecee",
      "name": "8. Descomprimir",
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1,
      "position": [
        -1504,
        -240
      ]
    },
    {
      "parameters": {
        "jsCode": "let fileKey = Object.keys($json.binary)[0];\nlet fileData = $json.binary[fileKey];\nlet extension = fileData.fileName.split('.').pop().toLowerCase();\nlet valid = ['pdf', 'docx'].includes(extension);\n\nreturn {\n  json: {\n    docId: $('4. Calcular Ruta').item.json.docId,\n    fileName: fileData.fileName,\n    extension: extension,\n    isValid: valid\n  },\n  binary: {\n    data: fileData\n  }\n};"
      },
      "id": "3eb0ad18-79b9-46e8-8450-072b0ade09b2",
      "name": "9. Validar Extensión",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        -240
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isValid }}",
              "value2": true
            }
          ]
        }
      },
      "id": "cbaf803a-16aa-4b52-a436-15f876dfa4f2",
      "name": "10. Es Procesable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1056,
        -240
      ]
    },
    {
      "parameters": {
        "operation": "extract"
      },
      "id": "35aa9808-469a-44ed-a42c-321d868a758b",
      "name": "11. Extraer Texto",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -832,
        -240
      ]
    },
    {
      "parameters": {},
      "id": "08accc79-a8d4-42f0-8049-08bc3f39ad0c",
      "name": "12. Summary Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        -608,
        -240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -536,
        -16
      ],
      "id": "149af680-8b0f-42c6-bdb6-3258a37267bf",
      "name": "Google Gemini Chat",
      "credentials": {
        "googlePalmApi": {
          "id": "JtRGjt3IRsGUY5om",
          "name": "Google Gemini(PaLM) n8n test"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const llmResponse = $json.output || '{}';\nlet parsed;\ntry {\n  let cleanJson = llmResponse.replace(/```json/g, '').replace(/```/g, '');\n  parsed = JSON.parse(cleanJson);\n} catch (e) {\n  parsed = { resumen_ejecutivo: 'Error parsing JSON' };\n}\nreturn {\n  docId: $('9. Validar Extensión').item.json.docId,\n  fileName: $('9. Validar Extensión').item.json.fileName,\n  fecha_documento: parsed.fecha_documento || '',\n  empresas_identificadas: Array.isArray(parsed.empresas_identificadas) ? parsed.empresas_identificadas.join(', ') : '',\n  resumen_ejecutivo: parsed.resumen_ejecutivo || '',\n  documentText: $('11. Extraer Texto').item.json.text\n};"
      },
      "id": "df79d2e7-8433-4c0b-be8a-b01ff5ec5fb1",
      "name": "13. Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -240
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "ID_SHEET"
        },
        "sheetName": "Sheet1",
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "cec55422-67d3-4c02-b89d-5de0d88be445",
      "name": "14. Save Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -32,
        -240
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $json;\nconst textForEmbedding = `Documento: ${data.fileName}\\nFecha: ${data.fecha_documento}\\nEmpresas: ${data.empresas_identificadas}\\nResumen: ${data.resumen_ejecutivo}\\nContenido original: ${data.documentText}`.trim();\nreturn {\n  textForEmbedding: textForEmbedding,\n  metadata: {\n    docId: data.docId,\n    fileName: data.fileName\n  }\n};"
      },
      "id": "ffff46a5-8cbd-4eb9-81db-5bf6169d1658",
      "name": "15. Prep Embedding",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        -240
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "options": {}
      },
      "id": "e386de42-280e-4b53-a2fc-41a1fa20a6bb",
      "name": "16. Load Enriched Text",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        544,
        108
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "732c9796-4be9-49e6-8c64-2d64e4806c99",
      "name": "17. Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        624,
        316
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        108
      ],
      "id": "2b1c61a0-8ec3-4d67-bfff-ce2a96ad08ba",
      "name": "18. Embeddings",
      "credentials": {
        "googlePalmApi": {
          "id": "JtRGjt3IRsGUY5om",
          "name": "Google Gemini(PaLM) n8n test"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "n8n_vectors_documents",
        "options": {}
      },
      "id": "97a4c3e4-b423-4059-a32b-f6b52fed67da",
      "name": "19. PGVector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        448,
        -116
      ],
      "credentials": {
        "postgres": {
          "id": "DN6ZsQBwtjGKcWee",
          "name": "Conexion local"
        }
      }
    },
    {
      "parameters": {},
      "id": "8b5eb844-8c3f-4b12-9e17-678e8aec6663",
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3296,
        56
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-02-19T15:17:27.634Z",
      "updatedAt": "2026-02-19T15:17:27.634Z",
      "role": "workflow:owner",
      "workflowId": "xRaHUfVtnIuVDD3Y",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-19T15:17:27.634Z",
  "versionId": "769b11c4-d614-4bf6-b1fc-d0fac9c70497"
}