folder/RAG Template 2.json
{
  "active": false,
  "connections": {
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Chat' button below": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Upload your file here": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "main": [
        []
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        [
          {
            "node": "Format Chat Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-02-17T17:41:10.580Z",
  "id": "1x9z47ymTMLNqZKW",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "RAG Template 2",
  "nodes": [
    {
      "parameters": {
        "chunkOverlap": 50,
        "options": {
          "splitCode": "markdown"
        }
      },
      "id": "1df98cc8-72f8-49ca-99ee-a28575bc2409",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -464,
        384
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Habla con la Base de datos\n",
        "height": 433,
        "width": 795,
        "color": 7
      },
      "id": "9a5a5f84-64bb-4237-a72c-983add9216c5",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1664,
        -144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "id": "d09256a2-2682-4bd1-a849-5e3564fc4554",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -336,
        224
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "117004af-8806-498e-8a4a-2afbb73807da",
      "name": "Question and Answer Chain",
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "position": [
        -1312,
        -80
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hola! 👋\nSoy tu asistente documental, en que puedo ayudarte hoy?",
        "options": {}
      },
      "id": "9ee1cae4-cd2d-4266-890b-b7a953d51c16",
      "name": "When clicking 'Chat' button below",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -1600,
        -16
      ],
      "webhookId": "066b342b-f2b6-401e-b560-12f5d23b6103",
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1344,
        144
      ],
      "id": "2721709f-7bf2-40a3-8565-e9683c9d0969",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JtRGjt3IRsGUY5om",
          "name": "Google Gemini(PaLM) n8n test"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -928,
        464
      ],
      "id": "b4e57836-fdf4-43b5-80f0-e2db39a7bed1",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "J0DZ8TqoniSuKDJ2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv, .docx",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -704,
        -32
      ],
      "id": "fb3af9ed-7f71-4c21-9b63-76cb31374e05",
      "name": "Upload your file here",
      "webhookId": "82848bc4-5ea2-4e5a-8bb6-3c09b94a8c5d"
    },
    {
      "parameters": {
        "content": "### Carga de documento\nAqui cargamos los documentos sy son preparados en el vector para que sean usados posteriormente",
        "height": 657,
        "width": 795,
        "color": 7
      },
      "id": "ae86939b-6cbb-4298-80d7-c51631820170",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -784,
        -128
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "tableName": "n8n_vectors_AFM_PRUEBAS_STORE",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -1184,
        288
      ],
      "id": "f25e8a02-b103-4dfd-8824-c270b35133b7",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "DN6ZsQBwtjGKcWee",
          "name": "Conexion local"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "n8n_vectors_AFM_PRUEBAS_STORE",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -496,
        -32
      ],
      "id": "d841bb3f-9810-4cc7-9359-9ffdc618918b",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "DN6ZsQBwtjGKcWee",
          "name": "Conexion local"
        }
      }
    },
    {
      "parameters": {
        "topK": 50
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        -1200,
        128
      ],
      "id": "b9276f2e-62cf-4aab-a9fa-4719571a7eb0",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "14f25b2a-7e39-4d30-9b43-2679c16b2361",
              "name": "text",
              "value": "={{ $json.response.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1008,
        -80
      ],
      "id": "5ade0bb0-713f-4e9d-ad03-2a9c0d76b5d9",
      "name": "Format Chat Output"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-02-17T17:41:10.580Z",
      "updatedAt": "2026-02-17T17:41:10.580Z",
      "role": "workflow:owner",
      "workflowId": "1x9z47ymTMLNqZKW",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-04-09T17:51:26.810Z",
  "versionId": "44345f9f-46b1-4e75-b110-a60384cfb1f5"
}