folder/Reiniciar Bandeja Archivos - KN.json
{
  "active": false,
  "connections": {
    "When Executed by Watchdog": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML Login": {
      "main": [
        [
          {
            "node": "Token + bandejaId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token + bandejaId": {
      "main": [
        [
          {
            "node": "ReiniciarBandejaArchivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReiniciarBandejaArchivos": {
      "main": [
        [
          {
            "node": "Set Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "WebService Log In Dinámico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebService Log In Dinámico": {
      "main": [
        [
          {
            "node": "XML Login",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Success": {
      "main": [
        [
          {
            "node": "Set HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message": {
      "main": [
        [
          {
            "node": "Set Log2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set HTML": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error Log": {
      "main": [
        [
          {
            "node": "Set HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Log2": {
      "main": [
        [
          {
            "node": "Log Reinicio2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Reinicio2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-03T14:16:27.413Z",
  "id": "Ab6O8KkFpe810Dvo",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Reiniciar Bandeja Archivos - KN",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1424,
        336
      ],
      "id": "42c60631-d081-4025-a07a-7169c2134155",
      "name": "When Executed by Watchdog"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -528,
        352
      ],
      "id": "4596b562-e517-457d-812e-4d0cfeb71f46",
      "name": "XML Login"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0000000-0000-4000-8000-000000000001",
              "name": "SesionId",
              "value": "={{ $json[\"soap:Envelope\"][\"soap:Body\"].IniciarSesionResponse.IniciarSesionResult.SesionId }}",
              "type": "string"
            },
            {
              "id": "f0000000-0000-4000-8000-000000000002",
              "name": "FechaVencimiento",
              "value": "={{ $json[\"soap:Envelope\"][\"soap:Body\"].IniciarSesionResponse.IniciarSesionResult.FechaVencimiento }}",
              "type": "string"
            },
            {
              "id": "45bcc948-dbac-4dd4-97d8-1e2253955ab4",
              "name": "bandejaId",
              "value": "={{ $('Set Fields').item.json.bandejaId }}",
              "type": "string"
            },
            {
              "id": "9ed27f3b-3769-402d-8195-5a1816f76a3f",
              "name": "WSurl",
              "value": "={{ $('Set Fields').item.json.WSurl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        352
      ],
      "id": "7df9c7ad-6a5e-4af0-a421-f06c1ee0a174",
      "name": "Token + bandejaId"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WSurl ´´ }}?op=ReiniciarBandejaArchivos",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/xml",
        "body": "=<?xml version=\"1.0\" encoding=\"utf-8\"?> <soap:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">   <soap:Body>     <ReiniciarBandejaArchivos xmlns=\"http://comfiar.com.ar/webservice/\">       <token>         <SesionId>{{ $json.SesionId }}</SesionId>         <FechaVencimiento>{{ $json.FechaVencimiento }}</FechaVencimiento>       </token>       <bandejaId><bandejaId>{{ $json.bandejaId.replace(/\\//g, '\\\\') }}</bandejaId></bandejaId>     </ReiniciarBandejaArchivos>   </soap:Body> </soap:Envelope>",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        352
      ],
      "id": "13476632-7562-4298-921e-4ec88161e0d3",
      "name": "ReiniciarBandejaArchivos",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.WSurl}}WSComfiar.asmx",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/xml",
        "body": "=<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soap:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n  <soap:Body>\n    <IniciarSesion xmlns=\"http://comfiar.com.ar/webservice/\">\n      <usuarioId><![CDATA[{{ $json.WSuser.trim() }}]]></usuarioId>\n      <password><![CDATA[{{ $json.WSpass.trim() }}]]></password>\n    </IniciarSesion>\n  </soap:Body>\n</soap:Envelope>",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -752,
        432
      ],
      "id": "7a08bd8d-c729-4b9e-bfac-9f190b8263c0",
      "name": "WebService Log In Dinámico",
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.bandejas"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        336
      ],
      "id": "27476ba6-4e60-4d52-94cb-4432c47aa52a",
      "name": "Set Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -976,
        336
      ],
      "id": "318eeed5-5cf3-44bf-9635-b8384a6e6d49",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Detectar tipo de resultado\nconst input = $input.first().json;\nconst isError = !!input.error;\nconst currentCountry = $('Loop Over Items').first().json.country\n\n\n// En el loop tenemos los datos de la bandeja\nconst bandeja = input;\nconst country = bandeja.country || currentCountry || 'UNKNOWN';\n\nlet messageType = 'success';\nlet errorMsg = '';\n\nif (isError) {\n  // Distinguir si es error de login o de reinicio\n  // Heurística: si tenemos StatusCode y no hay token parseado, fue login\n  // Si llegamos al nodo de reinicio pero falla, fue restart\n  \n  // Por ahora: asumir que si Error en WebService Log In, es login_error\n  // Si error después de token, es restart_error\n  // Chequeamos por presencia de SesionId\n  \n  if (input.SesionId) {\n    messageType = 'restart_error';\n  } else {\n    messageType = 'login_error';\n  }\n  errorMsg = input.error?.message || String(input.error).slice(0, 200);\n} else {\n  // Si no hay error, pero viene de ReiniciarBandejaArchivos, validar SOAP response\n  const raw = typeof input.data === 'string' ? input.data : JSON.stringify(input || {});\n  if (/soap:Fault|<faultstring>/i.test(raw)) {\n    messageType = 'restart_error';\n    const faultMatch = raw.match(/<faultstring>(.*?)<\\/faultstring>/);\n    errorMsg = faultMatch ? faultMatch[1] : 'SOAP Fault en respuesta';\n  }\n}\n\nreturn [{\n  json: {\n    messageType,\n    errorMsg: errorMsg || '',\n    country,\n    errorTimestamp: new Date().toISOString(),\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        528
      ],
      "id": "7d83f48e-5cf2-440d-a976-20b73d7667b4",
      "name": "Set Error Log"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nreturn [{\n  json: {\n    timestamp: input.timestamp,\n    entorno: input.country,\n    ws_status: input.messageType === 'success' ? 'success' : 'fail',\n    ws_response_raw: input.wsResponseRaw || '',\n    resultado: input.messageType === 'success' ? 'success' : 'fail'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        304
      ],
      "id": "d0123f05-9f31-4390-a5c3-1c8969a1cd74",
      "name": "Set Success"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "53f577e2-4094-42b5-8a8b-695b91d0d74f",
          "mode": "list",
          "cachedResultName": "n8n notifications"
        },
        "channelId": {
          "__rl": true,
          "value": "19:66a0a41922ef4004a143795eb59a3a9e@thread.tacv2",
          "mode": "list",
          "cachedResultName": "test-interno",
          "cachedResultUrl": "https://teams.cloud.microsoft/l/channel/19%3A66a0a41922ef4004a143795eb59a3a9e%40thread.tacv2/test-interno?groupId=53f577e2-4094-42b5-8a8b-695b91d0d74f&tenantId=f89f7128-f0c6-4302-9881-8e0697d39336&allowXTenantAccess=False&ngc=True"
        },
        "contentType": "html",
        "message": "={{ $json.text }}",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        592,
        432
      ],
      "id": "e6cdc882-49d5-410a-9c7a-cdd34b474c87",
      "name": "Send Message",
      "webhookId": "ba92f9d7-f7c7-4dc8-9da7-96d61f0ac11c",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst { messageType, country, errorMsg, errorTimestamp } = input;\n\n// 1. Definimos un diccionario de zonas horarias por país\nconst timezones = {\n  'ARG': 'America/Argentina/Buenos_Aires',\n  'ECU': 'America/Guayaquil',\n  'PER': 'America/Lima'\n};\n\n// 2. Buscamos la zona horaria del país. \n// Si country viene vacío o no está en la lista, el || asegura que use Argentina por defecto.\nconst selectedTimeZone = timezones[country] || 'America/Argentina/Buenos_Aires';\n\nconst time = new Date(errorTimestamp).toLocaleString('es-AR', {\n  timeZone: selectedTimeZone,\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nlet text = '';\n\n// 3. Formateo de la salida en HTML usando <strong> y <br>\nif (messageType === 'success') {\n  text = `✅ <strong>Reinicio Exitoso</strong><br>País: ${country}<br>Hora: ${time}`;\n} else if (messageType === 'login_error') {\n  text = `❌ <strong>Error de Conexión</strong><br><strong>País:</strong> ${country}<br><strong>Error:</strong> ${errorMsg}<br><strong>Hora:</strong> ${time}`;\n} else if (messageType === 'restart_error') {\n  text = `⚠️ <strong>Falla al Reiniciar</strong><br><strong>País:</strong> ${country}<br><strong>Error:</strong> ${errorMsg}<br><strong>Hora:</strong> ${time}`;\n}\n\nreturn [{\n  json: {\n    text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        432
      ],
      "id": "ef86955f-e653-490f-a20f-0bd72cd7e86d",
      "name": "Set HTML"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "zgqgyumkPpthcCmD",
          "mode": "list",
          "cachedResultName": "reinicio-bandejas",
          "cachedResultUrl": "/projects/xeIbd1uqzDdhrEnK/datatables/zgqgyumkPpthcCmD"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        992,
        512
      ],
      "id": "4004aa64-c39b-4c1f-8352-fb9977bd7f44",
      "name": "Log Reinicio2",
      "onError": "continueRegularOutput",
      "notes": "TODO: seleccionar tabla 'reinicio_bandeja_log' y mapear columnas: timestamp, entorno, bandejaId, motivo, archivos_count, ws_status, ws_response_raw, resultado."
    },
    {
      "parameters": {
        "jsCode": "// Recupera los datos de Set Error Log o Set Success para guardar en tabla\n// Se ejecuta DENTRO del loop, después de enviar el mensaje\n\nlet messageType = 'success';\nlet country = 'UNKNOWN';\nlet errorMsg = '';\nlet timestamp = new Date().toISOString();\n\nlet teamsMessage = $input.first().json\n\n// Intentar obtener de Set Error Log (si hubo error)\ntry {\n  const errorLogData = $('Set Error Log').first().json;\n  if (errorLogData && errorLogData.messageType) {\n    messageType = errorLogData.messageType;\n    country = errorLogData.country || country;\n    errorMsg = errorLogData.errorMsg || '';\n    timestamp = errorLogData.errorTimestamp || timestamp;\n  }\n} catch (e) {\n  // Si no hay Set Error Log, fue Set Success\n  try {\n    const successData = $('Set Success').first().json;\n    if (successData) {\n      messageType = 'success';\n      timestamp = successData.timestamp || timestamp;\n      // country se obtiene del Loop\n      country = $('Loop Over Items').first().json.country || country;\n    }\n  } catch (e2) {\n    // Fallback: usar datos del input actual\n    const input = $input.first().json;\n    country = input.country || country;\n  }\n}\n\nreturn [{\n  json: {\n    timestamp,\n    entorno: country,\n    ws_status: messageType === 'success' ? 'success' : 'fail',\n    ws_response_raw: errorMsg.slice(0, 2000) || '',\n    resultado: messageType === 'success' ? 'success' : 'fail',\n    teams: teamsMessage.id,\n    teamsTimestamp: teamsMessage.createdDateTime,\n    teams: teamsMessage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        432
      ],
      "id": "8dea5b1e-6746-4d27-8e91-10b468a0d511",
      "name": "Set Log2"
    }
  ],
  "pinData": {
    "When Executed by Watchdog": [
      {
        "json": {
          "bandejas": [
            {
              "country": "ARG",
              "timezone": "America/Argentina/Buenos_Aires",
              "user": "kn@la.comfiar.com.ar",
              "password": "Apg0000001!",
              "url": "webmail.la.comfiar.com.ar",
              "path": "\\30608517746\\PDF",
              "host": "172.17.1.60",
              "channelId": "19:KqPHeI2vg9nNHO2de_AHbQGLK2Xh8Ah8iODV2ttJh_k1@thread.tacv2",
              "bandejaId": "//COMFIAR-AR-WEB/D$/COMFfxFIAR/Directorios/FTP/localuser/30608517746/PDF",
              "WSuser": "WSN8N",
              "WSpass": "Vow&45",
              "WSurl": "https://app.comfiar.com.ar/WSCOMFIAR/"
            },
            {
              "country": "PER",
              "timezone": "America/Lima",
              "user": "kn@la.comfiar.com.pe",
              "password": "Apg0000001",
              "url": "webmail.la.comfiar.com.ec",
              "path": "\\20347845150\\PDF",
              "host": "172.17.1.14",
              "channelId": "19:d5b204e433134ff5b1f7a90e51d76982@thread.tacv2",
              "bandejaId": "//COMFIAR-PE-WEB/D$/Test/Directorios/FTP/20347845150/pdf",
              "WSuser": "WSN8NN",
              "WSpass": "Oxs@612416",
              "WSurl": "https://app.comfiar.com.pe/ws/"
            },
            {
              "country": "ECU",
              "timezone": "America/Guayaquil",
              "user": "kn@la.comfiar.com.ec",
              "password": "Apg0000001",
              "url": "webmail.la.comfiar.com.ec",
              "path": " \\0991321764001\\pdf",
              "host": "172.17.1.11",
              "channelId": "19:9b2cc90d29d3474bade3a60f407f56ca@thread.tacv2",
              "bandejaId": "//COMFIAR-AR-WEB/D$/COMFIAR/Directorios/FTP/localuser/30608517746/PDF",
              "WSuser": "WSN8N",
              "WSpass": "Voy>87",
              "WSurl": "https://app.comfiar.com.ec/wscomfiar/"
            }
          ]
        }
      }
    ],
    "Set Error Log": [
      {
        "json": {
          "messageType": "restart_error",
          "errorMsg": "500 - \"<?xml version=\\\"1.0\\\" encoding=\\\"utf-8\\\"?><soap:Envelope xmlns:soap=\\\"http://schemas.xmlsoap.org/soap/envelope/\\\" xmlns:xsi=\\\"http://www.w3.org/2001/XMLSchema-instance\\\" xmlns:xsd=\\\"http://www.w3.org/2001/XMLSchema\\\"><soap:Body><soap:Fault><faultcode>soap:Client</faultcode><faultstring>System.Web.Services.Protocols.SoapException: No existe la bandeja con el id especificado.\\r\\n   at ComfiarWS.WSComfiar.ReiniciarBandejaArchivos(TokenWS token, String bandejaId)</faultstring><detail /></soap:Fault></soap:Body></soap:Envelope>\"",
          "country": "ARG",
          "errorTimestamp": "2026-06-09T20:09:37.738Z"
        }
      }
    ],
    "Set Success": [
      {
        "json": {
          "timestamp": "ASD",
          "ws_status": "success",
          "ws_response_raw": "REINICIADO",
          "resultado": "success"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-06-03T14:16:27.413Z",
      "updatedAt": "2026-06-03T14:16:27.413Z",
      "role": "workflow:owner",
      "workflowId": "Ab6O8KkFpe810Dvo",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-09T22:04:51.230Z",
  "versionId": "67dd7d6d-93fe-40a5-a4d8-d03faafc6f0e"
}