folder/Reiniciar Bandeja Archivos - KN.json
{
  "active": false,
  "connections": {
    "When Executed by Watchdog": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML Login": {
      "main": [
        [
          {
            "node": "Token + bandejaId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token + bandejaId": {
      "main": [
        [
          {
            "node": "ReiniciarBandejaArchivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReiniciarBandejaArchivos": {
      "main": [
        [
          {
            "node": "Set Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "WebService Log In Dinámico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebService Log In Dinámico": {
      "main": [
        [
          {
            "node": "XML Login",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Error Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message": {
      "main": [
        [
          {
            "node": "Set Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set HTML": {
      "main": [
        [
          {
            "node": "Send Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Error Log": {
      "main": [
        [
          {
            "node": "Set HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Log": {
      "main": [
        [
          {
            "node": "Log Reinicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Reinicio": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Success": {
      "main": [
        [
          {
            "node": "Set HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-03T14:16:27.413Z",
  "id": "Ab6O8KkFpe810Dvo",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Reiniciar Bandeja Archivos - KN",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1424,
        336
      ],
      "id": "42c60631-d081-4025-a07a-7169c2134155",
      "name": "When Executed by Watchdog"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -528,
        352
      ],
      "id": "4596b562-e517-457d-812e-4d0cfeb71f46",
      "name": "XML Login"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0000000-0000-4000-8000-000000000001",
              "name": "SesionId",
              "value": "={{ $json[\"soap:Envelope\"][\"soap:Body\"].IniciarSesionResponse.IniciarSesionResult.SesionId }}",
              "type": "string"
            },
            {
              "id": "f0000000-0000-4000-8000-000000000002",
              "name": "FechaVencimiento",
              "value": "={{ $json[\"soap:Envelope\"][\"soap:Body\"].IniciarSesionResponse.IniciarSesionResult.FechaVencimiento }}",
              "type": "string"
            },
            {
              "id": "45bcc948-dbac-4dd4-97d8-1e2253955ab4",
              "name": "bandejaId",
              "value": "={{ $('Set Fields').item.json.bandejaId }}",
              "type": "string"
            },
            {
              "id": "9ed27f3b-3769-402d-8195-5a1816f76a3f",
              "name": "WSurl",
              "value": "={{ $('Set Fields').item.json.WSurl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        352
      ],
      "id": "7df9c7ad-6a5e-4af0-a421-f06c1ee0a174",
      "name": "Token + bandejaId"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WSurl }}?op=ReiniciarBandejaArchivos",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/xml",
        "body": "=<?xml version=\"1.0\" encoding=\"utf-8\"?> <soap:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">   <soap:Body>     <ReiniciarBandejaArchivos xmlns=\"http://comfiar.com.ar/webservice/\">       <token>         <SesionId>{{ $json.SesionId }}</SesionId>         <FechaVencimiento>{{ $json.FechaVencimiento }}</FechaVencimiento>       </token>       <bandejaId><bandejaId>{{ $json.bandejaId.replace(/\\//g, '\\\\') }}</bandejaId></bandejaId>     </ReiniciarBandejaArchivos>   </soap:Body> </soap:Envelope>",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -80,
        352
      ],
      "id": "13476632-7562-4298-921e-4ec88161e0d3",
      "name": "ReiniciarBandejaArchivos",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.WSurl}}WSComfiar.asmx",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/xml",
        "body": "=<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soap:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n  <soap:Body>\n    <IniciarSesion xmlns=\"http://comfiar.com.ar/webservice/\">\n      <usuarioId><![CDATA[{{ $json.WSuser.trim() }}]]></usuarioId>\n      <password><![CDATA[{{ $json.WSpass.trim() }}]]></password>\n    </IniciarSesion>\n  </soap:Body>\n</soap:Envelope>",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -752,
        432
      ],
      "id": "7a08bd8d-c729-4b9e-bfac-9f190b8263c0",
      "name": "WebService Log In Dinámico",
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.bandejas"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        336
      ],
      "id": "27476ba6-4e60-4d52-94cb-4432c47aa52a",
      "name": "Set Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -976,
        336
      ],
      "id": "318eeed5-5cf3-44bf-9635-b8384a6e6d49",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "// Detectar tipo de resultado\nconst input = $input.first().json;\nconst isError = !!input.error;\nconst currentCountry = $('Loop Over Items').first().json.country\n\n\n// En el loop tenemos los datos de la bandeja\nconst bandeja = input;\nconst country = bandeja.country || currentCountry || 'UNKNOWN';\n\nlet messageType = 'success';\nlet errorMsg = '';\n\nif (isError) {\n  // Distinguir si es error de login o de reinicio\n  // Heurística: si tenemos StatusCode y no hay token parseado, fue login\n  // Si llegamos al nodo de reinicio pero falla, fue restart\n  \n  // Por ahora: asumir que si Error en WebService Log In, es login_error\n  // Si error después de token, es restart_error\n  // Chequeamos por presencia de SesionId\n  \n  if (input.SesionId) {\n    messageType = 'restart_error';\n  } else {\n    messageType = 'login_error';\n  }\n  errorMsg = input.error?.message || String(input.error).slice(0, 200);\n} else {\n  // Si no hay error, pero viene de ReiniciarBandejaArchivos, validar SOAP response\n  const raw = typeof input.data === 'string' ? input.data : JSON.stringify(input || {});\n  if (/soap:Fault|<faultstring>/i.test(raw)) {\n    messageType = 'restart_error';\n    const faultMatch = raw.match(/<faultstring>(.*?)<\\/faultstring>/);\n    errorMsg = faultMatch ? faultMatch[1] : 'SOAP Fault en respuesta';\n  }\n}\n\n// Limpiar mensaje de error si viene del servidor (SOAP Exception)\n// Extrae solo el mensaje de la excepción, eliminando el stack trace\nif (errorMsg && errorMsg.includes('Exception: ')) {\n  try {\n    errorMsg = errorMsg.split('Exception: ')[1].split(/\\r\\n|\\n/)[0].trim();\n  } catch (e) {\n    // Si falla la limpieza, mantener el original\n  }\n}\n\nreturn [{\n  json: {\n    messageType,\n    country,\n    errorMsg: errorMsg || '',\n    timestamp: new Date().toISOString(),\n    ws_status: 'fail',\n    ws_response_raw: errorMsg.slice(0, 2000) || ''\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        448
      ],
      "id": "7d83f48e-5cf2-440d-a976-20b73d7667b4",
      "name": "Set Error Log"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "2f7e4d78-5cc0-4b00-bb44-372596f96fcf",
          "mode": "list",
          "cachedResultName": "Notificaciones Soporte"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.channelId }}",
          "mode": "id"
        },
        "contentType": "html",
        "message": "={{ $json.text }}",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        512,
        448
      ],
      "id": "e6cdc882-49d5-410a-9c7a-cdd34b474c87",
      "name": "Send Message",
      "webhookId": "ba92f9d7-f7c7-4dc8-9da7-96d61f0ac11c",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "APG-Teams"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Capturamos el ítem actual que se está validando en la vuelta del bucle.\n// IMPORTANTE: Asegúrate de que el nombre del nodo entre comillas coincida exactamente con tu nodo de bucle.\nconst currentItem = $('Loop Over Items').item.json;\n\n// 2. Extraemos el país desde el elemento actual del loop\nconst country = currentItem.pais;\n\n// 3. Extraemos las demás variables. Priorizamos el elemento del bucle por si también viajan allí, \n// con fallback al input inmediato del nodo anterior si es necesario.\nconst msgType = currentItem.messageType || $input.first().json.messageType;\nconst err = currentItem.errorMsg || $input.first().json.errorMsg;\nconst timestamp = currentItem.timestamp || $input.first().json.timestamp;\n\n// 4. Diccionario de zonas horarias por país\nconst timezones = {\n  'ARG': 'America/Argentina/Buenos_Aires',\n  'ECU': 'America/Guayaquil',\n  'PER': 'America/Lima'\n};\n\n// 5. Configuración de zona horaria y visualización segura\nconst selectedTimeZone = timezones[country] || 'America/Argentina/Buenos_Aires';\nconst displayCountry = country || 'ARG';\n\n// 6. Formateo de fecha y hora localizadas\nconst time = new Date(timestamp || Date.now()).toLocaleString('es-AR', {\n  timeZone: selectedTimeZone,\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nlet text = '';\n\n// 7. Formateo de la salida en HTML con la estructura de título solicitada\nif (msgType === 'success') {\n  text = `✅ <strong>REINICIO EXITOSO - BANDEJA ARCHIVOS KN - ${displayCountry}</strong><br>${time}`;\n} else if (msgType === 'login_error') {\n  text = `❌ <strong>ERROR DE CONEXIÓN - BANDEJA ARCHIVOS KN - ${displayCountry}</strong><br><strong>Error:</strong> ${err}<br>${time}`;\n} else if (msgType === 'restart_error') {\n  text = `⚠️ <strong>FALLA AL REINICIAR - BANDEJA ARCHIVOS KN - ${displayCountry}</strong><br><strong>Error:</strong> ${err}<br>${time}`;\n}\n\nreturn [{\n  json: {\n    text\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        448
      ],
      "id": "ef86955f-e653-490f-a20f-0bd72cd7e86d",
      "name": "Set HTML"
    },
    {
      "parameters": {
        "jsCode": "// Recupera los datos de Set Error Log o Set Success para guardar en tabla\n// Se ejecuta DENTRO del loop, después de enviar el mensaje\n\nlet messageType = 'success';\nlet country = 'UNKNOWN';\nlet errorMsg = '';\nlet timestamp = new Date().toISOString();\n\nlet teamsMessage = $input.first().json\n\n// Intentar obtener de Set Error Log (si hubo error)\ntry {\n  const errorLogData = $('Set Error Log').first().json;\n  if (errorLogData && errorLogData.messageType) {\n    messageType = errorLogData.messageType;\n    country = errorLogData.country || country;\n    errorMsg = errorLogData.errorMsg || '';\n    timestamp = errorLogData.errorTimestamp || timestamp;\n  }\n} catch (e) {\n  // Si no hay Set Error Log, fue Set Success\n  try {\n    const successData = $('Set Success').first().json;\n    if (successData) {\n      messageType = 'success';\n      timestamp = successData.timestamp || timestamp;\n      // country se obtiene del Loop\n      country = $('Loop Over Items').first().json.pais || country;\n    }\n  } catch (e2) {\n    // Fallback: usar datos del input actual\n    const input = $input.first().json;\n    country = input.country || country;\n  }\n}\n\nreturn [{\n  json: {\n    timestamp,\n    entorno: country,\n    ws_status: messageType === 'success' ? 'success' : 'fail',\n    ws_response_raw: errorMsg,\n    resultado: messageType === 'success' ? 'success' : 'fail',\n    teamsMsgId: teamsMessage.id,\n    teamsTimestamp: teamsMessage.createdDateTime,\n    teamsMsg: teamsMessage.messageType,\n    executionId: $execution.id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        448
      ],
      "id": "8dea5b1e-6746-4d27-8e91-10b468a0d511",
      "name": "Set Log"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "zgqgyumkPpthcCmD",
          "mode": "list",
          "cachedResultName": "reinicio-bandejas",
          "cachedResultUrl": "/projects/xeIbd1uqzDdhrEnK/datatables/zgqgyumkPpthcCmD"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "entorno",
              "displayName": "entorno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ws_status",
              "displayName": "ws_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ws_response_raw",
              "displayName": "ws_response_raw",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "resultado",
              "displayName": "resultado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "teamsMsgId",
              "displayName": "teamsMsgId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "teamsTimestamp",
              "displayName": "teamsTimestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "teamsMsg",
              "displayName": "teamsMsg",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        992,
        512
      ],
      "id": "4004aa64-c39b-4c1f-8352-fb9977bd7f44",
      "name": "Log Reinicio",
      "onError": "continueRegularOutput",
      "notes": "TODO: seleccionar tabla 'reinicio_bandeja_log' y mapear columnas: timestamp, entorno, bandejaId, motivo, archivos_count, ws_status, ws_response_raw, resultado."
    },
    {
      "parameters": {
        "jsCode": "// Procesa un resultado exitoso de reinicio\n// Devuelve estructura normalizada igual a Set Error Log\nconst input = $input.first().json;\nconst country = input.country || $('Loop Over Items').first().json.country || 'UNKNOWN';\n\nreturn [{\n  json: {\n    messageType: 'success',\n    country,\n    errorMsg: null,\n    timestamp: new Date().toISOString(),\n    ws_status: 'success',\n    ws_response_raw: null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        272
      ],
      "id": "eddb9bcd-183d-40aa-966d-2d5cbb0b42c3",
      "name": "Set Success"
    },
    {
      "parameters": {
        "content": "## error id bandeja\n## mejora html mensaje\n##pais - reinicio de ...\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -944,
        64
      ],
      "id": "b7fd891a-d115-48d7-9204-4aaee508598a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## el country viene de when executed by... \n\n## reinicio bandeja archiivos kn\n",
        "height": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1184,
        16
      ],
      "id": "1d7691f0-5550-41f9-b21e-170f0d809b02",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-06-03T14:16:27.413Z",
      "updatedAt": "2026-06-03T14:16:27.413Z",
      "role": "workflow:owner",
      "workflowId": "Ab6O8KkFpe810Dvo",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-07-22T13:38:26.928Z",
  "versionId": "9d143b89-bac4-481e-b5af-8e74b5db5475"
}