folder/Reiniciar Bandeja Archivos - KN.json
{
  "active": false,
  "connections": {
    "When Executed by Watchdog": {
      "main": [
        [
          {
            "node": "Set Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Ultimo Reinicio": {
      "main": [
        [
          {
            "node": "En Cooldown?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "En Cooldown?": {
      "main": [
        [],
        []
      ]
    },
    "XML Login": {
      "main": [
        [
          {
            "node": "Token + bandejaId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token + bandejaId": {
      "main": [
        [
          {
            "node": "ReiniciarBandejaArchivos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReiniciarBandejaArchivos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Armar Log": {
      "main": [
        [
          {
            "node": "Log Reinicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "WebService Log In Dinámico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebService Log In Dinámico": {
      "main": [
        [
          {
            "node": "XML Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-06-03T14:16:27.413Z",
  "id": "Ab6O8KkFpe810Dvo",
  "isArchived": false,
  "meta": null,
  "name": "Reiniciar Bandeja Archivos - KN",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1392,
        336
      ],
      "id": "42c60631-d081-4025-a07a-7169c2134155",
      "name": "When Executed by Watchdog"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "zgqgyumkPpthcCmD",
          "mode": "list",
          "cachedResultName": "reinicio-bandejas",
          "cachedResultUrl": "/projects/xeIbd1uqzDdhrEnK/datatables/zgqgyumkPpthcCmD"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -272,
        128
      ],
      "id": "7c823b51-118e-4339-9f15-cea30b0e4d28",
      "name": "Buscar Ultimo Reinicio",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "notes": "TODO: seleccionar tabla 'reinicio_bandeja_log' y (opcional) filtrar por entorno. Si tu version de n8n usa otros params, reconfigurar en UI."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c0000000-0000-4000-8000-000000000001",
              "leftValue": "={{ $json.enCooldown }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        0,
        128
      ],
      "id": "70c9f0fd-3f59-489e-adf3-0f3e012f0be3",
      "name": "En Cooldown?"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -160,
        352
      ],
      "id": "4596b562-e517-457d-812e-4d0cfeb71f46",
      "name": "XML Login"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f0000000-0000-4000-8000-000000000001",
              "name": "SesionId",
              "value": "={{ $json[\"soap:Envelope\"][\"soap:Body\"].IniciarSesionResponse.IniciarSesionResult.SesionId }}",
              "type": "string"
            },
            {
              "id": "f0000000-0000-4000-8000-000000000002",
              "name": "FechaVencimiento",
              "value": "={{ $json[\"soap:Envelope\"][\"soap:Body\"].IniciarSesionResponse.IniciarSesionResult.FechaVencimiento }}",
              "type": "string"
            },
            {
              "id": "45bcc948-dbac-4dd4-97d8-1e2253955ab4",
              "name": "bandejaId",
              "value": "={{ $('Set Fields').item.json.bandejaId }}",
              "type": "string"
            },
            {
              "id": "9ed27f3b-3769-402d-8195-5a1816f76a3f",
              "name": "WSurl",
              "value": "={{ $('Set Fields').item.json.WSurl }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        352
      ],
      "id": "7df9c7ad-6a5e-4af0-a421-f06c1ee0a174",
      "name": "Token + bandejaId"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.WSurl }}?op=ReiniciarBandejaArchivos",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/xml",
        "body": "=<?xml version=\"1.0\" encoding=\"utf-8\"?> <soap:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">   <soap:Body>     <ReiniciarBandejaArchivos xmlns=\"http://comfiar.com.ar/webservice/\">       <token>         <SesionId>{{ $json.SesionId }}</SesionId>         <FechaVencimiento>{{ $json.FechaVencimiento }}</FechaVencimiento>       </token>       <bandejaId><bandejaId>{{ $json.bandejaId.replace(/\\//g, '\\\\') }}</bandejaId></bandejaId>     </ReiniciarBandejaArchivos>   </soap:Body> </soap:Envelope>",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        352
      ],
      "id": "13476632-7562-4298-921e-4ec88161e0d3",
      "name": "ReiniciarBandejaArchivos",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const cfg = $('Resolver Config').item.json;\nconst http = $input.first().json;\nconst raw = typeof http.data === 'string' ? http.data : JSON.stringify(http.data || http);\nconst fault = /soap:Fault|Exception|<faultstring>/i.test(raw);\nconst errored = !!http.error || fault;\nreturn [{ json: {\n  timestamp: new Date().toISOString(),\n  entorno: cfg.entorno,\n  bandejaId: cfg.bandejaId,\n  motivo: cfg.motivo || '',\n  archivos_count: cfg.archivos_count != null ? cfg.archivos_count : null,\n  ws_status: errored ? 'fail' : 'success',\n  ws_response_raw: String(raw).slice(0, 2000),\n  resultado: errored ? 'fail' : 'success'\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        544
      ],
      "id": "ccc08ef5-78ea-419b-a2f4-9850b702882c",
      "name": "Armar Log"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        720,
        544
      ],
      "id": "9ef3d49c-f61e-4e77-90b5-06c98ec6e2a7",
      "name": "Log Reinicio",
      "onError": "continueRegularOutput",
      "notes": "TODO: seleccionar tabla 'reinicio_bandeja_log' y mapear columnas: timestamp, entorno, bandejaId, motivo, archivos_count, ws_status, ws_response_raw, resultado."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$json.WSurl}}WSComfiar.asmx",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "text/xml",
        "body": "=<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<soap:Envelope xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\">\n  <soap:Body>\n    <IniciarSesion xmlns=\"http://comfiar.com.ar/webservice/\">\n      <usuarioId><![CDATA[{{ $json.WSuser.trim() }}]]></usuarioId>\n      <password><![CDATA[{{ $json.WSpass.trim() }}]]></password>\n    </IniciarSesion>\n  </soap:Body>\n</soap:Envelope>",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -416,
        352
      ],
      "id": "7a08bd8d-c729-4b9e-bfac-9f190b8263c0",
      "name": "WebService Log In Dinámico"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.bandejas"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        336
      ],
      "id": "27476ba6-4e60-4d52-94cb-4432c47aa52a",
      "name": "Set Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -704,
        336
      ],
      "id": "318eeed5-5cf3-44bf-9635-b8384a6e6d49",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "content": "## configurar logs\n## "
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -752,
        80
      ],
      "id": "e1b423fd-f004-4cb9-9e30-2b7fd8f52688",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "When Executed by Watchdog": [
      {
        "json": {
          "bandejas": [
            {
              "country": "ARG",
              "timezone": "America/Argentina/Buenos_Aires",
              "user": "kn@la.comfiar.com.ar",
              "password": "Apg0000001!",
              "url": "webmail.la.comfiar.com.ar",
              "path": "\\30608517746\\PDF",
              "host": "172.17.1.60",
              "channelId": "19:KqPHeI2vg9nNHO2de_AHbQGLK2Xh8Ah8iODV2ttJh_k1@thread.tacv2",
              "bandejaId": "//COMFIAR-AR-WEB/D$/COMFIAR/Directorios/FTP/localuser/30608517746/PDF",
              "WSuser": "WSN8N",
              "WSpass": "Vow&45",
              "WSurl": "https://app.comfiar.com.ar/WSCOMFIAR/"
            },
            {
              "country": "PER",
              "timezone": "America/Lima",
              "user": "kn@la.comfiar.com.pe",
              "password": "Apg0000001",
              "url": "webmail.la.comfiar.com.ec",
              "path": "\\20347845150\\PDF",
              "host": "172.17.1.14",
              "channelId": "19:d5b204e433134ff5b1f7a90e51d76982@thread.tacv2",
              "bandejaId": "//COMFIAR-PE-WEB/D$/Test/Directorios/FTP/20347845150/pdf",
              "WSuser": "WSN8N",
              "WSpass": "Oxs@612416",
              "WSurl": "https://app.comfiar.com.pe/ws/"
            },
            {
              "country": "ECU",
              "timezone": "America/Guayaquil",
              "user": "kn@la.comfiar.com.ec",
              "password": "Apg0000001",
              "url": "webmail.la.comfiar.com.ec",
              "path": " \\0991321764001\\pdf",
              "host": "172.17.1.11",
              "channelId": "19:9b2cc90d29d3474bade3a60f407f56ca@thread.tacv2",
              "bandejaId": "//COMFIAR-AR-WEB/D$/COMFIAR/Directorios/FTP/localuser/30608517746/PDF",
              "WSuser": "WSN8N",
              "WSpass": "Voy>87",
              "WSurl": "https://app.comfiar.com.ec/wscomfiar/"
            }
          ]
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-06-03T14:16:27.413Z",
      "updatedAt": "2026-06-03T14:16:27.413Z",
      "role": "workflow:owner",
      "workflowId": "Ab6O8KkFpe810Dvo",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-06-08T20:59:20.550Z",
  "versionId": "4c932d5a-e384-426e-ac15-e52e309e3411"
}