folder/Revisión de Entornos - Watchdog.json
{
  "active": false,
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Call 'Revisión de Entornos'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Call 'Revisión de Entornos - Error Handler'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get pending": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Queries": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-05T17:08:43.289Z",
  "id": "PgLGB0L67zZKIgE8",
  "isArchived": false,
  "meta": null,
  "name": "Revisión de Entornos - Watchdog",
  "nodes": [
    {
      "parameters": {
        "content": "## La idea de este flujo es vigilar las ejecuciones de la revisión de entornos.\n## Controlando que no haya quedado ningún punto por ejecutar, validando contra la tabla de auditoría\n## - Vigila la tabla, devuelve todos los puntos que hayan quedado pendientes, llama al error handler y le envía la información necesaria para avanzar\n",
        "height": 544,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        -144
      ],
      "typeVersion": 1,
      "id": "c5ed5f72-51bc-4131-a570-9411407086a2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -176
      ],
      "id": "8acc0b59-a70d-47c1-bf4e-316f38b96bf5",
      "name": "Daily Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        16
      ],
      "id": "ec041608-18de-47e0-b4ef-d30ac9a94570",
      "name": "Weekly Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        208
      ],
      "id": "dbb04811-e4f3-4adf-8eb4-a06e66f8b12c",
      "name": "Monthly Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        464
      ],
      "id": "168006ac-2953-4558-b3af-fcec287fa3d8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e5795c86-2269-45d5-b24f-117de4750121",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        592,
        32
      ],
      "id": "717f9a7b-a634-4655-bc9c-efe02bd780de",
      "name": "If"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "p9uwH55oMSUgbeOp",
          "mode": "list",
          "cachedResultUrl": "/workflow/p9uwH55oMSUgbeOp",
          "cachedResultName": "Revisión de Entornos - Error Handler"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1312,
        240
      ],
      "id": "4e7d03a0-031c-4694-bedf-e1534b69704a",
      "name": "Call 'Revisión de Entornos - Error Handler'"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        32
      ],
      "id": "ff7a7c00-b35d-4c1f-b177-c60722e7c759",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "V0kCQ1kK3N3ayC36",
          "mode": "list",
          "cachedResultUrl": "/workflow/V0kCQ1kK3N3ayC36",
          "cachedResultName": "Revisión de Entornos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1008,
        -96
      ],
      "id": "2abd97b7-874c-4656-a723-6d2a0443f927",
      "name": "Call 'Revisión de Entornos'"
    },
    {
      "parameters": {
        "content": "## Escenario A: Cero registros encontrados.\n\nLógica: Si no hay filas en el Sheets para \"Hoy + Daily\", significa que el flujo principal ni siquiera llegó a registrar la cola (ej: fallo de servidor antes de empezar).\n\nAcción: Nodo Execute Workflow -> Llamar al Flujo Principal.",
        "height": 224,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        -144
      ],
      "typeVersion": 1,
      "id": "7241b48d-d8cf-42e2-9035-eae1f4341bed",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Escenario B: Hay registros Pendientes/Error.\n\nLógica: El flujo principal empezó pero algo quedó en el tintero.\n\nAcción: Seguir al Constructor de Contexto.",
        "height": 208,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        112
      ],
      "typeVersion": 1,
      "id": "49d70135-17bd-4d53-8cc7-49fc6fa764bf",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        -96
      ],
      "id": "e0eb85c5-41a6-4168-89e6-7b9e1728d08f",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "let executionType = 'Daily';\n\nif ($(\"Weekly Trigger\").isExecuted) {\n  executionType = 'Weekly';\n} else if ($(\"Monthly Trigger\").isExecuted) {\n  executionType = 'Monthly';\n} else if ($(\"Daily Trigger\").isExecuted) {\n  executionType = 'Daily';\n\n// Traemos las queries de la Data Table de n8n\nconst allQueries = [] \n// Traemos los pendientes del Sheets\nconst missingTasks = []\n// Tu objeto de servidores (puedes copiar el de tu flujo principal)\n\n// Configuración ARGENTINA\nconst serverSQL1 = {\n  server: \"host.docker.internal\",\n  db_info: [\n    { db: \"comfiar_ar\", entorno: \"APP\", country: \"AR\", channelId : \"19:KqPHeI2vg9nNHO2de_AHbQGLK2Xh8Ah8iODV2ttJh_k1@thread.tacv2\" },\n    { db: \"comfiar_ar2\", entorno: \"APP2\", country: \"AR\", channelId : \"19:c46ff530842c4dabbd9500e73d0b894d@thread.tacv2\"},\n    { db: \"comfiar_cines\", entorno: \"Cines\", country: \"AR\", channelId : \"19:b355b1cd3e6a4e4ea7ed85a227744184@thread.tacv2\"},\n    { db: \"comfiar_pe\", entorno: \"APP\", country: \"PE\", channelId : \"19:d5b204e433134ff5b1f7a90e51d76982@thread.tacv2\"},\n    { db: \"comfiar_cr\", entorno: \"APP\", country: \"CR\", channelId : \"19:a9547625aaea4e02ae5b373bdc352ae9@thread.tacv2\"},\n    { db: \"comfiar_bo\", entorno: \"APP\", country: \"BO\", channelId : \"19:5e3bf46869f140a39d48f869795379c5@thread.tacv2\"},\n    { db: \"comfiar_ec\", entorno: \"APP\", country: \"EC\", channelId : \"19:9b2cc90d29d3474bade3a60f407f56ca@thread.tacv2\"},\n\n    \n  ],\n  port: 11434, \n  user: \"usr_automatico\",\n  password: \"1qaz2wsx3edc\"\n};\n\n// Configuración COLOMBIA\nconst serverSQL2 = {\n  server: \"host.docker.internal\",\n  db_info: [\n    { db: \"comfiar_co\", entorno: \"APP\", country: \"CO\", channelId : \"19:af378cf202564cfc87591f580cd70935@thread.tacv2\" },\n    { db: \"comfiar_co2\", entorno: \"APP2\", country: \"CO\", channelId : \"19:d31a59baa80e47aba00f2944e684c4b3@thread.tacv2\"},\n    { db: \"comfiar_co3\", entorno: \"APP3\", country: \"CO\", channelId : \"19:14b2fb9063904bccb047900af9ded2fe@thread.tacv2\"}\n  ],\n  port: 11433, \n  user: \"usr_automatico\",\n  password: \"1qaz2wsx3edc\"\n};\n\n// Función auxiliar para mapear\nconst mapDbs = (serverConfig) => {\n    return serverConfig.db_info.map(db => {\n      return {\n        json: {\n          server_host: serverConfig.server,\n          port: serverConfig.port,\n          user: serverConfig.user,\n          password: serverConfig.password,\n          \n          database: db.db,\n          entorno: db.entorno,     // ESTE CAMPO ES CLAVE PARA EL FILTRO\n          channelId: db.channelId,\n          country: db.country,\n          \n          type: executionType \n        }\n      };\n    });\n};\n\nconst dbsArg = mapDbs(serverSQL1);\nconst dbsCol = mapDbs(serverSQL2);\n\n// Retornamos la lista combinada (ARG + COL)\nreturn [...dbsArg, ...dbsCol];\n//};\n\nreturn missingTasks.map(task => {\n    const row = task.json;\n    // Buscamos el texto de la query en la tabla de n8n\n    const queryInfo = allQueries.find(q => q.json.queryId === row.Query_ID);\n    // Buscamos los datos técnicos del servidor según el país\n    const serverConfig = row.Pais === 'COL' ? servers.serverSQL2 : servers.serverSQL1;\n\n    return {\n        json: {\n            ...row, // Datos del semáforo\n            revisionQuery: queryInfo.json.revisionQuery,\n            correctionQuery: queryInfo.json.correctionQuery,\n            server_host: serverConfig.server,\n            port: serverConfig.port,\n            user: serverConfig.user,\n            password: serverConfig.password,\n            database: row.database // Asegúrate de haber guardado el DB name en el Sheets\n        }\n    };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1056,
        240
      ],
      "id": "e4319aec-56fb-4aeb-9baa-d256fbd5d525",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15mYqZzJZ49PhJFsOYbU1tWZH83EpIMJCoWjtmQHXAcU",
          "mode": "list",
          "cachedResultName": "control_revisiones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15mYqZzJZ49PhJFsOYbU1tWZH83EpIMJCoWjtmQHXAcU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15mYqZzJZ49PhJFsOYbU1tWZH83EpIMJCoWjtmQHXAcU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "estado",
              "lookupValue": "=Pendiente"
            },
            {
              "lookupColumn": "tipo_ejecucion",
              "lookupValue": "={{$json.type}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        32
      ],
      "id": "7ed26174-3c40-4271-8356-8949fec59c6d",
      "name": "Get pending",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Zq3YDVYpBI4flDay",
          "mode": "list",
          "cachedResultName": "Revisión-Entorno-Queries",
          "cachedResultUrl": "/projects/JCfdNIqoFmwORPL2/datatables/Zq3YDVYpBI4flDay"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        816,
        240
      ],
      "id": "f2f7c65b-dbce-4078-8671-3bb0cbfc0850",
      "name": "Get Queries"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-01-05T17:08:43.291Z",
      "updatedAt": "2026-01-05T17:08:43.291Z",
      "role": "workflow:owner",
      "workflowId": "PgLGB0L67zZKIgE8",
      "projectId": "JCfdNIqoFmwORPL2"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-05T20:53:29.000Z",
  "versionId": "0251d627-9bd1-4628-9344-cc03b8a40be6"
}