folder/Revisión de Entornos - Comandos.json
{
  "active": true,
  "connections": {
    "Parse Command": {
      "main": [
        [
          {
            "node": "Switch Comando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Comando": {
      "main": [
        [
          {
            "node": "List Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Script Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Docs Build",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Retry Split",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Default",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Query": {
      "main": [
        [
          {
            "node": "List Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Format": {
      "main": [
        [
          {
            "node": "Create message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Query": {
      "main": [
        [
          {
            "node": "Script Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Format": {
      "main": [
        [
          {
            "node": "Create message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Docs Build": {
      "main": [
        [
          {
            "node": "Create message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Split": {
      "main": [
        [
          {
            "node": "Retry Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Query": {
      "main": [
        [
          {
            "node": "Retry Mini Audit Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Mini Audit Start": {
      "main": [
        [
          {
            "node": "Retry Exec (call testo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Exec (call testo)": {
      "main": [
        [
          {
            "node": "Retry Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retry Format": {
      "main": [
        [
          {
            "node": "Create message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default": {
      "main": [
        [
          {
            "node": "Create message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Teams Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create message": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Parse Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2026-06-08T19:19:04.275Z",
  "id": "mm3XCBBVlL3jd1yX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Revisión de Entornos - Comandos",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\n// 1. Extraemos el contenido string directamente\nconst contentString = item.body?.content || '';\n\n// 2. Limpiamos las etiquetas HTML para dejar solo el comando (ej: \"/query 51748\")\nconst raw = contentString.replace(/<at>.*?<\\/at>/g, '').replace(/<[^>]+>/g, '').trim();\n\n// 3. Extraemos el channelId desde el @odata.context usando la regex probada\nlet channelId = '';\nconst contextUrl = item['@odata.context'] || '';\nconst channelMatch = contextUrl.match(/channels\\('([^']+)'\\)/);\n\nif (channelMatch && channelMatch[1]) {\n    // 4. Clave: Decodificar el string para transformar %3A en : y %40 en @\n    channelId = decodeURIComponent(channelMatch[1]);\n}\n\n// 5. Diccionario de países\nconst canalPais = {\n  '19:NohjVulNVM9XkmN1lG0Y4aRWueYhTX1eLWX66T-n83Y1@thread.tacv2': 'CO',\n  // Añadí el de tu JSON de prueba para que veas el match\n  '19:NQRQiHrUhszmot2VXKYb_bU_YEOJCW1DGq5vKLpnTpw1@thread.tacv2': 'AR' \n};\n\n// 6. Match del comando\nconst m = raw.match(/^\\/(\\w+)\\s*(.*)$/);\n\nreturn [{ \n  json: {\n    comando: m ? m[1].toLowerCase() : '',\n    arg: m ? m[2].trim() : '',\n    channelId: channelId,\n    pais_canal: canalPais[channelId] || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        720
      ],
      "id": "0474d029-d988-4d10-b6b2-f76c13a953e5",
      "name": "Parse Command"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c1",
                    "leftValue": "={{ $json.comando }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "list"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c2a",
                    "leftValue": "={{ $json.comando }}",
                    "rightValue": "script",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "id": "c2b",
                    "leftValue": "={{ $json.comando }}",
                    "rightValue": "query",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              },
              "renameOutput": true,
              "outputKey": "script"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c3",
                    "leftValue": "={{ $json.comando }}",
                    "rightValue": "docs",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "docs"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "c4",
                    "leftValue": "={{ $json.comando }}",
                    "rightValue": "retry",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "retry"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        672,
        656
      ],
      "id": "28b0e50f-c811-4578-a1c3-db4c389eb974",
      "name": "Switch Comando"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT query_id, description, type, target_env, application FROM revision_queries WHERE ($1='ALL') OR upper(country)=upper($1) OR country='ALL' ORDER BY type, query_id;",
        "options": {
          "queryReplacement": "={{ $json.arg || $json.pais_canal || 'ALL' }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        976,
        288
      ],
      "id": "8d391ec2-0c69-453b-9626-b6a7516f26b1",
      "name": "List Query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Fh2O8WF6g31IXgP5",
          "name": "Supabase - Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json);\nconst scope = $('Parse Command').first().json.arg || $('Parse Command').first().json.pais_canal || 'TODOS';\nif (!rows.length) return [{ json: { reply: `No hay queries para ${scope}.` } }];\nconst grupos = {};\nfor (const r of rows) (grupos[r.type || 'sin-type'] ||= []).push(r.query_id);\nlet txt = `**Queries (${scope})**\\n`;\nfor (const [t, ids] of Object.entries(grupos)) txt += `\\n**${t} (${ids.length}):** ${ids.join(', ')}`;\nreturn [{ json: { reply: txt } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        288
      ],
      "id": "3a878004-f132-4eab-8624-251483f7ee4a",
      "name": "List Format"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT query_id, description, revision_query FROM revision_queries WHERE query_id = $1;",
        "options": {
          "queryReplacement": "={{ $json.arg }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        976,
        448
      ],
      "id": "b42c43bc-0ffb-4ef9-aefd-556ec0f4decd",
      "name": "Script Query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Fh2O8WF6g31IXgP5",
          "name": "Supabase - Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(i => i.json).filter(j => j.query_id);\nconst id = $('Parse Command').first().json.arg;\nif (!rows.length) return [{ json: { reply: `No encontré la query ${id}.` } }];\nlet txt = '';\nrows.forEach((r, i) => {\n  const tag = rows.length > 1 ? ` (variante ${i+1}/${rows.length})` : '';\n  txt += `**${r.query_id}${tag}** — ${r.description || ''}\\n\\n\\`\\`\\`sql\\n${r.revision_query}\\n\\`\\`\\`\\n\\n`;\n});\nreturn [{ json: { reply: txt.trim() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        448
      ],
      "id": "7c07a918-56a2-492b-90e8-ed7674e0c8b4",
      "name": "Script Format"
    },
    {
      "parameters": {
        "jsCode": "const id = $json.arg;\nif (!id) return [{ json: { reply: 'Uso: /docs [id]' } }];\nconst url = `https://apg.cloudafm.com:443/default.aspx?accion=editardoc&DocumentoId=${id}&VersionId=1`;\nreturn [{ json: { reply: url } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        640
      ],
      "id": "4f594705-4ee1-4ea8-a335-e7f9da9ca240",
      "name": "Docs Build"
    },
    {
      "parameters": {
        "jsCode": "const parts = ($json.arg || '').split(/\\s+/).filter(Boolean);\nreturn [{ json: { ...$json, retry_id: parts[0] || '', retry_entorno: (parts[1] || '').toUpperCase() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        896
      ],
      "id": "f893e315-dc21-445d-a48d-bf30089301ff",
      "name": "Retry Split"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM revision_queries WHERE query_id = $1;",
        "options": {
          "queryReplacement": "={{ $json.retry_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1184,
        896
      ],
      "id": "a0e1b7b7-8a13-4b81-973b-506945210fbf",
      "name": "Retry Query",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Fh2O8WF6g31IXgP5",
          "name": "Supabase - Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const q = $json;\nif (!q.query_id) return [{ json: { reply: `No encontré la query ${$('Retry Split').first().json.retry_id}.`, _skip: true } }];\nconst app = (q.application || '').trim();\nconst flag = app === 'COMFIAR 2' ? 'comfiar2' : (app === 'VIGA' || app === 'Beelling') ? 'apgcore' : 'COMFIAR';\nreturn [{ json: { ...q,\n  flag,\n  country: $('Parse Command').first().json.pais_canal,\n  entorno: $('Retry Split').first().json.retry_entorno,\n  hora_ejecucion_real: DateTime.now().setZone('America/Argentina/Buenos_Aires').toFormat(\"yyyy-MM-dd'T'HH:mm:ss.SSS\"),\n  audit_startTime: new Date().getTime()\n}}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        896
      ],
      "id": "5bc1353d-e968-443f-86d2-a3ec969b5a59",
      "name": "Retry Mini Audit Start"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "REEMPLAZAR_WORKFLOWID_CALL_TESTO"
        },
        "workflowInputs": {
          "mappingMode": "passthrough"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1632,
        896
      ],
      "id": "24a3acfb-be71-41c3-a5a9-2af4a00669d1",
      "name": "Retry Exec (call testo)",
      "notes": "Reemplazar workflowId por el de 'call testo'."
    },
    {
      "parameters": {
        "jsCode": "const r = $input.all().map(i => i.json);\nconst id = $('Retry Split').first().json.retry_id;\nconst ent = $('Retry Split').first().json.retry_entorno || '';\nconst err = r.find(x => typeof x.error === 'string');\nif (err) return [{ json: { reply: `❌ Retry ${id} ${ent}: ${err.error}` } }];\nconst filas = r.filter(x => x && Object.keys(x).length > 0).length;\nreturn [{ json: { reply: `✅ Retry ${id} ${ent}: ${filas} fila(s).` } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        896
      ],
      "id": "16290c01-7862-4ca5-8ac1-25d10e4d71c0",
      "name": "Retry Format"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { reply: 'Comandos: /list [país] · /script [id] · /docs [id] · /retry [id] [entorno]' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        1168
      ],
      "id": "2bdada08-aa66-4ef7-90f8-f0627af76e6b",
      "name": "Default"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "53f577e2-4094-42b5-8a8b-695b91d0d74f",
          "mode": "list",
          "cachedResultName": "n8n notifications"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Code in JavaScript').item.json.channelId }}",
          "mode": "id"
        },
        "contentType": "html",
        "message": "={{ $json.reply }}",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        2432,
        672
      ],
      "id": "44eb90f8-d301-401a-93bd-742839d43471",
      "name": "Create message",
      "webhookId": "67c06470-33e8-4bf0-a2e2-f683fd494116",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "Yyblo5OMavkgN1oD",
          "name": "Teams"
        }
      }
    },
    {
      "parameters": {
        "teamId": {
          "__rl": true,
          "value": "53f577e2-4094-42b5-8a8b-695b91d0d74f",
          "mode": "list",
          "cachedResultName": "n8n notifications"
        },
        "watchAllChannels": true
      },
      "type": "n8n-nodes-base.microsoftTeamsTrigger",
      "typeVersion": 1,
      "position": [
        -16,
        720
      ],
      "id": "f4981c26-c22d-43f0-b5c4-4ede860a72fa",
      "name": "Microsoft Teams Trigger",
      "webhookId": "105dea8c-95ac-41f7-a22d-72e71ababdfd",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      }
    },
    {
      "parameters": {
        "content": "## /ayuda para explicaicon de los comandos y que hacen como funcionan\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        1104
      ],
      "id": "7f997818-eeee-40d2-bae2-911dc4a0d02b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/teams/{{ $json.teamId }}/channels/{{ $json.channelId }}/messages/{{ $json.messageId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftTeamsOAuth2Api",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        720
      ],
      "id": "d0411575-16b1-4390-b6f1-3d545dc35249",
      "name": "HTTP Request",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const odataId = $input.item.json[\"@odata.id\"];\n\n// Expresiones regulares para extraer los IDs entre las comillas simples\nconst teamMatch = odataId.match(/teams\\('([^']+)'\\)/);\nconst channelMatch = odataId.match(/channels\\('([^']+)'\\)/);\nconst messageId = $input.item.json.id;\n\nreturn {\n  json: {\n    teamId: teamMatch ? teamMatch[1] : null,\n    channelId: channelMatch ? channelMatch[1] : null,\n    messageId: messageId\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        720
      ],
      "id": "2c92d75a-3c1d-4ea2-b13d-9abd1971dde2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e986d62f-92dd-426c-9830-362f74ae251e",
              "name": "=channel",
              "value": "={{ $json['@odata.id'].match(/channels\\('([^']+)'\\)/) ? $json['@odata.id'].match(/channels\\('([^']+)'\\)/)[1] : null }}",
              "type": "string"
            },
            {
              "id": "eda46b3c-c4a4-487e-8628-26a827dc7c45",
              "name": "message",
              "value": "={{ $json['@odata.id'].match(/messages\\('([^']+)'\\)/) ? $json['@odata.id'].match(/messages\\('([^']+)'\\)/)[1] : null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        432
      ],
      "id": "667b50fd-8d23-47ad-808d-a83074026f42",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "content": "CHANNEL ID MESSAGE ID \nTEAMS ID\n",
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        880
      ],
      "id": "57a25d4d-a383-4693-ad81-2e9427662576",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## TEXTO DEL MENSAJE\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        192,
        880
      ],
      "id": "dfa79a7e-bf49-4a21-9548-a8251e647979",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {
    "Microsoft Teams Trigger": [
      {
        "json": {
          "id": "1783543817941",
          "@odata.type": "#Microsoft.Graph.chatMessage",
          "@odata.id": "teams('53f577e2-4094-42b5-8a8b-695b91d0d74f')/channels('19:NQRQiHrUhszmot2VXKYb_bU_YEOJCW1DGq5vKLpnTpw1@thread.tacv2')/messages('1783543817941')"
        }
      }
    ],
    "HTTP Request": [
      {
        "json": {
          "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#teams('53f577e2-4094-42b5-8a8b-695b91d0d74f')/channels('19%3ANQRQiHrUhszmot2VXKYb_bU_YEOJCW1DGq5vKLpnTpw1%40thread.tacv2')/messages/$entity",
          "id": "1783543817941",
          "replyToId": null,
          "etag": "1783543817941",
          "messageType": "message",
          "createdDateTime": "2026-07-08T20:50:17.941Z",
          "lastModifiedDateTime": "2026-07-08T20:50:17.941Z",
          "lastEditedDateTime": null,
          "deletedDateTime": null,
          "subject": "",
          "summary": null,
          "chatId": null,
          "importance": "normal",
          "locale": "en-us",
          "webUrl": "https://teams.microsoft.com/l/message/19%3ANQRQiHrUhszmot2VXKYb_bU_YEOJCW1DGq5vKLpnTpw1%40thread.tacv2/1783543817941?groupId=53f577e2-4094-42b5-8a8b-695b91d0d74f&tenantId=f89f7128-f0c6-4302-9881-8e0697d39336&createdTime=1783543817941&parentMessageId=1783543817941",
          "policyViolation": null,
          "eventDetail": null,
          "from": {
            "application": null,
            "device": null,
            "user": {
              "@odata.type": "#microsoft.graph.teamworkUserIdentity",
              "id": "3bcfa8fe-c819-4cb1-82cf-5dc8da30ceb2",
              "displayName": "Rafael Nuñez",
              "userIdentityType": "aadUser",
              "tenantId": "f89f7128-f0c6-4302-9881-8e0697d39336"
            }
          },
          "body": {
            "contentType": "html",
            "content": "<p>/query 51748</p>"
          },
          "channelIdentity": {
            "teamId": "53f577e2-4094-42b5-8a8b-695b91d0d74f",
            "channelId": "19:NQRQiHrUhszmot2VXKYb_bU_YEOJCW1DGq5vKLpnTpw1@thread.tacv2"
          },
          "attachments": [],
          "mentions": [],
          "reactions": []
        }
      }
    ],
    "Code in JavaScript": [
      {
        "json": {
          "teamId": "53f577e2-4094-42b5-8a8b-695b91d0d74f",
          "channelId": "19:NQRQiHrUhszmot2VXKYb_bU_YEOJCW1DGq5vKLpnTpw1@thread.tacv2",
          "messageId": "1783543817941"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "createdAt": "2026-06-08T19:19:04.275Z",
      "updatedAt": "2026-06-08T19:19:04.275Z",
      "role": "workflow:owner",
      "workflowId": "mm3XCBBVlL3jd1yX",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": {
    "node:Microsoft Teams Trigger": {
      "subscriptionIds": [
        "33528f10-8e8d-4197-92ca-c8404a9161e4",
        "b2973b3f-de0f-42f4-a293-853800b820db",
        "db630047-71bc-4334-a147-fd81879e0670"
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-07-08T20:54:35.430Z",
  "versionId": "5708d970-518c-46a3-bde4-a4ef9a63ec16"
}