folder/Revisión de Entornos - Watchdog.json
{
  "active": true,
  "connections": {
    "Get pending": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call Original",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Get pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data": {
      "main": [
        [
          {
            "node": "Call Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-27T20:05:54.499Z",
  "id": "WAx9ZLzMbakrYUl2",
  "isArchived": false,
  "meta": null,
  "name": "Revisión de Entornos - Watchdog",
  "nodes": [
    {
      "parameters": {
        "content": "## La idea de este flujo es vigilar las ejecuciones de la revisión de entornos.\n## Controlando que no haya quedado ningún punto por ejecutar, validando contra la tabla de auditoría\n## - Vigila la tabla, devuelve todos los puntos que hayan quedado pendientes, llama al error handler y le envía la información necesaria para avanzar\n",
        "height": 544,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "a3fdedfe-f830-4093-868f-7652e7b76220",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15mYqZzJZ49PhJFsOYbU1tWZH83EpIMJCoWjtmQHXAcU",
          "mode": "list",
          "cachedResultName": "control_revisiones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15mYqZzJZ49PhJFsOYbU1tWZH83EpIMJCoWjtmQHXAcU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15mYqZzJZ49PhJFsOYbU1tWZH83EpIMJCoWjtmQHXAcU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Fecha",
              "lookupValue": "={{ $now.format('yyyy-LL-dd') }}"
            },
            {
              "lookupColumn": "Frecuencia",
              "lookupValue": "Daily"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        848
      ],
      "id": "1a9223e5-be8f-4f7f-b4d8-2c552de2681c",
      "name": "Get pending",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Rafa-Sheets"
        }
      }
    },
    {
      "parameters": {
        "content": "El nodo if devuelve registros si en la datatable hay queries en pending\nSi no trae nada, se llama al flujo principal\nSi trae, se llama al sub flujo"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        352
      ],
      "typeVersion": 1,
      "id": "a5d72351-4588-4c8e-b746-0c93c23dc16e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.escenario }}",
                    "rightValue": "EJECUTAR_PRINCIPAL",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "432fd74e-d220-445c-b1a1-4cc580d22758"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "40c91e79-6098-400c-a101-dcfebea9bddc",
                    "leftValue": "={{ $json.escenario }}",
                    "rightValue": "EJECUTAR_ERROR_HANDLER",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "91452470-6fe3-4b86-be3e-0b86206b8388",
                    "leftValue": "={{ $json.escenario }}",
                    "rightValue": "DETENER",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        896,
        832
      ],
      "id": "ed9e17e9-e1ee-48fe-a50c-355504fef993",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3Bmd3g640coLDTeO",
          "mode": "list",
          "cachedResultUrl": "/workflow/3Bmd3g640coLDTeO",
          "cachedResultName": "Revisión de Entornos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1392,
        816
      ],
      "id": "fcb12c75-f229-4af8-9132-5bbb6bb40b5a",
      "name": "Call Original"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3Bmd3g640coLDTeO",
          "mode": "list",
          "cachedResultUrl": "/workflow/3Bmd3g640coLDTeO",
          "cachedResultName": "Revisión de Entornos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1984,
        848
      ],
      "id": "b5da5f7a-26bb-4774-b2e8-4a393a85fb3c",
      "name": "Call Error Handler"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 8 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        288,
        848
      ],
      "id": "028507f0-6fb3-49fa-b7eb-83f7f1a3f24c",
      "name": "Daily Trigger"
    },
    {
      "parameters": {
        "jsCode": "return $input.item.json.pendientes"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        976
      ],
      "id": "f60b1a1b-daf0-484a-a29d-20ead174600a",
      "name": "Set Data"
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst totalEsperado = 17; // Tu número de entornos totales\nconst pendientes = rows.filter(r => r.json.Estado === 'PENDIENTE');\nconst oks = rows.filter(r => r.json.Estado === 'OK');\n\n// Escenario 1: No hay nada escrito hoy (Fallo total antes de empezar)\nif (rows.length === 0) {\n    return { escenario: 'EJECUTAR_PRINCIPAL', motivo: 'No hay registros de hoy' };\n}\n\n// Escenario 2: Todos están pendientes (Murió justo después de inicializar)\nif (pendientes.length === rows.length && rows.length > 0) {\n    return { escenario: 'EJECUTAR_PRINCIPAL', motivo: 'Todo pendiente, relanzar desde cero' };\n}\n\n// Escenario 3: Hay algunos OK y algunos PENDIENTES (Murió a la mitad)\nif (pendientes.length > 0 && oks.length > 0) {\n    return { \n        escenario: 'EJECUTAR_ERROR_HANDLER', \n        pendientes: pendientes.map(p => p.json),\n        motivo: `Faltan ${pendientes.length} entornos` \n    };\n}\n\n// Escenario 4: Todos están OK\nif (oks.length >= totalEsperado) {\n    return { escenario: 'DETENER', motivo: 'Todo completado con éxito' };\n}\n\nreturn { escenario: 'EJECUTAR_PRINCIPAL', motivo: 'No se ejecutó el flujo.' };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        848
      ],
      "id": "fb15692b-96a7-4bd6-af58-9d3440fd4ec3",
      "name": "Filter"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "h1TswfYCSmmTHJwB"
  },
  "shared": [
    {
      "createdAt": "2026-01-27T20:05:54.499Z",
      "updatedAt": "2026-01-27T20:05:54.499Z",
      "role": "workflow:owner",
      "workflowId": "WAx9ZLzMbakrYUl2",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": {
    "node:Daily Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-21T12:52:01.158Z",
  "versionId": "1c8a8314-175a-4dcd-a98d-26a0b393780b"
}