folder/Revisión de Entornos - Apps.json
{
  "active": false,
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Credentials": {
      "main": [
        [
          {
            "node": "Credentials Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Loop": {
      "main": [
        [
          {
            "node": "Fan In",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audit Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credentials Loop": {
      "main": [
        [],
        [
          {
            "node": "Set Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Results": {
      "main": [
        [
          {
            "node": "Query Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Results": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Credentials Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly Trigger": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set  HTML": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fan In": {
      "main": [
        [
          {
            "node": "Set  HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Random Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Credentials Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hourly Trigger": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Start": {
      "main": [
        [
          {
            "node": "Microsoft SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Four-hourly Trigger": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Wait": {
      "main": [
        [
          {
            "node": "Send Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Error": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Send Results Retry1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Results Retry1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "manual": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Metrics": {
      "main": [
        [
          {
            "node": "Map Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit End": {
      "main": [
        [
          {
            "node": "Update Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Queries": {
      "main": [
        [
          {
            "node": "Query Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Set Credentials",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "main": [
        [
          {
            "node": "Audit End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Queries": {
      "main": [
        [
          {
            "node": "Query Loop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Elegir Base": {
      "main": [
        [
          {
            "node": "SQL apgcore",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SQL COMFIAR2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL apgcore": {
      "main": [
        [
          {
            "node": "SQL Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL COMFIAR2": {
      "main": [
        [
          {
            "node": "SQL Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Out": {
      "main": [
        [
          {
            "node": "Audit End1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger1": {
      "main": [
        [
          {
            "node": "Set Credentials1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Four-hourly Trigger1": {
      "main": [
        [
          {
            "node": "Set Credentials1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Credentials1": {
      "main": [
        [
          {
            "node": "Credentials Loop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credentials Loop1": {
      "main": [
        [],
        [
          {
            "node": "Get Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Loop1": {
      "main": [
        [
          {
            "node": "Set  HTML1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audit Start1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Start1": {
      "main": [
        [
          {
            "node": "Elegir Base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit End1": {
      "main": [
        [
          {
            "node": "Update Metrics1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Metrics1": {
      "main": [
        [
          {
            "node": "Map Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Results1": {
      "main": [
        [
          {
            "node": "Query Loop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set  HTML1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Random Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Credentials Loop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Random Wait1": {
      "main": [
        [
          {
            "node": "Send Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Results1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Credentials Loop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-14T18:39:13.443Z",
  "id": "ABtvnJIXyOxaiexU",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Revisión de Entornos - Apps",
  "nodes": [
    {
      "parameters": {
        "content": "Dashboards de datos especificos de la bbdd?\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        -1600
      ],
      "typeVersion": 1,
      "id": "133fbfc2-0f2d-43a9-b082-bfb2d4b272fc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 5 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -992,
        -512
      ],
      "id": "dd7bcaaf-5ffa-42cc-b9b2-14b0a4aa9554",
      "name": "Daily Trigger",
      "alwaysOutputData": true,
      "notes": "De Lunes a Viernes\n7:00 AM\n\n0 0 5 * * 1-5"
    },
    {
      "parameters": {
        "jsCode": "const type = $json.type;\nconst paises = [\n  { country: 'AR', canal_prod: '<canal AR>', canal_test: '<canal test>' },\n  { country: 'BO', canal_prod: '<canal BO>', canal_test: '<canal test>' },\n  { country: 'CO', canal_prod: '19:NohjVulNVM9XkmN1lG0Y4aRWueYhTX1eLWX66T-n83Y1@thread.tacv2', canal_test: '<canal test>' },\n  { country: 'PE', canal_prod: '<canal PE>', canal_test: '<canal test>' },\n];\nreturn paises.map(p => ({ json: { ...p, type } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        -768
      ],
      "id": "9d4bfcdb-748d-4fc8-8079-452afe313642",
      "name": "Set Credentials"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $node['Query Loop'].context['done']}}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -96,
        -912
      ],
      "id": "cc57a091-4bc2-4ffa-af3c-bbb2b2306f6e",
      "name": "Query Loop"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -544,
        -768
      ],
      "id": "b8a7a4e6-1ce8-4a44-b035-62f6cf9b23ad",
      "name": "Credentials Loop"
    },
    {
      "parameters": {
        "jsCode": "const audit = $('Update Metrics').item.json;\nconst ctx   = $('Query Loop').first().json;\nconst out   = JSON.parse(JSON.stringify(ctx));\n\nlet rows = [], estado;\nif (audit.status === false) {\n  estado = 'ERROR';\n} else {\n  rows = $('SQL Execute').all().map(i => i.json).filter(j => Object.keys(j).length > 0);\n  estado = rows.length ? 'OK' : 'VACIO';\n}\n\nout.result        = rows;\nout._status       = estado;          // OK | VACIO | ERROR\nout._isError      = audit.status === false;\nout._errorMessage = audit.error_message || null;\nout.filas         = audit.filas_encontradas;\nreturn { json: out };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -816
      ],
      "id": "84489ed3-881e-4258-a073-2c00a0a165b6",
      "name": "Map Results"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "53f577e2-4094-42b5-8a8b-695b91d0d74f",
          "mode": "list",
          "cachedResultName": "n8n notifications"
        },
        "channelId": {
          "__rl": true,
          "value": "19:66a0a41922ef4004a143795eb59a3a9e@thread.tacv2",
          "mode": "list",
          "cachedResultName": "test-interno",
          "cachedResultUrl": "https://teams.cloud.microsoft/l/channel/19%3A66a0a41922ef4004a143795eb59a3a9e%40thread.tacv2/test-interno?groupId=53f577e2-4094-42b5-8a8b-695b91d0d74f&tenantId=f89f7128-f0c6-4302-9881-8e0697d39336&allowXTenantAccess=False&ngc=True"
        },
        "contentType": "html",
        "message": "={{ $json.htmlContent }}",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1024,
        -1088
      ],
      "id": "a43ff4df-f1ec-41d1-86a0-7660640f17c0",
      "name": "Send Results",
      "webhookId": "bf236dd6-db9a-4836-9e42-fbbb1824f2c8",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      },
      "onError": "continueErrorOutput",
      "notes": "{{ $(\"Credentials Loop\").first().json.channelId }}"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1920,
        -912
      ],
      "id": "e2570597-e5fc-41c5-bf41-701a8849a4cb",
      "name": "Wait",
      "webhookId": "1be973ac-e2e4-495b-b3c2-20b2d7f44c5a"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": "={{ 1 || 2 }}",
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -992,
        -1280
      ],
      "id": "b3e0eabd-f914-440c-8dd1-f81066e3cc43",
      "name": "Monthly Trigger",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// [NODO: Set HTML - Versión Unificada y Priorizada]\n// MODO: Run Once for All Items\n\nconst allItems = $input.all();\n\n// Si no hay ítems de entrada, retornar vacío o error básico\nif (allItems.length === 0) {\n    let type = \"General\";\n    try { type = $(\"Credentials Loop\").first().json[\"type\"] || \"General\"; } catch(e) {}\n    if (['Bi-hourly', 'Hourly', 'Nightly'].includes(type)) return []; \n    return { json: { htmlContent: \"<p>No hay datos que procesar.</p>\" } };\n}\n\nconst allQueries = allItems.map(item => item.json);\n\n// 1. SEPARAR ÍTEMS: Errores vs Exitosos\nconst errorItems = allQueries.filter(q => q._isError === true);\nconst successItems = allQueries.filter(q => q._isError !== true);\n\n// 2. ESTILOS CENTRALIZADOS\nconst styles = {\n    container: 'font-family:sans-serif;font-size:13px;color:#000;',\n    h1: 'font-size:20px;margin:0;',\n    h2: 'font-size:13px;margin:0 0 15px 0;text-transform:uppercase;font-weight:normal;',\n    h3: 'font-size:15px;font-weight:bold;margin:15px 0 5px 0;',\n    errorTitle: 'font-size:15px;font-weight:bold;margin:15px 0 5px 0;color:#d9534f;', // Rojo para errores\n    table: 'width:100%;border-collapse:collapse;',\n    pre: 'font-family:monospace;font-size:11px;background:#f4f4f4;padding:8px;border:1px solid #ccc;',\n    notice: 'font-size:11px;font-style:italic;',\n    footer: 'margin-top:15px;font-size:12px;border-top:1px solid #eee;'\n};\n\n// 3. OBTENER METADATOS (Tipo y Frecuencia)\nlet reportType = \"General\";\ntry { reportType = $(\"Credentials Loop\").first().json[\"type\"] || \"General\"; } catch(e) {}\n\nlet frequency = \"General\";\nif (reportType === \"Daily\") frequency = \"Diaria\";\nelse if (reportType === \"Four-hourly\") frequency = \"cada 4 horas\";\nelse if (reportType === \"Hourly\") frequency = \"cada 1 hora\";\nelse if (reportType === \"Bi-hourly\") frequency = \"cada 2 horas\";\n\n// 4. PROCESAR TABLAS (Solo de los ítems exitosos)\nlet validHtmlParts = []; \nlet hiddenQueriesCount = 0;\n\nfor (const item of successItems) {\n    const results = item.result;\n    \n    // Validar si el resultado exitoso está vacío\n    let isEmpty = false;\n    if (!results || (Array.isArray(results) && results.length === 0)) {\n        isEmpty = true;\n    } else if (Array.isArray(results) && results.length === 1) {\n        const firstItem = results[0];\n        if (firstItem === null || (typeof firstItem === 'object' && Object.keys(firstItem).length === 0)) {\n            isEmpty = true;\n        }\n    }\n\n    if (isEmpty) {\n        hiddenQueriesCount++; \n        continue; \n    }\n\n    let itemHtml = `<h3 style=\"${styles.h3}\">Punto ${item.queryId}: ${item.description || \"Sin descripción\"}</h3>`;\n\n    const MAX_ROWS = 150; \n    const MAX_COLS = 10;\n    let data = results.length > MAX_ROWS ? results.slice(0, MAX_ROWS) : results;\n    let fullHeaders = Object.keys(data[0] || {});\n    let headers = fullHeaders.length > MAX_COLS ? fullHeaders.slice(0, MAX_COLS) : fullHeaders;\n\n    itemHtml += `<table border=\"1\" cellpadding=\"4\" cellspacing=\"0\" style=\"${styles.table}\"><thead><tr bgcolor=\"#f2f2f2\">`;\n    for (const h of headers) itemHtml += `<th align=\"left\">${h}</th>`;\n    itemHtml += \"</tr></thead><tbody>\";\n    \n    for (const row of data) {\n        itemHtml += \"<tr>\";\n        for (const h of headers) {\n            const val = row[h];\n            const cleanVal = (val === null || val === undefined) ? \"\" : String(val).replace(/</g, '&lt;').replace(/>/g, '&gt;');\n            itemHtml += `<td>${cleanVal}</td>`;\n        }\n        itemHtml += \"</tr>\";\n    }\n    itemHtml += \"</tbody></table>\";\n\n    if (results.length > MAX_ROWS || fullHeaders.length > MAX_COLS) {\n        itemHtml += `<p style=\"${styles.notice}\">(Vista limitada: ${results.length > MAX_ROWS ? MAX_ROWS + ' filas ' : ''}${fullHeaders.length > MAX_COLS ? MAX_COLS + ' columnas' : ''})</p>`;\n    }\n\n    if (String(item.pattern || \"0\").trim() === '2') {\n        const combinedQueryText = `-- SELECT\\n${item.revisionQuery || \"\"}\\n\\n-- UPDATE\\n${item.correctionQuery || \"\"}`;\n        itemHtml += `<p><b>Cargar ticket con:</b></p><pre style=\"${styles.pre}\">${combinedQueryText}</pre>`;\n    }\n\n    validHtmlParts.push(itemHtml);\n}\n\n// 5. LÓGICA ANTI-SPAM DEFINITIVA\n// Si no hay tablas para mostrar Y no hay errores, abortar silenciosamente (si aplica la frecuencia)\nif (validHtmlParts.length === 0 && errorItems.length === 0) {\n    if (['Bi-hourly', 'Hourly', 'Nightly'].includes(reportType)) return [];\n}\n\n// 6. ENSAMBLAR EL REPORTE HTML (Errores ARRIBA, Tablas ABAJO)\nlet finalHtml = `<div style=\"${styles.container}\">`;\n\nif (reportType === 'Daily') {\n  const now = new Date();\n  const dateStr = now.toLocaleDateString('es-ES', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' });\n  const dateFormatted = dateStr.charAt(0).toUpperCase() + dateStr.slice(1);\n  finalHtml += `<h1 style=\"${styles.h1}\">${dateFormatted}</h1>`;\n}\n\nfinalHtml += `<h2 style=\"${styles.h2}\">Resultados de la Revisión de Entornos ${frequency}</h2>`;\n\n// 6A. SECCIÓN DE ERRORES (Aparece primero)\nif (errorItems.length > 0) {\n    finalHtml += `<h3 style=\"${styles.errorTitle}\">Queries con error</h3><ul>`;\n    for (const e of errorItems) {\n        const desc = e.description || 'Sin descripción';\n        const errMsg = (e._errorMessage || 'Error desconocido').toString().slice(0, 300);\n        finalHtml += `<li><b>⚠️ Punto ${e.queryId}:</b> ${desc} — ${errMsg}</li>`;\n    }\n    finalHtml += `</ul><hr size=\"1\" color=\"#eee\">`;\n}\n\n// 6B. SECCIÓN DE RESULTADOS (Tablas)\nif (validHtmlParts.length === 0) {\n    finalHtml += `<div style=\"${styles.footer}\">✅ Sin novedades operativas.</div>`;\n} else {\n    finalHtml += validHtmlParts.join('<hr size=\"1\" color=\"#eee\">');\n    if (hiddenQueriesCount > 0) {\n        finalHtml += `<div style=\"${styles.footer}\">El resto de los puntos no dieron resultados.</div>`;\n    }\n}\n\nfinalHtml += `</div>`;\n\nreturn { \n    json: { htmlContent: finalHtml },\n    pairedItem: allItems.length > 0 ? allItems[0].pairedItem : undefined\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -1088
      ],
      "id": "b737f9ba-21f8-481a-988d-fdccbc08c1ff",
      "name": "Set  HTML",
      "executeOnce": true,
      "alwaysOutputData": true,
      "notes": "// [NODO: Set HTML]\n// MODO: Run Once for All Items\n\nconst allItems = $input.all();\n\n// Si no llegó nada al nodo, salimos con un mensaje básico.\nif (allItems.length === 0) {\n  return { json: { htmlContent: \"<p>No hay datos que procesar.</p>\" } };\n}\n\n// --- Obtener el tipo de reporte (Daily, Weekly, etc.) ---\nlet reportType = \"General\";\ntry {\n  // Intentamos leer el tipo desde el primer item del Loop de Credenciales\n  reportType = $(\"Credentials Loop\").first().json[\"type\"] || \"General\";\n} catch (error) {\n  // Si falla, usamos el valor por defecto\n}\n\nconst allQueries = allItems.map(item => item.json);\nlet validHtmlParts = []; // Aquí acumularemos solo los reportes que tengan datos\n\n// --- Configuración Visual (Estilos para Teams/Email) ---\nconst MAX_ROWS = 20;\nconst MAX_COLS = 6;\n\nconst styles = {\n  table: 'border-collapse: collapse; margin-bottom: 10px; width: 100%;', \n  th: 'padding: 5px; text-align: left; font-weight: bold; border: 1px solid #ddd;', \n  td: 'padding: 5px; vertical-align: top; border: 1px solid #ddd;',\n  p: 'font-size: 14px; margin: 0 0 10px 0;',\n  p_notice: 'font-size: 12px; font-style: italic; color: #666;',\n  h3: 'margin-bottom: 5px; font-size: 16px; font-weight: bold; color: #000;',\n  pre: 'font-family: monospace; white-space: pre-wrap; word-wrap: break-word; font-size: 11px; margin-top: 0;',\n  hr: 'border: 0; border-top: 1px solid #ccc; margin: 15px 0;',\n  queryLabel: 'font-size: 10px; font-weight: bold; text-transform: uppercase; margin-bottom: 0; margin-top: 10px;',\n  mainTitle: 'font-size: 24px; font-weight: bold; color: #000; margin-bottom: 20px; border-bottom: 2px solid #000; padding-bottom: 10px;'\n};\n\n// --- Construcción del Título Principal ---\nconst reportTypeFormatted = reportType.charAt(0).toUpperCase() + reportType.slice(1);\nlet combinedHtml = `<h1 style=\"${styles.mainTitle}\">Resultados de revisión ${reportTypeFormatted}</h1>`;\n\n// --- Bucle Principal sobre cada Query ---\nfor (const item of allQueries) {\n  const results = item.result;\n  \n  // 1. FILTRO DE RESULTADOS VACÍOS\n  // Verificamos si results es null, vacío o un array con un objeto vacío.\n  let isEmpty = false;\n  if (!results) {\n    isEmpty = true;\n  } else if (Array.isArray(results) && results.length === 0) {\n    isEmpty = true;\n  } else if (Array.isArray(results) && results.length === 1) {\n    const firstItem = results[0];\n    if (firstItem === null || (typeof firstItem === 'object' && Object.keys(firstItem).length === 0)) {\n      isEmpty = true;\n    }\n  }\n\n  // REGLA: \"No se muestre nada si el punto no da resultado\"\n  if (isEmpty) {\n    continue; // Saltamos a la siguiente iteración inmediatamente\n  }\n\n  // --- Si llegamos aquí, ES PORQUE HAY DATOS PARA MOSTRAR ---\n  let itemHtml = \"\";\n\n  // Título del Punto\n  itemHtml += `<h3 style=\"${styles.h3}\">Punto ${item.queryId}: ${item.description || \"Sin descripción\"}</h3>`;\n\n  // 2. CONSTRUCCIÓN DE LA TABLA\n  let data = results;\n  let limitedRows = false;\n  let limitedCols = false;\n\n  // Lógica de límites (filas)\n  if (results.length > MAX_ROWS) {\n    data = results.slice(0, MAX_ROWS);\n    limitedRows = true;\n  }\n\n  // Obtener cabeceras\n  let headers = Object.keys(data[0] || {});\n  \n  // Lógica de límites (columnas)\n  if (headers.length > MAX_COLS) {\n    headers = headers.slice(0, MAX_COLS);\n    limitedCols = true;\n  }\n\n  // HTML de la Tabla\n  itemHtml += `<table border=\"1\" style=\"${styles.table}\">`;\n  itemHtml += '<thead><tr>';\n  for (const header of headers) itemHtml += `<th style=\"${styles.th}\">${header}</th>`;\n  itemHtml += \"</tr></thead>\";\n  \n  itemHtml += \"<tbody>\";\n  for (const row of data) {\n    itemHtml += \"<tr>\";\n    for (const header of headers) {\n      // Manejo seguro de null/undefined y escape de caracteres HTML\n      const value = (row[header] === null || typeof row[header] === \"undefined\") \n        ? \"\" \n        : String(row[header]).replace(/</g, '&lt;').replace(/>/g, '&gt;');\n      itemHtml += `<td style=\"${styles.td}\">${value}</td>`;\n    }\n    itemHtml += \"</tr>\";\n  }\n  itemHtml += \"</tbody></table>\";\n\n  // Avisos de recorte de datos\n  let notices = \"\";\n  if (limitedRows) notices += `(Se muestran ${MAX_ROWS} filas de ${results.length}). `;\n  if (limitedCols) notices += `(Se muestran ${MAX_COLS} columnas de ${Object.keys(results[0]).length}).`;\n  if (notices) itemHtml += `<p style=\"${styles.p_notice}\">${notices.trim()}</p>`;\n\n  // 3. LÓGICA DE PATRONES (1, 2, 3)\n  // Convertimos a string por seguridad\n  const pattern = String(item.pattern || \"0\").trim();\n\n  // REGLA: Solo mostramos queries si el patrón es '2'\n  if (pattern === '2') {\n    const selectQuery = item.revisionQuery || \"(No se proporcionó SELECT)\";\n    const correctionQuery = item.correctionQuery || \"(No se proporcionó UPDATE)\";\n    const combinedQueryText = `\n    -- SELECT --\n    ${selectQuery}\n\n    -- UPDATE --\n    ${correctionQuery}\n    `.trim();\n\n    itemHtml += `<div style=\"margin-top: 10px;\">`;\n    itemHtml += `<p style=\"${styles.queryLabel}\">Script:</p>`;\n    // Renderizamos UNA SOLA caja <pre> con todo el contenido\n    itemHtml += `<pre style=\"${styles.pre}\">${combinedQueryText}</pre>`;\n    itemHtml += `</div>`;\n  }\n  // Pattern 1 y 3 (y otros) no muestran nada aquí.\n\n  validHtmlParts.push(itemHtml);\n}\n  \n// --- GENERACIÓN FINAL ---\n\nif (validHtmlParts.length === 0) {\n  // Caso: Se ejecutó el flujo, pero todas las queries vinieron vacías.\n  // Mensaje final indicando que todo está limpio.\n  combinedHtml += `<p style=\"${styles.p}\">No se encontraron novedades ni datos para revisar en este entorno el día de hoy.</p>`;\n} else {\n  // Unimos todas las partes válidas con un separador <hr>\n  combinedHtml += validHtmlParts.join(`<hr style=\"${styles.hr}\">`);\n}\n\n// Retornamos el contenido para el siguiente nodo (Teams/Email)\nconst parentPairedItem = items.length > 0 ? items[0].pairedItem : undefined;\n\nreturn { \n    json: { htmlContent: combinedHtml },\n    pairedItem: parentPairedItem\n};"
    },
    {
      "parameters": {
        "jsCode": "// [NODO: FAN IN - AGREGADOR]\n// MODO: Run Once for All Items\n\nconst groupedItems = new Map();\nconst finalOutput = [];\n\nconst hasData = (sqlResultData) => {\n  if (!sqlResultData || !Array.isArray(sqlResultData) || sqlResultData.length === 0) return false;\n  return sqlResultData.some(row => (row && Object.keys(row).length > 0));\n};\n\nfor (const item of items) {\n  const json = item.json;\n  const parentId = json.parentGroupId;\n\n  // --- CASO 1: ITEM NORMAL ---\n  if (!parentId) {\n    finalOutput.push(item);\n    continue;\n  }\n\n  // --- CASO 2: ITEM PARTICIONADO ---\n  if (hasData(json.result)) {\n    if (!groupedItems.has(parentId)) {\n      const baseItem = JSON.parse(JSON.stringify(item));\n      if (baseItem.json.associatedCorrection) {\n         baseItem.json.correctionQuery = baseItem.json.associatedCorrection;\n      }\n      baseItem.json.revisionQuery = (baseItem.json.revisionQuery || '').trim();\n      baseItem.json.correctionQuery = (baseItem.json.correctionQuery || '').trim();\n      groupedItems.set(parentId, baseItem);\n    } else {\n      const groupItem = groupedItems.get(parentId);\n      const currentJson = json;\n      groupItem.json.result.push(...currentJson.result);\n      \n      if (currentJson.revisionQuery) {\n        groupItem.json.revisionQuery += '\\n\\n' + currentJson.revisionQuery.trim();\n      }\n      const currentCorrection = currentJson.associatedCorrection || currentJson.correctionQuery;\n      if (currentCorrection) {\n        const prevCorrection = groupItem.json.correctionQuery;\n        groupItem.json.correctionQuery = prevCorrection \n          ? prevCorrection + '\\n\\n' + currentCorrection.trim() \n          : currentCorrection.trim();\n      }\n    }\n  }\n}\n\n// Volcamos los grupos al array final\nfor (const groupItem of groupedItems.values()) {\n  const json = groupItem.json;\n  delete json.parentGroupId;\n  delete json.subQueryIndex;\n  delete json.queryType;\n  delete json.associatedCorrection;\n  groupItem.json = json;\n  finalOutput.push(groupItem);\n}\n\n// CORRECCIÓN DE ORDEN: Ordenamos por queryId (ej: 1.2, 1.3, 1.4)\n// Asumimos que queryId es un string como \"1.2\", \"1.3\", \"4.9\". \n// Usamos localeCompare con 'numeric: true' para que ordene bien números (2 vs 10).\nfinalOutput.sort((a, b) => {\n    const idA = String(a.json.queryId || '');\n    const idB = String(b.json.queryId || '');\n    return idA.localeCompare(idB, undefined, { numeric: true, sensitivity: 'base' });\n});\n\nreturn finalOutput;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -1088
      ],
      "id": "42e4e250-cc25-4f18-b882-1ccbc85a2da9",
      "name": "Fan In",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d074c4b-1844-4125-90f1-002e421f57db",
              "leftValue": "={{$json.htmlContent}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        -1088
      ],
      "id": "65e307ec-eea7-423e-93e9-be9056ab9c6f",
      "name": "If1"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "5 9-18/1 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -992,
        -1088
      ],
      "id": "43473a9d-0d42-417a-b295-fad0cecfa356",
      "name": "Hourly Trigger"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst credentials = $('Set Credentials').first().json\nfor (const item of items) {\n  // 1. Obtenemos el timezone que definimos en las credenciales\n  const zone = $node[\"Credentials Loop\"].json.timezone; \n\n  // 2. Calculamos la hora fresca\n  // Importante: DateTime es global en n8n\n  item.json.hora_ejecucion_real = DateTime.now()\n    .setZone(zone)\n    .toFormat(\"yyyy-MM-dd'T'HH:mm:ss.SSS\");\n    \n  // Timestamp para auditoría (milisegundos)\n  item.json.audit_startTime = new Date().getTime();\n  item.json.timeout = 90000,\n  item.json.user=credentials.user,\n  item.json.password=credentials.password,\n  item.json.database=credentials.database,\n  item.json.port=credentials.port,\n  item.json.server= credentials.server_host\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -896
      ],
      "id": "d88b5ab4-0902-4673-94e2-8260aa5c71fd",
      "name": "Audit Start"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 9 * * 1-5"
            },
            {
              "field": "cronExpression",
              "expression": "30 13 * * 1-5"
            },
            {
              "field": "cronExpression",
              "expression": "30 17 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -992,
        -704
      ],
      "id": "41cbc41a-bc2c-4abd-8025-3688bd2b9aa6",
      "name": "Four-hourly Trigger",
      "notes": "Se ejecuta cada 2 horas, de lunes a viernes, de 7am a 19pm "
    },
    {
      "parameters": {
        "content": "## chekear \n## notificaciones de error\n## retrys - paths - \n## queries - set credentials\n## credenciales correctas\n##\n##",
        "height": 320,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        -1792
      ],
      "typeVersion": 1,
      "id": "9f2aeb61-8dfc-4992-8974-8e50e7103052",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Dashboards de datos especificos de la bbdd?\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        -1488
      ],
      "typeVersion": 1,
      "id": "7d6621ab-73c3-40b0-b474-f340ae124358",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 30) + 1 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        800,
        -1088
      ],
      "id": "fb50ea60-acd9-435b-86cb-c9970c32278e",
      "name": "Random Wait",
      "webhookId": "329833d9-69c2-4be5-b67f-318a207cc620"
    },
    {
      "parameters": {
        "errorMessage": "={{ $item(\"0\").$node[\"Send Results\"].json[\"error\"] }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1472,
        -1056
      ],
      "id": "115550a6-4fb7-474b-a99e-82bee6729f51",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "09d00dc8-81c3-45a4-8d52-c4e8cd69b1a3",
              "leftValue": "={{ $json.error }}",
              "rightValue": "No authorization information present on the request.",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1248,
        -1152
      ],
      "id": "589c274e-87d0-4b3f-9900-e032ed551bf7",
      "name": "Check Error"
    },
    {
      "parameters": {
        "amount": "=30"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1472,
        -1248
      ],
      "id": "a8ba4276-8957-4542-b2a6-c4a00608b9ad",
      "name": "Wait1",
      "webhookId": "329833d9-69c2-4be5-b67f-318a207cc620"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.microsoft.com/beta/teams/2f7e4d78-5cc0-4b00-bb44-372596f96fcf/channels/{{ $(\"Credentials Loop\").first().json.channelId }}/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftTeamsOAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{  \n  {\n  \"body\": {\n    \"contentType\": \"html\",\n    \"content\": $(\"Send Results\").first().json.htmlContent\n    }\n  }\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1696,
        -1248
      ],
      "id": "17006e42-0f52-4b96-a7d5-daa063150593",
      "name": "Send Results Retry1",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      }
    },
    {
      "parameters": {
        "content": "## Cada vez que se ejecuta el flujo, guardar 1 registro\n## Supervisor -> revisa todas las ejeccuciones (puede detectar anomalias si sabemos que esperamos)\n## 3 four hourly por día -> se ejecutaron todas?\n\n## murió a la mitad el primer four hourly, cómo re ejecuto esto automaticamente sin necesidad de hacerlo manual?\n",
        "height": 432,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1952,
        -1872
      ],
      "typeVersion": 1,
      "id": "0a8941e4-ecac-4a18-a24d-12f3c7ff08fa",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Tiempo máximo de timeout? Depende de la query?\n",
        "height": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -256,
        -1504
      ],
      "id": "0ed959e5-7129-4122-86a4-8bfa171ce476",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Al fallar una query, cómo seguimos, y qué hacemos?\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        -1504
      ],
      "id": "cbe3083b-c159-4094-8f26-42b6ae81c44a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Backup type -> bug"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        -1376
      ],
      "id": "175158b7-ebf0-4e59-8ebd-20aef93f836d",
      "name": "Sticky Note6"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -992,
        -320
      ],
      "id": "5e76fbeb-7c99-4cf9-9174-1e2164468269",
      "name": "manual"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "auditoria_queries",
          "mode": "list",
          "cachedResultName": "auditoria_queries"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "id": 0,
            "tiempo": 0,
            "peso": 0,
            "filas_encontradas": 0
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pais",
              "displayName": "pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "entorno",
              "displayName": "entorno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "frecuencia",
              "displayName": "frecuencia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tiempo",
              "displayName": "tiempo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "peso",
              "displayName": "peso",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "filas_encontradas",
              "displayName": "filas_encontradas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "aplicacion",
              "displayName": "aplicacion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "timestamp_tz",
              "displayName": "timestamp_tz",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "hora_limpia",
              "displayName": "hora_limpia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_real",
              "displayName": "fecha_real",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_message",
              "displayName": "error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        800,
        -896
      ],
      "id": "c9462e9a-9a35-4636-83ef-d961757b6f85",
      "name": "Update Metrics",
      "credentials": {
        "postgres": {
          "id": "Fh2O8WF6g31IXgP5",
          "name": "Supabase - Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nconst errorMsg = typeof results[0]?.json?.error === 'string' ? results[0].json.error : null;\nconst hasError = !!errorMsg;\n\n// Unificamos el objeto de fecha\nconst now = new Date();\nconst start = $('Audit Start').item?.json?.audit_startTime || $('Audit Start').first().json.audit_startTime;\n\nconst e = $('Credentials Loop').item?.json || {};\nconst q = $('Query Loop').item?.json || {};\n\n// Asumimos que estas variables se calculan aquí en base a los resultados si no hay error\nconst realResultsCount = hasError ? 0 : results.length;\nconst sizeInBytes = hasError ? 0 : JSON.stringify(results).length; // Ejemplo de cálculo si no venía definido\n\nreturn [{\n  json: {\n    query:             q.queryId     || 'N/A',\n    pais:              e.country     || 'Desconocido',\n    entorno:           e.entorno     || 'Desconocido',\n    frecuencia:        q.type        || 'N/A',\n    description:       q.description || 'Sin descripción',\n    aplicacion:        q.application || 'N/A',\n    tiempo:            +((now - start) / 1000).toFixed(2), // '+' reemplaza a parseFloat\n    peso:              +((sizeInBytes / 1024).toFixed(2)),\n    filas_encontradas: realResultsCount,\n    timestamp_tz:      now.toISOString().split('.')[0].replace('T', ' ') + '+00',\n    fecha_real:        now.toLocaleDateString(\"en-CA\", { timeZone: \"America/Argentina/Buenos_Aires\" }),\n    hora_limpia:       now.toLocaleTimeString(\"en-GB\", { timeZone: \"America/Argentina/Buenos_Aires\" }),\n    status:            !hasError,\n    error_message:     errorMsg || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -896
      ],
      "id": "2b48b80a-bd3a-4262-8752-87169aa8342d",
      "name": "Audit End"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM fn_revision_queries_apps('{{ $json.type }}', ARRAY['VIGA','Beelling','COMFIAR 2'], '{{ $json.country }}');\n",
        "options": {
          "queryReplacement": "={{ $json.type }}, {{ $json.country }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -320,
        -912
      ],
      "id": "be29c0aa-921f-42d3-aedb-65b02f428688",
      "name": "Set Queries",
      "credentials": {
        "postgres": {
          "id": "Fh2O8WF6g31IXgP5",
          "name": "Supabase - Postgres"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -992,
        -896
      ],
      "id": "2bd552d0-5f5a-42f4-8a21-c3bfeabac14f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.revisionQuery.replace(/GETDATE\\(\\)/g, \"'\" + $json.hora_ejecucion_real + \"'\") }}"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        352,
        -896
      ],
      "id": "92914631-732d-4c04-895d-9235819de99a",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "OJnhwvNxTV90RYTs",
          "name": "apgcore"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM fn_revision_queries_apps('{{ $json.type }}', ARRAY['VIGA','Beelling','COMFIAR 2'], '{{ $json.country }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -80,
        384
      ],
      "id": "2e61ea61-c9a7-4773-91e3-5859d1bd1e97",
      "name": "Get Queries",
      "credentials": {
        "postgres": {
          "id": "Fh2O8WF6g31IXgP5",
          "name": "Supabase - Postgres"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f1000000-0000-0000-0000-000000000001",
                    "leftValue": "={{ $json.flag }}",
                    "rightValue": "apgcore",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "apgcore"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f1000000-0000-0000-0000-000000000002",
                    "leftValue": "={{ $json.flag }}",
                    "rightValue": "comfiar2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "comfiar2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        640,
        352
      ],
      "id": "6f33e30f-48d4-4427-8257-de479ed2c527",
      "name": "Elegir Base"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.revisionQuery.replace(/GETDATE\\(\\)/g, \"'\" + $json.hora_ejecucion_real + \"'\") }}"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        816,
        288
      ],
      "id": "be37dcf4-d0c3-46a5-a9bb-950d22ebf56d",
      "name": "SQL apgcore",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "OJnhwvNxTV90RYTs",
          "name": "apgcore"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.revisionQuery.replace(/GETDATE\\(\\)/g, \"'\" + $json.hora_ejecucion_real + \"'\") }}"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        800,
        464
      ],
      "id": "f609a271-4db4-49a6-a1ec-0873f408baed",
      "name": "SQL COMFIAR2",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "notes": "Asignar la credencial guardada de COMFIAR 2.0 (otra base)."
    },
    {
      "parameters": {
        "jsCode": "// Convergencia de las 2 ramas SQL -> punto único para que Map Results lea las filas\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        360
      ],
      "id": "4b8f48e5-d958-4df1-ad93-37b5fcc116da",
      "name": "SQL Out"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 5 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -752,
        832
      ],
      "id": "c74c4672-4c74-4b76-b43a-095eb8fd82f0",
      "name": "Daily Trigger1",
      "alwaysOutputData": true,
      "notes": "De Lunes a Viernes 7:00 AM\n0 0 5 * * 1-5"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 9 * * 1-5"
            },
            {
              "field": "cronExpression",
              "expression": "30 13 * * 1-5"
            },
            {
              "field": "cronExpression",
              "expression": "30 17 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -752,
        576
      ],
      "id": "454abfed-46f5-4f73-9a56-2ad944beb23f",
      "name": "Four-hourly Trigger1"
    },
    {
      "parameters": {
        "jsCode": "const type = $json.type;\nconst paises = [\n  { country: 'AR', canal_prod: '19:KqPHeI2vg9nNHO2de_AHbQGLK2Xh8Ah8iODV2ttJh_k1@thread.tacv2', canal_test: '19:dc98fb5c02394731b1ad9e1524a962b9@thread.tacv2' },\n  { country: 'BO', canal_prod: '19:5e3bf46869f140a39d48f869795379c5@thread.tacv2', canal_test: '19:86a3c7f0143a499d8f125b57ed6bce8f@thread.tacv2' },\n  { country: 'CO', canal_prod: '19:af378cf202564cfc87591f580cd70935@thread.tacv2', canal_test: '19:d0982df38f334f3c9785783c3d9f1e5a@thread.tacv2' },\n  { country: 'PE', canal_prod: '19:d5b204e433134ff5b1f7a90e51d76982@thread.tacv2', canal_test: '19:127b6f887e2e4e148b99c08db9d5dc79@thread.tacv2' },\n];\nreturn paises.map(p => ({ json: { ...p, type } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        720
      ],
      "id": "76f7bbb9-457a-441a-9518-28801f5a27ab",
      "name": "Set Credentials1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -304,
        720
      ],
      "id": "7856b1ba-d7c9-4b11-aaa7-179e21c0e769",
      "name": "Credentials Loop1"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $node['Query Loop1'].context['done']}}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        144,
        384
      ],
      "id": "42a6ad41-469b-4b27-a305-bed796c691d3",
      "name": "Query Loop1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  const app = (item.json.application || '').trim();\n  // selector de base para el Switch (credencial guardada por nodo)\n  item.json.flag = (app === 'COMFIAR 2') ? 'comfiar2' : 'apgcore';\n\n  item.json.hora_ejecucion_real = DateTime.now()\n    .setZone('America/Argentina/Buenos_Aires')   // server apgcore = Argentina\n    .toFormat(\"yyyy-MM-dd'T'HH:mm:ss.SSS\");\n  item.json.audit_startTime = new Date().getTime();\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        400
      ],
      "id": "2750b451-4f9a-4112-a174-6a8f625301a6",
      "name": "Audit Start1"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nconst errorMsg = typeof results[0]?.json?.error === 'string' ? results[0].json.error : null;\nconst hasError = !!errorMsg;\n\nconst now = new Date();\nconst start = $('Audit Start1').item?.json?.audit_startTime || $('Audit Start1').first().json.audit_startTime;\nconst e = $('Credentials Loop1').item?.json || {};\nconst q = $('Query Loop1').item?.json || {};\n\nconst isEmpty = results.length === 1 && Object.keys(results[0].json || {}).length === 0;\nconst realResultsCount = hasError || isEmpty ? 0 : results.length;\nconst sizeInBytes = hasError ? 0 : JSON.stringify(results.map(r => r.json)).length;\n\nreturn [{\n  json: {\n    query:             q.queryId     || 'N/A',\n    pais:              e.country      || 'Desconocido',\n    entorno:           q.target_env   || 'Desconocido',\n    frecuencia:        q.type         || 'N/A',\n    description:       q.description  || 'Sin descripción',\n    aplicacion:        q.application  || 'N/A',\n    tiempo:            +((now - start) / 1000).toFixed(2),\n    peso:              +((sizeInBytes / 1024).toFixed(2)),\n    filas_encontradas: realResultsCount,\n    timestamp_tz:      now.toISOString().split('.')[0].replace('T', ' ') + '+00',\n    fecha_real:        now.toLocaleDateString(\"en-CA\", { timeZone: \"America/Argentina/Buenos_Aires\" }),\n    hora_limpia:       now.toLocaleTimeString(\"en-GB\", { timeZone: \"America/Argentina/Buenos_Aires\" }),\n    status:            !hasError,\n    error_message:     errorMsg || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        352
      ],
      "id": "f703a194-5976-41b3-b2e8-6bc4071befb9",
      "name": "Audit End1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "auditoria_queries",
          "mode": "list",
          "cachedResultName": "auditoria_queries"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1488,
        360
      ],
      "id": "ad882224-a669-4eca-9ee0-eba9ffaccf8e",
      "name": "Update Metrics1",
      "credentials": {
        "postgres": {
          "id": "Fh2O8WF6g31IXgP5",
          "name": "Supabase - Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const audit = $('Update Metrics1').item.json;\nconst ctx   = $('Query Loop1').item.json;\nconst out   = JSON.parse(JSON.stringify(ctx));\n\nlet rows = [], estado;\nif (audit.status === false) {\n  estado = 'ERROR';\n} else {\n  rows = $('SQL Out').all().map(i => i.json).filter(j => Object.keys(j).length > 0);\n  estado = rows.length ? 'OK' : 'VACIO';\n}\n\nout.result        = rows;\nout._status       = estado;          // OK | VACIO | ERROR\nout._isError      = audit.status === false;\nout._errorMessage = audit.error_message || null;\nout.filas         = audit.filas_encontradas;\nreturn { json: out };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1712,
        432
      ],
      "id": "babee3bc-8246-425f-ba5c-943cd17cdf3f",
      "name": "Map Results1"
    },
    {
      "parameters": {
        "jsCode": "// [Set HTML - Apps] Run Once for All Items. Agrupa por aplicación.\nconst allItems = $input.all();\nif (allItems.length === 0) return { json: { htmlContent: '' } };\nconst rows = allItems.map(i => i.json);\n\nconst errores = rows.filter(r => r._isError === true);\nconst ok      = rows.filter(r => r._isError !== true);\n\nlet type = 'General';\ntry { type = $('Credentials Loop1').first().json['type'] || 'General'; } catch (e) {}\n\nconst esc = v => (v === null || v === undefined) ? '' : String(v).replace(/</g,'&lt;').replace(/>/g,'&gt;');\nlet html = `<div style=\"font-family:sans-serif;font-size:13px;color:#000;\">`;\nhtml += `<h2 style=\"font-size:14px;\">Revisión Apps — ${type}</h2>`;\n\nif (errores.length) {\n  html += `<h3 style=\"color:#d9534f;\">Queries con error</h3><ul>`;\n  for (const e of errores) html += `<li>⚠️ [${esc(e.application)}] Punto ${esc(e.queryId)}: ${esc(e.description)} — ${esc((e._errorMessage||'').slice(0,300))}</li>`;\n  html += `</ul><hr>`;\n}\n\nconst grupos = {};\nfor (const r of ok) { (grupos[r.application || 'App'] ||= []).push(r); }\nlet hayTablas = false;\nfor (const [app, lista] of Object.entries(grupos)) {\n  const conDatos = lista.filter(r => Array.isArray(r.result) && r.result.length > 0);\n  if (!conDatos.length) continue;\n  hayTablas = true;\n  html += `<h2 style=\"font-size:14px;\">🔹 ${esc(app)}</h2>`;\n  for (const r of conDatos) {\n    html += `<h3 style=\"font-size:14px;\">Punto ${esc(r.queryId)}: ${esc(r.description)} <small>(${esc(r.country)}/${esc(r.target_env)})</small></h3>`;\n    const data = r.result.slice(0, 150);\n    const headers = Object.keys(data[0] || {}).slice(0, 10);\n    html += `<table border=\"1\" cellpadding=\"4\" cellspacing=\"0\" style=\"border-collapse:collapse;\"><tr bgcolor=\"#f2f2f2\">`;\n    for (const h of headers) html += `<th align=\"left\">${esc(h)}</th>`;\n    html += `</tr>`;\n    for (const row of data) { html += '<tr>'; for (const h of headers) html += `<td>${esc(row[h])}</td>`; html += '</tr>'; }\n    html += `</table>`;\n  }\n}\n\nif (!errores.length && !hayTablas) {\n  if (['Hourly','Bi-hourly','Nightly'].includes(type)) return [];\n  html += `<p>✅ Sin novedades.</p>`;\n}\nhtml += `</div>`;\nreturn { json: { htmlContent: html } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        32
      ],
      "id": "78eed4fd-db2f-41b8-ad47-1ed69bf50441",
      "name": "Set  HTML1",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d074c4b-1844-4125-90f1-002e421f57db",
              "leftValue": "={{$json.htmlContent}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        32
      ],
      "id": "09d17e4d-8c05-43d2-ad81-5c61d9f02180",
      "name": "If"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 30) + 1 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        736,
        32
      ],
      "id": "528c5c77-d212-4d2e-9ba1-89c025dbb723",
      "name": "Random Wait1",
      "webhookId": "329833d9-69c2-4be5-b67f-318a207cc620"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "53f577e2-4094-42b5-8a8b-695b91d0d74f",
          "mode": "list",
          "cachedResultName": "n8n notifications"
        },
        "channelId": {
          "__rl": true,
          "value": "19:66a0a41922ef4004a143795eb59a3a9e@thread.tacv2",
          "mode": "list",
          "cachedResultName": "test-interno",
          "cachedResultUrl": "https://teams.cloud.microsoft/l/channel/19%3A66a0a41922ef4004a143795eb59a3a9e%40thread.tacv2/test-interno?groupId=53f577e2-4094-42b5-8a8b-695b91d0d74f&tenantId=f89f7128-f0c6-4302-9881-8e0697d39336&allowXTenantAccess=False&ngc=True"
        },
        "contentType": "html",
        "message": "={{ $json.htmlContent }}",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        960,
        32
      ],
      "id": "4b33e344-b349-4997-b5b9-48d9f2f54e97",
      "name": "Send Results1",
      "webhookId": "bf236dd6-db9a-4836-9e42-fbbb1824f2c8",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1232,
        16
      ],
      "id": "1a8b8ee8-0335-40de-a7b4-b1300edbee58",
      "name": "Wait2",
      "webhookId": "1be973ac-e2e4-495b-b3c2-20b2d7f44c5a"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "createdAt": "2026-01-26T21:54:00.001Z",
      "updatedAt": "2026-01-26T21:54:00.001Z",
      "role": "workflow:owner",
      "workflowId": "ABtvnJIXyOxaiexU",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": {
    "node:Daily Trigger": {
      "recurrenceRules": []
    },
    "node:Hourly Trigger": {
      "recurrenceRules": []
    },
    "node:Four-hourly Trigger": {
      "recurrenceRules": []
    },
    "node:Monthly Trigger": {
      "recurrenceRules": []
    },
    "node:Daily Trigger1": {
      "recurrenceRules": []
    },
    "node:Monthly Trigger1": {
      "recurrenceRules": []
    },
    "node:Hourly Trigger1": {
      "recurrenceRules": []
    },
    "node:Four-hourly Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 9,
  "updatedAt": "2026-06-29T20:21:45.759Z",
  "versionId": "3c528867-8b04-4ccd-9981-326f0432c9c4"
}