folder/Revisión de Entornos - Apps.json
{
  "active": true,
  "connections": {
    "Get Queries": {
      "main": [
        [
          {
            "node": "If valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Credentials1": {
      "main": [
        [
          {
            "node": "Credentials Loop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Credentials Loop1": {
      "main": [
        [],
        [
          {
            "node": "Get Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Loop1": {
      "main": [
        [
          {
            "node": "Set  HTML1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Audit Start1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Start1": {
      "main": [
        [
          {
            "node": "SQL Execute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit End1": {
      "main": [
        [
          {
            "node": "Update Metrics1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Metrics1": {
      "main": [
        [
          {
            "node": "Map Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Results1": {
      "main": [
        [
          {
            "node": "Query Loop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set  HTML1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send Results1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Credentials Loop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Results1": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Credentials Loop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Execute": {
      "main": [
        [
          {
            "node": "Audit End1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If valid": {
      "main": [
        [
          {
            "node": "Query Loop1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Credentials Loop1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Four-hourly Trigger": {
      "main": [
        [
          {
            "node": "Set Credentials1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Set Credentials1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-14T18:39:13.443Z",
  "id": "ABtvnJIXyOxaiexU",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Revisión de Entornos - Apps",
  "nodes": [
    {
      "parameters": {
        "content": "Dashboards de datos especificos de la bbdd?\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1712,
        -1600
      ],
      "typeVersion": 1,
      "id": "133fbfc2-0f2d-43a9-b082-bfb2d4b272fc",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## chekear \n## notificaciones de error\n## retrys - paths - \n## queries - set credentials\n## credenciales correctas\n##\n##",
        "height": 320,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        -1792
      ],
      "typeVersion": 1,
      "id": "9f2aeb61-8dfc-4992-8974-8e50e7103052",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Dashboards de datos especificos de la bbdd?\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        -1488
      ],
      "typeVersion": 1,
      "id": "7d6621ab-73c3-40b0-b474-f340ae124358",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Cada vez que se ejecuta el flujo, guardar 1 registro\n## Supervisor -> revisa todas las ejeccuciones (puede detectar anomalias si sabemos que esperamos)\n## 3 four hourly por día -> se ejecutaron todas?\n\n## murió a la mitad el primer four hourly, cómo re ejecuto esto automaticamente sin necesidad de hacerlo manual?\n",
        "height": 432,
        "width": 656
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1952,
        -1872
      ],
      "typeVersion": 1,
      "id": "0a8941e4-ecac-4a18-a24d-12f3c7ff08fa",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Tiempo máximo de timeout? Depende de la query?\n",
        "height": 272
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -256,
        -1504
      ],
      "id": "0ed959e5-7129-4122-86a4-8bfa171ce476",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Al fallar una query, cómo seguimos, y qué hacemos?\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        -1504
      ],
      "id": "cbe3083b-c159-4094-8f26-42b6ae81c44a",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM fn_revision_queries_apps('{{ $json.type }}', ARRAY['VIGA','Beelling','COMFIAR 2'], '{{ $json.country }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        448,
        128
      ],
      "id": "8175cf45-01f6-482b-a495-3e7eb9018e15",
      "name": "Get Queries",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Fh2O8WF6g31IXgP5",
          "name": "Supabase - Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let type = 'Daily';\nif ($('Four-hourly Trigger').isExecuted)  type = 'Four-hourly';\nelse if ($('Daily Trigger').isExecuted)   type = 'Daily';\nconst paises = [\n  { country: 'AR', channelId: '19:KqPHeI2vg9nNHO2de_AHbQGLK2Xh8Ah8iODV2ttJh_k1@thread.tacv2', canal_test: '19:dc98fb5c02394731b1ad9e1524a962b9@thread.tacv2' },\n  { country: 'BO', channelId: '19:5e3bf46869f140a39d48f869795379c5@thread.tacv2', canal_test: '19:86a3c7f0143a499d8f125b57ed6bce8f@thread.tacv2' },\n  { country: 'CO', channelId: '19:af378cf202564cfc87591f580cd70935@thread.tacv2', canal_test: '19:d0982df38f334f3c9785783c3d9f1e5a@thread.tacv2' },\n  { country: 'PE', channelId: '19:d5b204e433134ff5b1f7a90e51d76982@thread.tacv2', canal_test: '19:127b6f887e2e4e148b99c08db9d5dc79@thread.tacv2' },\n];\nreturn paises.map(p => ({ json: { ...p, type } }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        112
      ],
      "id": "4b1ddf93-9470-4d1b-abcd-280596eaa934",
      "name": "Set Credentials1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        224,
        112
      ],
      "id": "d91e3d17-f061-4fdc-a799-494a65948305",
      "name": "Credentials Loop1"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $node['Query Loop1'].context['done']}}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        944,
        112
      ],
      "id": "be84b2e2-ddfb-472b-bcfd-395411daa404",
      "name": "Query Loop1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (const item of items) {\n  const app = (item.json.application || '').trim();\n  // selector de base para el Switch (credencial guardada por nodo)\n  item.json.flag = (app === 'COMFIAR 2') ? 'comfiar2' : 'apgcore';\n\n  item.json.hora_ejecucion_real = DateTime.now()\n    .setZone('America/Argentina/Buenos_Aires')   // server apgcore = Argentina\n    .toFormat(\"yyyy-MM-dd'T'HH:mm:ss.SSS\");\n  item.json.audit_startTime = new Date().getTime();\n}\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        128
      ],
      "id": "d2fe92d1-77fe-4788-b652-38ae2a9e2ea0",
      "name": "Audit Start1"
    },
    {
      "parameters": {
        "jsCode": "const results = $input.all();\nconst errorMsg = typeof results[0]?.json?.error === 'string' ? results[0].json.error : null;\nconst hasError = !!errorMsg;\n\nconst now = new Date();\nconst start = $('Audit Start1').item?.json?.audit_startTime || $('Audit Start1').first().json.audit_startTime;\nconst e = $('Credentials Loop1').item?.json || {};\nconst q = $('Query Loop1').item?.json || {};\n\nconst isEmpty = results.length === 1 && Object.keys(results[0].json || {}).length === 0;\nconst realResultsCount = hasError || isEmpty ? 0 : results.length;\nconst sizeInBytes = hasError ? 0 : JSON.stringify(results.map(r => r.json)).length;\n\nreturn [{\n  json: {\n    query:             q.queryId     || 'N/A',\n    pais:              e.country      || 'Desconocido',\n    entorno:           q.target_env   || 'Desconocido',\n    frecuencia:        q.type         || 'N/A',\n    description:       q.description  || 'Sin descripción',\n    aplicacion:        q.application  || 'N/A',\n    tiempo:            +((now - start) / 1000).toFixed(2),\n    peso:              +((sizeInBytes / 1024).toFixed(2)),\n    filas_encontradas: realResultsCount,\n    timestamp_tz:      now.toISOString().split('.')[0].replace('T', ' ') + '+00',\n    fecha_real:        now.toLocaleDateString(\"en-CA\", { timeZone: \"America/Argentina/Buenos_Aires\" }),\n    hora_limpia:       now.toLocaleTimeString(\"en-GB\", { timeZone: \"America/Argentina/Buenos_Aires\" }),\n    status:            !hasError,\n    error_message:     errorMsg || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        128
      ],
      "id": "a8f8a952-34c2-4e1d-b48e-f943ffd1c248",
      "name": "Audit End1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "auditoria_queries",
          "mode": "list",
          "cachedResultName": "auditoria_queries"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1776,
        128
      ],
      "id": "a6ae8ed4-212e-4ec5-87b3-9d721171050d",
      "name": "Update Metrics1",
      "credentials": {
        "postgres": {
          "id": "Fh2O8WF6g31IXgP5",
          "name": "Supabase - Postgres"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const audit = $('Update Metrics1').first().json;\nconst ctx   = $('Query Loop1').first().json;\nconst out   = JSON.parse(JSON.stringify(ctx));\n\nlet rows = [], estado;\nif (audit.status === false) {\n  estado = 'ERROR';\n} else {\n  rows = $('SQL Execute').all().map(i => i.json).filter(j => Object.keys(j).length > 0);\n  estado = rows.length ? 'OK' : 'VACIO';\n}\n\nout.result        = rows;\nout._status       = estado;          // OK | VACIO | ERROR\nout._isError      = audit.status === false;\nout._errorMessage = audit.error_message || null;\nout.filas         = audit.filas_encontradas;\nout.country       = audit.pais;\nreturn { json: out };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        128
      ],
      "id": "1fa8bbc2-65cd-453f-9031-c78e8acdbbd8",
      "name": "Map Results1"
    },
    {
      "parameters": {
        "jsCode": "// [Set HTML1 - Apps] 1 item por aplicación\nconst allItems = $input.all();\nif (allItems.length === 0) return [];\n\nconst rows = allItems.map(i => i.json);\nlet type = 'General';\ntry { type = $('Credentials Loop1').first().json['type'] || 'General'; } catch(e) {}\n\nconst esc = v => (v == null) ? '' : String(v).replace(/</g, '&lt;').replace(/>/g, '&gt;');\n\nconst apps = {};\nfor (const r of rows) {\n  const app = r.application || 'Sin App';\n  if (!apps[app]) apps[app] = [];\n  apps[app].push(r);\n}\n\nconst output = [];\n\nfor (const [appName, appItems] of Object.entries(apps)) {\n  const errores  = appItems.filter(r => r._isError === true);\n  const conDatos = appItems.filter(r => !r._isError && Array.isArray(r.result) && r.result.length > 0);\n  const vacios   = appItems.filter(r => !r._isError && (!Array.isArray(r.result) || r.result.length === 0));\n\n  if (!errores.length && !conDatos.length && ['Hourly', 'Bi-hourly', 'Nightly'].includes(type)) continue;\n\n  let html = '<div style=\"font-family:sans-serif;font-size:13px;color:#000;\">';\n  html += `<h2 style=\"font-size:16px;font-weight:bold;border-bottom:2px solid #222;padding-bottom:6px;margin:0 0 14px 0;\">Revisión ${esc(type)} — ${esc(appName)}</h2>`;\n\n  if (errores.length) {\n    html += '<div style=\"background:#fff3cd;border-left:4px solid #ffc107;padding:8px 12px;margin-bottom:14px;\">';\n    html += `<b style=\"color:#856404;\">⚠ Queries con error (${errores.length})</b>`;\n    html += '<ul style=\"margin:6px 0 0 0;padding-left:18px;\">';\n    for (const e of errores) {\n      html += `<li style=\"margin-bottom:4px;\"><b>[${esc(e.queryId)}] ${esc(e.description)}</b>`;\n      if (e._errorMessage) html += `<br><small style=\"color:#666;\">${esc(String(e._errorMessage).slice(0, 400))}</small>`;\n      html += '</li>';\n    }\n    html += '</ul></div>';\n  }\n\n  for (const r of conDatos) {\n    html += `<h3 style=\"font-size:13px;font-weight:bold;margin:12px 0 4px 0;\">Punto ${esc(r.queryId)}: ${esc(r.description)}</h3>`;\n    const MAX_ROWS = 150, MAX_COLS = 10;\n    const data    = r.result.slice(0, MAX_ROWS);\n    const allKeys = Object.keys(r.result[0] || {});\n    const headers = allKeys.slice(0, MAX_COLS);\n    html += '<table border=\"1\" cellpadding=\"4\" cellspacing=\"0\" style=\"border-collapse:collapse;width:100%;margin-bottom:6px;\"><thead><tr bgcolor=\"#f2f2f2\">';\n    for (const h of headers) html += `<th align=\"left\">${esc(h)}</th>`;\n    html += '</tr></thead><tbody>';\n    for (const row of data) {\n      html += '<tr>';\n      for (const h of headers) html += `<td>${esc(row[h])}</td>`;\n      html += '</tr>';\n    }\n    html += '</tbody></table>';\n    if (r.result.length > MAX_ROWS || allKeys.length > MAX_COLS) {\n      const notes = [];\n      if (r.result.length > MAX_ROWS) notes.push(`${MAX_ROWS} de ${r.result.length} filas`);\n      if (allKeys.length > MAX_COLS) notes.push(`${MAX_COLS} de ${allKeys.length} columnas`);\n      html += `<p style=\"font-size:11px;font-style:italic;color:#666;margin:0 0 8px 0;\">(Vista limitada: ${notes.join(', ')})</p>`;\n    }\n    if (String(r.pattern || '').trim() === '2') {\n      const q = `-- SELECT\\n${r.revisionQuery || ''}\\n\\n-- UPDATE\\n${r.correctionQuery || ''}`;\n      html += `<pre style=\"font-family:monospace;font-size:11px;background:#f4f4f4;padding:8px;border:1px solid #ccc;margin-bottom:8px;\">${esc(q)}</pre>`;\n    }\n  }\n\n  if (!errores.length && !conDatos.length) html += '<p>✅ Sin novedades.</p>';\n\n  if (vacios.length > 0 && (errores.length > 0 || conDatos.length > 0)) {\n    html += '<p style=\"font-size:11px;font-style:italic;color:#666;border-top:1px solid #eee;padding-top:8px;margin-top:12px;\">El resto de los puntos no dieron resultados.</p>';\n  }\n\n  html += '</div>';\n  output.push({ json: { htmlContent: html, application: appName } });\n}\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -176
      ],
      "id": "f752991f-ffca-4ea2-ac9f-95e95298e598",
      "name": "Set  HTML1",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d074c4b-1844-4125-90f1-002e421f57db",
              "leftValue": "={{$json.htmlContent}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1488,
        -176
      ],
      "id": "8915a822-3f0c-4794-9cbb-847469505679",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "2f7e4d78-5cc0-4b00-bb44-372596f96fcf",
          "mode": "list",
          "cachedResultName": "Notificaciones Soporte"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $(\"Credentials Loop1\").first().json.channelId }}",
          "mode": "id"
        },
        "contentType": "html",
        "message": "={{ $json.htmlContent }}",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1728,
        -192
      ],
      "id": "1be581f2-e39c-41b6-b087-1ce1a8f04eab",
      "name": "Send Results1",
      "webhookId": "bf236dd6-db9a-4836-9e42-fbbb1824f2c8",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2000,
        -208
      ],
      "id": "dfa163f2-6a9a-463d-a532-954038d1a3d0",
      "name": "Wait2",
      "webhookId": "1be973ac-e2e4-495b-b3c2-20b2d7f44c5a"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3pr7wL0vbaiWmaGy",
          "mode": "list",
          "cachedResultUrl": "/workflow/3pr7wL0vbaiWmaGy",
          "cachedResultName": "SQL Execute"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1376,
        128
      ],
      "id": "4512d3cd-986f-45e6-8a8f-34af170a51eb",
      "name": "SQL Execute",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "9a173751-e996-4a28-8173-bc0869a73aa7",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        656,
        128
      ],
      "id": "62a87738-0361-433d-a6e6-91c3fa776a4f",
      "name": "If valid",
      "notes": "Revisa si hay o no consultas para ejecutar en el país actual\nSi las hay, sigue el flujo normal\nSi no hay, salta al siguiente país"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "40 9 * * 1-5"
            },
            {
              "field": "cronExpression",
              "expression": "40 13 * * 1-5"
            },
            {
              "field": "cronExpression",
              "expression": "40 17 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -176,
        -32
      ],
      "id": "fac964d8-9914-42db-b603-b3bb89cae64d",
      "name": "Four-hourly Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 5 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -176,
        224
      ],
      "id": "45a0a182-8cbf-4b6f-9299-fd92b97591b8",
      "name": "Daily Trigger",
      "alwaysOutputData": true,
      "notes": "De Lunes a Viernes 7:00 AM\n0 0 5 * * 1-5"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "h1TswfYCSmmTHJwB"
  },
  "shared": [
    {
      "createdAt": "2026-01-26T21:54:00.001Z",
      "updatedAt": "2026-01-26T21:54:00.001Z",
      "role": "workflow:owner",
      "workflowId": "ABtvnJIXyOxaiexU",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": {
    "node:Daily Trigger": {
      "recurrenceRules": []
    },
    "node:Hourly Trigger": {
      "recurrenceRules": []
    },
    "node:Four-hourly Trigger": {
      "recurrenceRules": []
    },
    "node:Monthly Trigger": {
      "recurrenceRules": []
    },
    "node:Daily Trigger1": {
      "recurrenceRules": []
    },
    "node:Monthly Trigger1": {
      "recurrenceRules": []
    },
    "node:Hourly Trigger1": {
      "recurrenceRules": []
    },
    "node:Four-hourly Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2026-07-06T19:13:22.173Z",
  "versionId": "9c6302c1-3e65-42c7-82e7-a06e367ffab9"
}