folder/Revisión de Entornos - Error Handler.json
{
  "active": false,
  "connections": {
    "Audit Start": {
      "main": [
        [
          {
            "node": "SQL Execute1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit End": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Execute1": {
      "main": [
        [
          {
            "node": "Audit End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Results1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set  HTML1": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fan In1": {
      "main": [
        [
          {
            "node": "Set  HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Send Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Map Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Loop1": {
      "main": [
        [],
        [
          {
            "node": "Audit Start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-01-11T14:31:58.728Z",
  "id": "aggj1YZ7Lmhbv9Ct",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Revisión de Entornos - Error Handler",
  "nodes": [
    {
      "parameters": {
        "content": "## Este flujo es una copia resumida del flujo original, ideada y desarrollada con el objetivo de ejecutar el flujo original desde el punto donde lo dejó la última ejecución\n## Detectar fallos y retomar desde ahí\n## O detectar que el flujo no se ejecutó y ejecutarlo\n",
        "height": 512,
        "width": 416
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -672,
        224
      ],
      "typeVersion": 1,
      "id": "0c88ebbb-6bdb-4355-9dc2-c847283f0ea6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15mYqZzJZ49PhJFsOYbU1tWZH83EpIMJCoWjtmQHXAcU",
          "mode": "list",
          "cachedResultName": "control_revisiones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15mYqZzJZ49PhJFsOYbU1tWZH83EpIMJCoWjtmQHXAcU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15mYqZzJZ49PhJFsOYbU1tWZH83EpIMJCoWjtmQHXAcU/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "estado",
              "lookupValue": "Pendiente"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        144,
        208
      ],
      "id": "269516a9-6917-45f7-a730-63921ac8ff9b",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Necesito queries y credenciales (sql, teams, etc)"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        240
      ],
      "typeVersion": 1,
      "id": "3e52d898-2aaf-461a-9855-ff438373d9fc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -224,
        464
      ],
      "id": "6317a8d8-aba2-4f4e-9c0d-129ea1e29cac",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        48,
        512
      ],
      "id": "69a8154f-35c7-4634-8bcf-7d226b5f14a4",
      "name": "Credentials Loop1"
    },
    {
      "parameters": {
        "options": {
          "reset": "={{ $node['Query Loop1'].context['done']}}"
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        560,
        736
      ],
      "id": "f609e67e-8eb6-46d6-b655-7e54575886cb",
      "name": "Query Loop1"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2768,
        512
      ],
      "id": "a76e4ebb-5956-49f8-af44-eab47058b42a",
      "name": "Wait",
      "webhookId": "0ca8dabc-ea86-466f-a91c-5d37b9c00761"
    },
    {
      "parameters": {
        "jsCode": "// Capturamos el momento exacto de inicio en milisegundos\nconst startTime = new Date().getTime();\n\n// Añadimos esta marca de tiempo a cada ítem que pasa por el flujo\n// para que esté disponible después de la consulta SQL\nfor (const item of $(\"Query Loop1\").all()) {\n  item.json.audit_startTime = startTime;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        752
      ],
      "id": "c51af57d-3752-40af-89f1-c866fce8d6e5",
      "name": "Audit Start"
    },
    {
      "parameters": {
        "jsCode": "const endTime = new Date().getTime();\nconst results = $input.all();\n\n// 1. Buscamos el tiempo de inicio (Audit_Start)\nconst startTime = $('Audit Start').first().json.audit_startTime;\n\n// 2. Buscamos el País y Entorno del loop actual\n// Usamos .item para asegurarnos de traer el dato de la vuelta actual del bucle\nconst envData = $('Credentials Loop1').item.json;\n\nconst queryData = $('Query Loop1').item.json;\n// 3. Calculamos el peso\nconst payloadString = JSON.stringify(results);\nconst sizeInBytes = Buffer.byteLength(payloadString, 'utf8');\n\n// 4. Construimos el objeto de auditoría final\n// Si el SQL devolvió [{}], lo tratamos como vacío para el conteo\nconst realResultsCount = (results.length === 1 && Object.keys(results[0].json).length === 0) ? 0 : results.length;\n\nreturn [{\n  json: {\n    // Datos de Identificación (vienen del Loop)\n    pais: envData.country || 'Desconocido',\n    entorno: envData.entorno || 'Desconocido',\n    query: queryData.queryId || 'N/A',\n    description: queryData.description || 'Sin descripción',\n    timestamp: new Date().toLocaleString(\"es-AR\", { timeZone: \"America/Argentina/Buenos_Aires\" }),\n    tiempo: parseFloat(((endTime - startTime) / 1000).toFixed(2)),\n    peso: parseFloat((sizeInBytes / 1024).toFixed(2)),\n    filas_encontradas: realResultsCount\n    }\n  \n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        752
      ],
      "id": "609bb922-918a-4d78-b8c5-82b0f3c2f539",
      "name": "Audit End"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.revisionQuery }}"
      },
      "id": "ee43dd13-ecf1-407d-850c-759ac11d9114",
      "name": "SQL Execute1",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        1088,
        752
      ],
      "notesInFlow": false,
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "microsoftSql": {
          "id": "7G3SN0kKPTZvCl0e",
          "name": "SQL-04"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// [NODO: Map Results - DENTRO DEL BUCLE]\n// MODO: Run Once for ALL Items\n\n// 1. Obtener los resultados del nodo \"SQL Execute\" específicamente\n// Usamos $('SQL Execute1').all() para recuperar sus datos aunque haya nodos intermedios.\nconst sqlResults = $(\"SQL Execute1\").all().map(i => i.json);\n\n// 2. Obtener el item de contexto (la query) del nodo \"Query Loop\"\n// Mantenemos la referencia al nodo que controla el bucle.\nconst contextItem = $node[\"Query Loop1\"].json;\n\n// 3. Fusionar: Añadimos los resultados del SQL dentro del item de contexto\n// Creamos una copia para evitar problemas de referencia\nconst outputItem = JSON.parse(JSON.stringify(contextItem));\noutputItem.result = sqlResults;\n\n// 4. Devolver el item fusionado y listo\n// El resultado tendrá la estructura: { \"queryId\": \"...\", ..., \"result\": [ {fila1}, {fila2} ] }\nreturn { json: outputItem };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        752
      ],
      "id": "e2218c0f-6ae9-443d-886f-36dd8e46b035",
      "name": "Map Results1"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "53f577e2-4094-42b5-8a8b-695b91d0d74f",
          "mode": "list",
          "cachedResultName": "n8n notifications"
        },
        "channelId": {
          "__rl": true,
          "value": "19:66a0a41922ef4004a143795eb59a3a9e@thread.tacv2",
          "mode": "list",
          "cachedResultName": "test-interno",
          "cachedResultUrl": "https://teams.cloud.microsoft/l/channel/19%3A66a0a41922ef4004a143795eb59a3a9e%40thread.tacv2/test-interno?groupId=53f577e2-4094-42b5-8a8b-695b91d0d74f&tenantId=f89f7128-f0c6-4302-9881-8e0697d39336&allowXTenantAccess=True&ngc=True"
        },
        "contentType": "html",
        "message": "={{ $json.htmlContent }}",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        2528,
        512
      ],
      "id": "4e9eed09-ead1-41c8-a907-14b57e93f4ca",
      "name": "Send Results1",
      "webhookId": "4c03ff36-2f79-4da4-be45-7843a06ff099",
      "retryOnFail": true,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      },
      "disabled": true,
      "notes": "{{ $item(\"0\").$node[\"Credentials Loop\"].json[\"channelId\"] }}\n\n{{ $json.htmlContent }}"
    },
    {
      "parameters": {
        "jsCode": "// [NODO: Set HTML - Versión Ultra-Ligera]\n// MODO: Run Once for All Items\n\nconst allItems = $input.all();\n\n\nlet reportType = \"General\";\ntry { \n    reportType = $(\"Credentials Loop1\").first().json[\"type\"] || \"General\"; \n} catch(e) {}\n\n// Si no hay ítems de entrada, validamos anti-spam básico\nif (allItems.length === 0) {\n    if (['Bi-hourly', 'Hourly'].includes(reportType)) return []; \n    return { json: { htmlContent: \"<p>No hay datos que procesar.</p>\" } };\n}\n\nconst allQueries = allItems.map(item => item.json);\nlet validHtmlParts = []; \nlet hiddenQueriesCount = 0;\n\n// --- 1. ESTILOS MÍNIMOS (Centralizados para evitar repetición) ---\nconst styles = {\n    container: 'font-family:sans-serif;font-size:13px;color:#000;',\n    h1: 'font-size:20px;margin:0;',\n    h2: 'font-size:13px;margin:0 0 15px 0;text-transform:uppercase;font-weight:normal;',\n    h3: 'font-size:15px;font-weight:bold;margin:15px 0 5px 0;',\n    table: 'width:100%;border-collapse:collapse;', // El resto se maneja con atributos nativos\n    pre: 'font-family:monospace;font-size:11px;background:#f4f4f4;padding:8px;border:1px solid #ccc;',\n    notice: 'font-size:11px;font-style:italic;',\n    footer: 'margin-top:15px;font-size:12px;border-top:1px solid #eee;'\n};\n\n// --- 2. PROCESAMIENTO DE ITEMS ---\nfor (const item of allQueries) {\n    const results = item.result;\n    \n    let isEmpty = false;\n    if (!results) isEmpty = true;\n    else if (Array.isArray(results) && results.length === 0) isEmpty = true;\n    else if (Array.isArray(results) && results.length === 1) {\n        const firstItem = results[0];\n        if (firstItem === null || (typeof firstItem === 'object' && Object.keys(firstItem).length === 0)) {\n            isEmpty = true;\n        }\n    }\n\n    if (isEmpty) {\n        hiddenQueriesCount++; \n        continue; \n    }\n\n    let itemHtml = `<h3 style=\"${styles.h3}\">Punto ${item.queryId}: ${item.description || \"Sin descripción\"}</h3>`;\n\n    const MAX_ROWS = 150; // AHORA PUEDES SUBIR ESTE LÍMITE\n    const MAX_COLS = 10;\n    let data = results.length > MAX_ROWS ? results.slice(0, MAX_ROWS) : results;\n    let fullHeaders = Object.keys(data[0] || {});\n    let headers = fullHeaders.length > MAX_COLS ? fullHeaders.slice(0, MAX_COLS) : fullHeaders;\n\n    // USO DE ATRIBUTOS NATIVOS: border, cellpadding y cellspacing para ahorrar bytes por celda\n    itemHtml += `<table border=\"1\" cellpadding=\"4\" cellspacing=\"0\" style=\"${styles.table}\"><thead><tr bgcolor=\"#f2f2f2\">`;\n    for (const h of headers) itemHtml += `<th align=\"left\">${h}</th>`;\n    itemHtml += \"</tr></thead><tbody>\";\n    \n    for (const row of data) {\n        itemHtml += \"<tr>\";\n        for (const h of headers) {\n            const val = row[h];\n            const cleanVal = (val === null || val === undefined) ? \"\" : String(val).replace(/</g, '&lt;').replace(/>/g, '&gt;');\n            itemHtml += `<td>${cleanVal}</td>`; // CERO estilos aquí, hereda del contenedor\n        }\n        itemHtml += \"</tr>\";\n    }\n    itemHtml += \"</tbody></table>\";\n\n    if (results.length > MAX_ROWS || fullHeaders.length > MAX_COLS) {\n        itemHtml += `<p style=\"${styles.notice}\">(Vista limitada: ${results.length > MAX_ROWS ? MAX_ROWS + ' filas ' : ''}${fullHeaders.length > MAX_COLS ? MAX_COLS + ' columnas' : ''})</p>`;\n    }\n\n    if (String(item.pattern || \"0\").trim() === '2') {\n        const combinedQueryText = `-- SELECT\\n${item.revisionQuery || \"\"}\\n\\n-- UPDATE\\n${item.correctionQuery || \"\"}`;\n        itemHtml += `<p><b>Cargar ticket con:</b></p><pre style=\"${styles.pre}\">${combinedQueryText}</pre>`;\n    }\n\n    validHtmlParts.push(itemHtml);\n}\n\n// --- 3. REPORTE FINAL ---\nlet finalHtml = `<div style=\"${styles.container}\">`;\n// --- 3. LÓGICA ANTI-SPAM FINAL ---\n// Si es Bi-hourly o Hourly y no hay contenido relevante, no enviamos nada (Array vacío)\nif (['Bi-hourly', 'Hourly'].includes(reportType) && validHtmlParts.length === 0) {\n    return [];\n}\n\nif (reportType === 'Daily') {\n  const now = new Date();\n  const dateStr = now.toLocaleDateString('es-ES', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric' });\n  const dateFormatted = dateStr.charAt(0).toUpperCase() + dateStr.slice(1);\n  finalHtml += `<h1 style=\"${styles.h1}\">${dateFormatted}</h1>`;\n}\n\n\n\nfinalHtml += `<h2 style=\"${styles.h2}\">Resultados de la revisión de Entornos</h2>`;\n\nif (validHtmlParts.length === 0) {\n    let reportType = \"General\";\n    try { reportType = $(\"Credentials Loop1\").first().json[\"type\"] || \"General\"; } catch(e){}\n    if (['Bi-hourly', 'Nightly'].includes(reportType)) return []; \n\n    finalHtml += `<div style=\"${styles.footer}\">✅ Sin novedades.</div>`;\n} else {\n    // Hr simplificado\n    finalHtml += validHtmlParts.join('<hr size=\"1\" color=\"#eee\">');\n    \n    if (hiddenQueriesCount > 0) {\n        finalHtml += `<div style=\"${styles.footer}\">El resto de los puntos no dieron resultados.</div>`;\n    }\n}\nfinalHtml += `</div>`;\n\nconst parentPairedItem = items.length > 0 ? items[0].pairedItem : undefined;\nreturn { \n    json: { htmlContent: finalHtml },\n    pairedItem: parentPairedItem\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        528
      ],
      "id": "374d4ae1-c4f1-44fc-b3a1-270775319cb6",
      "name": "Set  HTML1",
      "executeOnce": true,
      "alwaysOutputData": true,
      "notes": "// [NODO: Set HTML]\n// MODO: Run Once for All Items\n\nconst allItems = $input.all();\n\n// Si no llegó nada al nodo, salimos con un mensaje básico.\nif (allItems.length === 0) {\n  return { json: { htmlContent: \"<p>No hay datos que procesar.</p>\" } };\n}\n\n// --- Obtener el tipo de reporte (Daily, Weekly, etc.) ---\nlet reportType = \"General\";\ntry {\n  // Intentamos leer el tipo desde el primer item del Loop de Credenciales\n  reportType = $(\"Credentials Loop\").first().json[\"type\"] || \"General\";\n} catch (error) {\n  // Si falla, usamos el valor por defecto\n}\n\nconst allQueries = allItems.map(item => item.json);\nlet validHtmlParts = []; // Aquí acumularemos solo los reportes que tengan datos\n\n// --- Configuración Visual (Estilos para Teams/Email) ---\nconst MAX_ROWS = 20;\nconst MAX_COLS = 6;\n\nconst styles = {\n  table: 'border-collapse: collapse; margin-bottom: 10px; width: 100%;', \n  th: 'padding: 5px; text-align: left; font-weight: bold; border: 1px solid #ddd;', \n  td: 'padding: 5px; vertical-align: top; border: 1px solid #ddd;',\n  p: 'font-size: 14px; margin: 0 0 10px 0;',\n  p_notice: 'font-size: 12px; font-style: italic; color: #666;',\n  h3: 'margin-bottom: 5px; font-size: 16px; font-weight: bold; color: #000;',\n  pre: 'font-family: monospace; white-space: pre-wrap; word-wrap: break-word; font-size: 11px; margin-top: 0;',\n  hr: 'border: 0; border-top: 1px solid #ccc; margin: 15px 0;',\n  queryLabel: 'font-size: 10px; font-weight: bold; text-transform: uppercase; margin-bottom: 0; margin-top: 10px;',\n  mainTitle: 'font-size: 24px; font-weight: bold; color: #000; margin-bottom: 20px; border-bottom: 2px solid #000; padding-bottom: 10px;'\n};\n\n// --- Construcción del Título Principal ---\nconst reportTypeFormatted = reportType.charAt(0).toUpperCase() + reportType.slice(1);\nlet combinedHtml = `<h1 style=\"${styles.mainTitle}\">Resultados de revisión ${reportTypeFormatted}</h1>`;\n\n// --- Bucle Principal sobre cada Query ---\nfor (const item of allQueries) {\n  const results = item.result;\n  \n  // 1. FILTRO DE RESULTADOS VACÍOS\n  // Verificamos si results es null, vacío o un array con un objeto vacío.\n  let isEmpty = false;\n  if (!results) {\n    isEmpty = true;\n  } else if (Array.isArray(results) && results.length === 0) {\n    isEmpty = true;\n  } else if (Array.isArray(results) && results.length === 1) {\n    const firstItem = results[0];\n    if (firstItem === null || (typeof firstItem === 'object' && Object.keys(firstItem).length === 0)) {\n      isEmpty = true;\n    }\n  }\n\n  // REGLA: \"No se muestre nada si el punto no da resultado\"\n  if (isEmpty) {\n    continue; // Saltamos a la siguiente iteración inmediatamente\n  }\n\n  // --- Si llegamos aquí, ES PORQUE HAY DATOS PARA MOSTRAR ---\n  let itemHtml = \"\";\n\n  // Título del Punto\n  itemHtml += `<h3 style=\"${styles.h3}\">Punto ${item.queryId}: ${item.description || \"Sin descripción\"}</h3>`;\n\n  // 2. CONSTRUCCIÓN DE LA TABLA\n  let data = results;\n  let limitedRows = false;\n  let limitedCols = false;\n\n  // Lógica de límites (filas)\n  if (results.length > MAX_ROWS) {\n    data = results.slice(0, MAX_ROWS);\n    limitedRows = true;\n  }\n\n  // Obtener cabeceras\n  let headers = Object.keys(data[0] || {});\n  \n  // Lógica de límites (columnas)\n  if (headers.length > MAX_COLS) {\n    headers = headers.slice(0, MAX_COLS);\n    limitedCols = true;\n  }\n\n  // HTML de la Tabla\n  itemHtml += `<table border=\"1\" style=\"${styles.table}\">`;\n  itemHtml += '<thead><tr>';\n  for (const header of headers) itemHtml += `<th style=\"${styles.th}\">${header}</th>`;\n  itemHtml += \"</tr></thead>\";\n  \n  itemHtml += \"<tbody>\";\n  for (const row of data) {\n    itemHtml += \"<tr>\";\n    for (const header of headers) {\n      // Manejo seguro de null/undefined y escape de caracteres HTML\n      const value = (row[header] === null || typeof row[header] === \"undefined\") \n        ? \"\" \n        : String(row[header]).replace(/</g, '&lt;').replace(/>/g, '&gt;');\n      itemHtml += `<td style=\"${styles.td}\">${value}</td>`;\n    }\n    itemHtml += \"</tr>\";\n  }\n  itemHtml += \"</tbody></table>\";\n\n  // Avisos de recorte de datos\n  let notices = \"\";\n  if (limitedRows) notices += `(Se muestran ${MAX_ROWS} filas de ${results.length}). `;\n  if (limitedCols) notices += `(Se muestran ${MAX_COLS} columnas de ${Object.keys(results[0]).length}).`;\n  if (notices) itemHtml += `<p style=\"${styles.p_notice}\">${notices.trim()}</p>`;\n\n  // 3. LÓGICA DE PATRONES (1, 2, 3)\n  // Convertimos a string por seguridad\n  const pattern = String(item.pattern || \"0\").trim();\n\n  // REGLA: Solo mostramos queries si el patrón es '2'\n  if (pattern === '2') {\n    const selectQuery = item.revisionQuery || \"(No se proporcionó SELECT)\";\n    const correctionQuery = item.correctionQuery || \"(No se proporcionó UPDATE)\";\n    const combinedQueryText = `\n    -- SELECT --\n    ${selectQuery}\n\n    -- UPDATE --\n    ${correctionQuery}\n    `.trim();\n\n    itemHtml += `<div style=\"margin-top: 10px;\">`;\n    itemHtml += `<p style=\"${styles.queryLabel}\">Script:</p>`;\n    // Renderizamos UNA SOLA caja <pre> con todo el contenido\n    itemHtml += `<pre style=\"${styles.pre}\">${combinedQueryText}</pre>`;\n    itemHtml += `</div>`;\n  }\n  // Pattern 1 y 3 (y otros) no muestran nada aquí.\n\n  validHtmlParts.push(itemHtml);\n}\n  \n// --- GENERACIÓN FINAL ---\n\nif (validHtmlParts.length === 0) {\n  // Caso: Se ejecutó el flujo, pero todas las queries vinieron vacías.\n  // Mensaje final indicando que todo está limpio.\n  combinedHtml += `<p style=\"${styles.p}\">No se encontraron novedades ni datos para revisar en este entorno el día de hoy.</p>`;\n} else {\n  // Unimos todas las partes válidas con un separador <hr>\n  combinedHtml += validHtmlParts.join(`<hr style=\"${styles.hr}\">`);\n}\n\n// Retornamos el contenido para el siguiente nodo (Teams/Email)\nconst parentPairedItem = items.length > 0 ? items[0].pairedItem : undefined;\n\nreturn { \n    json: { htmlContent: combinedHtml },\n    pairedItem: parentPairedItem\n};"
    },
    {
      "parameters": {
        "jsCode": "// [NODO: FAN IN - AGREGADOR]\n// MODO: Run Once for All Items\n\nconst groupedItems = new Map();\nconst finalOutput = [];\n\nconst hasData = (sqlResultData) => {\n  if (!sqlResultData || !Array.isArray(sqlResultData) || sqlResultData.length === 0) return false;\n  return sqlResultData.some(row => (row && Object.keys(row).length > 0));\n};\n\nfor (const item of items) {\n  const json = item.json;\n  const parentId = json.parentGroupId;\n\n  // --- CASO 1: ITEM NORMAL ---\n  if (!parentId) {\n    finalOutput.push(item);\n    continue;\n  }\n\n  // --- CASO 2: ITEM PARTICIONADO ---\n  if (hasData(json.result)) {\n    if (!groupedItems.has(parentId)) {\n      const baseItem = JSON.parse(JSON.stringify(item));\n      if (baseItem.json.associatedCorrection) {\n         baseItem.json.correctionQuery = baseItem.json.associatedCorrection;\n      }\n      baseItem.json.revisionQuery = (baseItem.json.revisionQuery || '').trim();\n      baseItem.json.correctionQuery = (baseItem.json.correctionQuery || '').trim();\n      groupedItems.set(parentId, baseItem);\n    } else {\n      const groupItem = groupedItems.get(parentId);\n      const currentJson = json;\n      groupItem.json.result.push(...currentJson.result);\n      \n      if (currentJson.revisionQuery) {\n        groupItem.json.revisionQuery += '\\n\\n' + currentJson.revisionQuery.trim();\n      }\n      const currentCorrection = currentJson.associatedCorrection || currentJson.correctionQuery;\n      if (currentCorrection) {\n        const prevCorrection = groupItem.json.correctionQuery;\n        groupItem.json.correctionQuery = prevCorrection \n          ? prevCorrection + '\\n\\n' + currentCorrection.trim() \n          : currentCorrection.trim();\n      }\n    }\n  }\n}\n\n// Volcamos los grupos al array final\nfor (const groupItem of groupedItems.values()) {\n  const json = groupItem.json;\n  delete json.parentGroupId;\n  delete json.subQueryIndex;\n  delete json.queryType;\n  delete json.associatedCorrection;\n  groupItem.json = json;\n  finalOutput.push(groupItem);\n}\n\n// CORRECCIÓN DE ORDEN: Ordenamos por queryId (ej: 1.2, 1.3, 1.4)\n// Asumimos que queryId es un string como \"1.2\", \"1.3\", \"4.9\". \n// Usamos localeCompare con 'numeric: true' para que ordene bien números (2 vs 10).\nfinalOutput.sort((a, b) => {\n    const idA = String(a.json.queryId || '');\n    const idB = String(b.json.queryId || '');\n    return idA.localeCompare(idB, undefined, { numeric: true, sensitivity: 'base' });\n});\n\nreturn finalOutput;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1232,
        528
      ],
      "id": "731c8fec-28d7-4b53-816e-f72c1cb2c28a",
      "name": "Fan In1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0d074c4b-1844-4125-90f1-002e421f57db",
              "leftValue": "={{$json.htmlContent}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2192,
        528
      ],
      "id": "d2b25267-339b-4e9b-8328-2c85a48b0368",
      "name": "If3"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "15mYqZzJZ49PhJFsOYbU1tWZH83EpIMJCoWjtmQHXAcU",
          "mode": "list",
          "cachedResultName": "control_revisiones",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15mYqZzJZ49PhJFsOYbU1tWZH83EpIMJCoWjtmQHXAcU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15mYqZzJZ49PhJFsOYbU1tWZH83EpIMJCoWjtmQHXAcU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Append or update row in sheet').item.json.id }}",
            "estado": "OK"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fecha_ejecucion",
              "displayName": "fecha_ejecucion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "cuenta_id",
              "displayName": "cuenta_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tipo_ejecucion",
              "displayName": "tipo_ejecucion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ultimo_intento",
              "displayName": "ultimo_intento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pais",
              "displayName": "pais",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "entorno",
              "displayName": "entorno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "query_id",
              "displayName": "query_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1712,
        752
      ],
      "id": "8b16c236-3b7b-4078-9193-c9cf2e265575",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "workflowId": {
          "__rl": true,
          "value": "t7cWyHrQjhowmzrV",
          "mode": "list",
          "cachedResultName": "My workflow 6 (#t7cWyHrQjhowmzrV)"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "147297ad-6841-4690-8bc5-d07e1cf81f58",
      "name": "Delete a workflow",
      "credentials": {
        "n8nApi": {
          "id": "y9PDEDAKrPqrNrgj",
          "name": "n8n account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-01-11T14:31:58.731Z",
      "updatedAt": "2026-01-11T14:31:58.731Z",
      "role": "workflow:owner",
      "workflowId": "aggj1YZ7Lmhbv9Ct",
      "projectId": "JCfdNIqoFmwORPL2"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-12T12:44:01.000Z",
  "versionId": "4e106b5c-43a6-477f-a897-ebd67bd69a6c"
}