folder/RRHH-Monthly.json
{
  "active": true,
  "connections": {
    "Check Dates": {
      "main": [
        [
          {
            "node": "Generate HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HTML": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets": {
      "main": [
        []
      ]
    },
    "Get Rows": {
      "main": [
        [
          {
            "node": "Check Dates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Listen Message": {
      "main": [
        [
          {
            "node": "Get Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Message": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-11-14T19:38:09.466Z",
  "id": "ctYDE7r0xu9FqdXB",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "RRHH-Monthly",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 24,
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        368,
        -128
      ],
      "id": "8deb70d1-b006-4ca6-bcfe-ce8b80e8397b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "content": "Se activará los días 25 de cada mes",
        "height": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -432
      ],
      "typeVersion": 1,
      "id": "faef259d-8408-4bbb-a2b7-239da28a9ae2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Cargará los datos de los empleados",
        "height": 240,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -608,
        -336
      ],
      "typeVersion": 1,
      "id": "cbdb31fe-4d66-4b71-94a3-dba4da287753",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Se fijará la fecha de hoy, puede tomarla del Schedule Trigger y se fijará qué empleados cumplen Años o Aniversario dentro de la empresa en el mes entrante",
        "height": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -384,
        -400
      ],
      "typeVersion": 1,
      "id": "0e17c62b-677f-4bc2-9a1a-2e729c42b407",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\n\nconst getNextMonthName = () => new Date(new Date().setMonth(new Date().getMonth() + 1)).toLocaleString('es-ES', { month: 'long' }).replace(/^\\w/, c => c.toUpperCase());\n\nlet targetMonth = now.getMonth() + 1;\nif (targetMonth > 11) {\n    targetMonth = 0;\n}\nconst targetMonthName = getNextMonthName();\nconst results = [];\n\n// ✅ FIX: Parser manual para formato D/MM/YYYY o DD/MM/YYYY\nconst parseFecha = (fechaString) => {\n    if (!fechaString) return null;\n    const parts = fechaString.trim().split('/');\n    if (parts.length !== 3) return null;\n    const day   = parseInt(parts[0], 10);\n    const month = parseInt(parts[1], 10) - 1; // 0-11\n    const year  = parseInt(parts[2], 10);\n    if (isNaN(day) || isNaN(month) || isNaN(year)) return null;\n    return { day, month, year }; // trabajamos con partes, sin Date object\n};\n\nconst calculateDifferenceInYears = (year) => {\n    const nextEventYear = now.getFullYear() + (targetMonth > now.getMonth() ? 0 : 1);\n    return nextEventYear - year;\n};\n\nfor (const item of $input.all()) {\n    const row = item.json;\n\n    const nameField         = 'name';\n    const birthdayDateField = 'birthdayDate';\n    const admissionDateField = 'admissionDate';\n    const countryField      = 'country';\n\n    const chequearFecha = (fechaString, tipoEvento) => {\n        if (!fechaString) return;\n\n        // ✅ Parseo manual, sin new Date()\n        const parsed = parseFecha(fechaString);\n        if (!parsed) return;\n\n        const { day, month, year } = parsed;\n\n        // ✅ Comparamos el mes directamente (ambos en índice 0-11)\n        if (month === targetMonth) {\n            const diffAños = calculateDifferenceInYears(year);\n\n            const datePart  = day.toString().padStart(2, '0');\n            const monthPart = (month + 1).toString().padStart(2, '0');\n            const fechaDisplay = `${datePart}/${monthPart}/${year}`;\n\n            const icono = tipoEvento === 'Cumpleaños' ? '🎂' : '🥇';\n            const mensajeCompleto = `${fechaDisplay} | ${diffAños} años`;\n\n            results.push({\n                json: {\n                    month:               targetMonthName,\n                    nombre:              row[nameField],\n                    country:             row[countryField] || '',\n                    tipo:                tipoEvento,\n                    fecha_display:       fechaDisplay,\n                    fecha_sort_key:      datePart,\n                    edad_o_antiguedad:   diffAños,\n                    mensaje_completo:    mensajeCompleto\n                }\n            });\n        }\n    };\n\n    chequearFecha(row[birthdayDateField],  'Cumpleaños');\n    chequearFecha(row[admissionDateField], 'Aniversario');\n}\n\nif (results.length === 0) {\n    return [{\n        json: {\n            mensaje:        \"No se encontraron cumpleaños ni aniversarios para el próximo mes.\",\n            hay_eventos:    false,\n            mes_analizado:  targetMonthName\n        }\n    }];\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        -128
      ],
      "id": "b4aedc03-fe25-4d2e-adb0-e8a879575282",
      "name": "Check Dates"
    },
    {
      "parameters": {
        "fromEmail": "n8napg@apg-consulting.com",
        "toEmail": "nalbanese@apg-consulting.com",
        "subject": "Aniversarios - Cumpleaños",
        "html": "={{ $json.html_email }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1104,
        -128
      ],
      "id": "1f012e00-6f84-4521-bbc3-cdc46f933b19",
      "name": "Send email",
      "webhookId": "a9ca1981-77e9-463a-bc8f-d3b6043ac29f",
      "credentials": {
        "smtp": {
          "id": "Uw4CpnQjIbsNpVhT",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtenemos todos los items de entrada\nconst items = $input.all();\n\n// 1. Verificamos si es el mensaje de \"No hay eventos\"\nif (items.length > 0 && items[0].json.hay_eventos === false) {\n\tconst mensajeVacio = `\n\t\t<div style=\"font-family: Arial, sans-serif; color: #555; padding: 20px; text-align: center; border: 1px solid #ddd; border-radius: 8px;\">\n\t\t\t<h3>📅 Próximo Mes</h3>\n\t\t\t<p>No hay cumpleaños ni aniversarios registrados para el mes entrante.</p>\n\t\t</div>\n\t`;\n\treturn [{ json: { html_email: mensajeVacio } }];\n}\n\n// 2. Si hay datos, los ordenamos por día (para que el email se vea ordenado cronológicamente)\n// Extraemos el día de la fecha \"2000-12-13\" -> 13\nitems.sort((a, b) => {\n\tconst diaA = parseInt(a.json.fecha_display.split('/')[2]);\n\tconst diaB = parseInt(b.json.fecha_display.split('/')[2]);\n\treturn diaA - diaB;\n});\n\n// 3. Construimos las filas de la tabla HTML\nlet filasHtml = '';\n\nfor (const item of items) {\n\tconst empleado = item.json;\n\t// const dia = empleado.fecha.split('-')[2]; // Ya no se usa solo el día\n\t\n\t// Definimos estilos/iconos según el tipo\n\tlet estiloBadge = '';\n\tlet icono = '';\n\t\n\tif (empleado.tipo === 'Cumpleaños') {\n\t\testiloBadge = 'background-color: #e3f2fd; color: #1565c0; border: 1px solid #bbdefb;'; // Azulito\n\t\ticono = '🎂';\n\t} else {\n\t\testiloBadge = 'background-color: #fff3e0; color: #e65100; border: 1px solid #ffe0b2;'; // Naranja\n\t\ticono = '🥇';\n\t}\n\n\tfilasHtml += `\n\t\t<tr style=\"border-bottom: 1px solid #eee;\">\n\t\t\t<td style=\"padding: 12px; text-align: center; font-weight: bold; color: #333;\">${empleado.mensaje_completo}</td>\n\t\t\t<td style=\"padding: 12px; color: #333;\">${empleado.nombre}</td>\n\t\t\t<td style=\"padding: 12px; text-align: center; color: #333;\">${empleado.country || 'N/A'}</td>\n\t\t\t<td style=\"padding: 12px; text-align: center;\">\n\t\t\t\t<span style=\"display: inline-block; padding: 4px 12px; border-radius: 12px; font-size: 12px; font-weight: bold; ${estiloBadge}\">\n\t\t\t\t\t${icono} ${empleado.tipo}\n\t\t\t\t</span>\n\t\t\t</td>\n\t\t</tr>\n\t`;\n}\n\n// 4. Armamos la estructura completa del HTML\nconst htmlFinal = `\n<div style=\"font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; max-width: 800px; margin: 0 auto; border: 1px solid #e0e0e0; border-radius: 8px; overflow: hidden;\">\n\t\n\t<div style=\"background-color: #4a90e2; color: white; padding: 20px; text-align: center;\">\n\t\t<h2 style=\"margin: 0; font-size: 24px;\">🎉 Celebraciones de ${$input.first().json.month}</h2>\n\t\t<p style=\"margin: 5px 0 0 0; opacity: 0.9; font-size: 14px;\">Fechas importantes del equipo</p>\n\t</div>\n\n\t<table style=\"width: 100%; border-collapse: collapse; background-color: white;\">\n\t\t<thead>\n\t\t\t<tr style=\"background-color: #f9f9f9; text-transform: uppercase; font-size: 12px; color: #666;\">\n\t\t\t\t<th style=\"padding: 12px; text-align: center; width: 100px;\">Fecha</th>\n\t\t\t\t<th style=\"padding: 12px; text-align: left;\">Colaborador</th>\n\t\t\t\t<th style=\"padding: 12px; text-align: center; width: 100px;\">País</th>\n\t\t\t\t<th style=\"padding: 12px; text-align: center; width: 120px;\">Celebración</th>\n\t\t\t</tr>\n\t\t</thead>\n\t\t<tbody>\n\t\t\t${filasHtml}\n\t\t</tbody>\n\t</table>\n\n\t<div style=\"background-color: #f5f5f5; padding: 10px; text-align: center; font-size: 11px; color: #888;\">\n\t\tReporte generado automáticamente por n8n\n\t</div>\n</div>\n`;\n\n// Devolvemos un solo item con el HTML listo para enviar\nreturn [{ json: { html_email: htmlFinal } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -128
      ],
      "id": "b9857ce7-38ca-4888-9e76-ab0693144675",
      "name": "Generate HTML"
    },
    {
      "parameters": {
        "content": "Genera el código HTML para el mail\n",
        "height": 80
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        -560
      ],
      "typeVersion": 1,
      "id": "31d97209-bf2f-4cb5-9b9f-299afb9fa220",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "ENVÍO DE MAIL\n",
        "height": 80,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        -560
      ],
      "typeVersion": 1,
      "id": "d8002eeb-4813-40e2-8fea-2277e58e705b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Podríamos guardar los mails que se envían por mes, para no tener que repetir el proceso tantas veces, no hacen falta más de doce, o incluso no hace falta que se corra y haga todo\nSe podría correr 1 vez, recuperar todos los aniversarios, generar el html, guardarlo y enviarlo por mes correspondiente\n",
        "height": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        -400
      ],
      "typeVersion": 1,
      "id": "fafbcc88-602d-4fb5-a23f-71bf04802d58",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1d5bBIOzbe1ksxD8i9bcL7V1cT8Nm2xKDLqn4PrJ26LM",
          "mode": "list",
          "cachedResultName": "NOMINA-APG",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d5bBIOzbe1ksxD8i9bcL7V1cT8Nm2xKDLqn4PrJ26LM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d5bBIOzbe1ksxD8i9bcL7V1cT8Nm2xKDLqn4PrJ26LM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "admissionDate",
              "displayName": "admissionDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "birthdayDate",
              "displayName": "birthdayDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        -592
      ],
      "id": "00075015-5343-4ae4-b3f9-b0fd9cc254c5",
      "name": "Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Rafa-Sheets"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1d5bBIOzbe1ksxD8i9bcL7V1cT8Nm2xKDLqn4PrJ26LM",
          "mode": "list",
          "cachedResultName": "NOMINA-APG",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d5bBIOzbe1ksxD8i9bcL7V1cT8Nm2xKDLqn4PrJ26LM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1d5bBIOzbe1ksxD8i9bcL7V1cT8Nm2xKDLqn4PrJ26LM/edit#gid=0"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        -128
      ],
      "id": "f0c8346e-376e-49c8-b49c-3efdfc35e354",
      "name": "Get Rows",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Rafa-Sheets"
        }
      }
    },
    {
      "parameters": {
        "content": "## Actualiza automaticamente cuando noee manda un mensaje al chat\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -800
      ],
      "typeVersion": 1,
      "id": "3c6857f8-62d2-42bb-bea3-4e81f305509e",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "jsCode": "// 1. Lista de países\nconst countriesList = [\"Argentina\", \"Colombia\", \"Perú\", \"Costa Rica\", \"Bolivia\", \"Ecuador\", \"España\"];\n\n// Función para quitar acentos y dejar en minúsculas (Normalización)\nconst normalize = (text) => {\n  return text.normalize(\"NFD\")\n             .replace(/[\\u0300-\\u036f]/g, \"\")\n             .toLowerCase()\n             .trim();\n};\n\n// 2. Obtener el contenido y limpiar HTML de Teams\nlet rawContent = items[0].json.body.content.replace(/<[^>]*>/g, \"\");\n\n// 3. Separar por comas\nlet parts = rawContent.split(',').map(p => p.trim()).filter(p => p !== \"\");\n\nlet country = \"\";\nlet dates = [];\nlet nameParts = [];\n\n// 4. Procesamiento\nfor (let part of parts) {\n    let normalizedPart = normalize(part);\n    \n    // ¿Es un país? Comparamos versiones normalizadas\n    let foundCountry = countriesList.find(c => normalize(c) === normalizedPart);\n    \n    if (foundCountry) {\n        country = foundCountry; // Guardamos el nombre \"bonito\" (Perú)\n        continue;\n    }\n\n    // ¿Es una fecha? (dd/mm/yyyy)\n    if (/^\\d{1,2}\\/\\d{1,2}\\/\\d{4}$/.test(part)) {\n        let [day, month, year] = part.split('/');\n        dates.push({\n            original: part,\n            dateObj: new Date(year, month - 1, day)\n        });\n        continue;\n    }\n\n    // Si no es país ni fecha, es el nombre\n    nameParts.push(part);\n}\n\n// 5. Lógica de fechas\nlet birthdayDate = \"\";\nlet admissionDate = \"\";\n\nif (dates.length >= 2) {\n    dates.sort((a, b) => a.dateObj - b.dateObj);\n    birthdayDate = dates[0].original;\n    admissionDate = dates[1].original;\n} else if (dates.length === 1) {\n    admissionDate = dates[0].original;\n}\n\nreturn {\n    name: nameParts.join(\" \"),\n    country: country,\n    birthdayDate: birthdayDate,\n    admissionDate: admissionDate\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -592
      ],
      "id": "6338a46e-e79b-4611-8e16-f3835efeab2b",
      "name": "Format Data",
      "disabled": true
    },
    {
      "parameters": {
        "event": "newChatMessage",
        "watchAllChats": true
      },
      "type": "n8n-nodes-base.microsoftTeamsTrigger",
      "typeVersion": 1,
      "position": [
        -208,
        -592
      ],
      "id": "a78a26b2-51a7-4b47-91e2-6296eeaba367",
      "name": "Listen Message",
      "webhookId": "69254e38-5fcb-4783-84e3-a60f99a49b79",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      },
      "disabled": true,
      "notes": "19:0a3d8024-1ea6-452a-99de-b81e0ee02139_3bcfa8fe-c819-4cb1-82cf-5dc8da30ceb2@unq.gbl.spaces"
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "operation": "get",
        "chatId": {
          "__rl": true,
          "value": "=19:0a3d8024-1ea6-452a-99de-b81e0ee02139_3bcfa8fe-c819-4cb1-82cf-5dc8da30ceb2@unq.gbl.spaces",
          "mode": "id"
        },
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        16,
        -592
      ],
      "id": "4ce86b48-51a1-4a91-ae99-2d6f8b4688fd",
      "name": "Get Message",
      "webhookId": "8e3fed5b-da7b-49a2-94de-b39271e52dbf",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "h1TswfYCSmmTHJwB"
  },
  "shared": [
    {
      "createdAt": "2026-01-26T21:54:00.001Z",
      "updatedAt": "2026-01-26T21:54:00.001Z",
      "role": "workflow:owner",
      "workflowId": "ctYDE7r0xu9FqdXB",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    },
    "node:Microsoft Teams Trigger": {},
    "node:Listen Message": {},
    "node:Schedule Trigger1": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-24T13:30:19.767Z",
  "versionId": "7f984c89-9f11-4ff9-a775-213763c00cf4"
}