folder/VIGA TR Watchdog.json
{
  "active": true,
  "connections": {
    "Watchdog Trigger": {
      "main": [
        [
          {
            "node": "SQL Check Executions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Heartbeat OK": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NO EXECUTION",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Check Executions": {
      "main": [
        [
          {
            "node": "IF Heartbeat OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "INCOMPLETE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FAILED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-06T12:57:30.020Z",
  "id": "8nyEbrjKK8QuPxlX",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "VIGA TR Watchdog",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 11 * * 1-5"
            }
          ]
        }
      },
      "id": "1e5c3b22-fd35-4779-98ec-d9791c812187",
      "name": "Watchdog Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        880,
        80
      ],
      "notes": "11:00 AM Lunes-Viernes — verifica que el flujo principal corrio"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7c995a28-d44f-4a4d-9581-68ce7d31c85d",
              "leftValue": "={{ $json.ran_today }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8b963fc2-eee2-4513-9e1e-20ad6850b254",
      "name": "IF Heartbeat OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1328,
        80
      ]
    },
    {
      "parameters": {
        "content": "## Watchdog — VigaTimeReport\nSe ejecuta a las 11:00 AM todos los dias habiles.\nVerifica que haya al menos 1 registro en dbo.NotiViga_execution_logs del dia de hoy.\nSi no hay -> alerta a Teams.\nSi hay -> no hace nada.",
        "height": 212,
        "width": 380
      },
      "id": "41bab4fa-c4c2-4f8b-92d5-cc13eb863679",
      "name": "Note Watchdog",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        496,
        -736
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    status, \n    COUNT(*) as ran_today\nFROM dbo.NotiViga_execution_logs\nWHERE dateTime >= CAST(GETDATE() AS DATE)\n  AND dateTime < DATEADD(day, 1, CAST(GETDATE() AS DATE))\n  AND executionId = 2846\nGROUP BY status;"
      },
      "id": "b7a17320-16fa-4bf8-ad07-a91668684607",
      "name": "SQL Check Executions",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        1104,
        80
      ],
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      }
    },
    {
      "parameters": {
        "content": "## Log executions se guarda al FINALIZAR el flujo.\n## es posible que el flujo falle a la mitad, habiendo notificado a 2 de 5. Si re ejecutamos sin tener esto en cuenta, duplicaremos registros\n",
        "height": 224,
        "width": 448
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        -736
      ],
      "typeVersion": 1,
      "id": "ccde7846-dcfd-49f5-b698-a371e79ea6be",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Esta query debe devolver el teamsID del rrhh correspondiente a cada usuario reincidente\n",
        "height": 112,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1728,
        -736
      ],
      "typeVersion": 1,
      "id": "700752ab-8284-4b51-8ca4-4d470417242a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Habilitar comandos en el chat para re ejecutar el flujo si no se lanzó\n##\n## Tener en cuenta que si falla a la mitad no hay q volver a notificar a los usuarios",
        "height": 224,
        "width": 352
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1360,
        -736
      ],
      "typeVersion": 1,
      "id": "9a8fff3a-0935-42e7-9d6f-dea80cb85798",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "// ESTE NODO TIENE QUE , EN CASO DE HABER UNA LOG DE NOTEJECUCION DEL FLUJO EL DIA DE HOY, CORROBORAR SU ESTADO, DEVUELTO POR A MISTA QUERY DE ANTES, DECIDIRA EN BASE A 3 ESTADOS y A, SI ES POSIBLE, LA STATIC GLOBAL DATA O LA INFO AL MOMENTO DE LA EJECUCION,MPREFERENTEMENTE MEJORAR LA TABLA DE DATOS PARA AGREGAR ESTE VALOR, PERO ES NECESARIO SABER LA CANTIDAD DDE ERRORES, NOTIFICADOS, ETC, SALTEADOS. EN CASO DE TENER ESTADO EXXITO NO HACER NADA, PERO SI ES INCOMPLETO, OSEA QUE HUBO UN ERROR EN SQL TEAMS. HAY QUE REVISAR Y SABER A QUIENES SE NOTIFICÓ. LA IDEA ES TENER UNA VALIDACION EXTRA DE ESTADO QUE CUSTOMICE LA INFORMACION QUE SE VA A ENVIAR AL CANAL, SI SOLO FALTA 1 PERSONA, POODRIA HSTA DECIR EL NOMRE PARA Q LO HAGAN MANUUALMENTE LOGICA PARA CUSTOMIZAR EL MENSAJE SEGUN EL ESTADO PARA FACILITAR LA ACCION A TOMAR\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        -400
      ],
      "id": "ec192d9c-154e-4729-b75e-58f3a7df3927",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('SQL Check Executions').item.json.status }}",
                    "rightValue": "=INCOMPLETE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f5d3a9e8-76bf-4915-a687-4e826cac335f"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "63f59d52-2593-4bc4-aae7-cb3f98fc745e",
                    "leftValue": "={{ $('SQL Check Executions').item.json.status }}",
                    "rightValue": "FAILED",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1552,
        -16
      ],
      "id": "b2f263f7-7df3-4c6c-a054-73707d8b596a",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "06a493d9-ee89-46db-b8b3-e10cfda68bf4",
          "mode": "list",
          "cachedResultName": "Pruebas - n8n"
        },
        "channelId": {
          "__rl": true,
          "value": "19:b4ddf2dd3a2343b28367735098de8b49@thread.tacv2",
          "mode": "list",
          "cachedResultName": "Test Conversación",
          "cachedResultUrl": "https://teams.cloud.microsoft/l/channel/19%3Ab4ddf2dd3a2343b28367735098de8b49%40thread.tacv2/Test%20Conversaci%C3%B3n?groupId=06a493d9-ee89-46db-b8b3-e10cfda68bf4&tenantId=f89f7128-f0c6-4302-9881-8e0697d39336&allowXTenantAccess=False"
        },
        "contentType": "html",
        "message": "=<b>WATCHDOG ALERT — Viga Time Report</b><br>\nEl flujo <b>VIGA TR Master</b> finalizó correctamente con estado INCOMPLETO por algunos usuarios salteados el día de hoy (<b>{{ $now.toFormat('yyyy-MM-dd') }}</b>).\n<i>Este mensaje fue generado automaticamente a las 11:00 AM.</i>",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "8cdfec13-8efb-439d-97a9-a3bffe6a542b",
      "name": "INCOMPLETE",
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1936,
        -64
      ],
      "webhookId": "3313d8a2-187d-49f8-a56a-ffec4520e967",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      },
      "notes": "Reemplazar teamId y channelId"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "06a493d9-ee89-46db-b8b3-e10cfda68bf4",
          "mode": "list",
          "cachedResultName": "Pruebas - n8n"
        },
        "channelId": {
          "__rl": true,
          "value": "19:b4ddf2dd3a2343b28367735098de8b49@thread.tacv2",
          "mode": "list",
          "cachedResultName": "Test Conversación",
          "cachedResultUrl": "https://teams.cloud.microsoft/l/channel/19%3Ab4ddf2dd3a2343b28367735098de8b49%40thread.tacv2/Test%20Conversaci%C3%B3n?groupId=06a493d9-ee89-46db-b8b3-e10cfda68bf4&tenantId=f89f7128-f0c6-4302-9881-8e0697d39336&allowXTenantAccess=False"
        },
        "contentType": "html",
        "message": "=<b>WATCHDOG ALERT — Viga Time Report</b><br>\nEl flujo <b>VIGA TR Master</b> tuvo errores en su ejecución el día de hoy (<b>{{ $now.toFormat('yyyy-MM-dd') }}</b>).\n<i>Este mensaje fue generado automaticamente a las 11:00 AM.</i>",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1936,
        64
      ],
      "id": "2ccca982-b5a0-4104-9611-c3d3c810c973",
      "name": "FAILED",
      "webhookId": "8a226525-0bf0-411b-818d-e888985c7525",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "ueHY9A2J5aF54WT3",
          "name": "Notificaciones n8n"
        }
      }
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "06a493d9-ee89-46db-b8b3-e10cfda68bf4",
          "mode": "list",
          "cachedResultName": "Pruebas - n8n"
        },
        "channelId": {
          "__rl": true,
          "value": "19:b4ddf2dd3a2343b28367735098de8b49@thread.tacv2",
          "mode": "list",
          "cachedResultName": "Test Conversación",
          "cachedResultUrl": "https://teams.cloud.microsoft/l/channel/19%3Ab4ddf2dd3a2343b28367735098de8b49%40thread.tacv2/Test%20Conversaci%C3%B3n?groupId=06a493d9-ee89-46db-b8b3-e10cfda68bf4&tenantId=f89f7128-f0c6-4302-9881-8e0697d39336&allowXTenantAccess=False"
        },
        "contentType": "html",
        "message": "=<b>WATCHDOG ALERT — Viga Time Report</b><br>\nEl flujo <b>VigaTimeReport V2</b> NO se ejecutó hoy (<b>{{ $now.toFormat('yyyy-MM-dd') }}</b>).<br>\nSe esperaba ejecucion a las 9:00 AM. Por favor verificar manualmente.<br>\n<i>Este mensaje fue generado automaticamente a las 11:00 AM.</i>",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "bfe8bdb2-b72e-4866-bacb-6a53882cfee4",
      "name": "NO EXECUTION",
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1936,
        192
      ],
      "webhookId": "3313d8a2-187d-49f8-a56a-ffec4520e967",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      },
      "notes": "Reemplazar teamId y channelId"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "h1TswfYCSmmTHJwB"
  },
  "shared": [
    {
      "createdAt": "2026-04-06T12:57:30.020Z",
      "updatedAt": "2026-04-06T12:57:30.020Z",
      "role": "workflow:owner",
      "workflowId": "8nyEbrjKK8QuPxlX",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": {
    "node:Watchdog Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-04-21T12:51:15.690Z",
  "versionId": "69abb7c6-b6fe-45a1-8497-9a744595f27a"
}