folder/VIGA TR Recidivism.json
{
  "active": false,
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL": {
      "main": [
        [
          {
            "node": "Check Recidivists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Recidivists": {
      "main": [
        [
          {
            "node": "Teams Notify RRHH",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-16T18:01:08.956Z",
  "id": "jorH0sBq8zFtBJIP",
  "isArchived": false,
  "meta": null,
  "name": "VIGA TR Recidivism",
  "nodes": [
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "19:0a3d8024-1ea6-452a-99de-b81e0ee02139_dc249723-4f57-4995-bdc6-836ab587c0fd@unq.gbl.spaces",
          "mode": "list",
          "cachedResultName": "APG Consulting Notificaciones, Noelia Albanese (oneOnOne)",
          "cachedResultUrl": "https://teams.microsoft.com/l/chat/19%3A0a3d8024-1ea6-452a-99de-b81e0ee02139_dc249723-4f57-4995-bdc6-836ab587c0fd%40unq.gbl.spaces/0?tenantId=f89f7128-f0c6-4302-9881-8e0697d39336"
        },
        "contentType": "html",
        "message": "=⚠️ <b>Escalamiento Nivel 2 - VigaTimeReport</b><br>El usuario <b>{{ $json.fullName }}</b> ha sido notificado <b>{{ $json.notif_count }} veces</b> en los últimos 5 días.<br>RRHH asignado: {{ $json.rrhh || 'No asignado' }}",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "7f7da3b3-7b16-44cd-b641-983c2b2f7f3d",
      "name": "Teams Notify RRHH",
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        464,
        -16
      ],
      "webhookId": "428574e3-87f4-4985-abc6-db95f48f77ca",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      },
      "notes": "⚠️ Reemplazar teamId y channelId con los IDs reales de RRHH"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 11 * * 1-5"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -48,
        -16
      ],
      "id": "3ea1cb18-02e5-4b07-90bf-df3557fc7244",
      "name": "Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT n.email, n.fullName, u.rrhh, COUNT(*) as notif_count\nFROM dbo.NotiViga_notification_logs n\nLEFT JOIN dbo.NotiViga_userInfo u ON u.email = n.email\nWHERE n.status = 'SUCCESS'\n  AND n.notifiedAt >= DATEADD(day, -5, GETDATE())\nGROUP BY n.email, n.fullName, u.rrhh\nHAVING COUNT(*) >= 2"
      },
      "id": "879e46d6-0c80-41bd-9ca0-08f1fac5c278",
      "name": "SQL",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        112,
        -16
      ],
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ed57128-6f12-48a8-ba66-98a5b97487eb",
              "leftValue": "={{ $json.notif_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "0fca7301-1f35-4843-87fa-d03127943f81",
      "name": "Check Recidivists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        272,
        -16
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "errorWorkflow": "h1TswfYCSmmTHJwB"
  },
  "shared": [
    {
      "createdAt": "2026-04-16T18:01:08.956Z",
      "updatedAt": "2026-04-16T18:01:08.956Z",
      "role": "workflow:owner",
      "workflowId": "jorH0sBq8zFtBJIP",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-16T18:03:47.823Z",
  "versionId": "713c0186-5f15-4ba8-9e17-e292f4c60031"
}