folder/VigaTimeReprot.json
{
  "active": false,
  "connections": {
    "JWT": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Endpoint",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Endpoint": {
      "main": [
        []
      ]
    },
    "notificationLogs2": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "heartBeat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login1": {
      "main": [
        [
          {
            "node": "JWT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Login1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Check Length",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Length": {
      "main": [
        [
          {
            "node": "GET TEAMS ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Log Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET TEAMS ID": {
      "main": [
        [
          {
            "node": "Filter Teams IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        []
      ]
    },
    "Catch Error": {
      "main": [
        [
          {
            "node": "notification_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notification_log": {
      "main": [
        [
          {
            "node": "heartBeat3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Log info": {
      "main": [
        []
      ]
    },
    "Get CHAT ID": {
      "main": [
        [
          {
            "node": "Send CHAT MESSAGE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send CHAT MESSAGE": {
      "main": [
        [
          {
            "node": "Set Log info",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "TEAMS-ERROR": {
      "main": [
        [
          {
            "node": "heartBeat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "notificationLogs": {
      "main": [
        [
          {
            "node": "heartBeat2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Teams IDs": {
      "main": [
        [
          {
            "node": "Get CHAT ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    },
    "No Log Mapping": {
      "main": [
        [
          {
            "node": "Early Check Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-03-09T13:26:12.112Z",
  "id": "zreauexuD0kaHEIs",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "VigaTimeReprot",
  "nodes": [
    {
      "parameters": {
        "operation": "decode",
        "token": "={{ $json.token.token }}",
        "options": {}
      },
      "type": "n8n-nodes-base.jwt",
      "typeVersion": 1,
      "position": [
        -1616,
        112
      ],
      "id": "8d5c39b1-e38f-4923-bf4f-38f0c75fd1a8",
      "name": "JWT",
      "credentials": {
        "jwtAuth": {
          "id": "ILLD0X7MWwqdPFjd",
          "name": "JWT Auth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9cbe1bb6-7eca-4ead-a8ad-e610858a261b",
              "name": "instanceId",
              "value": "={{ $json.payload.InstanceId }}",
              "type": "string"
            },
            {
              "id": "48436490-a28a-4061-b1fc-3c58984ccc22",
              "name": "token",
              "value": "={{ $('Login1').item.json.token.token }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1408,
        112
      ],
      "id": "fde78693-b1c7-4f4d-85bc-5f22c822a437",
      "name": "Edit Fields",
      "disabled": true
    },
    {
      "parameters": {
        "url": "http://desavigaapi.apg.local/api/TimereportNotification/overdue-hours",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "instanceId",
              "value": "=5F373264-4128-4429-821F-3F97C1779BEA"
            },
            {
              "name": "percentage",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.token}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        336
      ],
      "id": "24fbfc87-433e-4b7b-b3d9-f1e8fa0daa44",
      "name": "Endpoint",
      "disabled": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1952,
        640
      ],
      "id": "6d46decf-ec6d-4a39-bb0f-f728556f3036",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU",
          "mode": "list",
          "cachedResultName": "timeReport",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1678189117,
          "mode": "list",
          "cachedResultName": "executionHeartbeat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU/edit#gid=1678189117"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "executionDate",
              "displayName": "executionDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "totalNotified",
              "displayName": "totalNotified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1024,
        656
      ],
      "id": "3f4b3851-fd3a-409c-a6ae-584989a88f86",
      "name": "heartBeat",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Rafa-Sheets"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2352,
        64
      ],
      "id": "90a7d52b-bd0e-4ee1-b564-992af87669f1",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU",
          "mode": "list",
          "cachedResultName": "timeReport",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "notificationLogs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vigaEmail",
              "displayName": "vigaEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vigaId",
              "displayName": "vigaId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "teamsId",
              "displayName": "teamsId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sentAt",
              "displayName": "sentAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hoursPending",
              "displayName": "hoursPending",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1712,
        640
      ],
      "id": "3b1de940-c146-49c6-abc2-2ad8cde39d9a",
      "name": "notificationLogs2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Rafa-Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1504,
        640
      ],
      "id": "e815254e-f947-4511-8670-d58813d19591",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e75a26d2-6f17-4a8f-bd40-1addb7988d30",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1296,
        640
      ],
      "id": "3297242a-a9ec-4ca6-b1f1-fe1297c8da2d",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://testapg.cloudviga.com:8500/api/account/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"userInfo\":{\"email\":\"rnunez@apg-consulting.com\",\"password\":\",Thrz96V\"},\"browserInfo\":\"Navegador: Netscape, Versión del navegador: 5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Mobile Safari/537.36, Código: Mozilla, Plataforma: Win32, Coockies habilitadas: true, Aplicación: Viga.\"}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "d4cccebf-f580-4db4-9589-c2a288ac97a3",
      "name": "Login",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2320,
        256
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apg.cloudviga.com:8500/api/account/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"userInfo\":{\"email\":\"rnunez@apg-consulting.com\",\"password\":\"0@Uk0mUm\"},\"browserInfo\":\"Navegador: Netscape, Versión del navegador: 5.0 (Linux; Android 6.0; Nexus 5 Build/MRA58N) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Mobile Safari/537.36, Código: Mozilla, Plataforma: Win32, Coockies habilitadas: true, Aplicación: Viga.\"}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "220bbf9b-305c-42f3-9bac-6de1f562afc7",
      "name": "Login1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1856,
        112
      ],
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2016,
        112
      ],
      "id": "fa136e7b-4efc-40d3-adf0-38025bf45e87",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        112
      ],
      "id": "5fed7233-b1ce-4f76-8479-e29e05b3a997",
      "name": "Code in JavaScript2",
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1040,
        112
      ],
      "id": "d0d6d70c-0f91-4074-9d14-5c4497a59a6d",
      "name": "Split Out",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "90aaf707-164b-4afb-8ebf-5f503b82433c",
              "leftValue": "={{ $json.notify }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -864,
        112
      ],
      "id": "6d008dfc-8ecf-4403-b687-41c2e1c462af",
      "name": "Filter",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a7516c83-6819-43bd-a5a8-74b61d8ec664",
              "leftValue": "={{$json.isNotEmpty()}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -672,
        112
      ],
      "id": "3de00ec0-08ec-4e1c-8294-516f5ab2f3ed",
      "name": "Check Length"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -224,
        128
      ],
      "id": "f245077e-4ddf-44b1-b450-374653c26363",
      "name": "Early Check Out",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Rafa-Sheets"
        }
      }
    },
    {
      "parameters": {
        "content": "## De aquí salen x cantidad de items a notificar\n",
        "height": 192,
        "width": 150
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -912,
        -768
      ],
      "typeVersion": 1,
      "id": "ee45b112-1c47-495f-9e8c-109e6f2246e9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Como se relaciona el user de VIGA con el user de TEAMS\n",
        "height": 320,
        "width": 326
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -800,
        -640
      ],
      "typeVersion": 1,
      "id": "7b2d9c98-2693-4c14-a7a0-78f52eb585e3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1I9F4h9Z-kTiMK1GwTTgqjQNLbrIqf2RwxKa6be-n7SU",
          "mode": "list",
          "cachedResultName": "usersID",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I9F4h9Z-kTiMK1GwTTgqjQNLbrIqf2RwxKa6be-n7SU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 925111803,
          "mode": "list",
          "cachedResultName": "combined",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I9F4h9Z-kTiMK1GwTTgqjQNLbrIqf2RwxKa6be-n7SU/edit#gid=925111803"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email",
              "lookupValue": "={{ $json.email }}"
            },
            {
              "lookupColumn": "notify",
              "lookupValue": "1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -528,
        -176
      ],
      "id": "6fc5f56e-a8c4-46ce-b957-9aaf51b049fa",
      "name": "GET TEAMS ID",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Rafa-Sheets"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "49901d6d-58b4-4378-b7ae-bf5beb16d2ab",
              "leftValue": "={{ $json.error }}",
              "rightValue": "=Not Found.",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        736,
        48
      ],
      "id": "ae7abc4d-e337-4748-85cf-e529d89cc951",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35b8412a-99d8-4cbc-bf16-0a5581a93907",
              "name": "error",
              "value": "={{$json.error}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        -144
      ],
      "id": "c469c035-cde6-4f79-b5df-d35f6c612d8e",
      "name": "Catch Error"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1312,
        -144
      ],
      "id": "27a53d51-c071-4545-a3a7-ed989c37c96d",
      "name": "notification_log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Rafa-Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1504,
        -144
      ],
      "id": "5533ef0f-1f6a-4fe5-8383-11aff8f6ef02",
      "name": "heartBeat3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Rafa-Sheets"
        }
      }
    },
    {
      "parameters": {
        "content": "## Podemos ejecutar 1 vez la query sql que escriba en ambas tablas los resultados?\n",
        "height": 224,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        -848
      ],
      "typeVersion": 1,
      "id": "b06517c0-382d-430f-8d54-2323bfef5e20",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1db3be6a-996c-4cb1-a34d-a4bedaed3cac",
              "name": "executionId",
              "value": "={{$execution.id}}",
              "type": "string"
            },
            {
              "id": "e417b3e4-1994-415a-af0c-4a33f3110bdb",
              "name": "fullName",
              "value": "={{ $('Filter').item.json.fullName }}",
              "type": "string"
            },
            {
              "id": "208a5f1a-83d8-48ea-a198-fd5dcc98ae7d",
              "name": "email",
              "value": "={{ $('Filter').item.json.email }}",
              "type": "string"
            },
            {
              "id": "bae91372-d8c6-439d-99dd-85f32f20cb65",
              "name": "expectedHours",
              "value": "={{ $('Filter').item.json.expectedHours }}",
              "type": "number"
            },
            {
              "id": "c5306199-a3df-4187-9f6e-801cd9aafc96",
              "name": "totalHours",
              "value": "={{ $('Filter').item.json.totalHours }}",
              "type": "number"
            },
            {
              "id": "2336b2e1-a05c-4f3f-a8e8-f0651a304c33",
              "name": "completionPercentage",
              "value": "={{ $('Filter').item.json.completionPercentage }}",
              "type": "number"
            },
            {
              "id": "caeb7e3e-3043-4614-bb01-fe4702602b57",
              "name": "status",
              "value": "={{ $ }}",
              "type": "string"
            },
            {
              "id": "994768ab-fdf3-44fe-abed-f18afceadad1",
              "name": "errorDetail",
              "value": "={{ $ }}",
              "type": "string"
            },
            {
              "id": "e2d278e1-c3df-4778-86a0-389f12901665",
              "name": "notifiedAt",
              "value": "={{ $('Send CHAT MESSAGE').item.json.createdDateTime }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        240,
        -64
      ],
      "id": "00aea964-2294-42b0-a4f1-0bf3ded9dd5d",
      "name": "Set Log info"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        -64
      ],
      "id": "578d5d4b-82aa-44de-a59c-cf5ba00835d6",
      "name": "Write Log Info",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Rafa-Sheets"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/chats",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftTeamsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chatType\": \"oneOnOne\",\n  \"members\": [\n    {\n      \"@odata.type\": \"#microsoft.graph.aadUserConversationMember\",\n      \"roles\": [\"owner\"],\n      \"user@odata.bind\": \"https://graph.microsoft.com/v1.0/users('dc249723-4f57-4995-bdc6-836ab587c0fd')\"\n    },\n    {\n      \"@odata.type\": \"#microsoft.graph.aadUserConversationMember\",\n      \"roles\": [\"owner\"],\n      \"user@odata.bind\": \"https://graph.microsoft.com/v1.0/users('{{ $json.teamsId }}')\"\n    }\n  ]\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        -64
      ],
      "id": "fa9bddfc-b49b-450b-9b86-60f808eebd21",
      "name": "Get CHAT ID",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      }
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "={{ $jsonid }}",
          "mode": "id"
        },
        "message": "=Hola, debes X CANTIDAD de horas en el time report de VIGA.",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        48,
        -64
      ],
      "id": "26036c35-ab7e-44c4-b761-0cd1afa29aa6",
      "name": "Send CHAT MESSAGE",
      "webhookId": "7aaf5ae6-7acc-4cdf-9b00-e87fdab870b0",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## En este punto se filtran los empleados que sí deben ese x porcentaje de horas\n## Y que cumplen con la condición de ser notificados\n",
        "height": 256,
        "width": 304
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1040,
        240
      ],
      "typeVersion": 1,
      "id": "a89f82cf-81fb-4ff6-930e-5897ce0d274c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Aquí verificamos que haya al menos 1 empleado que deba ser notificado, si no lo hay, guardamos un log que indique que TODOS los empleados estuvieron al día con sus horas\n",
        "height": 144,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -560,
        560
      ],
      "typeVersion": 1,
      "id": "bb32fa92-4919-4e7a-9038-179062ec9ec5",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU",
          "mode": "list",
          "cachedResultName": "timeReport",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "notificationLogs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fullName": "={{ $json.fullName }}",
            "vigaEmail": "={{ $json.vigaEmail }}",
            "expectedHours": "={{ $json.expectedHours }}",
            "totalHours": "={{ $json.totalHours }}",
            "completionPercentage": "={{ $json.completionPercentage }}",
            "status": "success"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vigaEmail",
              "displayName": "vigaEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "expectedHours",
              "displayName": "expectedHours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "totalHours",
              "displayName": "totalHours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "completionPercentage",
              "displayName": "completionPercentage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        -656
      ],
      "id": "024bcb7c-e930-4f7f-b94d-0778daa8b88b",
      "name": "notificationLogs1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Rafa-Sheets"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/chats/{{$json.id}}/messages",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"body\": {\n    \"content\": \"Hola, debes {{ ($('Check Length').item.json.expectedHours - $('Check Length').item.json.totalHours).toFixed(2)}} horas en el time report de VIGA.\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        784,
        480
      ],
      "id": "dfbb3924-fef7-4f58-a100-e8ff0f14f267",
      "name": "Send Chat message",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://graph.microsoft.com/v1.0/me",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftTeamsOAuth2Api",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        576,
        480
      ],
      "id": "d9f9196f-af6c-4d7a-9f82-d362c3e0fc1e",
      "name": "HTTP Request2",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f31c40aa-5640-4ba0-981f-6d8327474fd7",
              "name": "owedHours",
              "value": "={{ $json.expectedHours - $json.totalHours }}",
              "type": "string"
            },
            {
              "id": "d82d3fac-d0ac-4c7e-a2e8-a4d68a250b20",
              "name": "executionId",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "b7e684a7-2ced-417c-a14f-dfd142993552",
              "name": "errorDetail",
              "value": "={{$json.error}}",
              "type": "string"
            },
            {
              "id": "fe1e4e0c-8c69-45b3-a0be-46339c8c8a2d",
              "name": "data",
              "value": "={{$json.data}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1152,
        -272
      ],
      "id": "df074112-14f0-447e-b8e4-2d534bf3f357",
      "name": "notification_logs"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    t.name AS NombreTabla,\n    c.name AS NombreColumna,\n    ty.name AS TipoDato,\n    c.max_length AS Longitud,\n    c.is_nullable AS PermiteNulos\nFROM \n    sys.tables t\nINNER JOIN \n    sys.columns c ON t.object_id = c.object_id\nINNER JOIN \n    sys.types ty ON c.user_type_id = ty.user_type_id\nORDER BY \n    t.name, c.column_id;"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -160,
        -656
      ],
      "id": "577c4da6-3c95-4cf7-a88e-8103e00d26f3",
      "name": "Microsoft SQL2",
      "credentials": {
        "microsoftSql": {
          "id": "rDH0EClblto49len",
          "name": "SQL-04"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        368,
        -800
      ],
      "id": "e3ae0d42-c2ae-4f4f-b922-f991ca7df751",
      "name": "Microsoft SQL1",
      "credentials": {
        "microsoftSql": {
          "id": "sfr7SqKElXB7VYG2",
          "name": "WEEKLY"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        112,
        -992
      ],
      "id": "e2def6b9-0a71-4b39-abcf-54720e4e182c",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "sfr7SqKElXB7VYG2",
          "name": "WEEKLY"
        }
      }
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "53f577e2-4094-42b5-8a8b-695b91d0d74f",
          "mode": "list",
          "cachedResultName": "n8n notifications"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $now }}",
          "mode": "id"
        },
        "message": "asd",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        -1856,
        -1200
      ],
      "id": "6bc7fe46-a454-4e76-b2a4-4bbcef932417",
      "name": "Create message",
      "webhookId": "dbf98dc4-83b5-4d13-af56-67c26e50c164",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "Yyblo5OMavkgN1oD",
          "name": "Teams"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e0c48add-8225-4273-82f9-52356cc6fd34",
              "name": "data[0].fullName",
              "value": "={{ $json.data[0].fullName }}",
              "type": "string"
            },
            {
              "id": "55cad9f9-5137-477c-acb5-c2e00ebb9748",
              "name": "data[0].email",
              "value": "={{ $json.data[0].email }}",
              "type": "string"
            },
            {
              "id": "a73c1275-5746-4060-87df-02a0db693be2",
              "name": "data[0].expectedHours",
              "value": "={{ $json.data[0].expectedHours }}",
              "type": "number"
            },
            {
              "id": "71495617-2c66-4e49-9a0c-58d9b214054a",
              "name": "data[0].totalHours",
              "value": "={{ $json.data[0].totalHours }}",
              "type": "number"
            },
            {
              "id": "1b87f84d-3e31-41a1-ab42-c4dbf222ed7b",
              "name": "data[0].completionPercentage",
              "value": "={{ typeof $json.data[0].fullName }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        -624
      ],
      "id": "03ad9791-17c4-4788-bbd5-a0270a5fb050",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "path": "2f166fd6-d811-4b78-9fa5-904641bcc04d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1536,
        -912
      ],
      "id": "601c95aa-4c17-48a5-8629-de33c56e7b81",
      "name": "Webhook",
      "webhookId": "2f166fd6-d811-4b78-9fa5-904641bcc04d"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "operation": "getAll",
        "teamId": {
          "__rl": true,
          "value": "=2f7e4d78-5cc0-4b00-bb44-372596f96fcf",
          "mode": "id",
          "__regex": "^([0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12})"
        },
        "channelId": {
          "__rl": true,
          "value": "=19:9b2cc90d29d3474bade3a60f407f56ca@thread.tacv2",
          "mode": "id"
        },
        "limit": 30
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        -1744,
        -912
      ],
      "id": "57f8ee37-1f04-47cf-94c9-04177d71522e",
      "name": "Get many messages",
      "webhookId": "d2bd53cb-fc94-4121-9b12-f8f52eba56ea",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -592,
        -976
      ],
      "id": "458ce987-18e1-4d5f-a943-1a9d9255119e",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1I9F4h9Z-kTiMK1GwTTgqjQNLbrIqf2RwxKa6be-n7SU",
          "mode": "list",
          "cachedResultName": "usersID",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I9F4h9Z-kTiMK1GwTTgqjQNLbrIqf2RwxKa6be-n7SU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2066748477,
          "mode": "list",
          "cachedResultName": "teams",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I9F4h9Z-kTiMK1GwTTgqjQNLbrIqf2RwxKa6be-n7SU/edit#gid=2066748477"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1088,
        -960
      ],
      "id": "dc9497e3-0f5a-464f-971e-c3378823f9f0",
      "name": "GetTeams",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Rafa-Sheets"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1I9F4h9Z-kTiMK1GwTTgqjQNLbrIqf2RwxKa6be-n7SU",
          "mode": "list",
          "cachedResultName": "usersID",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I9F4h9Z-kTiMK1GwTTgqjQNLbrIqf2RwxKa6be-n7SU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "viga",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1I9F4h9Z-kTiMK1GwTTgqjQNLbrIqf2RwxKa6be-n7SU/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1088,
        -1136
      ],
      "id": "2f230471-0a8d-49e3-837e-7fa4fa0de6d9",
      "name": "GetViga",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Rafa-Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "LMbtWNGXPZLNnpdf",
          "mode": "list",
          "cachedResultName": "queries",
          "cachedResultUrl": "/projects/xeIbd1uqzDdhrEnK/datatables/LMbtWNGXPZLNnpdf"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1760,
        -608
      ],
      "id": "d1859d25-16d6-492f-a7c9-9ebc9975291e",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU",
          "mode": "list",
          "cachedResultName": "timeReport",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 482950234,
          "mode": "list",
          "cachedResultName": "userMapping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU/edit#gid=482950234"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "vigaEmail"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        352,
        -976
      ],
      "id": "6d51ae64-321e-4e4b-baff-f795b3ea7e27",
      "name": "Get Users",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Rafa-Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU",
          "mode": "list",
          "cachedResultName": "timeReport",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1678189117,
          "mode": "list",
          "cachedResultName": "executionHeartbeat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU/edit#gid=1678189117"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "executionDate",
              "displayName": "executionDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "totalNotified",
              "displayName": "totalNotified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        864,
        -1008
      ],
      "id": "cf7d3b53-c369-4c5b-bbf5-1a4097453dd1",
      "name": "heartBeat2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Rafa-Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU",
          "mode": "list",
          "cachedResultName": "timeReport",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1678189117,
          "mode": "list",
          "cachedResultName": "executionHeartbeat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU/edit#gid=1678189117"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "executionDate",
              "displayName": "executionDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "totalNotified",
              "displayName": "totalNotified",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -384,
        -960
      ],
      "id": "4437b81e-2a26-4525-a589-e50bed0d0bc2",
      "name": "heartBeat1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Rafa-Sheets"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        672,
        -880
      ],
      "id": "6be8e448-b6c1-4164-bc9c-8736c1b88df7",
      "name": "TEAMS-ERROR",
      "webhookId": "35545867-ff84-4471-a8d4-23c7a0378e3e",
      "credentials": {
        "smtp": {
          "id": "Uw4CpnQjIbsNpVhT",
          "name": "SMTP account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU",
          "mode": "list",
          "cachedResultName": "timeReport",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 482950234,
          "mode": "list",
          "cachedResultName": "userMapping",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU/edit#gid=482950234"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "fullName",
              "displayName": "fullName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vigaId",
              "displayName": "vigaId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "teamsId",
              "displayName": "teamsId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "secondLevelContact",
              "displayName": "secondLevelContact",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -784,
        -976
      ],
      "id": "52b31f57-47fd-4259-9488-d45b58caee5f",
      "name": "userMapping",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Rafa-Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU",
          "mode": "list",
          "cachedResultName": "timeReport",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "notificationLogs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1uLjQ6nPvCiBYyfaUzLNeGb6Mlw3zgk77ye5rdXa93tU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "vigaEmail",
              "displayName": "vigaEmail",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "vigaId",
              "displayName": "vigaId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "teamsId",
              "displayName": "teamsId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sentAt",
              "displayName": "sentAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "hoursPending",
              "displayName": "hoursPending",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        464,
        -1008
      ],
      "id": "b62a1984-994b-4b67-9f28-5a9e289e09cd",
      "name": "notificationLogs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YtjFVoybbkWVfDYe",
          "name": "Rafa-Sheets"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [
        752,
        -672
      ],
      "id": "b149102a-4ef3-45a4-a946-f66c026378bf",
      "name": "Summarize"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8dd8c675-5666-4294-951f-7467ee2c7924",
              "leftValue": "={{ $json.teamsId }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "d85831fb-a291-496c-893f-cdb9832aa152",
              "leftValue": "={{ $json.teamsId.length == 36 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -320,
        -176
      ],
      "id": "468314a2-58a1-448f-ae49-7ff1ce1c329b",
      "name": "Filter Teams IDs",
      "notes": "Descarta los ids que estén vacíos o tengan un length menor a 36 caracteres\n"
    },
    {
      "parameters": {
        "content": "## Query SQL que traiga de la lista USERS. Los ids de teams cuyo registro contenga el email que viene de VIGA, siendo este length mayor a 36 caracteres\n\n## notify = 1 ",
        "height": 336,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        -640
      ],
      "typeVersion": 1,
      "id": "b997d6a0-b725-48a7-bfff-c6170e1d1c5f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        -608
      ],
      "id": "83118ae7-21e1-47a2-a6ea-7d56c61e6a3a",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17340e62-79e7-4a12-8f74-46f29479aa8c",
              "name": "executionId",
              "value": "={{$execution.id}}",
              "type": "string"
            },
            {
              "id": "27d17bfd-bd95-4679-b6da-dd17ac6bfc07",
              "name": "completionPercentage",
              "value": "",
              "type": "string"
            },
            {
              "id": "7c83b837-c1eb-4e8b-9a34-8da8e5915aaa",
              "name": "totalHours",
              "value": "",
              "type": "string"
            },
            {
              "id": "a320d819-e7be-4583-9431-fb98984be403",
              "name": "notifiedAt",
              "value": "={{$now}}",
              "type": "string"
            },
            {
              "id": "b1b50081-a292-4864-8d91-6b2d3fd4a764",
              "name": "=errorDetail",
              "value": "",
              "type": "string"
            },
            {
              "id": "c585b58e-4b96-40d1-956a-2401779cd422",
              "name": "",
              "value": "",
              "type": "string"
            },
            {
              "id": "fcab8a8f-7ccb-42b2-8f0b-074d70e76773",
              "name": "errorDetail",
              "value": "=",
              "type": "string"
            },
            {
              "id": "c4bce2f4-a9dd-4a18-b200-3b056d67c3e2",
              "name": "status",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -464,
        128
      ],
      "id": "52d64c76-40de-429a-bec7-a8382d6cbf0b",
      "name": "No Log Mapping"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "696eacb8-531a-40fb-9d1a-31f15d5a729e",
              "name": "executionId",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "3e675cfd-aa71-43fe-b494-eab0e12073c1",
              "name": "dateTime",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "4d1a6959-a370-487d-ae00-6252c3f9ebb5",
              "name": "totalNotified",
              "value": "",
              "type": "string"
            },
            {
              "id": "ed7f0e16-3cd1-4b83-bc38-4743448b7bad",
              "name": "status",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        64
      ],
      "id": "1c31c467-77e3-4c30-b3e5-c87a6cee3d2c",
      "name": "Execution Log"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "23693c28-784f-4267-bd79-99402a39000a",
              "name": "queryId",
              "value": "={{ $json.queryId }}",
              "type": "string"
            },
            {
              "id": "aa9213c2-eb1f-4342-899c-9429ac0aa51d",
              "name": "revisionQuery",
              "value": "={{ $json.revisionQuery }}",
              "type": "string"
            },
            {
              "id": "314352ef-0372-48cf-9a2e-b5a0ae0d57ee",
              "name": "type",
              "value": "={{ $json.type }}",
              "type": "string"
            },
            {
              "id": "3b4e198c-2699-4000-b65b-5554a1326ca1",
              "name": "description",
              "value": "={{ $json.description }}",
              "type": "string"
            },
            {
              "id": "20c8e326-908f-4428-8a9f-9ee59875bb1f",
              "name": "country",
              "value": "={{ $json.country }}",
              "type": "string"
            },
            {
              "id": "ce7df481-53af-4721-bc42-9d509967dec3",
              "name": "targetEnv",
              "value": "={{ $json.target_env }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1456,
        -512
      ],
      "id": "efe8b9ce-1bad-45ad-9648-d773bfc53e3e",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {
    "Code in JavaScript2": [
      {
        "json": {
          "success": true,
          "message": "OK",
          "data": [
            {
              "fullName": "Maza Valentina",
              "email": "vmaza@la.apgconsulting.com.ar",
              "expectedHours": 72,
              "totalHours": 68.45,
              "completionPercentage": 95.1,
              "notify": 0
            },
            {
              "fullName": "Carollo Facundo",
              "email": "fcarollo@apg-consulting.com",
              "expectedHours": 72,
              "totalHours": 52.48,
              "completionPercentage": 72.9,
              "notify": 0
            },
            {
              "fullName": "Palomeque Angie",
              "email": "apalomeque@la.apg-consulting.com",
              "expectedHours": 72,
              "totalHours": 32,
              "completionPercentage": 44.4,
              "notify": 0
            },
            {
              "fullName": "diaz DAna",
              "email": "dana@diaz.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Jara Claudio",
              "email": "claudio@jara.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "mama mama",
              "email": "mama@hotmail.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Fandino Facundo",
              "email": "ffandino@apconsulting.com.ar",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Gutierrez Yaz",
              "email": "alexa_992@hotmail.com",
              "expectedHours": 86.4,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Vodanovic Alejandra",
              "email": "valentinamaza2013@gmail.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "rolito roles6",
              "email": "roles6@rolito.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Rodriguez Ivan",
              "email": "irodriguez@apgconsulting.com.ar",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "user prueba user audit table",
              "email": "prueba@user.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Arevalo Tarazona J2AT Eliminame",
              "email": "j2at@hotmail.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Gutierrez Yazmin",
              "email": "ygutierrez@apg-consulting.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "rolito roles4",
              "email": "roles4@rolito.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Parada Juan Jose",
              "email": "jparada@apgconsulting.com.ar",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Garcia Julian",
              "email": "garcia@gmail",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Garcia Jessica",
              "email": "jgarcia@la.apg-consulting.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "pérez martina",
              "email": "martina@apg-consulting.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "mas pruebas Pruebas",
              "email": "pruebas@hotmail.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Rolon Victoria",
              "email": "pruebascomfiarpe@gmail.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Rolando Carlos",
              "email": "crolando@apgconsulting.com.ar",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Vallejo Lucas",
              "email": "lvallejo@comfiar.com.bo",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Prieto Andrea",
              "email": "aprieto@apgconsulting.com.ar",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Rodriguez Vanessa",
              "email": "vrodriguez@la.comfiar.co",
              "expectedHours": 73.8,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "yujra Omar",
              "email": "oyujra@la.apg-consulting.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "pruebaProyecto pruebaProyecto",
              "email": "prueba@gmail.comn",
              "expectedHours": 14.4,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Perez Manolo",
              "email": "manolo@apgcore.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Cañizales Eduardo",
              "email": "ecanizales@apg-consulting.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Formiga Julio",
              "email": "jformiga@apg-consulting.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Rodriguez Cami",
              "email": "crodrigr@gmail.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Arevalo John",
              "email": "arevalo.john@gmail.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Rafael Núñez",
              "email": "rnunez@apg-consulting.com",
              "expectedHours": 72,
              "totalHours": 7.2,
              "completionPercentage": 10,
              "notify": 1
            },
            {
              "fullName": "Rafael Núñez2",
              "email": "rnunez@apg-consulting.com",
              "expectedHours": 72,
              "totalHours": 70,
              "completionPercentage": 98,
              "notify": 1
            },
            {
              "fullName": "Ravenna Andrea",
              "email": "andre@hotmail.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "jara karina",
              "email": "karina@jara.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "jaramillo karen",
              "email": "karen@jara.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Quinta Carito",
              "email": "yrosendo@apgconsulting.com.ar",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Arevalo Tarazona John Albeiro",
              "email": "jarevalo@apg-consulting.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Gulman Ezequiel",
              "email": "egulman@apgconsulting.com.ar",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "picapiedra picapiedra",
              "email": "picapiedra@gmail.com",
              "expectedHours": 5.4,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "hermozo micky",
              "email": "mickyhermozo72@gmail.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "USUARIO PEDRO",
              "email": "vm@gmail.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Perez Paola",
              "email": "paola@perez.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "rolito rol7",
              "email": "rol7@rolito.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "mama papa",
              "email": "pama@hotmail.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "santo lucio",
              "email": "lucio@santo.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "si ahora",
              "email": "ahora@si.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Prueba APG",
              "email": "apg.consulting.w@gmail.com",
              "expectedHours": 72,
              "totalHours": 0,
              "completionPercentage": 0
            }
          ]
        }
      }
    ],
    "Filter": [
      {
        "json": {
          "fullName": "Rafael Núñez",
          "email": "rnunez@apgConsulting.com",
          "expectedHours": 72,
          "totalHours": 7.2,
          "completionPercentage": 10
        }
      },
      {
        "json": {
          "fullName": "Rafael Núñez2",
          "email": "rnunez@apg-consulting",
          "expectedHours": 72,
          "totalHours": 70,
          "completionPercentage": 98
        }
      },
      {
        "json": {
          "fullName": "Rafael Núñez2",
          "email": "rnunez@apg-consulting.com",
          "expectedHours": 72,
          "totalHours": 70,
          "completionPercentage": 98
        }
      },
      {
        "json": {
          "fullName": "Rafael Núñez2",
          "email": "TEST@apg-consulting.com",
          "expectedHours": 72,
          "totalHours": 70,
          "completionPercentage": 98
        }
      }
    ],
    "GET TEAMS ID": [
      {
        "json": {
          "row_number": 52,
          "name": "Nuñez Rafael",
          "email": "rnunez@apgConsulting.com",
          "vigaId": "",
          "teamsId": "3bcfa8fe-c819-4cb1-82cf-5dc8da30ceb2",
          "notify": 1
        }
      },
      {
        "json": {
          "row_number": 53,
          "name": "Nuñez Rafael",
          "email": "rnunez@apg-consulting",
          "vigaId": "",
          "teamsId": "c819-4cb1-82cf-5dc8da30ceb2",
          "notify": 1
        }
      },
      {
        "json": {
          "row_number": 54,
          "name": "Nuñez Rafael",
          "email": "rnunez@apg-consulting.com",
          "vigaId": "",
          "teamsId": "",
          "notify": 1
        }
      }
    ],
    "Get CHAT ID": [
      {
        "json": {
          "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#chats/$entity",
          "id": "19:3bcfa8fe-c819-4cb1-82cf-5dc8da30ceb2_dc249723-4f57-4995-bdc6-836ab587c0fd@unq.gbl.spaces",
          "topic": null,
          "createdDateTime": "2026-03-06T20:25:42.503Z",
          "lastUpdatedDateTime": "2026-03-19T20:27:04.445Z",
          "chatType": "oneOnOne",
          "webUrl": "https://teams.microsoft.com/l/chat/19%3A3bcfa8fe-c819-4cb1-82cf-5dc8da30ceb2_dc249723-4f57-4995-bdc6-836ab587c0fd%40unq.gbl.spaces/0?tenantId=f89f7128-f0c6-4302-9881-8e0697d39336",
          "tenantId": "f89f7128-f0c6-4302-9881-8e0697d39336",
          "isHiddenForAllMembers": false,
          "viewpoint": null,
          "onlineMeetingInfo": null
        }
      },
      {
        "json": {
          "@odata.context": "https://graph.microsoft.com/v1.0/$metadata#chats/$entity",
          "id": "19:3bcfa8fe-c819-4cb1-82cf-5dc8da30ceb2_dc249723-4f57-4995-bdc6-836ab587c0fd@unq.gbl.spaces",
          "topic": null,
          "createdDateTime": "2026-03-06T20:25:42.503Z",
          "lastUpdatedDateTime": "2026-03-19T20:27:04.445Z",
          "chatType": "oneOnOne",
          "webUrl": "https://teams.microsoft.com/l/chat/19%3A3bcfa8fe-c819-4cb1-82cf-5dc8da30ceb2_dc249723-4f57-4995-bdc6-836ab587c0fd%40unq.gbl.spaces/0?tenantId=f89f7128-f0c6-4302-9881-8e0697d39336",
          "tenantId": "f89f7128-f0c6-4302-9881-8e0697d39336",
          "isHiddenForAllMembers": false,
          "viewpoint": null,
          "onlineMeetingInfo": null
        }
      }
    ],
    "Filter Teams IDs": [
      {
        "json": {
          "row_number": 52,
          "name": "Nuñez Rafael",
          "email": "rnunez@apgConsulting.com",
          "vigaId": "",
          "teamsId": "3bcfa8fe-c819-4cb1-82cf-5dc8da30ceb2",
          "notify": 1
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-03-09T13:26:12.112Z",
      "updatedAt": "2026-03-09T13:26:12.112Z",
      "role": "workflow:owner",
      "workflowId": "zreauexuD0kaHEIs",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-03-26T16:00:54.692Z",
  "versionId": "ceb87147-496a-415b-833f-9d986315d9c1"
}