folder/VigaTimeReport V2.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Login VIGA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Login VIGA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login VIGA": {
      "main": [
        [
          {
            "node": "Set Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set VIGA Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Context": {
      "main": [
        [
          {
            "node": "Get Debtors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Debtors": {
      "main": [
        [
          {
            "node": "Normalize Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set VIGA Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set VIGA Error": {
      "main": [
        [
          {
            "node": "SQL Exec Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Response": {
      "main": [
        [
          {
            "node": "IF Has Debtors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set No Deudores": {
      "main": [
        [
          {
            "node": "SQL Exec Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Merge Data": {
      "main": [
        [
          {
            "node": "IF Can Notify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Can Notify": {
      "main": [
        [
          {
            "node": "HTTP Create Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Skip Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Create Chat": {
      "main": [
        [
          {
            "node": "Teams Send Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Chat Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Teams Send Message": {
      "main": [
        [
          {
            "node": "Set SUCCESS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Msg Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set SUCCESS": {
      "main": [
        [
          {
            "node": "The Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Msg Error": {
      "main": [
        [
          {
            "node": "The Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Chat Error": {
      "main": [
        [
          {
            "node": "The Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set SQL Error": {
      "main": [
        [
          {
            "node": "The Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Reincidence": {
      "main": [
        [
          {
            "node": "IF Reincidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Reincidence": {
      "main": [
        [
          {
            "node": "Teams Notify RRHH",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Teams Notify RRHH": {
      "main": [
        []
      ]
    },
    "Set Exec Summary": {
      "main": [
        [
          {
            "node": "SQL Exec Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Exec Log": {
      "main": [
        []
      ]
    },
    "IF Has Debtors": {
      "main": [
        [
          {
            "node": "VIGA ENDPOINT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set No Deudores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "SQL Reincidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VIGA ENDPOINT": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get user info": {
      "main": [
        [
          {
            "node": "Validate Error",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Set Exec Summary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get user info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WAS NOTIFIED": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "insert user info": {
      "main": [
        []
      ]
    },
    "INSERT NOTIFICATION LOG": {
      "main": [
        []
      ]
    },
    "Set Skip Status": {
      "main": [
        [
          {
            "node": "The Brain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL notification_log INSERT": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL Exec Log1": {
      "main": [
        [
          {
            "node": "SQL Heartbeat1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "SQL Exec Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET NOTIFICATIONS": {
      "main": [
        []
      ]
    },
    "GET EXECUTIONS": {
      "main": [
        []
      ]
    },
    "GET TABLES": {
      "main": [
        [
          {
            "node": "GET USERS",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET NOTIFICATIONS",
            "type": "main",
            "index": 0
          },
          {
            "node": "GET EXECUTIONS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "VIGA ENDPOINT1": {
      "main": [
        []
      ]
    },
    "Validate Error": {
      "main": [
        [
          {
            "node": "Set Merge Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set SQL Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "The Brain": {
      "main": [
        [
          {
            "node": "SQL notification_log INSERT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-06T12:57:37.163Z",
  "id": "FPr4PKzcRuMjA733",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "VigaTimeReport V2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 9 * * 1-5"
            }
          ]
        }
      },
      "id": "06776aa2-a69e-4a15-8335-c663f00a9d14",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -528,
        1648
      ],
      "notes": "Lunes-Viernes 9:00 AM"
    },
    {
      "parameters": {},
      "id": "cf3fe82f-efa3-455a-b1ed-cb4cb9771e41",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -528,
        1808
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://apg.cloudviga.com:8500/api/account/login",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json; charset=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"userInfo\":{\"email\":\"rnunez@apg-consulting.com\",\"password\":\"0@Uk0mUm\"},\"browserInfo\":\"n8n automation\"}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "4cc1cc16-7ee3-47e0-a222-56a5095ba476",
      "name": "Login VIGA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -272,
        1648
      ],
      "onError": "continueErrorOutput",
      "notes": "Login VIGA → Bearer Token"
    },
    {
      "parameters": {
        "jsCode": "const login = $input.first().json;\nconst token = login?.token?.token || login?.token || '';\nif (!token) throw new Error('Login VIGA fallido: ' + JSON.stringify(login).slice(0,200));\nreturn [{ json: {\n  executionId: $execution.id,\n  token,\n  startTime: new Date().toISOString(),\n  instanceId: '5F373264-4128-4429-821F-3F97C1779BEA'\n}}];"
      },
      "id": "9ec75240-4904-4474-b6ab-cac5f5ed8dfc",
      "name": "Set Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -96,
        1632
      ]
    },
    {
      "parameters": {
        "url": "http://desavigaapi.apg.local/api/TimereportNotification/overdue-hours",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "instanceId",
              "value": "={{ $('Set Context').first().json.instanceId }}"
            },
            {
              "name": "percentage",
              "value": "50"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Set Context').first().json.token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5cee4d06-af61-4125-bd07-1f1c336fe779",
      "name": "Get Debtors",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        128,
        1632
      ],
      "onError": "continueErrorOutput",
      "notes": "Obtiene lista de deudores de VIGA"
    },
    {
      "parameters": {
        "jsCode": "const err = $input.first().json;\nreturn [{ json: {\n  executionId: $execution.id,\n  status: 'ERROR_VIGA_API',\n  totalNotified: 0,\n  // errorMsg: JSON.stringify(err.error || err).slice(0,300)\n}}];\n\n//, totalProcessed: 0, totalSuccess: 0, totalErrors: 1,"
      },
      "id": "117d31da-4e3d-4fc2-ad35-9bf85ac77b07",
      "name": "Set VIGA Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        1968
      ]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst arr = Array.isArray(r.data) ? r.data : [];\n\nreturn arr.map(item => {\n  return {\n    json: item\n  };\n});"
      },
      "id": "dc4f998d-d975-4b0a-a3e4-1fc65c75e9e8",
      "name": "Normalize Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        1584
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d95b7056-5a2a-4b3e-bd33-b655b4977121",
              "name": "executionId",
              "value": "={{ $execution.id }}",
              "type": "string"
            },
            {
              "id": "5c5a361b-4faa-445a-a8eb-959d013f2388",
              "name": "totalNotified",
              "value": 0,
              "type": "number"
            },
            {
              "id": "30541c12-5afa-4205-b4f0-c40ab00e95b4",
              "name": "status",
              "value": "NO_DEUDORES",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "66311aa8-95c4-4844-9d95-1ca973d72331",
      "name": "Set No Deudores",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1024,
        1616
      ],
      "notes": "posibilidad de agregar\ntotalSuccess y totalErrors y totalProcessed"
    },
    {
      "parameters": {
        "jsCode": "const sql = $input.first().json;\nconst viga = $('Loop Over Items').item.json;\nreturn [{ json: {\n  executionId: $execution.id ,\n  email: viga.email || '',\n  fullName: viga.fullName || '',\n  expectedHours: viga.expectedHours ?? null,\n  totalHours: viga.totalHours ?? null,\n  completionPercentage:viga.completionPercentage ?? null,\n  teamsId: sql.teamsId || null,\n  rrhh: sql.rrhh || null\n}}];"
      },
      "id": "7c5dacda-6dde-4381-ada9-bad0719bb5b1",
      "name": "Set Merge Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        1040
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5578258b-b866-40ef-823f-d422c2cee8ed",
              "leftValue": "={{ $json.teamsId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b764896c-624c-42b2-82f3-7f58b045a7d2",
      "name": "IF Can Notify",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2256,
        1088
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.microsoft.com/v1.0/chats",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftTeamsOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chatType\": \"oneOnOne\",\n  \"members\": [\n    {\n      \"@odata.type\": \"#microsoft.graph.aadUserConversationMember\",\n      \"roles\": [\"owner\"],\n      \"user@odata.bind\": \"https://graph.microsoft.com/v1.0/users('dc249723-4f57-4995-bdc6-836ab587c0fd')\"\n    },\n    {\n      \"@odata.type\": \"#microsoft.graph.aadUserConversationMember\",\n      \"roles\": [\"owner\"],\n      \"user@odata.bind\": \"https://graph.microsoft.com/v1.0/users('{{ $json.teamsId }}')\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "3722b540-684a-4a51-8f5b-3da5dd1eb9b3",
      "name": "HTTP Create Chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2432,
        992
      ],
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "ueHY9A2J5aF54WT3",
          "name": "Notificaciones n8n"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const err = $input.first().json;\nconst m = $('Set Merge Data').item.json;\nreturn [{ json: { ...m, status: 'ERROR_TEAMS_CHAT',\n  errorDetail: JSON.stringify(err.error.message || err.message || err).slice(0,500) }}];"
      },
      "id": "c9a10abd-33df-48fa-abc3-40a0f0457dfe",
      "name": "Set Chat Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        1184
      ]
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "contentType": "html",
        "message": "=<p>Hola <strong>{{ $('Set Merge Data').item.json.fullName }}</strong>,</p>\n<p>Te recordamos que tus horas en <strong>Viga</strong> no están al día:</p>\n<ul>\n  <li>⏰ <strong>Horas esperadas:</strong> {{ $('Set Merge Data').item.json.expectedHours }}h</li>\n  <li>✅ <strong>Horas cargadas:</strong> {{ $('Set Merge Data').item.json.totalHours }}h</li>\n  <li>📊 <strong>Completado:</strong> {{ $('Set Merge Data').item.json.completionPercentage }}%</li>\n</ul>\n<p>Por favor carga tus horas pendientes. ¡Muchas gracias!</p>",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "7108f929-4e2d-4e5b-9cbb-1c6f9bdfd507",
      "name": "Teams Send Message",
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        2656,
        896
      ],
      "webhookId": "171c1abc-4ec3-4911-a1a1-f5d214283cfd",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "Yyblo5OMavkgN1oD",
          "name": "Teams"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const err = $input.first().json;\nconst m = $('Set Merge Data').item.json;\nreturn [{ json: { ...m, status: 'ERROR_TEAMS_MSG',\n  errorDetail: JSON.stringify(err.error.message || err.message || err).slice(0,500) }}];"
      },
      "id": "fc30ea46-48e4-4bc5-a3c0-183974e153c0",
      "name": "Set Msg Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        992
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $(\"Loop Over Items\").first().json\n// const ctx = $('Set Context').first().json;\nreturn [{ json: {\n  // executionId: ctx.executionId,\n  email: input.email || null,\n  fullName: input.fullName || null,\n  expectedHours: input.expectedHours ?? null,\n  totalHours: input.totalHours ?? null,\n  completionPercentage: input.completionPercentage ?? null,\n  teamsId: null, rrhh: null,\n  status: 'ERROR_SQL',\n  errorDetail: input.error,\n  notifiedAt: null\n}} ];"
      },
      "id": "c563f0ed-4b1e-4954-a718-b80d40c8aac1",
      "name": "Set SQL Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        1568
      ]
    },
    {
      "parameters": {
        "jsCode": "const m = $('Set Merge Data').item.json;\nreturn [{ json: { ...m, status: 'SUCCESS', errorDetail: null, notifiedAt: $now.toFormat('yyyy-MM-dd HH:mm:ss.SSS') }}];"
      },
      "id": "3269b4e7-f2e3-435f-8d57-ab19e6966010",
      "name": "Set SUCCESS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        800
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT n.email, u.rrhh, COUNT(*) as notif_count\nFROM dbo.NotiViga_notification_logs n\nLEFT JOIN dbo.NotiViga_userInfo u ON u.email = n.email\nWHERE n.status = 'SUCCESS'\n  AND n.notifiedAt >= DATEADD(day, -5, GETDATE())\nGROUP BY n.email, u.rrhh\nHAVING COUNT(*) >= 2"
      },
      "id": "929141bd-63ab-45c4-a7c0-44ba9ef4d645",
      "name": "SQL Reincidence",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        -160,
        2768
      ],
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5ed57128-6f12-48a8-ba66-98a5b97487eb",
              "leftValue": "={{ $json.notif_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ffca0431-8e2b-48f1-bcd3-b3de181aee88",
      "name": "IF Reincidence",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        2768
      ]
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "53f577e2-4094-42b5-8a8b-695b91d0d74f",
          "mode": "list",
          "cachedResultName": "n8n notifications"
        },
        "channelId": {
          "__rl": true,
          "value": "19:NQRQiHrUhszmot2VXKYb_bU_YEOJCW1DGq5vKLpnTpw1@thread.tacv2",
          "mode": "list",
          "cachedResultName": "Notificaciones de error",
          "cachedResultUrl": "https://teams.cloud.microsoft/l/channel/19%3ANQRQiHrUhszmot2VXKYb_bU_YEOJCW1DGq5vKLpnTpw1%40thread.tacv2/n8n%20notifications?groupId=53f577e2-4094-42b5-8a8b-695b91d0d74f&tenantId=f89f7128-f0c6-4302-9881-8e0697d39336&allowXTenantAccess=False"
        },
        "contentType": "html",
        "message": "=⚠️ <b>Escalamiento Nivel 2 - VigaTimeReport</b><br>El usuario <b>{{ $json.email }}</b> ha sido notificado <b>{{ $json.notif_count }} veces</b> en los últimos 5 días.<br>RRHH asignado: {{ $json.rrhh || 'No asignado' }}",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "f6b51d7b-b60e-4192-a5d6-217226aab8c0",
      "name": "Teams Notify RRHH",
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        304,
        2672
      ],
      "webhookId": "428574e3-87f4-4985-abc6-db95f48f77ca",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "ueHY9A2J5aF54WT3",
          "name": "Notificaciones n8n"
        }
      },
      "notes": "⚠️ Reemplazar teamId y channelId con los IDs reales de RRHH"
    },
    {
      "parameters": {
        "jsCode": "let totalSuccess = 0, totalErrors = 0;\ntry {\n  const brainItems = $('The Brain v1').all();\n  totalSuccess = brainItems.filter(i => i.json.status === 'SUCCESS').length;\n  totalErrors  = brainItems.filter(i => i.json.status !== 'SUCCESS').length;\n} catch(e) {}\nconst totalItems = $input.all();\nconst totalProcessed = totalSuccess + totalErrors;\nconst status = totalErrors === 0 ? 'SUCCESS' : (totalSuccess === 0 ? 'ERROR' : 'PARTIAL');\nreturn [{ json: {\n  executionId: $execution.id,\n  totalNotified: totalSuccess,\n  totalProcessed,\n  totalSuccess,\n  totalErrors,\n  count: totalItems.length,\n  status\n}}];"
      },
      "id": "7f4ff889-1266-4420-8f68-de88c0a12701",
      "name": "Set Exec Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        1584
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO dbo.NotiViga_execution_logs (ExecutionId, totalNotified, dateTime, status) VALUES ('{{ $json.executionId }}', {{ $json.totalNotified }}, GETDATE(), '{{ $json.status }}')"
      },
      "id": "660100e5-fadd-4193-a0a1-463109f705f1",
      "name": "SQL Exec Log",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        2560,
        1840
      ],
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=IF NOT EXISTS (SELECT 1 FROM workflow_heartbeat WHERE executionId = '{{ $json.executionId }}')\nINSERT INTO workflow_heartbeat (executionId, workflowName, dateTime, totalProcessed, totalSuccess, totalErrors)\nVALUES ('{{ $json.executionId }}', 'VigaTimeReport_V2', GETDATE(), {{ $json.totalProcessed }}\n\n\n--, {{ $json.totalSuccess }}, {{ $json.totalErrors }})"
      },
      "id": "c41aefb9-2659-4944-a6a5-4286c364e3a5",
      "name": "SQL Heartbeat",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        2144,
        2384
      ],
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      }
    },
    {
      "parameters": {
        "content": "## VigaTimeReport V2\n**Statuses posibles por usuario:**\n- SUCCESS\n- ERROR_SQL — fallo al buscar en NotiViga_userInfo\n- MISMATCH_TEAMS — usuario sin teamsId\n- NOTIFY_DISABLED — notify=0 en Users\n- ERROR_TEAMS_CHAT — fallo al crear chat 1:1\n- ERROR_TEAMS_MSG — fallo al enviar mensaje\n- ERROR_VIGA_API — fallo al obtener deudores\n\n**Un único nodo SQL Writer** maneja todos los registros de notificación.\n**The Brain** construye el INSERT dinámico para cualquier path.",
        "height": 300,
        "width": 500
      },
      "id": "c1d0fe21-d526-4ab3-946d-9bcb709c81b8",
      "name": "Note Overview",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -544,
        16
      ]
    },
    {
      "parameters": {
        "content": "## Loop por Usuario\nBatchSize=1 -> 1 item por iteracion.\nTodos los paths convergen en **The Brain** -> **SQL Writer** -> vuelve al Loop.\n\nPaths de error:\n- SQL error -> Set SQL Error\n- Sin teamsId -> Set Skip Status\n- Chat error -> Set Chat Error\n- Msg error -> Set Msg Error\n- Exito -> Set SUCCESS",
        "height": 220,
        "width": 400
      },
      "id": "237b4b05-45ce-435c-baa4-58f5f31981ac",
      "name": "Note Loop",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2672,
        16
      ]
    },
    {
      "parameters": {
        "content": "## Reincidencia (Nivel 2)\nDespues del loop, SQL Reincidence busca usuarios\nnotificados >=2 veces en 5 dias.\n\nSi hay reincidencia -> Teams Notify RRHH.\n\nConfigurar teamId y channelId en el nodo Teams Notify RRHH.",
        "height": 180,
        "width": 380
      },
      "id": "0627257e-fc7f-41dc-8e5a-f5e5adfadf38",
      "name": "Note Reincidence",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6272,
        16
      ]
    },
    {
      "parameters": {
        "content": "## Trackear cuanta gente viene de Viga\n## Cuantos de ellos deben ser notificados?\n## cuantos notificamos vs error?\n\n",
        "height": 272,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "b70660a6-5a18-4a9f-8b24-d85e458fe62c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "82888a0d-2305-4af7-98c8-4becb1e46ffb",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "903015a1-ab6c-4d5d-b623-3e5c477ba9df",
      "name": "IF Has Debtors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        576,
        1584
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { \"fullName\": \"Exito Teams\", \"email\": \"exito@empresa.com\", \"expectedHours\": 40, \"totalHours\": 10, \"completionPercentage\": 25 },\n  { \"fullName\": \"ID Erroneo\", \"email\": \"erroneo@empresa.com\", \"expectedHours\": 40, \"totalHours\": 5, \"completionPercentage\": 12.5 },\n  { \"fullName\": \"No en Base Datos\", \"email\": \"desconocido@empresa.com\", \"expectedHours\": 40, \"totalHours\": 0, \"completionPercentage\": 0 },\n  { \"fullName\": \"Reincidente Hoy\", \"email\": \"reincidente@empresa.com\", \"expectedHours\": 40, \"totalHours\": 20, \"completionPercentage\": 50 },\n  { \"fullName\": \"Duplicado Viga\", \"email\": \"duplicado@empresa.com\", \"expectedHours\": 40, \"totalHours\": 30, \"completionPercentage\": 75 },\n  { \"fullName\": \"Duplicado Viga\", \"email\": \"duplicado@empresa.com\", \"expectedHours\": 40, \"totalHours\": 30, \"completionPercentage\": 75 }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -832
      ],
      "id": "85d5e0bf-2064-4985-bcc9-57b33c2fa9a5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -416,
        2768
      ],
      "id": "8b29b73c-1fd8-47bb-b34e-ee9dcb683d46",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "jsCode": "return [\n  { \"fullName\": \"OK\", \"email\": \"OK@apg-consulting.com\", \"expectedHours\": 40, \"totalHours\": 10, \"completionPercentage\": 25 },\n  { \"fullName\": \"ID Erroneo\", \"email\": \"erroneo@APG.com\", \"expectedHours\": 40, \"totalHours\": 5, \"completionPercentage\": 12.5 },  \n  { \"fullName\": \"No notificar\", \"email\": \"NoNotificar@apg-consulting.com\", \"expectedHours\": 40, \"totalHours\": 20, \"completionPercentage\": 50 }, \n  { \"fullName\": \"Not in SQL\", \"email\": \"missing@empresa.com\", \"expectedHours\": 40, \"totalHours\": 30, \"completionPercentage\": 75 }, \n  { \"fullName\": \"Duplicado Viga\", \"email\": \"duplicado@empresa.com\", \"expectedHours\": 40, \"totalHours\": 30, \"completionPercentage\": 75 },\n  { \"fullName\": \"Duplicado Viga\", \"email\": \"duplicado@empresa.com\", \"expectedHours\": 40, \"totalHours\": 30, \"completionPercentage\": 75 }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        1440
      ],
      "id": "39f6c4e6-22ef-4371-ac19-b809d131aeaa",
      "name": "VIGA ENDPOINT"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO dbo.NotiViga_userInfo (teamsId, name, email, rrhh, notify)\nVALUES \n-- Registro OK\n('3bcfa8fe-c819-4cb1-82cf-5dc8da30ceb2', 'OK', 'OK@apg-consulting.com', 'rnunez@apg-consulting.com', 1),\n\n-- Registro No notificar\n('3bcfa8fe-c819-4cb1-82cf-5dc8da30ceb2', 'No notificar', 'NoNotificar@apg-consulting.com', 'rnunez@apg-consulting.com', 0),\n\n-- ID Erróneo (Posiblemente truncado o mal formato)\n('3bcfa8fe-c819-4cb1-82cf-5dc8da30c', 'ID ERRONEO', 'erroneo@APG.com', 'rnunez@apg-consulting.com', 1),\n\n-- Duplicado 1\n('3bcfa8fe-c819-4cb1-82cf-5dc8da30ceb2', 'DUPLICADO', 'duplicado@empresa.com', 'rnunez@apg-consulting.com', 1),\n\n-- Duplicado 2 (Mismo ID, distinto valor de notify)\n('3bcfa8fe-c819-4cb1-82cf-5dc8da30ceb2', 'DUPLICADO', 'duplicado@empresa.com', 'rnunez@apg-consulting.com', 0);"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -592,
        -592
      ],
      "id": "17e34052-5c3c-4983-a52c-92e276f4e8da",
      "name": "insert user info",
      "credentials": {
        "microsoftSql": {
          "id": "sfr7SqKElXB7VYG2",
          "name": "WEEKLY"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT teamsId, name, email, rrhh\nFROM dbo.NotiViga_userInfo\nWHERE email = '{{ $json.email }}';\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        1488,
        1152
      ],
      "id": "c7ddf85a-fce4-4818-8899-98b276ddfc01",
      "name": "get user info",
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1024,
        1440
      ],
      "id": "c684be85-7dc7-43e8-b3fd-afafdaab2b20",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM \ndbo.NotiViga_notification_logs\nWHERE email = {{ $json.email }}\nAND\nstatus = \"entregado\"\nAS TRUE"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        320,
        -432
      ],
      "id": "7023cd19-fcfb-4f2e-aa32-c1d8a1244032",
      "name": "WAS NOTIFIED",
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      }
    },
    {
      "parameters": {
        "content": "DDBB\n\nNotiViga_execution_logs\nNotiViga_notification_logs\nNotiViga_userInfo",
        "height": 144
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        1312
      ],
      "typeVersion": 1,
      "id": "dc8ed641-725e-4678-a1f6-95e0d6e2c1bd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "34d59348-7bc7-4357-b428-5b1aa9e72f65",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        528,
        -432
      ],
      "id": "08a2edd9-4784-401a-9dec-ed6aa214140a",
      "name": "If"
    },
    {
      "parameters": {
        "content": "## Esta query debe devolver true o false por cada registro que le pasemos (email), buscara por ese email en la tabla de notificaciones si su estado el dia de hoy, es entregado. IF TRUE, skip, if false, continue \nPodriamos invertir la logica\n",
        "height": 320,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        128
      ],
      "typeVersion": 1,
      "id": "c084fd9c-6cce-4b85-b759-045b33908b22",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Posible error:\nThe multi-part identifier \"OK@empresa.com\" could not be bound."
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1008,
        1072
      ],
      "typeVersion": 1,
      "id": "9a582fff-0d50-49e6-b1ad-523ce112d5fd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO dbo.NotiViga_notification_logs\n(executionId, fullName, email, expectedHours, totalHours, completionPercentage, status, errorDetail, notifiedAt)\nVALUES\n-- Registro OK\n('2001', 'Maza Valentina', 'vmaza@la.apgconsulting.com.ar', 40, 10, 25.0, 'SUCCESS', NULL, NULL)"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -368,
        -592
      ],
      "id": "e89c674e-6f27-45fe-9f9b-111f8672c8c1",
      "name": "INSERT NOTIFICATION LOG",
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -144,
        -592
      ],
      "id": "23afb3ce-2c49-43b6-90f0-37ce232eac8d",
      "name": "INSERT EXECUTION LOG",
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $(\"Loop Over Items\").first().json\nconst status = !item.teamsId ? 'MISMATCH_TEAMS' : 'NOTIFY_DISABLED';\nconst detail = !item.teamsId\n  ? 'No se encontró teamsId para este email en dbo.NotiViga_userInfo'\n  : 'Usuario tiene notify=0 en la base de datos';\nreturn [{ json: { ...item, status: status, errorDetail: detail }}];"
      },
      "id": "7209b66d-6f18-4994-9f34-774c259f26b4",
      "name": "Set Skip Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        1376
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json._sql }}"
      },
      "id": "4de14846-add4-4a24-9621-4dc5b22cdda5",
      "name": "SQL notification_log INSERT",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        3328,
        1568
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      },
      "notes": "UN SOLO nodo SQL para todos los registros de notificación"
    },
    {
      "parameters": {
        "content": "## Si el usuario que viene de viga no devuelve nada en SQL, el nodo o no devuelve nada, o devuleve un output vacío"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        992,
        896
      ],
      "typeVersion": 1,
      "id": "cd065ca7-4f01-4266-b566-3429f9e7cddb",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO Execution_log (ExecutionId, totalNotified, dateTime, status) VALUES ('{{ $json.executionId }}', {{ $json.totalNotified }}, GETDATE(), '{{ $json.status }}')"
      },
      "id": "0ac5c150-2431-4a4b-a63d-7c85d1f2f66e",
      "name": "SQL Exec Log1",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        432,
        -144
      ],
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=IF NOT EXISTS (SELECT 1 FROM workflow_heartbeat WHERE executionId = '{{ $json.executionId }}')\nINSERT INTO workflow_heartbeat (executionId, workflowName, dateTime, totalProcessed, totalSuccess, totalErrors)\nVALUES ('{{ $json.executionId }}', 'VigaTimeReport_V2', GETDATE(), {{ $json.totalProcessed }}, {{ $json.totalSuccess }}, {{ $json.totalErrors }})"
      },
      "id": "7d7df040-889b-407c-9640-640fdfbc9fc3",
      "name": "SQL Heartbeat1",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        656,
        -144
      ],
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        -144
      ],
      "id": "40b27540-a29c-4d66-a4cd-6c81df7eb36a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM dbo.NotiViga_notification_logs \n--WHERE errorDetail IS NULL;"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -704,
        -336
      ],
      "id": "f2dbb5de-08f6-4d0f-9f60-2fe37cdf3a28",
      "name": "GET NOTIFICATIONS",
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * \nFrom dbo.NotiViga_execution_logs"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -464,
        -336
      ],
      "id": "e0c62573-2aeb-4723-98fa-9e669888347f",
      "name": "GET EXECUTIONS",
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * \nFROM dbo.NotiViga_userInfo"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -928,
        -336
      ],
      "id": "240d4b92-1e02-4f1a-bf61-84bb1f28a6be",
      "name": "GET USERS",
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM dbo.NotiViga_notification_logs;"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -704,
        -112
      ],
      "id": "886f0cbd-377d-4917-944b-5a0449e0e0e1",
      "name": "DELETE NOTIFICATIONS1",
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * \nFrom dbo.NotiViga_execution_logs"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -464,
        -112
      ],
      "id": "d7d5cf07-dd15-4979-9cca-b6cd46ef80b5",
      "name": "DELETE EXECUTIONS1",
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -864,
        -112
      ],
      "id": "77d34b47-f967-4272-91e3-5f4685a9a462",
      "name": "DELETE USERS1",
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1120,
        -576
      ],
      "id": "c39a42bb-3691-4f6f-bf8a-46154bfd6775",
      "name": "GET TABLES"
    },
    {
      "parameters": {
        "jsCode": "let totalSuccess = 0, totalErrors = 0;\ntry {\n  const brainItems = $('The Brain v1').all();\n  totalSuccess = brainItems.filter(i => i.json._status === 'SUCCESS').length;\n  totalErrors  = brainItems.filter(i => i.json._status !== 'SUCCESS').length;\n} catch(e) {}\nconst totalProcessed = totalSuccess + totalErrors;\nconst status = totalErrors === 0 ? 'SUCCESS' : (totalSuccess === 0 ? 'ERROR' : 'PARTIAL');\nreturn [{ json: {\n  executionId: $execution.id,\n  totalNotified: totalSuccess,\n  totalProcessed,\n  totalSuccess,\n  totalErrors,\n  status\n}}];"
      },
      "id": "317c318c-99f1-4723-a097-7e6ee6884f73",
      "name": "Set Exec Summary1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        2432
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=IF NOT EXISTS (SELECT 1 FROM workflow_heartbeat WHERE executionId = '{{ $json.executionId }}')\nINSERT INTO workflow_heartbeat (executionId, workflowName, dateTime, totalProcessed, totalSuccess, totalErrors)\nVALUES ('{{ $json.executionId }}', 'VigaTimeReport_V2', GETDATE(), {{ $json.totalProcessed }}\n\n\n--, {{ $json.totalSuccess }}, {{ $json.totalErrors }})"
      },
      "id": "eba8a838-f16b-4772-90c9-13f652e6e998",
      "name": "SQL Heartbeat2",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        976,
        2432
      ],
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  { \"fullName\": \"OK\", \"email\": \"'OK@apg-consulting.com'\", \"expectedHours\": 40, \"totalHours\": 10, \"completionPercentage\": 25 },\n  { \"fullName\": \"OK\", \"email\": \"OK@111pg-consulting.com\", \"expectedHours\": 40, \"totalHours\": 10, \"completionPercentage\": 25 },\n  // { \"fullName\": \"OK\", \"email\": \"OK@apg-consulting.com\", \"expectedHours\": 40, \"totalHours\": 10, \"completionPercentage\": 25 },\n  // { \"fullName\": \"OK\", \"email\": \"OK@apg-consulting.com\", \"expectedHours\": 40, \"totalHours\": 10, \"completionPercentage\": 25 },\n  // { \"fullName\": \"OK\", \"email\": \"OK@apg-consulting.com\", \"expectedHours\": 40, \"totalHours\": 10, \"completionPercentage\": 25 },    \n  // { \"fullName\": \"OK\", \"email\": \"OK@apg-consulting.com\", \"expectedHours\": 40, \"totalHours\": 10, \"completionPercentage\": 25 }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        1120
      ],
      "id": "32587afe-422b-4b47-9299-05bef096d908",
      "name": "VIGA ENDPOINT1"
    },
    {
      "parameters": {
        "content": "## Posible mejora:\n## Intentar el envio del mensaje antes de crear el chat, si esto falla y el error es epecificamente el que sale cuando no pudimosmandar el mensaje,  ahi creamos el chat y reintentamos el envío\nPara no crear chats innecesariamente",
        "height": 400,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        512
      ],
      "typeVersion": 1,
      "id": "610802a8-3396-4e9e-b38b-57fcec51fe31",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "fromEmail": "Notificaciones@apg-consulting.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Time Report",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1216,
        2432
      ],
      "id": "4ec85190-f3ec-4bc1-bf2c-1730efaa41d9",
      "name": "Send email",
      "webhookId": "a2e3c789-3ec5-4d53-bf39-e4322cdb75f0",
      "credentials": {
        "smtp": {
          "id": "Uw4CpnQjIbsNpVhT",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Que otros datos necesito a la hora de enviar notificacion de reincidencia?\n",
        "height": 144,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1232,
        2656
      ],
      "typeVersion": 1,
      "id": "d255f339-92d7-4ca3-aa4f-d0a0d94d25ee",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Donde guardamos los logs de notificación de reincidencias?\n## En notification logs?"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        2656
      ],
      "typeVersion": 1,
      "id": "b91f1fe8-2e52-4d42-ae5f-39b191f0f3fb",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e43ca063-d644-4c3e-b490-04a91dad710a",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1696,
        1152
      ],
      "id": "406aa92b-f3ba-4981-874e-ed5e184b2419",
      "name": "Validate Error"
    },
    {
      "parameters": {
        "content": "## ¿Cómo diferenciamos un error de ejecución de una ausencia legítima de datos? (El nodo SQL devuelve un objeto vacío en ambos casos si no se maneja bien)\n",
        "height": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1184,
        528
      ],
      "typeVersion": 1,
      "id": "3e416cff-82b9-4abf-a9c9-29bd57f8742b",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## PROD: 0327dc56-965a-47eb-9ed1-8a2c021384d0\n\n## TEST: 5F373264-4128-4429-821F-3F97C1779BEA\n",
        "width": 608
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        1392
      ],
      "typeVersion": 1,
      "id": "7e0759e5-e2d2-4ea2-95a0-46a1cc5a901c",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Agregar el manejo de errores en este punto\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3488,
        1568
      ],
      "typeVersion": 1,
      "id": "0767ca3a-9252-452a-9f8f-d47dc484b2e6",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "S\n"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        3456,
        1136
      ],
      "id": "47531737-3e12-457f-8abb-48d8946103f1",
      "name": "Microsoft SQL1",
      "credentials": {
        "microsoftSql": {
          "id": "hL9EZkFVhAg4kqAo",
          "name": "Utiles-Viga"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Nodo central: normaliza todos los paths en un registro unificado\nconst item = $input.first().json;\n\n// Función para Strings: Si es nulo/vacío devuelve NULL (palabra clave), si no, escapa y pone comillas\nconst escSQL = v => {\n    if (v === null || v === undefined || v === '') return 'NULL';\n    const clean = String(v).replace(/'/g, \"''\").slice(0, 500);\n    return `'${clean}'`;\n};\n\n// Función para Números: Si no es un número válido, devuelve NULL (palabra clave)\nconst numSQL = v => {\n    const parsed = parseFloat(v);\n    return isNaN(parsed) ? 'NULL' : parsed;\n};\n\nconst eId    = $execution.id;\nconst name   = escSQL(item.fullName);\nconst email  = escSQL(item.email);\nconst expH   = numSQL(item.expectedHours);\nconst totH   = numSQL(item.totalHours);\nconst pct    = numSQL(item.completionPercentage);\nconst status = escSQL(item.status || 'UNKNOWN');\nconst detail = escSQL(item.errorDetail); // Ya no forzamos ''\nconst notifiedAt = escSQL(item.notifiedAt);\n\n// Nota: Quitamos las comillas fijas de los valores que ya vienen procesados por escSQL y numSQL\nconst sql = `INSERT INTO dbo.NotiViga_notification_logs \n(executionId, fullName, email, expectedHours, totalHours, completionPercentage, status, errorDetail, notifiedAt)\nVALUES \n('${eId}', ${name}, ${email}, ${expH}, ${totH}, ${pct}, ${status}, ${detail}, ${notifiedAt})`;\n\nreturn [{ json: { ...item, _sql: sql } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        1184
      ],
      "id": "a7610281-4ee6-4aa3-94ed-55572d6936c9",
      "name": "The Brain"
    }
  ],
  "pinData": {
    "GET USERS": [
      {
        "json": {
          "id": 15,
          "teamsId": "3bcfa8fe-c819-4cb1-82cf-5dc8da30ceb2",
          "name": "OK",
          "email": "OK@apg-consulting.com",
          "rrhh": "rnunez@apg-consulting.com",
          "notify": true
        }
      },
      {
        "json": {
          "id": 16,
          "teamsId": "3bcfa8fe-c819-4cb1-82cf-5dc8da30ceb2",
          "name": "No notificar",
          "email": "NoNotificar@apg-consulting.com",
          "rrhh": "rnunez@apg-consulting.com",
          "notify": false
        }
      },
      {
        "json": {
          "id": 17,
          "teamsId": "3bcfa8fe-c819-4cb1-82cf-5dc8da30c   ",
          "name": "ID ERRONEO",
          "email": "erroneo@APG.com",
          "rrhh": "rnunez@apg-consulting.com",
          "notify": true
        }
      },
      {
        "json": {
          "id": 18,
          "teamsId": "3bcfa8fe-c819-4cb1-82cf-5dc8da30ceb2",
          "name": "DUPLICADO",
          "email": "duplicado@empresa.com",
          "rrhh": "rnunez@apg-consulting.com",
          "notify": true
        }
      },
      {
        "json": {
          "id": 19,
          "teamsId": "3bcfa8fe-c819-4cb1-82cf-5dc8da30ceb2",
          "name": "DUPLICADO",
          "email": "duplicado@empresa.com",
          "rrhh": "rnunez@apg-consulting.com",
          "notify": false
        }
      }
    ],
    "SQL Reincidence": [
      {
        "json": {
          "email": "OK@apg-consulting.com",
          "rrhh": "rnunez@apg-consulting.com",
          "notif_count": 6
        }
      }
    ],
    "Manual Trigger": [
      {
        "json": {}
      }
    ],
    "VIGA ENDPOINT": [
      {
        "json": {
          "fullName": "sqlError",
          "email": "'OK@apg-consulting.com'",
          "expectedHours": 40,
          "totalHours": 10,
          "completionPercentage": 25
        }
      },
      {
        "json": {
          "fullName": "OK",
          "email": "OK@apg-consulting.com",
          "expectedHours": 40,
          "totalHours": 10,
          "completionPercentage": 25
        }
      },
      {
        "json": {
          "fullName": "ID Erroneo",
          "email": "erroneo@APG.com",
          "expectedHours": 40,
          "totalHours": 5,
          "completionPercentage": 12.5
        }
      },
      {
        "json": {
          "fullName": "No notificar",
          "email": "NoNotificar@apg-consulting.com",
          "expectedHours": 40,
          "totalHours": 20,
          "completionPercentage": 50
        }
      },
      {
        "json": {
          "fullName": "Not in SQL",
          "email": "missing@empresa.com",
          "expectedHours": 40,
          "totalHours": 30,
          "completionPercentage": 75
        }
      },
      {
        "json": {
          "fullName": "Duplicado Viga",
          "email": "duplicado@empresa.com",
          "expectedHours": 40,
          "totalHours": 30,
          "completionPercentage": 75
        }
      },
      {
        "json": {
          "fullName": "Duplicado Viga",
          "email": "duplicado@empresa.com",
          "expectedHours": 40,
          "totalHours": 30,
          "completionPercentage": 75
        }
      }
    ],
    "Set Context": [
      {
        "json": {
          "executionId": "2418",
          "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJUaWNrZXRBY2Nlc3MiOiJUcnVlIiwiaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvd3MvMjAwNS8wNS9pZGVudGl0eS9jbGFpbXMvY291bnRyeSI6IkFyZ2VudGluYSIsIkNvdW50cnlJZCI6IjIiLCJJZEdyb3VwIjoiNyIsIkdyb3VwIjoiQVBHIENvbnN1bHRpbmciLCJJbnN0YW5jZUlkIjoiMDMyN2RjNTYtOTY1YS00N2ViLTllZDEtOGEyYzAyMTM4NGQwIiwiSW5zdGFuY2UiOiJBcGcgQ29uc3VsdGluZyBJbnN0YW5jaWEiLCJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL3dzLzIwMDgvMDYvaWRlbnRpdHkvY2xhaW1zL3JvbGUiOlsiQWRtaW5Qcm95ZWN0IiwiQW5hbGlzdGEgcmVzb2x1dG9yIiwiQW5hbGlzdGEiXSwiVXNlclR5cGUiOiJJbnRlcm5vIiwiUGVybWlzc2lvbnMiOlsiSW50ZXJubyIsIlZpZXdTdXBwb3J0IiwiRWRpdFN1cHBvcnQiLCJDcmVhdGVTdXBwb3J0IiwiRGVsZXRlU3VwcG9ydCIsIlZpZXdQcm9qZWN0IiwiRWRpdFByb2plY3QiLCJDcmVhdGVQcm9qZWN0IiwiVGltZVJlcG9ydCIsIlZpZXdDbGllbnQiLCJFZGl0Q2xpZW50IiwiQ3JlYXRlQ2xpZW50IiwiVmlld1VzZXIiLCJFZGl0VXNlciIsIkNyZWF0ZVVzZXIiLCJUZW1wbGF0ZSIsIkluZHVzdHJ5IiwiRVJQIiwiSG9saWRheSIsIkFkbWluQmVlbGxpbmciLCJWaWV3RXJwIiwiVmlld09yaWdpbnMiLCJWaWV3V2ViU2l0ZSJdLCJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9hdXRoZW50aWNhdGlvbiI6Im5ld1VzZXItYXBnQ29yZSIsImh0dHA6Ly9zY2hlbWFzLnhtbHNvYXAub3JnL3dzLzIwMDUvMDUvaWRlbnRpdHkvY2xhaW1zL25hbWUiOiJOdcOxZXogUmFmYWVsIiwiaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvd3MvMjAwNS8wNS9pZGVudGl0eS9jbGFpbXMvbmFtZWlkZW50aWZpZXIiOiJmMzhjNjBjNi0yNzNjLTQyMmMtYmQ4Yi00NWMyMjI2NmM1YjkiLCJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9lbWFpbGFkZHJlc3MiOiJybnVuZXpAYXBnLWNvbnN1bHRpbmcuY29tIiwiZXhwIjoxNzc1NzY2ODI2fQ.-bnxwF_hDo_9w6TxMMox5ofuR7LsJtrxeJCV7xalXbo",
          "startTime": "2026-04-09T15:33:46.190Z",
          "instanceId": "5F373264-4128-4429-821F-3F97C1779BEA"
        }
      }
    ],
    "Get Debtors": [
      {
        "json": {
          "success": true,
          "message": "OK",
          "data": [
            {
              "fullName": "diaz DAna",
              "email": "dana@diaz.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Jara Claudio",
              "email": "claudio@jara.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "mama mama",
              "email": "mama@hotmail.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Palomeque Angie",
              "email": "apalomeque@la.apg-consulting.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Fandino Facundo",
              "email": "ffandino@apconsulting.com.ar",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Gutierrez Yaz",
              "email": "alexa_992@hotmail.com",
              "expectedHours": 76.8,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Carollo Facundo",
              "email": "fcarollo@apg-consulting.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Vodanovic Alejandra",
              "email": "valentinamaza2013@gmail.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "rolito roles6",
              "email": "roles6@rolito.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Rodriguez Ivan",
              "email": "irodriguez@apgconsulting.com.ar",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "user prueba user audit table",
              "email": "prueba@user.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Arevalo Tarazona J2AT Eliminame",
              "email": "j2at@hotmail.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Gutierrez Yazmin",
              "email": "ygutierrez@apg-consulting.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "rolito roles4",
              "email": "roles4@rolito.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Parada Juan Jose",
              "email": "jparada@apgconsulting.com.ar",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Garcia Julian",
              "email": "garcia@gmail",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Garcia Jessica",
              "email": "jgarcia@la.apg-consulting.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "pérez martina",
              "email": "martina@apg-consulting.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Maza Valentina",
              "email": "vmaza@la.apgconsulting.com.ar",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "mas pruebas Pruebas",
              "email": "pruebas@hotmail.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Rolon Victoria",
              "email": "pruebascomfiarpe@gmail.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Rolando Carlos",
              "email": "crolando@apgconsulting.com.ar",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Vallejo Lucas",
              "email": "lvallejo@comfiar.com.bo",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Prieto Andrea",
              "email": "aprieto@apgconsulting.com.ar",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Rodriguez Vanessa",
              "email": "vrodriguez@la.comfiar.co",
              "expectedHours": 65.6,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "yujra Omar",
              "email": "oyujra@la.apg-consulting.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "pruebaProyecto pruebaProyecto",
              "email": "prueba@gmail.comn",
              "expectedHours": 12.8,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Perez Manolo",
              "email": "manolo@apgcore.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Cañizales Eduardo",
              "email": "ecanizales@apg-consulting.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Formiga Julio",
              "email": "jformiga@apg-consulting.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Rodriguez Cami",
              "email": "crodrigr@gmail.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Arevalo John",
              "email": "arevalo.john@gmail.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Ravenna Andrea",
              "email": "andre@hotmail.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "jara karina",
              "email": "karina@jara.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "jaramillo karen",
              "email": "karen@jara.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Solo Proyect UserProyect",
              "email": "proyect@yopmail.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Quinta Carito",
              "email": "yrosendo@apgconsulting.com.ar",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Arevalo Tarazona John Albeiro",
              "email": "jarevalo@apg-consulting.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Gulman Ezequiel",
              "email": "egulman@apgconsulting.com.ar",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "picapiedra picapiedra",
              "email": "picapiedra@gmail.com",
              "expectedHours": 4.8,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "hermozo micky",
              "email": "mickyhermozo72@gmail.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "USUARIO PEDRO",
              "email": "vm@gmail.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Perez Paola",
              "email": "paola@perez.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "rolito rol7",
              "email": "rol7@rolito.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "mama papa",
              "email": "pama@hotmail.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "santo lucio",
              "email": "lucio@santo.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "si ahora",
              "email": "ahora@si.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            },
            {
              "fullName": "Prueba APG",
              "email": "apg.consulting.w@gmail.com",
              "expectedHours": 64,
              "totalHours": 0,
              "completionPercentage": 0
            }
          ]
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2026-04-06T12:57:37.163Z",
      "updatedAt": "2026-04-06T12:57:37.163Z",
      "role": "workflow:owner",
      "workflowId": "FPr4PKzcRuMjA733",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-10T19:51:42.301Z",
  "versionId": "6f9581b7-c882-4d7e-8c72-6b760e4c12cf"
}