folder/XML_errors.json
{
  "active": false,
  "connections": {
    "Disparador Mensual": {
      "main": [
        [
          {
            "node": "Configurar Ambientes y Rutas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Manual": {
      "main": [
        [
          {
            "node": "Configurar Ambientes y Rutas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configurar Ambientes y Rutas": {
      "main": [
        [
          {
            "node": "Loop x Ambiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop x Ambiente": {
      "main": [
        [],
        [
          {
            "node": "Verificar Existencia Local",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Existencia Local": {
      "main": [
        [
          {
            "node": "¿Existe?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Existe?": {
      "main": [
        [
          {
            "node": "Leer Archivo TXT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Archivo TXT": {
      "main": [
        [
          {
            "node": "Extraer Texto del Archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Subir a SharePoint (ID Directo)": {
      "main": [
        [
          {
            "node": "Notificar Link Teams",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar Link Teams": {
      "main": [
        [
          {
            "node": "Merge Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Log": {
      "main": [
        [
          {
            "node": "Escribir Log Local",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escribir Log Local": {
      "main": [
        [
          {
            "node": "Merge Loop",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge Loop": {
      "main": [
        [
          {
            "node": "Loop x Ambiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar RPT >500KB": {
      "main": [
        [
          {
            "node": "¿Hay RPT >500KB?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay RPT >500KB?": {
      "main": [
        [
          {
            "node": "Ejecutar Query RPT en DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Loop",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Ejecutar Query RPT en DB": {
      "main": [
        [
          {
            "node": "¿Hay Resultados en DB?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay Resultados en DB?": {
      "main": [
        [
          {
            "node": "Generar Archivo de Resultados",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Loop",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Generar Archivo de Resultados": {
      "main": [
        [
          {
            "node": "Subir a SharePoint (ID Directo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Texto del Archivo": {
      "main": [
        [
          {
            "node": "Filtrar RPT >500KB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Diario 08:00": {
      "main": [
        [
          {
            "node": "Config Entornos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Entornos": {
      "main": [
        [
          {
            "node": "Expandir Entornos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Expandir Entornos": {
      "main": [
        [
          {
            "node": "Loop Entornos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Entornos": {
      "main": [
        [
          {
            "node": "FTP - Listar Reportes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Armar Resumen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FTP - Listar Reportes": {
      "main": [
        [
          {
            "node": "Filtrar .rpt > 100kb",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar .rpt > 100kb": {
      "main": [
        [
          {
            "node": "Loop Entornos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar Resumen": {
      "main": [
        [
          {
            "node": "Teams - Alerta Reportes Pesados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-07-06T20:07:03.283Z",
  "id": "KIdUY8Mih9y44wGp",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "XML_errors",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 5,
              "triggerAtHour": 14
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -784,
        416
      ],
      "id": "132b04e0-5a7d-409f-9508-04fada199b0c",
      "name": "Disparador Mensual"
    },
    {
      "parameters": {},
      "id": "bf1f0bd9-d152-4463-b6a5-1d7ff8ee0a1a",
      "name": "Trigger Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -784,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1) Configuración de Ambientes\nconst environments = ['AR','BO','CO','CO2','CO3','CR','EC','PE'];\n\n// -------------------------------------------------------------\n// 2) MAPEO MAESTRO: ID SHAREPOINT + ID CANAL TEAMS + CONEXIÓN SQL\n// -------------------------------------------------------------\nconst channelMap = {\n  'AR':  {\n    name: 'Argentina - APP',\n    spId: '01HWKKASXFJOHNNKRITZFYVTXSOF2VZ6K7',\n    teamsId: '19:KqPHeI2vg9nNHO2de_AHbQGLK2Xh8Ah8iODV2ttJh_k1@thread.tacv2',\n    dbHost: 'host.docker.internal', dbPort: 11434, dbName: 'comfiar_ar', dbUser: 'usr_automatico', dbPassword: '1qaz2wsx3edc'\n  },\n  'BO':  {\n    name: 'Bolivia - APP',\n    spId: '01HWKKAST2AVTCXU4QOJGY6FRPUOVAHIYF',\n    teamsId: '19:5e3bf46869f140a39d48f869795379c5@thread.tacv2',\n    dbHost: 'host.docker.internal', dbPort: 11434, dbName: 'comfiar_bo', dbUser: 'usr_automatico', dbPassword: '1qaz2wsx3edc'\n  },\n  'CO':  {\n    name: 'Colombia - APP',\n    spId: '01HWKKASSEZYVFULZFWBCIGB7AACVTYK3N',\n    teamsId: '19:af378cf202564cfc87591f580cd70935@thread.tacv2',\n    dbHost: 'host.docker.internal', dbPort: 11433, dbName: 'comfiar_co', dbUser: 'usr_automatico', dbPassword: '1qaz2wsx3edc'\n  },\n  'CO2': {\n    name: 'Colombia - APP2',\n    spId: '01HWKKASS3LKA6P44CT5BKZBRDBC6WOI7G',\n    teamsId: '19:d31a59baa80e47aba00f2944e684c4b3@thread.tacv2',\n    dbHost: 'host.docker.internal', dbPort: 11433, dbName: 'comfiar_co2', dbUser: 'usr_automatico', dbPassword: '1qaz2wsx3edc'\n  },\n  'CO3': {\n    name: 'Colombia - APP3',\n    spId: '01HWKKASRV2W4DJ4YQJFE3AOIBMQD3CBMT',\n    teamsId: '19:14b2fb9063904bccb047900af9ded2fe@thread.tacv2',\n    dbHost: 'host.docker.internal', dbPort: 11433, dbName: 'comfiar_co3', dbUser: 'usr_automatico', dbPassword: '1qaz2wsx3edc'\n  },\n  'CR':  {\n    name: 'Costa Rica - APP',\n    spId: '01HWKKASUFWHODOYG6TNAZANBKSP2EXIXC',\n    teamsId: '19:a9547625aaea4e02ae5b373bdc352ae9@thread.tacv2',\n    dbHost: 'host.docker.internal', dbPort: 11434, dbName: 'comfiar_cr', dbUser: 'usr_automatico', dbPassword: '1qaz2wsx3edc'\n  },\n  'EC':  {\n    name: 'Ecuador - APP',\n    spId: '01HWKKASTMHFO5ZNCYWZDZLMU2L6SUBHK7',\n    teamsId: '19:9b2cc90d29d3474bade3a60f407f56ca@thread.tacv2',\n    dbHost: 'host.docker.internal', dbPort: 11434, dbName: 'comfiar_ec', dbUser: 'usr_automatico', dbPassword: '1qaz2wsx3edc'\n  },\n  'PE':  {\n    name: 'Peru - APP',\n    spId: '01HWKKASRH3EFVYY2HQFE2H5XLVBDR6HJO',\n    teamsId: '19:d5b204e433134ff5b1f7a90e51d76982@thread.tacv2',\n    dbHost: 'host.docker.internal', dbPort: 11434, dbName: 'comfiar_pe', dbUser: 'usr_automatico', dbPassword: '1qaz2wsx3edc'\n  },\n\n  // Fallback\n  'DEFAULT': {\n    name: 'General',\n    spId: 'PON_AQUI_UN_ID_DEFAULT_SI_QUIERES',\n    teamsId: '19:e2644020e0de42b0b55da552614c8ea5@thread.tacv2',\n    dbHost: '', dbPort: null, dbName: '', dbUser: '', dbPassword: ''\n  }\n};\n\n// 3) Cálculo de Fecha Dinámica\nconst date = new Date();\ndate.setMonth(date.getMonth());\n\nconst year = date.getFullYear();\nconst month = String(date.getMonth() + 1).padStart(2, '0');\nconst dateSuffix = `${year}${month}`; // Ej: 202602\n\nreturn environments.map(env => {\n  const config = channelMap[env] || channelMap['DEFAULT'];\n\n  return {\n    json: {\n      env,\n      dateSuffix,\n      fileName: `ListadoDeReportes_${env}_APP_${dateSuffix}.txt`,\n      fullPath: `/files_host/XML_Mails_error/${env}/ListadoDeReportes_${env}_APP_${dateSuffix}.txt`,\n      logPath: `/files_host/XML_Mails_error/Resultados/Log_Ausencias_${dateSuffix}.txt`,\n      resultFileName: `RPT_Mayor500KB_${env}_APP_${dateSuffix}.csv`,\n\n      // Datos maestros\n      folderName: config.name,\n      folderId: config.spId,\n      teamsChannelId: config.teamsId,\n\n      // Conexión SQL del ambiente (para validar tamaño de RPT en base)\n      dbHost: config.dbHost,\n      dbPort: config.dbPort,\n      dbName: config.dbName,\n      dbUser: config.dbUser,\n      dbPassword: config.dbPassword\n    }\n  };\n});"
      },
      "id": "2d4fb3a2-5d9c-4b8d-ba47-5b84491f333b",
      "name": "Configurar Ambientes y Rutas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        512
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "98dc6709-f267-40e6-8de6-8654d8bc3463",
      "name": "Loop x Ambiente",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -352,
        512
      ]
    },
    {
      "parameters": {
        "command": "=test -f \"{{ $json.fullPath }}\" && echo \"EXISTS\" || echo \"MISSING\""
      },
      "id": "d948e7ae-35ab-488f-9ad7-a80c5fe24ddd",
      "name": "Verificar Existencia Local",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -128,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout.trim() }}",
              "operation": "equal",
              "value2": "EXISTS"
            }
          ]
        },
        "options": {}
      },
      "id": "6f2af808-dab6-4ae7-9b80-aef93221f101",
      "name": "¿Existe?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        64,
        416
      ]
    },
    {
      "parameters": {
        "filePath": "={{ $('Loop x Ambiente').item.json.fullPath }}"
      },
      "id": "18795b32-b3f5-4067-988b-96675d1dbac4",
      "name": "Leer Archivo TXT",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        224,
        304
      ]
    },
    {
      "parameters": {
        "operation": "upload",
        "site": {
          "__rl": true,
          "value": "apgcon.sharepoint.com,8c77454a-477c-49d8-8e8e-d36eb1e878f3,e9ee4b3b-2e5a-4b8c-9ea7-0e4bbc344c5c",
          "mode": "list",
          "cachedResultName": "Notificaciones Soporte"
        },
        "folder": {
          "__rl": true,
          "value": "={{ $('Loop x Ambiente').item.json.folderId }}",
          "mode": "id"
        },
        "fileName": "={{ $('Loop x Ambiente').item.json.resultFileName }}",
        "fileContents": "data",
        "requestOptions": {}
      },
      "id": "95eaa14c-ae47-4fb6-ba19-41290a2be883",
      "name": "Subir a SharePoint (ID Directo)",
      "type": "n8n-nodes-base.microsoftSharePoint",
      "typeVersion": 1,
      "position": [
        1728,
        32
      ],
      "credentials": {
        "microsoftSharePointOAuth2Api": {
          "id": "yGpzald5d5ehr6Pz",
          "name": "Sharepoint notificaciones APG"
        }
      }
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "2f7e4d78-5cc0-4b00-bb44-372596f96fcf",
          "mode": "list",
          "cachedResultName": "Notificaciones Soporte"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Loop x Ambiente').item.json.teamsChannelId }}",
          "mode": "id"
        },
        "contentType": "html",
        "message": "=<h3>✅ Validacion tamaño rpt por ambiente -  Reporte Mensual Cargado</h3>\n<p>Se encontraron RPT que superan los 500 KB en <strong>{{ $('Loop x Ambiente').item.json.env }}</strong>.</p>\n<p>📂 <strong>Carpeta:</strong> {{ $('Loop x Ambiente').item.json.folderName }}</p>\n<p>🔗 <a href=\"{{ $json.webUrl }}\"><strong>Click aquí para abrir el archivo</strong></a></p>",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1920,
        48
      ],
      "id": "99a4396d-9ee8-4278-9a36-33d4edd802c1",
      "name": "Notificar Link Teams",
      "webhookId": "415af6af-2dac-47b4-8ef2-0f60b133c664",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "ueHY9A2J5aF54WT3",
          "name": "Notificaciones n8n"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const loopData = $('Loop x Ambiente').item.json;\nconst timestamp = new Date().toISOString();\n\nconst logLine = `[${timestamp}] MISSING: No se encontró ${loopData.fileName} en ${loopData.fullPath}\\n`;\n\nreturn {\n  json: {\n    logLine,\n    logPath: loopData.logPath\n  }\n};"
      },
      "id": "607aa771-a76f-45da-aab2-41bef51f2c4b",
      "name": "Preparar Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        656
      ]
    },
    {
      "parameters": {
        "operation": "append"
      },
      "id": "33c874f6-4b28-4b95-9ee2-5d3a3802243e",
      "name": "Escribir Log Local",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        784,
        656
      ]
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "id": "86922680-321f-40ec-ad78-8522bfe137c4",
      "name": "Merge Loop",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2144,
        608
      ]
    },
    {
      "parameters": {
        "content": "## mails que tienen error en el servicio de mail\n"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -288
      ],
      "typeVersion": 1,
      "id": "f3f69716-7d2f-439a-b9c1-6aa1ff6d6091",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst { text, ...cfg } = item.json;\n\nconst lines = (text || '').split(/\\r?\\n/).filter(l => l.trim() !== '');\n\n// Formato esperado por línea (salida tipo Get-ChildItem | Select Length, FullName):\n// <KB> <ruta>\\\\<version>\\\\<nombre>.rpt\n// Ej: 992 D:\\\\COMFIAR_PE\\\\Directorios\\\\Reportes\\\\AFP-FA\\\\1\\\\AFP-FA.rpt\n// El encabezado (\"Tamaño(KB) FullName\") y la línea de guiones se descartan solos:\n// no matchean el regex porque no arrancan con un dígito.\nconst seen = new Set();\nconst matches = [];\n\nfor (const line of lines) {\n  const m = line.trim().match(/^(\\d+)\\s+(.+)$/);\n  if (!m) continue;\n\n  const kb = parseInt(m[1], 10);\n  if (kb <= 500) continue; // solo RPT > 500 KB\n\n  const parts = m[2].split('\\\\');\n  if (parts.length < 2) continue;\n\n  const version = parts[parts.length - 2];\n  const nombreRpt = parts[parts.length - 1];\n  const key = `${nombreRpt}|${version}`;\n\n  if (seen.has(key)) continue;\n  seen.add(key);\n\n  matches.push({ nombreRpt, version: parseInt(version, 10), kb });\n}\n\nreturn [{\n  json: {\n    ...cfg,\n    matches,\n    hasMatches: matches.length > 0\n  }\n}];"
      },
      "id": "af80ea0c-5f92-46a7-b522-5503a1c3fce5",
      "name": "Filtrar RPT >500KB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.hasMatches }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "5e3f5a9b-ae94-4d50-b7bc-4a26048fefb1",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "99b6ad8c-f613-4ead-ab74-bebf7cbfa4f1",
      "name": "¿Hay RPT >500KB?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        960,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "const sql = require('mssql');\n\nconst item = $input.first().json;\n\nconst valuesClause = item.matches\n  .map(m => `('${m.nombreRpt.replace(/'/g, \"''\")}', ${m.version})`)\n  .join(',\\n        ');\n\nconst query = `\nSELECT c.CuitId, c.RazonSocial, t.PuntoDeVentaId, t.TipoComprobanteId, t.VersionRpt, t.NombreRpt, a.FechaSubida, a.UsuarioId\nFROM TipoComprobanteXPuntoDeVenta t\nINNER JOIN VersionReporte a ON t.VersionRpt = a.VersionId AND t.NombreRpt = a.NombreRpt\nINNER JOIN Cuit c ON t.CuitId = c.CuitId\nINNER JOIN (VALUES\n        ${valuesClause}\n) v(NombreRpt, VersionId) ON a.NombreRpt = v.NombreRpt AND a.VersionId = v.VersionId\nWHERE c.FechaBajaServicio IS NULL;\n`;\n\nconst config = {\n  server: item.dbHost,\n  port: item.dbPort,\n  database: item.dbName,\n  user: item.dbUser,\n  password: item.dbPassword,\n  options: {\n    trustServerCertificate: true,\n    encrypt: false\n  }\n};\n\nlet results = [];\nconst pool = await sql.connect(config);\ntry {\n  const res = await pool.request().query(query);\n  results = res.recordset;\n} finally {\n  await pool.close();\n}\n\nreturn [{\n  json: {\n    ...item,\n    results,\n    hasResults: results.length > 0\n  }\n}];"
      },
      "id": "2d8116b9-d6c1-425f-a75f-4406f60b2d50",
      "name": "Ejecutar Query RPT en DB",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.hasResults }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "cabc12dd-6802-4cfe-9675-e49062d22f90",
      "name": "¿Hay Resultados en DB?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1344,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first().json;\n\nconst headers = ['CuitId','RazonSocial','PuntoDeVentaId','TipoComprobanteId','VersionRpt','NombreRpt','FechaSubida','UsuarioId'];\nconst rows = item.results.map(r => headers.map(h => (r[h] ?? '')).join(';'));\nconst csvContent = [headers.join(';'), ...rows].join('\\n');\n\nconst buffer = Buffer.from(csvContent, 'utf8');\nconst binaryData = await $helpers.prepareBinaryData(buffer, item.resultFileName, 'text/csv');\n\nreturn [{\n  json: item,\n  binary: { data: binaryData }\n}];"
      },
      "id": "3cc8b77c-c56c-4bc2-9505-500c66b82838",
      "name": "Generar Archivo de Resultados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        -128
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "text",
        "options": {}
      },
      "id": "bcf85e19-ba82-419e-a4c4-928a5ea65eee",
      "name": "Extraer Texto del Archivo",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        544,
        192
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        1232
      ],
      "id": "50b75f4f-3f70-432b-9edd-6b684cd438e8",
      "name": "Trigger Diario 08:00"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "env-list",
              "name": "environments",
              "type": "array",
              "value": "=[\n  { \"env\": \"CO-APP\",       \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"CO-APP2\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"CO-APP3\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"CO-APP4\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"CO-TEST\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"PE-TEST\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"PE-PROD\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"AR-APP\",       \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"AR-APP-CINES\", \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"AR-APP2\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"AR-TEST\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"BO-APP\",       \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"BO-TEST\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"EC-APP\",       \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"EC-TEST\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"CR-APP\",       \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" },\n  { \"env\": \"CR-TEST\",      \"host\": \"REEMPLAZAR\", \"port\": 21, \"user\": \"REEMPLAZAR\", \"pass\": \"REEMPLAZAR\" }\n]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        1232
      ],
      "id": "16094686-2665-465b-a5b9-e0eec6011a9b",
      "name": "Config Entornos"
    },
    {
      "parameters": {
        "jsCode": "// Expande el array de entornos en items individuales para el loop\nconst envs = $input.first().json.environments;\nreturn envs.map(e => ({ json: e }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        1232
      ],
      "id": "9374fadf-f606-4057-87ba-5c7514b7298c",
      "name": "Expandir Entornos"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        336,
        1232
      ],
      "id": "4a164feb-75ce-4dc8-ac6f-9778a71faa32",
      "name": "Loop Entornos"
    },
    {
      "parameters": {
        "protocol": "sftp",
        "operation": "list"
      },
      "type": "n8n-nodes-base.ftp",
      "typeVersion": 1,
      "position": [
        544,
        1008
      ],
      "id": "c3a8a413-ba74-4d02-9ac3-b243c688d863",
      "name": "FTP - Listar Reportes",
      "credentials": {
        "sftp": {
          "id": "0t2mEvGvmdFT4Kgd",
          "name": "CR FieldGlass"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filtra .rpt con peso > 100kb y agrega el entorno de origen\nconst ONE_HUNDRED_KB = 100 * 1024;\nconst envName = $('Loop Entornos').first().json.env;\n\nconst heavy = $input.all()\n  .filter(item => {\n    const f = item.json;\n    return f.type === '-' && f.name.toLowerCase().endsWith('.rpt') && f.size > ONE_HUNDRED_KB;\n  })\n  .sort((a, b) => a.json.modifyTime - b.json.modifyTime)\n  .map(item => ({\n    json: {\n      env: envName,\n      name: item.json.name,\n      sizeKb: Math.round(item.json.size / 1024),\n      date: new Date(item.json.modifyTime).toLocaleString('es-AR', { timeZone: 'America/Argentina/Buenos_Aires' })\n    }\n  }));\n\nreturn heavy;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        1008
      ],
      "id": "af6332ef-7bd0-4e76-b59f-c38bb7058ea8",
      "name": "Filtrar .rpt > 100kb"
    },
    {
      "parameters": {
        "jsCode": "// Agrupa todos los archivos pesados de todos los entornos\nconst all = $input.all();\nif (all.length === 0) return [];\n\nconst fileRows = all.map(item => {\n  const f = item.json;\n  return `<li>[${f.env}] <b>${f.name}</b> — ${f.sizeKb} KB — ${f.date}</li>`;\n}).join('');\n\nreturn [{ json: { count: all.length, fileRows } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        1392
      ],
      "id": "bb735e9b-3afe-48fd-8f43-771135eada33",
      "name": "Armar Resumen"
    },
    {
      "parameters": {
        "resource": "channelMessage",
        "teamId": {
          "__rl": true,
          "value": "2f7e4d78-5cc0-4b00-bb44-372596f96fcf",
          "mode": "list",
          "cachedResultName": "Notificaciones Soporte"
        },
        "channelId": {
          "__rl": true,
          "value": "19:KqPHeI2vg9nNHO2de_AHbQGLK2Xh8Ah8iODV2ttJh_k1@thread.tacv2",
          "mode": "list",
          "cachedResultName": "Argentina"
        },
        "contentType": "html",
        "message": "=<h3>⚠️ Reportes FTP — Archivos .rpt con peso excesivo</h3><p>Se detectaron <b>{{ $json.count }} reporte(s)</b> con extensión <code>.rpt</code> que pesan más de 100 KB. Probable causa: imágenes pesadas incluidas por soporte.</p><p><b>Archivos (orden cronológico):</b></p><ul>{{ $json.fileRows }}</ul><p>Solicitar a soporte que revise y elimine imágenes pesadas del reporte correspondiente.</p>",
        "options": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        816,
        1392
      ],
      "id": "e7a4648a-c4f0-4539-bb97-a1189dfccaa9",
      "name": "Teams - Alerta Reportes Pesados",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000,
      "webhookId": "5f7d95a5-3480-4cbd-abaf-91cc0a940153",
      "credentials": {
        "microsoftTeamsOAuth2Api": {
          "id": "wRTXroRHWhyLiVUq",
          "name": "N8N-TeamsAccount"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "createdAt": "2026-07-06T20:07:03.283Z",
      "updatedAt": "2026-07-06T20:07:03.283Z",
      "role": "workflow:owner",
      "workflowId": "KIdUY8Mih9y44wGp",
      "projectId": "xeIbd1uqzDdhrEnK"
    }
  ],
  "staticData": {
    "node:Disparador Mensual": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-07-08T20:05:26.459Z",
  "versionId": "bd7b4a2b-cf71-4368-84fa-29e221c47b79"
}